# **PROYECTO SCHUTZ EN PYTHON PARA CREACIÓN DE DASHBOARD 1 - PARTE 1**

## 1.- IMPORTACIÓN DE LIBRERÍAS PARA EL PROYECTO

In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from io import StringIO
from itertools import zip_longest
import io
import requests
from io import BytesIO
import pandas as pd
import chardet
import re
from oauth2client.service_account import ServiceAccountCredentials
import gspread
from gspread_dataframe import set_with_dataframe
from urllib.request import FancyURLopener
from urllib.request import urlopen
import urllib.request
import xml.etree.ElementTree as ET
import numpy as np
import datetime
import ssl
import warnings
from datetime import datetime, timedelta

In [ ]:
pd.options.display.max_rows = None
pd.options.display.float_format = '{:.2f}'.format

warnings.filterwarnings("ignore", category=FutureWarning, message="Inferring datetime64.*")

## 2.- LECTURA DE DATAFRAMES

### 2.1 LECTURA "LIBRO MAYOR"

In [ ]:
url = 'http://asp.maximise.cl/query.ashx?alias=gsea&user=excel_bd&password=excel_bd&filename=queries\Libro%20Mayor%202023.txt'

# Descargar el archivo XML desde la URL
with urllib.request.urlopen(url) as response:
    xml_data = response.read()

# Parsear el archivo XML
root = ET.fromstring(xml_data)

# Crear una lista de diccionarios con los datos
data = []
for child in root:
    row = {}
    for subchild in child:
        row[subchild.tag] = subchild.text
    data.append(row)

# Convertir la lista de diccionarios en un dataframe de Pandas
df_libro_mayor = pd.DataFrame(data)

# Imprimir el dataframe
df_libro_mayor.sample(5)

In [ ]:
df_libro_mayor.to_csv('archivos_respaldo/df_libro_mayor_1.csv', index = False)

### 2.2 LECTURA "DESPACHOS REALIZADOS"

In [ ]:
url = 'http://asp.maximise.cl/query.ashx?alias=gsea&user=excel_bd&password=excel_bd&filename=queries\Despachos%20Realizados.txt'

# Descargar el archivo XML desde la URL
with urllib.request.urlopen(url) as response:
    xml_data = response.read()

# Parsear el archivo XML
root = ET.fromstring(xml_data)

# Crear una lista de diccionarios con los datos
data = []
for child in root:
    row = {}
    for subchild in child:
        row[subchild.tag] = subchild.text
    data.append(row)

# Convertir la lista de diccionarios en un dataframe de Pandas
df_desp_realizados = pd.DataFrame(data)

# Imprimir el dataframe
df_desp_realizados.sample(5)

In [ ]:
df_desp_realizados.to_csv('archivos_respaldo/df_desp_realizados_1.csv', index = False)

### 2.3 LECTURA "CODIGOS DE PROYECTO"

In [ ]:
url = 'http://asp.maximise.cl/query.ashx?alias=gsea&user=excel_bd&password=excel_bd&filename=queries\codigos%20de%20proyectos.txt'

# Descargar el archivo XML desde la URL
with urllib.request.urlopen(url) as response:
    xml_data = response.read()

# Parsear el archivo XML
root = ET.fromstring(xml_data)

# Crear una lista de diccionarios con los datos
data = []
for child in root:
    row = {}
    for subchild in child:
        row[subchild.tag] = subchild.text
    data.append(row)

# Convertir la lista de diccionarios en un dataframe de Pandas
df_cod_proyecto = pd.DataFrame(data)

# Imprimir el dataframe
df_cod_proyecto.sample(5)

In [ ]:
df_cod_proyecto.to_csv('archivos_respaldo/df_cod_proyecto_1.csv', index = False)

### 2.4 LECTURA "PROYECTADOS"

In [ ]:
# Se crea un filtro para obtener todos aquellos que tengan valores hasta el MES anterior al mes en curso
import datetime

# Obtener el mes actual de acuerdo a la fecha actual, y el resultado se convierte en el nombre del MES para luego buscar aquel nombre en el archivo.
mes_actual = datetime.date.today().month

print(mes_actual)

if mes_actual == 1:
    mes_actual2 = "ENERO"
elif mes_actual == 2:
    mes_actual2 = "FEBRERO"
elif mes_actual == 3:
    mes_actual2 = "MARZO"
elif mes_actual == 4:
    mes_actual2 = "ABRIL"
elif mes_actual == 5:
    mes_actual2 = "MAYO"
elif mes_actual == 6:
    mes_actual2 = "JUNIO"
elif mes_actual == 7:
    mes_actual2 = "JULIO"
elif mes_actual == 8:
    mes_actual2 = "AGOSTO"
elif mes_actual == 9:
    mes_actual2 = "SEPTIEMBRE"
elif mes_actual == 10:
    mes_actual2 = "OCTUBRE"
elif mes_actual == 11:
    mes_actual2 = "NOVIEMBRE"
else:
    mes_actual2 = "DICIEMBRE"

print(mes_actual2)

In [ ]:
ssl._create_default_https_context = ssl._create_unverified_context

# Lectura de presupuestos desde dropbox
df_proyectado = pd.read_excel("https://www.dropbox.com/s/m96bbvnctgmaxrz/Proyecci%C3%B3n%20mensual%20%282023%29.xlsx?dl=1",sheet_name=mes_actual2 ,engine="openpyxl")
# OJO !! El link original tiene un 0 para ser visto desde la web y un 1 para descargarlo.....
df_proyectado.head(10)

### 2.4-2 LECTURA "PROYECTADOS 2"

In [ ]:
# Get the current date
import datetime

fecha_actual = datetime.datetime.now()

# Calculate the previous month
mes_anterior2 = (fecha_actual - timedelta(days=30)).month
print(mes_anterior2)

if mes_anterior2 == 1:
    mes_anterior2 = "ENERO"
elif mes_anterior2 == 2:
    mes_anterior2 = "FEBRERO"
elif mes_anterior2 == 3:
    mes_anterior2 = "MARZO"
elif mes_anterior2 == 4:
    mes_anterior2 = "ABRIL"
elif mes_anterior2 == 5:
    mes_anterior2 = "MAYO"
elif mes_anterior2 == 6:
    mes_anterior2 = "JUNIO"
elif mes_anterior2 == 7:
    mes_anterior2 = "JULIO"
elif mes_anterior2 == 8:
    mes_anterior2 = "AGOSTO"
elif mes_anterior2 == 9:
    mes_anterior2 = "SEPTIEMBRE"
elif mes_anterior2 == 10:
    mes_anterior2 = "OCTUBRE"
elif mes_anterior2 == 11:
    mes_anterior2 = "NOVIEMBRE"
else:
    mes_anterior2 = "DICIEMBRE"

print(mes_anterior2)

# Lectura de presupuestos desde dropbox
df_proyectado_1M = pd.read_excel("https://www.dropbox.com/s/m96bbvnctgmaxrz/Proyecci%C3%B3n%20mensual%20%282023%29.xlsx?dl=1",sheet_name=mes_anterior2 ,engine="openpyxl")
# OJO !! El link original tiene un 0 para ser visto desde la web y un 1 para descargarlo.....
df_proyectado_1M.head(20)

### 2.5 LECTURA "LIBRO MAYOR AÑOS ANTERIORES"

In [ ]:
# Conexión a google drive

scope = ['https://spreadsheets.google.com/feeds',
         'https://www.googleapis.com/auth/drive']

# Credenciales de GOOGLE API, en archivo .json
credentials = ServiceAccountCredentials.from_json_keyfile_name(
         'keen-extension-358919-9214486a06be.json', scope) # Your json file here

gc = gspread.authorize(credentials)

## SIEMPRE DAR ACCESO A ESTE USUARIO: test-321@keen-extension-358919.iam.gserviceaccount.com

In [ ]:
spr = gc.open_by_url('https://docs.google.com/spreadsheets/d/1Fx1nerTu10PZPOwknLcQuri_I6ARat5h7zuq4P3vypg/edit#gid=1097918290')
recipients = spr.sheet1.get_all_values()

# Se el string creado en un dataframe
df_libro_mayor_old = pd.DataFrame(recipients)

# se reasignan los headers en el dataframe.
new_header = df_libro_mayor_old.iloc[0] #grab the first row for the header
df_libro_mayor_old = df_libro_mayor_old[1:] #take the data less the header row
df_libro_mayor_old.columns = new_header #set the header row as the df header

# Se conservan solo las columnas de interés
#df_seguridad_v3 = df_seguridad_v3[["Nº Cédula","Nombres y apellidos","APRUEBA FASE DE CALIFICACIÓN ?","PUNTOS VIGENTES","APRUEBA FASE DE EVALUACIÓN ?","RESULTADO FINAL"]]

print("Las dimensiones del dataframe son :",df_libro_mayor_old.shape)
df_libro_mayor_old.sample(5)

In [ ]:
df_libro_mayor_old.to_csv('archivos_respaldo/df_libro_mayor_old.csv', mode='a')

### 2.6 LECTURA "PLANILLA RESUMEN - PRESPUESTOS"

In [ ]:
# Lectura de presupuestos desde dropbox
df_presupuesto = pd.read_excel("https://www.dropbox.com/s/miow7p9wl7t3jsr/PLANILLA%20RESUMEN.xlsb.xlsx?dl=1",sheet_name= "PROYECTOS" ,engine="openpyxl")
# OJO !! El link original tiene un 0 para ser visto desde la web y un 1 para descargarlo.....
df_presupuesto.head(5)

In [ ]:
df_presupuesto.to_csv('archivos_respaldo/df_presupuesto.csv', mode='a')

### 2.7 LECTURA "TABLA- PRESPUESTOS"

In [ ]:
url = 'http://asp.maximise.cl/query.ashx?alias=gsea&user=excel_bd&password=excel_bd&filename=queries\Presupuesto Proyectos.txt'
response = requests.get(url)
query_result = response.text
soup = BeautifulSoup(response.content, 'xml')
rows = soup.find_all('Table')


data = []
for row in rows:
    values = [cell.text for cell in row.find_all()]
    data.append(values)

df_tabla_prespuesto = pd.DataFrame(data, columns=['CODIGO_PROYECTO','PARTIDA_PRESUPUESTARIA','PRODUCTO','UNIDAD','CANTIDAD','COSTO_UNITARIO','COSTO_TOTAL'])

# Exportación a excel
df_tabla_prespuesto.to_csv('archivos_respaldo/df_tabla_prespuesto.csv', index = False)

df_tabla_prespuesto.head(5)

## 3.- TRATAMIENTO DE DATAFRAMES

### 3.1 - TRATAMIENTO 1 - LIBRO MAYOR

#### 3.1.1 - Exploración inicial de los datos

In [ ]:
df_libro_mayor.shape

In [ ]:
df_libro_mayor.info()

#### 3.1.2 - Estandarización campo "Debito" y Crédito

In [ ]:
# Se crean nuevos campos para trabajar "Debito" y "Credito".

df_libro_mayor['Debito_2'] = pd.to_numeric(df_libro_mayor['Debito'], errors='coerce')
df_libro_mayor['Credito_2'] = pd.to_numeric(df_libro_mayor['Credito'], errors='coerce')

# Se reemplaza el valor de los NoNe y Nan 

df_libro_mayor['Credito_2'] = df_libro_mayor['Credito_2'].fillna(0)

df_libro_mayor.head(5)

#### 3.1.3 - Creación campo Codigo_proyecto

In [ ]:
# Se crean una nueva columna para manejar el código del proyecto 

df_libro_mayor['Codigo_proyecto'] = df_libro_mayor['Primer_Analisis']

cols = df_libro_mayor.columns.tolist() # Obtiene el nombre de todas las columnas en una lista
cols.insert(0, cols.pop(cols.index('Codigo_proyecto'))) # Extrae la columna 'Codigo_proyecto', la inserta en la posición 0 y actualiza la lista
df_libro_mayor = df_libro_mayor.reindex(columns=cols) # Reindexa el dataframe con las columnas en el orden actualizado

# Transformación a mayúscula código del proyecto
df_libro_mayor['Codigo_proyecto'] = df_libro_mayor['Codigo_proyecto'].str.upper()

df_libro_mayor.head(5)

#### 3.1.4 - Creación de campo total

In [ ]:
df_libro_mayor['TOTAL'] = df_libro_mayor['Credito_2'] - df_libro_mayor['Debito_2']
df_libro_mayor.head(5)

#### 3.1.5 - Creación campo tipo_cuenta "basado en el campo cta_Contable"

In [ ]:
# Función para categorizar la columna 'Cta_Contable'
def categorizar_cta_contable(cta_contable):
    if cta_contable =="3101030-000" or cta_contable == "3401002-000":
        return 'INGRESO'
    elif cta_contable == "4101010-000":
        return 'COSTO MATERIALES'
    elif cta_contable == "4150002-000":
        return 'COSTO MANO DE OBRA'
    elif cta_contable == "4150002-002":
        return 'COSTO SUPERVISIÓN'
    else:
        return 'OTRA'

# Crear la nueva columna 'Tipo_cuenta' aplicando la función
df_libro_mayor['Tipo_cuenta'] = df_libro_mayor['Cta_Contable'].apply(categorizar_cta_contable)
df_libro_mayor.sample(5)

In [ ]:
# EXPLORACIÓN DE DATOS

df_libro_mayor_piv = pd.pivot_table(df_libro_mayor, values=['Debito_2','Credito_2','TOTAL'], index=['Tipo_cuenta','Año','Mes'], aggfunc='sum', fill_value=0, margins=True, margins_name='TOTAL')
df_libro_mayor_piv = pd.DataFrame(df_libro_mayor_piv.to_records())

#df_libro_mayor_piv.head(5)
df_libro_mayor_piv.sample(10)

#### 3.1.6 - Se eliminan números de proyectos que no deben ser parte del análisis

In [ ]:
# Se crea una copia del dataframe original debido que se reduciran las dimensiones
df_libro_mayor2 = df_libro_mayor.copy()

In [57]:
# Se identifican los códigos de proyecto disponibles
print("Proyectos disponibles antes de la reducción : ")
print(df_libro_mayor2["Codigo_proyecto"].unique())
print("=======================================================================")
print("Dimensiones del dataframe antes de la reducción : ")
print(df_libro_mayor2.shape)

Proyectos disponibles antes de la reducción :
['P-1677' 'P-1700' 'P-1704' 'P-1716' 'P-1709' 'P-1687' 'P-1690' 'P-1686'
 'P-1688' 'P-1682' 'P-1694' 'P-1695' 'P-1703' 'P-1680' 'P-1697' 'P-1714'
 'P-1696' 'P-1722' 'P-1692' 'P-1718' 'P-1721' 'P-1715' 'P-1645' 'P-1699'
 'P-1701' 'P-1675' 'P-1684' 'P-1727' 'P-1723' 'P-1725' 'P-1672' 'P-1713'
 'P-1706' 'P-1726' 'P-1707' 'P-1724' 'P-1712' 'P-1705' 'P-1670' 'P-1691'
 'P-1720' 'P-1717' 'P-1719' 'P-1681' 'P-1698' 'P-1708' 'P-PROYECTOS'
 'P-1669' 'P-1667' 'P-1668' 'P-1641' 'P-1693' 'P-1676' 'P-1689' 'P-1664'
 'P-1658' 'P-1660' 'P-1644' 'P-1592' 'P-1648' 'P-1611' 'P-1679' 'P-1642'
 'P-1653' 'P-1673' 'P-1683' 'P-1661' 'P-1612' 'P-1728' 'P-SERVICIOS'
 'P-1639' 'P-1674' 'P1718' 'P-1620' 'P-1603' 'P-1626' 'P-1649' 'P-1685'
 'P-1632' 'P-1643' 'P-1666' 'P-1656' '15314868-6' 'P-1663' '78540190-5'
 '5555555-9' 'P-1729' 'P-1636' '77092384-0' '76107516-0' '96670840-9'
 'P-OFICINA' 'P-ANALISIS PROYE' 'P-1557' 'P-1591' '18800250-1'
 '13056802-5' '16411600-K' nan]
=======================================================================
Dimensiones del dataframe antes de la reducción :
(8299, 17)

In [58]:
df_libro_mayor2.to_csv('archivos_respaldo/df_libro_mayor2.csv', mode='a')

##### 3.1.6.1 - Se Se crea un subdataframe para COSTOS SUPERVISIÓN (separando lo que tiene P-OFICINA y cta_contable 4150002-002)

In [59]:
# Se crea un dataframe separado para tratar los que poseen proyecto "P-OFICINA" ya que los costos de supervisión solo aplican al total
df_libro_mayor2_2 = df_libro_mayor2.copy()

# Filtrar el DataFrame
df_libro_mayor2_2 = df_libro_mayor2_2[(df_libro_mayor2_2['Codigo_proyecto'] == 'P-OFICINA') & (df_libro_mayor2_2['Cta_Contable'] == '4150002-002')]

# Mostrar el DataFrame filtrado
df_libro_mayor2_2

,Codigo_proyecto,Cta_Contable,Año,Mes,Fecha,Tipo_Comp,Num_Comp,Glosa,Primer_Analisis,Referencia,Debito,Credito,Num_Referencia,Debito_2,Credito_2,TOTAL,Tipo_cuenta
7982,P-OFICINA,4150002-002,2023,1,2023-01-31T00:00:00-03:00,AJC,1606,REMUNERACIONES SUPERVISORES,P-Oficina,13677891,2153838,0,NaN,2153838,0,-2153838,COSTO SUPERVISIÓN
7983,P-OFICINA,4150002-002,2023,1,2023-01-31T00:00:00-03:00,AJC,1606,REMUNERACIONES SUPERVISORES,P-Oficina,7435204,2182368,0,NaN,2182368,0,-2182368,COSTO SUPERVISIÓN
7984,P-OFICINA,4150002-002,2023,2,2023-02-28T00:00:00-03:00,AJC,1173,REMUNERACIONES SUPERVISORES,P-Oficina,13677891,1833838,0,NaN,1833838,0,-1833838,COSTO SUPERVISIÓN
7985,P-OFICINA,4150002-002,2023,2,2023-02-28T00:00:00-03:00,AJC,1173,REMUNERACIONES SUPERVISORES,P-Oficina,7435204,2182368,0,NaN,2182368,0,-2182368,COSTO SUPERVISIÓN
7986,P-OFICINA,4150002-002,2023,3,2023-03-31T00:00:00-03:00,AJC,1694,REMUNERACIONES SUPERVISORES,P-Oficina,13677891,2292504,0,NaN,2292504,0,-2292504,COSTO SUPERVISIÓN
7987,P-OFICINA,4150002-002,2023,3,2023-03-31T00:00:00-03:00,AJC,1694,REMUNERACIONES SUPERVISORES,P-Oficina,7435204,2182368,0,NaN,2182368,0,-2182368,COSTO SUPERVISIÓN
7988,P-OFICINA,4150002-002,2023,4,2023-04-30T00:00:00-03:00,AJC,1681,REMUNERACIONES SUPERVISORES,P-Oficina,13677891,2533436,0,NaN,2533436,0,-2533436,COSTO SUPERVISIÓN
7989,P-OFICINA,4150002-002,2023,4,2023-04-30T00:00:00-03:00,AJC,1681,REMUNERACIONES SUPERVISORES,P-Oficina,7435204,2562685,0,NaN,2562685,0,-2562685,COSTO SUPERVISIÓN
7990,P-OFICINA,4150002-002,2023,5,2023-05-31T00:00:00-04:00,AJC,1844,REMUNERACIONES SUPERVISORES,P-Oficina,13677891,2292357,0,NaN,2292357,0,-2292357,COSTO SUPERVISIÓN
7991,P-OFICINA,4150002-002,2023,5,2023-05-31T00:00:00-04:00,AJC,1844,REMUNERACIONES SUPERVISORES,P-Oficina,7435204,2350904,0,NaN,2350904,0,-2350904,COSTO SUPERVISIÓN

In [60]:
# Elimina los registros NaN en la columna Codigo_proyecto
df_libro_mayor2 = df_libro_mayor2.dropna(subset=['Codigo_proyecto'])

# Define una lista de valores a eliminar
valores_a_eliminar = ['P-PROYECTOS', 'P-SERVICIOS','P-OFICINA', 'P-ANALISIS PROYE']

# Crea una máscara booleana que identifica las filas que contienen los valores a eliminar
mask1 = df_libro_mayor2['Codigo_proyecto'].isin(valores_a_eliminar)

# Crea una máscara booleana que identifica las filas que comienzan con un número
mask2 = df_libro_mayor2['Codigo_proyecto'].str[0].str.isnumeric()

# Une las dos máscaras con el operador OR
mask = mask1 | mask2

# Crea un nuevo dataframe sin las filas que contienen los valores a eliminar
df_libro_mayor2 = df_libro_mayor2[~mask]


# Verifica si el valor 'P1718' o valore similares están presentes en la columna Codigo_proyecto
if 'P1718' in df_libro_mayor2['Codigo_proyecto'].values:
    # Reemplaza el valor 'P1718' por 'P-1718' en la columna Codigo_proyecto
    df_libro_mayor2['Codigo_proyecto'] = df_libro_mayor2['Codigo_proyecto'].replace('P1718', 'P-1718')

In [61]:
# Se identifican los códigos de proyecto disponibles
print("Proyectos disponibles antes de la reducción : ")
print(df_libro_mayor2["Codigo_proyecto"].unique())
print("=======================================================================")
print("Dimensiones del dataframe antes de la reducción : ")
print(df_libro_mayor2.shape)

Proyectos disponibles antes de la reducción :
['P-1677' 'P-1700' 'P-1704' 'P-1716' 'P-1709' 'P-1687' 'P-1690' 'P-1686'
 'P-1688' 'P-1682' 'P-1694' 'P-1695' 'P-1703' 'P-1680' 'P-1697' 'P-1714'
 'P-1696' 'P-1722' 'P-1692' 'P-1718' 'P-1721' 'P-1715' 'P-1645' 'P-1699'
 'P-1701' 'P-1675' 'P-1684' 'P-1727' 'P-1723' 'P-1725' 'P-1672' 'P-1713'
 'P-1706' 'P-1726' 'P-1707' 'P-1724' 'P-1712' 'P-1705' 'P-1670' 'P-1691'
 'P-1720' 'P-1717' 'P-1719' 'P-1681' 'P-1698' 'P-1708' 'P-1669' 'P-1667'
 'P-1668' 'P-1641' 'P-1693' 'P-1676' 'P-1689' 'P-1664' 'P-1658' 'P-1660'
 'P-1644' 'P-1592' 'P-1648' 'P-1611' 'P-1679' 'P-1642' 'P-1653' 'P-1673'
 'P-1683' 'P-1661' 'P-1612' 'P-1728' 'P-1639' 'P-1674' 'P-1620' 'P-1603'
 'P-1626' 'P-1649' 'P-1685' 'P-1632' 'P-1643' 'P-1666' 'P-1656' 'P-1663'
 'P-1729' 'P-1636' 'P-1557' 'P-1591']
=======================================================================
Dimensiones del dataframe antes de la reducción :
(7777, 17)

#### 3.1.7 - Se crea un nuevo campo de fecha basado en la fecha original

In [62]:
df_libro_mayor2['Fecha2'] = pd.to_datetime(df_libro_mayor2['Año'].astype(str) + '-' + df_libro_mayor2['Mes'].astype(str) + '-1')
df_libro_mayor2.sample(5)

,Codigo_proyecto,Cta_Contable,Año,Mes,Fecha,Tipo_Comp,Num_Comp,Glosa,Primer_Analisis,Referencia,Debito,Credito,Num_Referencia,Debito_2,Credito_2,TOTAL,Tipo_cuenta,Fecha2
6849,P-1715,4101010-000,2023,6,2023-06-20T00:00:00-04:00,CIN,891,"Golilla presion 3/8"" zincada",P-1715,I15410494,5100,0,51930,5100,0,-5100,COSTO MATERIALES,2023-06-01
7826,P-1723,4150002-000,2023,5,2023-05-31T00:00:00-04:00,AJC,1844,REMUNERACIONES DIRECTAS PROYECTO,P-1723,19670875,691208,0,NaN,691208,0,-691208,COSTO MANO DE OBRA,2023-05-01
7727,P-1693,4150002-000,2023,5,2023-05-31T00:00:00-04:00,AJC,1844,REMUNERACIONES DIRECTAS PROYECTO,P-1693,26297172,209355,0,NaN,209355,0,-209355,COSTO MANO DE OBRA,2023-05-01
1346,P-1704,4101010-000,2023,1,2023-01-18T00:00:00-03:00,CIN,653,"Union copla 6"" ranurada flexible",P-1704,P08200320,12470,0,48993,12470,0,-12470,COSTO MATERIALES,2023-01-01
1154,P-1680,4101010-000,2023,1,2023-01-10T00:00:00-03:00,CIN,234,"Tornillo Autoperforante 8 x 1"" Cabeza Le",P-1680,I17442580,1500,0,48858,1500,0,-1500,COSTO MATERIALES,2023-01-01

##### 3.1.7.1 - Se crea un nuevo campo de fecha basado en la fecha original para  COSTOS SUPERVISIÓN

In [63]:
df_libro_mayor2_2['Fecha2'] = pd.to_datetime(df_libro_mayor2_2['Año'].astype(str) + '-' + df_libro_mayor2_2['Mes'].astype(str) + '-1')
df_libro_mayor2_2.sample(5)

,Codigo_proyecto,Cta_Contable,Año,Mes,Fecha,Tipo_Comp,Num_Comp,Glosa,Primer_Analisis,Referencia,Debito,Credito,Num_Referencia,Debito_2,Credito_2,TOTAL,Tipo_cuenta,Fecha2
7988,P-OFICINA,4150002-002,2023,4,2023-04-30T00:00:00-03:00,AJC,1681,REMUNERACIONES SUPERVISORES,P-Oficina,13677891,2533436,0,NaN,2533436,0,-2533436,COSTO SUPERVISIÓN,2023-04-01
7985,P-OFICINA,4150002-002,2023,2,2023-02-28T00:00:00-03:00,AJC,1173,REMUNERACIONES SUPERVISORES,P-Oficina,7435204,2182368,0,NaN,2182368,0,-2182368,COSTO SUPERVISIÓN,2023-02-01
7983,P-OFICINA,4150002-002,2023,1,2023-01-31T00:00:00-03:00,AJC,1606,REMUNERACIONES SUPERVISORES,P-Oficina,7435204,2182368,0,NaN,2182368,0,-2182368,COSTO SUPERVISIÓN,2023-01-01
7984,P-OFICINA,4150002-002,2023,2,2023-02-28T00:00:00-03:00,AJC,1173,REMUNERACIONES SUPERVISORES,P-Oficina,13677891,1833838,0,NaN,1833838,0,-1833838,COSTO SUPERVISIÓN,2023-02-01
7990,P-OFICINA,4150002-002,2023,5,2023-05-31T00:00:00-04:00,AJC,1844,REMUNERACIONES SUPERVISORES,P-Oficina,13677891,2292357,0,NaN,2292357,0,-2292357,COSTO SUPERVISIÓN,2023-05-01

#### 3.1.8 - Se realiza pivote final del dataframe

In [64]:
# Se exploran las columnas:
df_libro_mayor2.columns

Index(['Codigo_proyecto', 'Cta_Contable', 'Año', 'Mes', 'Fecha', 'Tipo_Comp',
       'Num_Comp', 'Glosa', 'Primer_Analisis', 'Referencia', 'Debito',
       'Credito', 'Num_Referencia', 'Debito_2', 'Credito_2', 'TOTAL',
       'Tipo_cuenta', 'Fecha2'],
      dtype='object')

In [65]:
# crear pivot table sin margenes

df_libro_mayor2_piv = pd.pivot_table(df_libro_mayor2, values=['Debito_2','Credito_2','TOTAL'], index=['Codigo_proyecto','Tipo_cuenta','Fecha2','Año','Mes'], aggfunc='sum', fill_value=0, margins=True, margins_name='TOTAL')
df_libro_mayor2_piv = pd.DataFrame(df_libro_mayor2_piv.to_records())

df_libro_mayor2_piv.sample(5)

,Codigo_proyecto,Tipo_cuenta,Fecha2,Año,Mes,Credito_2,Debito_2,TOTAL
418,P-1713,COSTO MATERIALES,2023-01-01,2023,1,88638,139277,-50639
218,P-1694,COSTO MATERIALES,2023-02-01,2023,2,0,2218176,-2218176
406,P-1712,COSTO MATERIALES,2023-04-01,2023,4,0,7100327,-7100327
58,P-1669,COSTO MATERIALES,2023-04-01,2023,4,0,5420,-5420
120,P-1684,COSTO MANO DE OBRA,2023-02-01,2023,2,0,1844246,-1844246

In [66]:
# Estas son las dimensiones del dataframe pivoteado:
df_libro_mayor2_piv.shape

(565, 8)

##### 3.1.8.1 - Se realiza pivote final del dataframe paera COSTO SUPERVISIÓN

In [67]:
# crear pivot table sin margenes

df_libro_mayor2_2_piv = pd.pivot_table(df_libro_mayor2_2, values=['Debito_2','Credito_2','TOTAL'], index=['Codigo_proyecto','Tipo_cuenta','Fecha2','Año','Mes'], aggfunc='sum', fill_value=0, margins=True, margins_name='TOTAL')
df_libro_mayor2_2_piv = pd.DataFrame(df_libro_mayor2_2_piv.to_records())

df_libro_mayor2_2_piv = df_libro_mayor2_2_piv[df_libro_mayor2_2_piv['Codigo_proyecto'] != 'TOTAL']

# Se reemplaza el valor P-OFICINA por el valor TOTAL con lo cual se utilizará para unirlo al dataframe que crea las filas para el cálculo de los totales
df_libro_mayor2_2_piv['Codigo_proyecto'] = df_libro_mayor2_2_piv['Codigo_proyecto'].replace('P-OFICINA', 'TOTAL')


df_libro_mayor2_2_piv

,Codigo_proyecto,Tipo_cuenta,Fecha2,Año,Mes,Credito_2,Debito_2,TOTAL
0,TOTAL,COSTO SUPERVISIÓN,2023-01-01,2023,1,0,4336206,-4336206
1,TOTAL,COSTO SUPERVISIÓN,2023-02-01,2023,2,0,4016206,-4016206
2,TOTAL,COSTO SUPERVISIÓN,2023-03-01,2023,3,0,4474872,-4474872
3,TOTAL,COSTO SUPERVISIÓN,2023-04-01,2023,4,0,5096121,-5096121
4,TOTAL,COSTO SUPERVISIÓN,2023-05-01,2023,5,0,4643261,-4643261

#### 3.1.9 - Se crea subdataframe para proyecto que considera el total con nombre "TOTAL", que se detalla por tipo_cuenta

In [68]:
df_libro_mayor_piv2 = pd.pivot_table(df_libro_mayor2_piv, values=['Debito_2','Credito_2','TOTAL'], index=['Tipo_cuenta','Fecha2','Año','Mes'], aggfunc='sum', fill_value=0)
df_libro_mayor_piv2 = pd.DataFrame(df_libro_mayor_piv2.to_records())

# Agregamos la columna Codigo_proyecto con valor "TOTAL" en la primera columna
df_libro_mayor_piv2.insert(loc=0, column='Codigo_proyecto', value='TOTAL')

# Eliminamos los registros con Tipo_cuenta igual a "TOTAL"
df_libro_mayor_piv2 = df_libro_mayor_piv2[df_libro_mayor_piv2['Tipo_cuenta'] != 'TOTAL']
df_libro_mayor_piv2 = df_libro_mayor_piv2[df_libro_mayor_piv2['Tipo_cuenta'] != '']

df_libro_mayor_piv2

,Codigo_proyecto,Tipo_cuenta,Fecha2,Año,Mes,Credito_2,Debito_2,TOTAL
0,TOTAL,COSTO MANO DE OBRA,2023-01-01,2023,1,0,72482994,-72482994
1,TOTAL,COSTO MANO DE OBRA,2023-02-01,2023,2,0,82645544,-82645544
2,TOTAL,COSTO MANO DE OBRA,2023-03-01,2023,3,0,96760244,-96760244
3,TOTAL,COSTO MANO DE OBRA,2023-04-01,2023,4,0,111885468,-111885468
4,TOTAL,COSTO MANO DE OBRA,2023-05-01,2023,5,0,114373715,-114373715
5,TOTAL,COSTO MATERIALES,2023-01-01,2023,1,2565889,125972929,-123407040
6,TOTAL,COSTO MATERIALES,2023-02-01,2023,2,3348963,83658197,-80309234
7,TOTAL,COSTO MATERIALES,2023-03-01,2023,3,2764412,88061320,-85296908
8,TOTAL,COSTO MATERIALES,2023-04-01,2023,4,3247244,149731515,-146484271
9,TOTAL,COSTO MATERIALES,2023-05-01,2023,5,8533707,178069095,-169535388
10,TOTAL,COSTO MATERIALES,2023-06-01,2023,6,4296664,158357229,-154060565
11,TOTAL,INGRESO,2023-01-01,2023,1,449490833,191247845,258242988
12,TOTAL,INGRESO,2023-02-01,2023,2,231086456,0,231086456
13,TOTAL,INGRESO,2023-03-01,2023,3,481925304,199901371,282023933
14,TOTAL,INGRESO,2023-04-01,2023,4,408889221,61678702,347210519
15,TOTAL,INGRESO,2023-05-01,2023,5,631496823,170698310,460798513
16,TOTAL,INGRESO,2023-06-01,2023,6,191289449,58891059,132398390

##### 3.1.9.1 - Se anexa el dataframe creado con los totales con el dataframe creado a partir del punto 3.1.6.1 que contiene los costos de supervisión

In [69]:
df_libro_mayor_piv2 = pd.concat([df_libro_mayor_piv2, df_libro_mayor2_2_piv], ignore_index=True)
df_libro_mayor_piv2

,Codigo_proyecto,Tipo_cuenta,Fecha2,Año,Mes,Credito_2,Debito_2,TOTAL
0,TOTAL,COSTO MANO DE OBRA,2023-01-01,2023,1,0,72482994,-72482994
1,TOTAL,COSTO MANO DE OBRA,2023-02-01,2023,2,0,82645544,-82645544
2,TOTAL,COSTO MANO DE OBRA,2023-03-01,2023,3,0,96760244,-96760244
3,TOTAL,COSTO MANO DE OBRA,2023-04-01,2023,4,0,111885468,-111885468
4,TOTAL,COSTO MANO DE OBRA,2023-05-01,2023,5,0,114373715,-114373715
5,TOTAL,COSTO MATERIALES,2023-01-01,2023,1,2565889,125972929,-123407040
6,TOTAL,COSTO MATERIALES,2023-02-01,2023,2,3348963,83658197,-80309234
7,TOTAL,COSTO MATERIALES,2023-03-01,2023,3,2764412,88061320,-85296908
8,TOTAL,COSTO MATERIALES,2023-04-01,2023,4,3247244,149731515,-146484271
9,TOTAL,COSTO MATERIALES,2023-05-01,2023,5,8533707,178069095,-169535388
10,TOTAL,COSTO MATERIALES,2023-06-01,2023,6,4296664,158357229,-154060565
11,TOTAL,INGRESO,2023-01-01,2023,1,449490833,191247845,258242988
12,TOTAL,INGRESO,2023-02-01,2023,2,231086456,0,231086456
13,TOTAL,INGRESO,2023-03-01,2023,3,481925304,199901371,282023933
14,TOTAL,INGRESO,2023-04-01,2023,4,408889221,61678702,347210519
15,TOTAL,INGRESO,2023-05-01,2023,5,631496823,170698310,460798513
16,TOTAL,INGRESO,2023-06-01,2023,6,191289449,58891059,132398390
17,TOTAL,COSTO SUPERVISIÓN,2023-01-01,2023,1,0,4336206,-4336206
18,TOTAL,COSTO SUPERVISIÓN,2023-02-01,2023,2,0,4016206,-4016206
19,TOTAL,COSTO SUPERVISIÓN,2023-03-01,2023,3,0,4474872,-4474872
20,TOTAL,COSTO SUPERVISIÓN,2023-04-01,2023,4,0,5096121,-5096121
21,TOTAL,COSTO SUPERVISIÓN,2023-05-01,2023,5,0,4643261,-4643261

#### 3.1.10 - Se concatenan los 2 dataframes resultantes

In [70]:
print("=======================================================================")
print("Dimensiones del dataframe antes de la concatenación : ")
print(df_libro_mayor2_piv.shape)

=======================================================================
Dimensiones del dataframe antes de la concatenación :
(565, 8)

In [71]:
df_libro_mayor3 = pd.concat([df_libro_mayor2_piv, df_libro_mayor_piv2])
df_libro_mayor3.sort_values(by=['Codigo_proyecto']).sample(5)

,Codigo_proyecto,Tipo_cuenta,Fecha2,Año,Mes,Credito_2,Debito_2,TOTAL
452,P-1715,INGRESO,2023-03-01,2023,3,12538094,0,12538094
2,TOTAL,COSTO MANO DE OBRA,2023-03-01,2023,3,0,96760244,-96760244
133,P-1686,COSTO MANO DE OBRA,2023-01-01,2023,1,0,753362,-753362
520,P-1724,COSTO MANO DE OBRA,2023-03-01,2023,3,0,506066,-506066
145,P-1686,INGRESO,2023-04-01,2023,4,11356986,0,11356986

In [72]:
print("=======================================================================")
print("Dimensiones del dataframe después de la concatenación : ")
print(df_libro_mayor3.shape)

=======================================================================
Dimensiones del dataframe después de la concatenación :
(587, 8)

#### 3.1.11 - Se crean las filas que permiten tener siempre todas las opciones de Tipo_Cuenta por cada Codigo_proyecto

In [73]:
combinaciones = []
for proyecto in df_libro_mayor3['Codigo_proyecto'].unique():
    for fecha in df_libro_mayor3['Fecha2'].unique():
        mes = pd.to_datetime(fecha).month
        año = pd.to_datetime(fecha).year
        for cuenta in ['INGRESO', 'COSTO MATERIALES', 'COSTO MANO DE OBRA', 'COSTO SUPERVISIÓN']:
            combinaciones.append((proyecto, fecha, mes, año, cuenta))

# crear un nuevo DataFrame con las combinaciones obtenidas
combinaciones_df = pd.DataFrame(combinaciones, columns=['Codigo_proyecto', 'Fecha2', 'Mes', 'Año', 'Tipo_cuenta'])

# agregar las demás columnas con valores nulos
combinaciones_df['Credito_2'] = 0
combinaciones_df['Debito_2'] = 0
combinaciones_df['TOTAL'] = 0

# Se eliminan filas con fecha en blanco.
combinaciones_df = combinaciones_df.dropna(subset=['Mes'])

combinaciones_df.sample(10)

,Codigo_proyecto,Fecha2,Mes,Año,Tipo_cuenta,Credito_2,Debito_2,TOTAL
290,P-1639,2023-01-01,1.00,2023.00,COSTO MANO DE OBRA,0,0,0
2277,P-1727,2023-01-01,1.00,2023.00,COSTO MATERIALES,0,0,0
2115,P-1721,2023-02-01,2.00,2023.00,COSTO SUPERVISIÓN,0,0,0
779,P-1668,2023-06-01,6.00,2023.00,COSTO SUPERVISIÓN,0,0,0
732,P-1667,2023-05-01,5.00,2023.00,INGRESO,0,0,0
2309,P-1728,2023-02-01,2.00,2023.00,COSTO MATERIALES,0,0,0
1964,P-1716,2023-05-01,5.00,2023.00,INGRESO,0,0,0
2254,P-1726,2023-02-01,2.00,2023.00,COSTO MANO DE OBRA,0,0,0
456,P-1648,2023-01-01,1.00,2023.00,INGRESO,0,0,0
31,P-1591,2023-04-01,4.00,2023.00,COSTO SUPERVISIÓN,0,0,0

#### 3.1.12 - Se concatenan los 2 dataframes resultantes

In [74]:
print("=======================================================================")
print("Dimensiones del dataframe antes de la concatenación : ")
print(df_libro_mayor3.shape)

=======================================================================
Dimensiones del dataframe antes de la concatenación :
(587, 8)

In [75]:
df_libro_mayor4 = pd.concat([df_libro_mayor3, combinaciones_df])
df_libro_mayor4.sort_values(by=['Codigo_proyecto']).sample(5)

,Codigo_proyecto,Tipo_cuenta,Fecha2,Año,Mes,Credito_2,Debito_2,TOTAL
56,P-1592,INGRESO,2023-04-01,2023.00,4.00,0,0,0
1585,P-1699,COSTO MATERIALES,2023-03-01,2023.00,3.00,0,0,0
505,P-1721,INGRESO,2023-03-01,2023,3,21595000,10797500,10797500
1545,P-1698,COSTO MATERIALES,2023-05-01,2023.00,5.00,0,0,0
1356,P-1691,INGRESO,2023-02-01,2023.00,2.00,0,0,0

In [76]:
print("=======================================================================")
print("Dimensiones del dataframe después de la concatenación : ")
print(df_libro_mayor4.shape)

=======================================================================
Dimensiones del dataframe después de la concatenación :
(2627, 8)

#### 3.1.13 - Estandarización de campos

In [77]:
# Se estandarizan los campos con sus nombres y formatos, para un mayor entendimiento.

df_libro_mayor4 = df_libro_mayor4.rename(columns={
    'Codigo_proyecto': 'CODIGO_PROYECTO',
    'Tipo_cuenta': 'TIPO_CUENTA',
    'Fecha2': 'FECHA',
    'Año': 'AÑO',
    'Mes': 'MES',
    'Credito_2': 'CREDITO',
    'Debito_2': 'DEBITO'
})

df_libro_mayor4['AÑO'] = pd.to_numeric(df_libro_mayor4['AÑO'], downcast='integer')
df_libro_mayor4['MES'] = pd.to_numeric(df_libro_mayor4['MES'], downcast='integer')

df_libro_mayor4.sample(10)

,CODIGO_PROYECTO,TIPO_CUENTA,FECHA,AÑO,MES,CREDITO,DEBITO,TOTAL
2345,P-1729,COSTO MATERIALES,2023-06-01,2023.00,6.00,0,0,0
190,P-1620,COSTO MANO DE OBRA,2023-06-01,2023.00,6.00,0,0,0
1882,P-1713,COSTO MANO DE OBRA,2023-05-01,2023.00,5.00,0,0,0
465,P-1716,COSTO MATERIALES,2023-05-01,2023.00,5.00,0,2986507,-2986507
57,P-1669,COSTO MATERIALES,2023-03-01,2023.00,3.00,245707,0,245707
405,P-1644,COSTO MATERIALES,2023-02-01,2023.00,2.00,0,0,0
1179,P-1685,COSTO SUPERVISIÓN,2023-04-01,2023.00,4.00,0,0,0
1431,P-1694,COSTO SUPERVISIÓN,2023-04-01,2023.00,4.00,0,0,0
1473,P-1695,COSTO MATERIALES,2023-03-01,2023.00,3.00,0,0,0
536,P-1725,COSTO MATERIALES,2023-06-01,2023.00,6.00,1280790,5600537,-4319747

In [78]:
#df_libro_mayor4[df_libro_mayor4["CODIGO_PROYECTO"]=="P-1706"]
df_libro_mayor4[df_libro_mayor4["CODIGO_PROYECTO"]=="TOTAL"]

,CODIGO_PROYECTO,TIPO_CUENTA,FECHA,AÑO,MES,CREDITO,DEBITO,TOTAL
564,TOTAL,,NaT,NaN,NaN,2418934965,1944415537,474519428
0,TOTAL,COSTO MANO DE OBRA,2023-01-01,2023.00,1.00,0,72482994,-72482994
1,TOTAL,COSTO MANO DE OBRA,2023-02-01,2023.00,2.00,0,82645544,-82645544
2,TOTAL,COSTO MANO DE OBRA,2023-03-01,2023.00,3.00,0,96760244,-96760244
3,TOTAL,COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,0,111885468,-111885468
4,TOTAL,COSTO MANO DE OBRA,2023-05-01,2023.00,5.00,0,114373715,-114373715
5,TOTAL,COSTO MATERIALES,2023-01-01,2023.00,1.00,2565889,125972929,-123407040
6,TOTAL,COSTO MATERIALES,2023-02-01,2023.00,2.00,3348963,83658197,-80309234
7,TOTAL,COSTO MATERIALES,2023-03-01,2023.00,3.00,2764412,88061320,-85296908
8,TOTAL,COSTO MATERIALES,2023-04-01,2023.00,4.00,3247244,149731515,-146484271
9,TOTAL,COSTO MATERIALES,2023-05-01,2023.00,5.00,8533707,178069095,-169535388
10,TOTAL,COSTO MATERIALES,2023-06-01,2023.00,6.00,4296664,158357229,-154060565
11,TOTAL,INGRESO,2023-01-01,2023.00,1.00,449490833,191247845,258242988
12,TOTAL,INGRESO,2023-02-01,2023.00,2.00,231086456,0,231086456
13,TOTAL,INGRESO,2023-03-01,2023.00,3.00,481925304,199901371,282023933
14,TOTAL,INGRESO,2023-04-01,2023.00,4.00,408889221,61678702,347210519
15,TOTAL,INGRESO,2023-05-01,2023.00,5.00,631496823,170698310,460798513
16,TOTAL,INGRESO,2023-06-01,2023.00,6.00,191289449,58891059,132398390
17,TOTAL,COSTO SUPERVISIÓN,2023-01-01,2023.00,1.00,0,4336206,-4336206
18,TOTAL,COSTO SUPERVISIÓN,2023-02-01,2023.00,2.00,0,4016206,-4016206
19,TOTAL,COSTO SUPERVISIÓN,2023-03-01,2023.00,3.00,0,4474872,-4474872
20,TOTAL,COSTO SUPERVISIÓN,2023-04-01,2023.00,4.00,0,5096121,-5096121
21,TOTAL,COSTO SUPERVISIÓN,2023-05-01,2023.00,5.00,0,4643261,-4643261
2352,TOTAL,INGRESO,2023-04-01,2023.00,4.00,0,0,0
2353,TOTAL,COSTO MATERIALES,2023-04-01,2023.00,4.00,0,0,0
2354,TOTAL,COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,0,0,0
2355,TOTAL,COSTO SUPERVISIÓN,2023-04-01,2023.00,4.00,0,0,0
2356,TOTAL,INGRESO,2023-05-01,2023.00,5.00,0,0,0
2357,TOTAL,COSTO MATERIALES,2023-05-01,2023.00,5.00,0,0,0
2358,TOTAL,COSTO MANO DE OBRA,2023-05-01,2023.00,5.00,0,0,0
2359,TOTAL,COSTO SUPERVISIÓN,2023-05-01,2023.00,5.00,0,0,0
2360,TOTAL,INGRESO,2023-01-01,2023.00,1.00,0,0,0
2361,TOTAL,COSTO MATERIALES,2023-01-01,2023.00,1.00,0,0,0
2362,TOTAL,COSTO MANO DE OBRA,2023-01-01,2023.00,1.00,0,0,0
2363,TOTAL,COSTO SUPERVISIÓN,2023-01-01,2023.00,1.00,0,0,0
2364,TOTAL,INGRESO,2023-02-01,2023.00,2.00,0,0,0
2365,TOTAL,COSTO MATERIALES,2023-02-01,2023.00,2.00,0,0,0
2366,TOTAL,COSTO MANO DE OBRA,2023-02-01,2023.00,2.00,0,0,0
2367,TOTAL,COSTO SUPERVISIÓN,2023-02-01,2023.00,2.00,0,0,0
2368,TOTAL,INGRESO,2023-03-01,2023.00,3.00,0,0,0
2369,TOTAL,COSTO MATERIALES,2023-03-01,2023.00,3.00,0,0,0
2370,TOTAL,COSTO MANO DE OBRA,2023-03-01,2023.00,3.00,0,0,0
2371,TOTAL,COSTO SUPERVISIÓN,2023-03-01,2023.00,3.00,0,0,0
2372,TOTAL,INGRESO,2023-06-01,2023.00,6.00,0,0,0
2373,TOTAL,COSTO MATERIALES,2023-06-01,2023.00,6.00,0,0,0
2374,TOTAL,COSTO MANO DE OBRA,2023-06-01,2023.00,6.00,0,0,0
2375,TOTAL,COSTO SUPERVISIÓN,2023-06-01,2023.00,6.00,0,0,0

#### 3.1.14 Creación de columna MARGEN

In [79]:
df_libro_mayor4_2 = df_libro_mayor4.copy()

# Esta línea de código es para evitar ver el error.
with np.errstate(divide='ignore', invalid='ignore'):

    df_margen = df_libro_mayor4_2.groupby(['CODIGO_PROYECTO','MES']).apply(lambda x: pd.Series({
        'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA', '4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
    }))

    
df_margen = pd.DataFrame(df_margen.to_records())
df_margen['MARGEN'] = df_margen['MARGEN'].fillna(0).replace(-np.inf, 0)
df_margen.replace([np.inf, -np.inf, np.nan], 0, inplace=True)


# mostrar el DataFrame resultante
df_margen.sample(5)

    CODIGO_PROYECTO  MES  MARGEN
401          P-1712 6.00    0.00
17           P-1592 6.00    0.00
407          P-1713 6.00    0.00
272          P-1688 3.00    0.00
24           P-1611 1.00    0.00

In [80]:
print("=======================================================================")
print("DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: df_libro_mayor4_2  : ", df_libro_mayor4.shape)
print("=======================================================================")
print("DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: df_margen          : ", df_margen.shape)
print(df_margen.shape)

=======================================================================
DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: df_libro_mayor4_2  :  (2627, 8)
=======================================================================
DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: df_margen          :  (510, 3)
(510, 3)

In [81]:
# CONCATENACIÓN DE DATAFRAMES

df_libro_mayor5 = pd.merge(df_libro_mayor4, df_margen, on=['CODIGO_PROYECTO', 'MES'], how='left')

# Se estandariza el valor TOTAL a 1.TOTAL para que pueda ser seleccionado desde los filtros del Dashboard.
df_libro_mayor5['CODIGO_PROYECTO'] = df_libro_mayor5['CODIGO_PROYECTO'].apply(lambda x: '1. TOTAL' if x == 'TOTAL' else x)

print("DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: df_libro_mayor5  : ", df_libro_mayor5.shape)
print(df_libro_mayor5.shape)

DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: df_libro_mayor5  :  (2627, 9)
(2627, 9)

In [82]:
# INSPECCIÓN VISUAL 1
df_libro_mayor5[df_libro_mayor5["CODIGO_PROYECTO"]=="1. TOTAL"]

,CODIGO_PROYECTO,TIPO_CUENTA,FECHA,AÑO,MES,CREDITO,DEBITO,TOTAL,MARGEN
564,1. TOTAL,,NaT,NaN,NaN,2418934965,1944415537,474519428,NaN
565,1. TOTAL,COSTO MANO DE OBRA,2023-01-01,2023.00,1.00,0,72482994,-72482994,0.00
566,1. TOTAL,COSTO MANO DE OBRA,2023-02-01,2023.00,2.00,0,82645544,-82645544,0.00
567,1. TOTAL,COSTO MANO DE OBRA,2023-03-01,2023.00,3.00,0,96760244,-96760244,0.00
568,1. TOTAL,COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,0,111885468,-111885468,0.00
569,1. TOTAL,COSTO MANO DE OBRA,2023-05-01,2023.00,5.00,0,114373715,-114373715,0.00
570,1. TOTAL,COSTO MATERIALES,2023-01-01,2023.00,1.00,2565889,125972929,-123407040,0.00
571,1. TOTAL,COSTO MATERIALES,2023-02-01,2023.00,2.00,3348963,83658197,-80309234,0.00
572,1. TOTAL,COSTO MATERIALES,2023-03-01,2023.00,3.00,2764412,88061320,-85296908,0.00
573,1. TOTAL,COSTO MATERIALES,2023-04-01,2023.00,4.00,3247244,149731515,-146484271,0.00
574,1. TOTAL,COSTO MATERIALES,2023-05-01,2023.00,5.00,8533707,178069095,-169535388,0.00
575,1. TOTAL,COSTO MATERIALES,2023-06-01,2023.00,6.00,4296664,158357229,-154060565,0.00
576,1. TOTAL,INGRESO,2023-01-01,2023.00,1.00,449490833,191247845,258242988,0.00
577,1. TOTAL,INGRESO,2023-02-01,2023.00,2.00,231086456,0,231086456,0.00
578,1. TOTAL,INGRESO,2023-03-01,2023.00,3.00,481925304,199901371,282023933,0.00
579,1. TOTAL,INGRESO,2023-04-01,2023.00,4.00,408889221,61678702,347210519,0.00
580,1. TOTAL,INGRESO,2023-05-01,2023.00,5.00,631496823,170698310,460798513,0.00
581,1. TOTAL,INGRESO,2023-06-01,2023.00,6.00,191289449,58891059,132398390,0.00
582,1. TOTAL,COSTO SUPERVISIÓN,2023-01-01,2023.00,1.00,0,4336206,-4336206,0.00
583,1. TOTAL,COSTO SUPERVISIÓN,2023-02-01,2023.00,2.00,0,4016206,-4016206,0.00
584,1. TOTAL,COSTO SUPERVISIÓN,2023-03-01,2023.00,3.00,0,4474872,-4474872,0.00
585,1. TOTAL,COSTO SUPERVISIÓN,2023-04-01,2023.00,4.00,0,5096121,-5096121,0.00
586,1. TOTAL,COSTO SUPERVISIÓN,2023-05-01,2023.00,5.00,0,4643261,-4643261,0.00
2603,1. TOTAL,INGRESO,2023-04-01,2023.00,4.00,0,0,0,0.00
2604,1. TOTAL,COSTO MATERIALES,2023-04-01,2023.00,4.00,0,0,0,0.00
2605,1. TOTAL,COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,0,0,0,0.00
2606,1. TOTAL,COSTO SUPERVISIÓN,2023-04-01,2023.00,4.00,0,0,0,0.00
2607,1. TOTAL,INGRESO,2023-05-01,2023.00,5.00,0,0,0,0.00
2608,1. TOTAL,COSTO MATERIALES,2023-05-01,2023.00,5.00,0,0,0,0.00
2609,1. TOTAL,COSTO MANO DE OBRA,2023-05-01,2023.00,5.00,0,0,0,0.00
2610,1. TOTAL,COSTO SUPERVISIÓN,2023-05-01,2023.00,5.00,0,0,0,0.00
2611,1. TOTAL,INGRESO,2023-01-01,2023.00,1.00,0,0,0,0.00
2612,1. TOTAL,COSTO MATERIALES,2023-01-01,2023.00,1.00,0,0,0,0.00
2613,1. TOTAL,COSTO MANO DE OBRA,2023-01-01,2023.00,1.00,0,0,0,0.00
2614,1. TOTAL,COSTO SUPERVISIÓN,2023-01-01,2023.00,1.00,0,0,0,0.00
2615,1. TOTAL,INGRESO,2023-02-01,2023.00,2.00,0,0,0,0.00
2616,1. TOTAL,COSTO MATERIALES,2023-02-01,2023.00,2.00,0,0,0,0.00
2617,1. TOTAL,COSTO MANO DE OBRA,2023-02-01,2023.00,2.00,0,0,0,0.00
2618,1. TOTAL,COSTO SUPERVISIÓN,2023-02-01,2023.00,2.00,0,0,0,0.00
2619,1. TOTAL,INGRESO,2023-03-01,2023.00,3.00,0,0,0,0.00
2620,1. TOTAL,COSTO MATERIALES,2023-03-01,2023.00,3.00,0,0,0,0.00
2621,1. TOTAL,COSTO MANO DE OBRA,2023-03-01,2023.00,3.00,0,0,0,0.00
2622,1. TOTAL,COSTO SUPERVISIÓN,2023-03-01,2023.00,3.00,0,0,0,0.00
2623,1. TOTAL,INGRESO,2023-06-01,2023.00,6.00,0,0,0,0.00
2624,1. TOTAL,COSTO MATERIALES,2023-06-01,2023.00,6.00,0,0,0,0.00
2625,1. TOTAL,COSTO MANO DE OBRA,2023-06-01,2023.00,6.00,0,0,0,0.00
2626,1. TOTAL,COSTO SUPERVISIÓN,2023-06-01,2023.00,6.00,0,0,0,0.00

In [83]:
# INSPECCIÓN VISUAL 2
df_libro_mayor5[df_libro_mayor5["CODIGO_PROYECTO"]=="P-1704"]

,CODIGO_PROYECTO,TIPO_CUENTA,FECHA,AÑO,MES,CREDITO,DEBITO,TOTAL,MARGEN
324,P-1704,COSTO MANO DE OBRA,2023-01-01,2023.00,1.00,0,7375493,-7375493,0.00
325,P-1704,COSTO MANO DE OBRA,2023-02-01,2023.00,2.00,0,10751091,-10751091,0.00
326,P-1704,COSTO MANO DE OBRA,2023-03-01,2023.00,3.00,0,12332472,-12332472,0.00
327,P-1704,COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,0,14242535,-14242535,0.00
328,P-1704,COSTO MANO DE OBRA,2023-05-01,2023.00,5.00,0,12890883,-12890883,0.00
329,P-1704,COSTO MATERIALES,2023-01-01,2023.00,1.00,0,20073319,-20073319,0.00
330,P-1704,COSTO MATERIALES,2023-02-01,2023.00,2.00,139976,3388760,-3248784,0.00
331,P-1704,COSTO MATERIALES,2023-03-01,2023.00,3.00,0,14768626,-14768626,0.00
332,P-1704,COSTO MATERIALES,2023-04-01,2023.00,4.00,0,20031042,-20031042,0.00
333,P-1704,COSTO MATERIALES,2023-05-01,2023.00,5.00,0,13967551,-13967551,0.00
334,P-1704,COSTO MATERIALES,2023-06-01,2023.00,6.00,0,25218846,-25218846,0.00
335,P-1704,INGRESO,2023-01-01,2023.00,1.00,80676884,44033800,36643084,0.00
336,P-1704,INGRESO,2023-02-01,2023.00,2.00,23544607,0,23544607,0.00
337,P-1704,INGRESO,2023-03-01,2023.00,3.00,28278508,0,28278508,0.00
338,P-1704,INGRESO,2023-04-01,2023.00,4.00,53250000,0,53250000,0.00
339,P-1704,INGRESO,2023-05-01,2023.00,5.00,132309997,53250000,79059997,0.00
340,P-1704,INGRESO,2023-06-01,2023.00,6.00,61577933,0,61577933,0.00
2027,P-1704,INGRESO,2023-04-01,2023.00,4.00,0,0,0,0.00
2028,P-1704,COSTO MATERIALES,2023-04-01,2023.00,4.00,0,0,0,0.00
2029,P-1704,COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,0,0,0,0.00
2030,P-1704,COSTO SUPERVISIÓN,2023-04-01,2023.00,4.00,0,0,0,0.00
2031,P-1704,INGRESO,2023-05-01,2023.00,5.00,0,0,0,0.00
2032,P-1704,COSTO MATERIALES,2023-05-01,2023.00,5.00,0,0,0,0.00
2033,P-1704,COSTO MANO DE OBRA,2023-05-01,2023.00,5.00,0,0,0,0.00
2034,P-1704,COSTO SUPERVISIÓN,2023-05-01,2023.00,5.00,0,0,0,0.00
2035,P-1704,INGRESO,2023-01-01,2023.00,1.00,0,0,0,0.00
2036,P-1704,COSTO MATERIALES,2023-01-01,2023.00,1.00,0,0,0,0.00
2037,P-1704,COSTO MANO DE OBRA,2023-01-01,2023.00,1.00,0,0,0,0.00
2038,P-1704,COSTO SUPERVISIÓN,2023-01-01,2023.00,1.00,0,0,0,0.00
2039,P-1704,INGRESO,2023-02-01,2023.00,2.00,0,0,0,0.00
2040,P-1704,COSTO MATERIALES,2023-02-01,2023.00,2.00,0,0,0,0.00
2041,P-1704,COSTO MANO DE OBRA,2023-02-01,2023.00,2.00,0,0,0,0.00
2042,P-1704,COSTO SUPERVISIÓN,2023-02-01,2023.00,2.00,0,0,0,0.00
2043,P-1704,INGRESO,2023-03-01,2023.00,3.00,0,0,0,0.00
2044,P-1704,COSTO MATERIALES,2023-03-01,2023.00,3.00,0,0,0,0.00
2045,P-1704,COSTO MANO DE OBRA,2023-03-01,2023.00,3.00,0,0,0,0.00
2046,P-1704,COSTO SUPERVISIÓN,2023-03-01,2023.00,3.00,0,0,0,0.00
2047,P-1704,INGRESO,2023-06-01,2023.00,6.00,0,0,0,0.00
2048,P-1704,COSTO MATERIALES,2023-06-01,2023.00,6.00,0,0,0,0.00
2049,P-1704,COSTO MANO DE OBRA,2023-06-01,2023.00,6.00,0,0,0,0.00
2050,P-1704,COSTO SUPERVISIÓN,2023-06-01,2023.00,6.00,0,0,0,0.00

In [84]:
df_libro_mayor5["CODIGO_PROYECTO"].unique()

array(['P-1557', 'P-1591', 'P-1592', 'P-1603', 'P-1611', 'P-1612',
       'P-1620', 'P-1626', 'P-1632', 'P-1636', 'P-1639', 'P-1641',
       'P-1642', 'P-1643', 'P-1644', 'P-1645', 'P-1648', 'P-1649',
       'P-1653', 'P-1656', 'P-1658', 'P-1660', 'P-1661', 'P-1663',
       'P-1664', 'P-1666', 'P-1667', 'P-1668', 'P-1669', 'P-1670',
       'P-1672', 'P-1673', 'P-1674', 'P-1675', 'P-1676', 'P-1677',
       'P-1679', 'P-1680', 'P-1681', 'P-1682', 'P-1683', 'P-1684',
       'P-1685', 'P-1686', 'P-1687', 'P-1688', 'P-1689', 'P-1690',
       'P-1691', 'P-1692', 'P-1693', 'P-1694', 'P-1695', 'P-1696',
       'P-1697', 'P-1698', 'P-1699', 'P-1700', 'P-1701', 'P-1703',
       'P-1704', 'P-1705', 'P-1706', 'P-1707', 'P-1708', 'P-1709',
       'P-1712', 'P-1713', 'P-1714', 'P-1715', 'P-1716', 'P-1717',
       'P-1718', 'P-1719', 'P-1720', 'P-1721', 'P-1722', 'P-1723',
       'P-1724', 'P-1725', 'P-1726', 'P-1727', 'P-1728', 'P-1729',
       '1. TOTAL'], dtype=object)

In [85]:
df_libro_mayor5.to_csv('archivos_respaldo/df_libro_mayor5.csv', index = False)

### 3.1 - TRATAMIENTO 1 - LIBRO MAYOR SUBSETS

#### 3.1.16 - CREACIÓN DF **"YTD AÑO EN CURSO HASTA MES CERRADO"**

In [86]:
fecha_actual = datetime.date.today()
fecha_actual

datetime.date(2023, 6, 26)

In [87]:
# Se crea una copia del dataframe 

df_libro_mayor_ytd = df_libro_mayor5.copy()
df_libro_mayor_ytd.sample(5)

,CODIGO_PROYECTO,TIPO_CUENTA,FECHA,AÑO,MES,CREDITO,DEBITO,TOTAL,MARGEN
5,P-1592,COSTO MATERIALES,2023-02-01,2023.00,2.00,0,102993,-102993,0.00
1071,P-1658,INGRESO,2023-05-01,2023.00,5.00,0,0,0,0.00
1153,P-1663,COSTO MANO DE OBRA,2023-02-01,2023.00,2.00,0,0,0,0.00
2426,P-1722,COSTO SUPERVISIÓN,2023-02-01,2023.00,2.00,0,0,0,0.00
1691,P-1689,INGRESO,2023-04-01,2023.00,4.00,0,0,0,0.00

In [88]:
# Se crea un filtro para obtener todos aquellos que tengan valores hasta el MES anterior al mes en curso

# Obtener el mes actual
mes_actual = datetime.date.today().month
print(mes_actual)

# Filtrar los registros del dataframe que corresponden al mes actual y a todos los meses anteriores
df_libro_mayor_ytd["FECHA"] = pd.to_datetime(df_libro_mayor_ytd["FECHA"])
df_libro_mayor_ytd_closed = df_libro_mayor_ytd[df_libro_mayor_ytd["FECHA"].dt.month < mes_actual]

df_libro_mayor_ytd_closed.sample(10)

6

,CODIGO_PROYECTO,TIPO_CUENTA,FECHA,AÑO,MES,CREDITO,DEBITO,TOTAL,MARGEN
496,P-1721,COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,0,2706033,-2706033,0.00
2008,P-1703,COSTO MATERIALES,2023-05-01,2023.00,5.00,0,0,0,0.00
1886,P-1697,COSTO SUPERVISIÓN,2023-04-01,2023.00,4.00,0,0,0,0.00
843,P-1639,INGRESO,2023-03-01,2023.00,3.00,0,0,0,0.00
1460,P-1679,COSTO MATERIALES,2023-01-01,2023.00,1.00,0,0,0,0.00
1503,P-1681,INGRESO,2023-05-01,2023.00,5.00,0,0,0,0.00
1730,P-1690,COSTO SUPERVISIÓN,2023-02-01,2023.00,2.00,0,0,0,0.00
213,P-1694,COSTO MANO DE OBRA,2023-02-01,2023.00,2.00,0,2619666,-2619666,0.00
288,P-1699,INGRESO,2023-04-01,2023.00,4.00,31507221,0,31507221,0.00
816,P-1636,COSTO MATERIALES,2023-02-01,2023.00,2.00,0,0,0,0.00

In [89]:
# crear pivot table sin margenes

df_libro_mayor_ytd_closed_piv = pd.pivot_table(df_libro_mayor_ytd_closed, values=['TOTAL'], index=['CODIGO_PROYECTO', 'TIPO_CUENTA'], aggfunc='sum', fill_value=0)
#df_libro_mayor4_piv = pd.pivot_table(df_libro_mayor4, values=['Debito_2','Credito_2','TOTAL'], index=['Codigo_proyecto','Tipo_cuenta'], columns = ['Fecha2'], aggfunc='sum', fill_value=0, margins=True, margins_name='TOTAL')

df_libro_mayor_ytd_closed_piv = pd.DataFrame(df_libro_mayor_ytd_closed_piv.to_records())

df_libro_mayor_ytd_closed_piv.sample(10)

    CODIGO_PROYECTO         TIPO_CUENTA     TOTAL
62           P-1644   COSTO SUPERVISIÓN         0
65           P-1645    COSTO MATERIALES     19980
243          P-1703             INGRESO  35296641
157          P-1681    COSTO MATERIALES         0
300          P-1720  COSTO MANO DE OBRA    -65665
263          P-1708             INGRESO    392191
117          P-1669    COSTO MATERIALES   1670169
132          P-1674  COSTO MANO DE OBRA         0
158          P-1681   COSTO SUPERVISIÓN         0
9            P-1591    COSTO MATERIALES         0

#### 3.1.16-1 - CREACIÓN DF **"YTD AÑO EN CURSO HASTA MES CERRADO 2"**
Este dataframe es para considerar como mes cerrado 2 meses atrás, de esta forma se puede evaluar el mes cerrado.

In [90]:
# Obtener el mes actual
mes_actual = datetime.date.today().month
print(mes_actual)

# Calcular el mes que es dos meses antes del actual
mes_filtrado = mes_actual - 2 if mes_actual > 2 else (12 + mes_actual - 2) 

# Filtrar los registros del dataframe que corresponden al mes filtrado y a todos los meses anteriores
df_libro_mayor_ytd["FECHA"] = pd.to_datetime(df_libro_mayor_ytd["FECHA"])
df_libro_mayor_ytd_closed_2M = df_libro_mayor_ytd[df_libro_mayor_ytd["FECHA"].dt.month <= mes_filtrado]

df_libro_mayor_ytd_closed_2M.sample(10)

6

,CODIGO_PROYECTO,TIPO_CUENTA,FECHA,AÑO,MES,CREDITO,DEBITO,TOTAL,MARGEN
1225,P-1667,COSTO MANO DE OBRA,2023-02-01,2023.00,2.00,0,0,0,0.00
884,P-1642,COSTO MATERIALES,2023-01-01,2023.00,1.00,0,0,0,0.00
2324,P-1718,COSTO MATERIALES,2023-01-01,2023.00,1.00,0,0,0,0.00
1107,P-1660,INGRESO,2023-03-01,2023.00,3.00,0,0,0,0.00
2142,P-1708,COSTO SUPERVISIÓN,2023-03-01,2023.00,3.00,0,0,0,0.00
2540,P-1727,COSTO MATERIALES,2023-01-01,2023.00,1.00,0,0,0,0.00
2206,P-1713,COSTO SUPERVISIÓN,2023-01-01,2023.00,1.00,0,0,0,0.00
2252,P-1715,COSTO MATERIALES,2023-01-01,2023.00,1.00,0,0,0,0.00
940,P-1644,COSTO MATERIALES,2023-03-01,2023.00,3.00,0,0,0,0.00
1996,P-1701,COSTO MATERIALES,2023-03-01,2023.00,3.00,0,0,0,0.00

In [91]:
# crear pivot table sin margenes

df_libro_mayor_ytd_closed_2M = pd.pivot_table(df_libro_mayor_ytd_closed_2M, values=['TOTAL'], index=['CODIGO_PROYECTO', 'TIPO_CUENTA'], aggfunc='sum', fill_value=0)

df_libro_mayor_ytd_closed_2M = pd.DataFrame(df_libro_mayor_ytd_closed_2M.to_records())

df_libro_mayor_ytd_closed_2M.sample(5)

    CODIGO_PROYECTO         TIPO_CUENTA     TOTAL
217          P-1696    COSTO MATERIALES -18155176
72           P-1649  COSTO MANO DE OBRA         0
194          P-1690   COSTO SUPERVISIÓN         0
179          P-1686             INGRESO  20080642
90           P-1660   COSTO SUPERVISIÓN         0

#### 3.1.17 - CREACIÓN DF **LIBRO MAYOR PARA MES EN CURSO**

In [92]:
# Se crea un nuevo dataframe basado en df_libro_mayor5, la palabra "mec" significa mes en curso.
 
df_libro_mayor5_mec = df_libro_mayor5.copy()
df_libro_mayor5_mec.shape
print("DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: df_libro_mayor5_mec  : ", df_libro_mayor5_mec.shape)
df_libro_mayor5_mec.sample(3)

DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: df_libro_mayor5_mec  :  (2627, 9)

,CODIGO_PROYECTO,TIPO_CUENTA,FECHA,AÑO,MES,CREDITO,DEBITO,TOTAL,MARGEN
2228,P-1714,COSTO MATERIALES,2023-01-01,2023.00,1.00,0,0,0,0.00
972,P-1648,COSTO MATERIALES,2023-04-01,2023.00,4.00,0,0,0,0.00
1389,P-1675,COSTO MANO DE OBRA,2023-01-01,2023.00,1.00,0,0,0,0.00

In [93]:
# Se crea una nueva columna para categorizar el origen de los datos.

df_libro_mayor5_mec["ORIGEN"]="LIBRO MAYOR"
df_libro_mayor5_mec.sample(5)

,CODIGO_PROYECTO,TIPO_CUENTA,FECHA,AÑO,MES,CREDITO,DEBITO,TOTAL,MARGEN,ORIGEN
2506,P-1725,COSTO SUPERVISIÓN,2023-06-01,2023.00,6.00,0,0,0,0.00,LIBRO MAYOR
1708,P-1689,COSTO MATERIALES,2023-03-01,2023.00,3.00,0,0,0,0.00,LIBRO MAYOR
2414,P-1722,COSTO SUPERVISIÓN,2023-04-01,2023.00,4.00,0,0,0,0.00,LIBRO MAYOR
857,P-1641,COSTO MANO DE OBRA,2023-05-01,2023.00,5.00,0,0,0,0.00,LIBRO MAYOR
734,P-1620,COSTO SUPERVISIÓN,2023-04-01,2023.00,4.00,0,0,0,0.00,LIBRO MAYOR

In [94]:
# Se seleccionan los meses que son utiles para crear la vista de mes en curso.
# Para el real se necesita: INGRESO, COSTO MATERIALES, Y SUPERVISIÓN (ÉSTE ÚLTIMO DEL MES ANTERIOR)
# Para el proyectado se necesita: SUPERVISIÓN (DEL MES ANTERIOR)

In [95]:
# Filtro para TIPO_CUENTA y FECHA
from datetime import datetime, timedelta


df_libro_mayor5_mec['FECHA'] = pd.to_datetime(df_libro_mayor5_mec['FECHA'])

filtro_ingreso_materiales = ((df_libro_mayor5_mec['TIPO_CUENTA'] == 'INGRESO') | 
                             (df_libro_mayor5_mec['TIPO_CUENTA'] == 'COSTO MATERIALES')) & \
                            (df_libro_mayor5_mec['FECHA'].dt.month == datetime.now().month)

# Filtro para SUPERVISIÓN del mes anterior
mes_anterior = (datetime.now() - timedelta(days=32)).month
filtro_supervision_mes_anterior = (df_libro_mayor5_mec['TIPO_CUENTA'] == 'COSTO SUPERVISIÓN') & \
                                  (df_libro_mayor5_mec['FECHA'].dt.month == mes_anterior)


# Filtro para COSTO_MANO_OBRA del mes anterior
mes_anterior = (datetime.now() - timedelta(days=32)).month
filtro_mo_mes_anterior = (df_libro_mayor5_mec['TIPO_CUENTA'] == 'COSTO MANO DE OBRA') & \
                                  (df_libro_mayor5_mec['FECHA'].dt.month == mes_anterior)

# Combinar los filtros en un filtro general
filtro_general = filtro_ingreso_materiales | filtro_supervision_mes_anterior  | filtro_mo_mes_anterior

# Crear el sub-dataframe filtrado
df_libro_mayor5_mec2 = df_libro_mayor5_mec[filtro_general]

print("DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: df_libro_mayor5_mec2  : ", df_libro_mayor5_mec2.shape)

df_libro_mayor5_mec2.sample(10)

DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: df_libro_mayor5_mec2  :  (432, 10)

,CODIGO_PROYECTO,TIPO_CUENTA,FECHA,AÑO,MES,CREDITO,DEBITO,TOTAL,MARGEN,ORIGEN
2263,P-1715,INGRESO,2023-06-01,2023.00,6.00,0,0,0,0.00,LIBRO MAYOR
1591,P-1684,INGRESO,2023-06-01,2023.00,6.00,0,0,0,0.00,LIBRO MAYOR
1328,P-1672,COSTO MATERIALES,2023-06-01,2023.00,6.00,0,0,0,0.00,LIBRO MAYOR
943,P-1644,INGRESO,2023-06-01,2023.00,6.00,0,0,0,0.00,LIBRO MAYOR
1481,P-1680,COSTO MANO DE OBRA,2023-05-01,2023.00,5.00,0,0,0,0.00,LIBRO MAYOR
1386,P-1675,COSTO SUPERVISIÓN,2023-05-01,2023.00,5.00,0,0,0,0.00,LIBRO MAYOR
483,P-1718,COSTO MATERIALES,2023-06-01,2023.00,6.00,385924,5104762,-4718838,0.00,LIBRO MAYOR
137,P-1686,COSTO MANO DE OBRA,2023-05-01,2023.00,5.00,0,3733792,-3733792,0.00,LIBRO MAYOR
689,P-1611,COSTO MANO DE OBRA,2023-05-01,2023.00,5.00,0,0,0,0.00,LIBRO MAYOR
2384,P-1720,COSTO MATERIALES,2023-06-01,2023.00,6.00,0,0,0,0.00,LIBRO MAYOR

In [96]:
# INSPECCIÓN VISUAL 1
df_libro_mayor5_mec2[df_libro_mayor5_mec2["CODIGO_PROYECTO"]=="P-1704"]

,CODIGO_PROYECTO,TIPO_CUENTA,FECHA,AÑO,MES,CREDITO,DEBITO,TOTAL,MARGEN,ORIGEN
328,P-1704,COSTO MANO DE OBRA,2023-05-01,2023.00,5.00,0,12890883,-12890883,0.00,LIBRO MAYOR
334,P-1704,COSTO MATERIALES,2023-06-01,2023.00,6.00,0,25218846,-25218846,0.00,LIBRO MAYOR
340,P-1704,INGRESO,2023-06-01,2023.00,6.00,61577933,0,61577933,0.00,LIBRO MAYOR
2033,P-1704,COSTO MANO DE OBRA,2023-05-01,2023.00,5.00,0,0,0,0.00,LIBRO MAYOR
2034,P-1704,COSTO SUPERVISIÓN,2023-05-01,2023.00,5.00,0,0,0,0.00,LIBRO MAYOR
2047,P-1704,INGRESO,2023-06-01,2023.00,6.00,0,0,0,0.00,LIBRO MAYOR
2048,P-1704,COSTO MATERIALES,2023-06-01,2023.00,6.00,0,0,0,0.00,LIBRO MAYOR

In [97]:
# INSPECCIÓN VISUAL 2
df_libro_mayor5_mec2[df_libro_mayor5_mec2["CODIGO_PROYECTO"]=="1. TOTAL"]

,CODIGO_PROYECTO,TIPO_CUENTA,FECHA,AÑO,MES,CREDITO,DEBITO,TOTAL,MARGEN,ORIGEN
569,1. TOTAL,COSTO MANO DE OBRA,2023-05-01,2023.00,5.00,0,114373715,-114373715,0.00,LIBRO MAYOR
575,1. TOTAL,COSTO MATERIALES,2023-06-01,2023.00,6.00,4296664,158357229,-154060565,0.00,LIBRO MAYOR
581,1. TOTAL,INGRESO,2023-06-01,2023.00,6.00,191289449,58891059,132398390,0.00,LIBRO MAYOR
586,1. TOTAL,COSTO SUPERVISIÓN,2023-05-01,2023.00,5.00,0,4643261,-4643261,0.00,LIBRO MAYOR
2609,1. TOTAL,COSTO MANO DE OBRA,2023-05-01,2023.00,5.00,0,0,0,0.00,LIBRO MAYOR
2610,1. TOTAL,COSTO SUPERVISIÓN,2023-05-01,2023.00,5.00,0,0,0,0.00,LIBRO MAYOR
2623,1. TOTAL,INGRESO,2023-06-01,2023.00,6.00,0,0,0,0.00,LIBRO MAYOR
2624,1. TOTAL,COSTO MATERIALES,2023-06-01,2023.00,6.00,0,0,0,0.00,LIBRO MAYOR

#### 3.1.17-1 - CREACIÓN DF **LIBRO MAYOR PARA MES EN CURSO 2**
Este dataframe es para considerar como mes en curso de 2 meses atrás, de esta forma se puede evaluar el mes cerrado.

In [98]:
# Se crea un nuevo dataframe basado en df_libro_mayor5, la palabra "mec" significa mes en curso.

df_libro_mayor5_mec_2M = df_libro_mayor5.copy()
df_libro_mayor5_mec_2M.shape
print("DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: df_libro_mayor5_mec_2M  : ", df_libro_mayor5_mec_2M.shape)
df_libro_mayor5_mec_2M.sample(3)

DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: df_libro_mayor5_mec_2M  :  (2627, 9)

,CODIGO_PROYECTO,TIPO_CUENTA,FECHA,AÑO,MES,CREDITO,DEBITO,TOTAL,MARGEN
729,P-1612,COSTO MANO DE OBRA,2023-06-01,2023.00,6.00,0,0,0,0.00
2168,P-1709,COSTO MATERIALES,2023-06-01,2023.00,6.00,0,0,0,0.00
1058,P-1656,COSTO SUPERVISIÓN,2023-02-01,2023.00,2.00,0,0,0,0.00

In [99]:
# Se crea una nueva columna para categorizar el origen de los datos.

df_libro_mayor5_mec_2M["ORIGEN"]="LIBRO MAYOR"
df_libro_mayor5_mec_2M.sample(5)

,CODIGO_PROYECTO,TIPO_CUENTA,FECHA,AÑO,MES,CREDITO,DEBITO,TOTAL,MARGEN,ORIGEN
1598,P-1685,COSTO SUPERVISIÓN,2023-04-01,2023.00,4.00,0,0,0,0.00,LIBRO MAYOR
836,P-1639,COSTO MATERIALES,2023-01-01,2023.00,1.00,0,0,0,0.00,LIBRO MAYOR
130,P-1684,INGRESO,2023-03-01,2023.00,3.00,2395792,0,2395792,0.00,LIBRO MAYOR
1673,P-1688,COSTO MANO DE OBRA,2023-05-01,2023.00,5.00,0,0,0,0.00,LIBRO MAYOR
2244,P-1715,COSTO MATERIALES,2023-04-01,2023.00,4.00,0,0,0,0.00,LIBRO MAYOR

In [100]:
# Filtro para TIPO_CUENTA y FECHA
from datetime import datetime, timedelta

df_libro_mayor5_mec_2M['FECHA'] = pd.to_datetime(df_libro_mayor5_mec_2M['FECHA'])

# Filtro para INGRESO Y COSTO DE MATERIALES
mes_anterior = (datetime.now() - timedelta(days=30)).month

filtro_ingreso_materiales = ((df_libro_mayor5_mec_2M['TIPO_CUENTA'] == 'INGRESO') | 
                             (df_libro_mayor5_mec_2M['TIPO_CUENTA'] == 'COSTO MATERIALES')) & \
                            (df_libro_mayor5_mec_2M['FECHA'].dt.month == mes_anterior)

# Filtro para SUPERVISIÓN del mes anterior
mes_anterior2 = (datetime.now() - timedelta(days=60)).month

filtro_supervision_mes_anterior = (df_libro_mayor5_mec_2M['TIPO_CUENTA'] == 'COSTO SUPERVISIÓN') & \
                                  (df_libro_mayor5_mec_2M['FECHA'].dt.month == mes_anterior2)


# Filtro para COSTO_MANO_OBRA del mes anterior
mes_anterior2 = (datetime.now() - timedelta(days=60)).month

filtro_mo_mes_anterior = (df_libro_mayor5_mec_2M['TIPO_CUENTA'] == 'COSTO MANO DE OBRA') & \
                                  (df_libro_mayor5_mec_2M['FECHA'].dt.month == mes_anterior2)

# Combinar los filtros en un filtro general
filtro_general = filtro_ingreso_materiales | filtro_supervision_mes_anterior  | filtro_mo_mes_anterior

# Crear el sub-dataframe filtrado
df_libro_mayor5_mec_2M = df_libro_mayor5_mec_2M[filtro_general]

print("DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: df_libro_mayor5_mec_2M  : ", df_libro_mayor5_mec_2M.shape)

df_libro_mayor5_mec_2M.sample(5)

DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: df_libro_mayor5_mec_2M  :  (456, 10)

,CODIGO_PROYECTO,TIPO_CUENTA,FECHA,AÑO,MES,CREDITO,DEBITO,TOTAL,MARGEN,ORIGEN
2246,P-1715,COSTO SUPERVISIÓN,2023-04-01,2023.00,4.00,0,0,0,0.00,LIBRO MAYOR
1455,P-1679,INGRESO,2023-05-01,2023.00,5.00,0,0,0,0.00,LIBRO MAYOR
246,P-1696,COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,0,1750141,-1750141,0.00,LIBRO MAYOR
2341,P-1719,COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,0,0,0,0.00,LIBRO MAYOR
442,P-1715,COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,0,3709490,-3709490,0.00,LIBRO MAYOR

In [101]:
# INSPECCIÓN VISUAL 1
df_libro_mayor5_mec_2M[df_libro_mayor5_mec_2M["CODIGO_PROYECTO"]=="P-1704"]

,CODIGO_PROYECTO,TIPO_CUENTA,FECHA,AÑO,MES,CREDITO,DEBITO,TOTAL,MARGEN,ORIGEN
327,P-1704,COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,0,14242535,-14242535,0.00,LIBRO MAYOR
333,P-1704,COSTO MATERIALES,2023-05-01,2023.00,5.00,0,13967551,-13967551,0.00,LIBRO MAYOR
339,P-1704,INGRESO,2023-05-01,2023.00,5.00,132309997,53250000,79059997,0.00,LIBRO MAYOR
2029,P-1704,COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,0,0,0,0.00,LIBRO MAYOR
2030,P-1704,COSTO SUPERVISIÓN,2023-04-01,2023.00,4.00,0,0,0,0.00,LIBRO MAYOR
2031,P-1704,INGRESO,2023-05-01,2023.00,5.00,0,0,0,0.00,LIBRO MAYOR
2032,P-1704,COSTO MATERIALES,2023-05-01,2023.00,5.00,0,0,0,0.00,LIBRO MAYOR

In [102]:
# INSPECCIÓN VISUAL 2
df_libro_mayor5_mec_2M[df_libro_mayor5_mec_2M["CODIGO_PROYECTO"]=="1. TOTAL"]

,CODIGO_PROYECTO,TIPO_CUENTA,FECHA,AÑO,MES,CREDITO,DEBITO,TOTAL,MARGEN,ORIGEN
568,1. TOTAL,COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,0,111885468,-111885468,0.00,LIBRO MAYOR
574,1. TOTAL,COSTO MATERIALES,2023-05-01,2023.00,5.00,8533707,178069095,-169535388,0.00,LIBRO MAYOR
580,1. TOTAL,INGRESO,2023-05-01,2023.00,5.00,631496823,170698310,460798513,0.00,LIBRO MAYOR
585,1. TOTAL,COSTO SUPERVISIÓN,2023-04-01,2023.00,4.00,0,5096121,-5096121,0.00,LIBRO MAYOR
2605,1. TOTAL,COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,0,0,0,0.00,LIBRO MAYOR
2606,1. TOTAL,COSTO SUPERVISIÓN,2023-04-01,2023.00,4.00,0,0,0,0.00,LIBRO MAYOR
2607,1. TOTAL,INGRESO,2023-05-01,2023.00,5.00,0,0,0,0.00,LIBRO MAYOR
2608,1. TOTAL,COSTO MATERIALES,2023-05-01,2023.00,5.00,0,0,0,0.00,LIBRO MAYOR

#### 3.1.18 - CREACIÓN DF **LIBRO MAYOR PARA YTD MES PROYECTADO (Incluyendo mes actual)**

In [103]:
# Se crea una copia del dataframe 

df_libro_mayor_ytd2 = df_libro_mayor5.copy()
df_libro_mayor_ytd2.sample(10)

,CODIGO_PROYECTO,TIPO_CUENTA,FECHA,AÑO,MES,CREDITO,DEBITO,TOTAL,MARGEN
517,P-1723,INGRESO,2023-04-01,2023.00,4.00,33549696,15414725,18134971,0.00
1511,P-1681,INGRESO,2023-02-01,2023.00,2.00,0,0,0,0.00
1396,P-1675,COSTO MATERIALES,2023-03-01,2023.00,3.00,0,0,0,0.00
1979,P-1701,INGRESO,2023-04-01,2023.00,4.00,0,0,0,0.00
2217,P-1713,COSTO MANO DE OBRA,2023-06-01,2023.00,6.00,0,0,0,0.00
1580,P-1684,COSTO MATERIALES,2023-01-01,2023.00,1.00,0,0,0,0.00
510,P-1723,COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,0,7889395,-7889395,0.00
241,P-1695,INGRESO,2023-05-01,2023.00,5.00,12859444,0,12859444,0.00
348,P-1705,INGRESO,2023-02-01,2023.00,2.00,47975,0,47975,0.00
1075,P-1658,INGRESO,2023-01-01,2023.00,1.00,0,0,0,0.00

In [104]:
# crear pivot table sin margenes

df_libro_mayor_ytd2_closed_piv = pd.pivot_table(df_libro_mayor_ytd2, values=['TOTAL'], index=['CODIGO_PROYECTO', 'TIPO_CUENTA'], aggfunc='sum', fill_value=0)

df_libro_mayor_ytd2_closed_piv = pd.DataFrame(df_libro_mayor_ytd2_closed_piv.to_records())

print("DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: df_libro_mayor_ytd2_closed_piv  : ", df_libro_mayor_ytd2_closed_piv.shape)

df_libro_mayor_ytd2_closed_piv.sample(10)

DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: df_libro_mayor_ytd2_closed_piv  :  (341, 3)

    CODIGO_PROYECTO         TIPO_CUENTA     TOTAL
323          P-1725   COSTO SUPERVISIÓN         0
332          P-1727             INGRESO  28570952
106          P-1666    COSTO MATERIALES    -89550
302          P-1720    COSTO MATERIALES         0
291          P-1717   COSTO SUPERVISIÓN         0
225          P-1698  COSTO MANO DE OBRA         0
53           P-1642  COSTO MANO DE OBRA         0
251          P-1705   COSTO SUPERVISIÓN         0
243          P-1703   COSTO SUPERVISIÓN         0
271          P-1712   COSTO SUPERVISIÓN         0

#### 3.1.18-2 - CREACIÓN DF **LIBRO MAYOR PARA YTD MES PROYECTADO (Incluyendo mes actual) 2**

In [105]:
# Obtener el mes actual
mes_actual = datetime.now().month

# Filtrar los registros hasta el mes anterior al mes actual
df_libro_mayor_ytd2_1M = df_libro_mayor_ytd2[df_libro_mayor_ytd2['MES'] < mes_actual]

# Mostrar el nuevo DataFrame
print("DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: df_libro_mayor_ytd2_1M  : ", df_libro_mayor_ytd2_1M.shape)
df_libro_mayor_ytd2_1M.sample(5)

DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: df_libro_mayor_ytd2_1M  :  (2230, 9)

,CODIGO_PROYECTO,TIPO_CUENTA,FECHA,AÑO,MES,CREDITO,DEBITO,TOTAL,MARGEN
1260,P-1669,COSTO MATERIALES,2023-04-01,2023.00,4.00,0,0,0,0.00
1347,P-1673,INGRESO,2023-03-01,2023.00,3.00,0,0,0,0.00
1829,P-1694,COSTO MANO DE OBRA,2023-03-01,2023.00,3.00,0,0,0,0.00
669,P-1603,COSTO MANO DE OBRA,2023-01-01,2023.00,1.00,0,0,0,0.00
1177,P-1664,COSTO MANO DE OBRA,2023-02-01,2023.00,2.00,0,0,0,0.00

In [106]:
# crear pivot table sin margenes

df_libro_mayor_ytd2_closed_piv_1M = pd.pivot_table(df_libro_mayor_ytd2_1M, values=['TOTAL'], index=['CODIGO_PROYECTO', 'TIPO_CUENTA'], aggfunc='sum', fill_value=0)

df_libro_mayor_ytd2_closed_piv_1M = pd.DataFrame(df_libro_mayor_ytd2_closed_piv_1M.to_records())

print("DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: df_libro_mayor_ytd2_closed_piv_1M  : ", df_libro_mayor_ytd2_closed_piv_1M.shape)

df_libro_mayor_ytd2_closed_piv_1M.sample(10)

DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: df_libro_mayor_ytd2_closed_piv_1M  :  (340, 3)

    CODIGO_PROYECTO         TIPO_CUENTA     TOTAL
149          P-1679    COSTO MATERIALES    -96622
196          P-1691  COSTO MANO DE OBRA   -252060
329          P-1727    COSTO MATERIALES -13655419
164          P-1683  COSTO MANO DE OBRA         0
43           P-1636             INGRESO         0
10           P-1591   COSTO SUPERVISIÓN         0
92           P-1661  COSTO MANO DE OBRA         0
89           P-1660    COSTO MATERIALES    164798
165          P-1683    COSTO MATERIALES     31328
277          P-1714    COSTO MATERIALES  -6486288

#### 3.1.19 - CREACIÓN DE DATAFRAME BASE LIBRO MAYOR 2023 PARA EL CRUCE OTROS DATAFRAMES

##### NOTA IMPORTANTE
##### Se considera que todos los dataframes que pintan los dashboards deben tener como base los proyectos abiertos en el Libro Mayor 2023. Para esto se crea el dataframe base con el cual debe comenzar cualquier cruce de datos y que considera el código del proyecto, todos los tipos de cuenta por cada proyecto y con valor en cero, además se cruza con la tabla codigo de proyecto.

In [107]:
df_libro_mayor5_base = df_libro_mayor5.copy()

In [108]:
print(df_libro_mayor5_base["CODIGO_PROYECTO"].unique())

print("DIMENSIONES ANTES DE CAMBIOS DATAFRAME: df_libro_mayor5_base   : ", df_libro_mayor5_base.shape)

df_libro_mayor5_base = df_libro_mayor5_base[['CODIGO_PROYECTO','TIPO_CUENTA']].drop_duplicates()

# Se elimina fila de TOTAL
df_libro_mayor5_base = df_libro_mayor5_base[df_libro_mayor5_base['CODIGO_PROYECTO'] != '1. TOTAL']

# Se Reemplazan valores de la column TIPO_CUENTA
df_libro_mayor5_base['TIPO_CUENTA'] = df_libro_mayor5_base['TIPO_CUENTA'].replace({
    'INGRESO': '1. INGRESO',
    'COSTO MATERIALES': '2. COSTO MATERIALES',
    'COSTO MANO DE OBRA': '3. COSTO MANO DE OBRA',
    'COSTO SUPERVISIÓN': '4. COSTO SUPERVISIÓN'
})

df_libro_mayor5_base['TOTAL_LB']= 0

print("DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_libro_mayor5_base : ", df_libro_mayor5_base.shape)
df_libro_mayor5_base.sample(10)

['P-1557' 'P-1591' 'P-1592' 'P-1603' 'P-1611' 'P-1612' 'P-1620' 'P-1626'
 'P-1632' 'P-1636' 'P-1639' 'P-1641' 'P-1642' 'P-1643' 'P-1644' 'P-1645'
 'P-1648' 'P-1649' 'P-1653' 'P-1656' 'P-1658' 'P-1660' 'P-1661' 'P-1663'
 'P-1664' 'P-1666' 'P-1667' 'P-1668' 'P-1669' 'P-1670' 'P-1672' 'P-1673'
 'P-1674' 'P-1675' 'P-1676' 'P-1677' 'P-1679' 'P-1680' 'P-1681' 'P-1682'
 'P-1683' 'P-1684' 'P-1685' 'P-1686' 'P-1687' 'P-1688' 'P-1689' 'P-1690'
 'P-1691' 'P-1692' 'P-1693' 'P-1694' 'P-1695' 'P-1696' 'P-1697' 'P-1698'
 'P-1699' 'P-1700' 'P-1701' 'P-1703' 'P-1704' 'P-1705' 'P-1706' 'P-1707'
 'P-1708' 'P-1709' 'P-1712' 'P-1713' 'P-1714' 'P-1715' 'P-1716' 'P-1717'
 'P-1718' 'P-1719' 'P-1720' 'P-1721' 'P-1722' 'P-1723' 'P-1724' 'P-1725'
 'P-1726' 'P-1727' 'P-1728' 'P-1729' '1. TOTAL']
DIMENSIONES ANTES DE CAMBIOS DATAFRAME: df_libro_mayor5_base   :  (2627, 9)
DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_libro_mayor5_base :  (336, 3)

     CODIGO_PROYECTO            TIPO_CUENTA  TOTAL_LB
1214          P-1667   4. COSTO SUPERVISIÓN         0
387           P-1709    2. COSTO MATERIALES         0
1549          P-1683  3. COSTO MANO DE OBRA         0
229           P-1695  3. COSTO MANO DE OBRA         0
1142          P-1663   4. COSTO SUPERVISIÓN         0
1862          P-1696   4. COSTO SUPERVISIÓN         0
806           P-1636   4. COSTO SUPERVISIÓN         0
635           P-1592             1. INGRESO         0
266           P-1697             1. INGRESO         0
731           P-1620             1. INGRESO         0

In [109]:
# Se Agrega COSTO DE SUPERVISIÓN

nueva_fila = pd.DataFrame({'CODIGO_PROYECTO': ['1. TOTAL'],
                           'TIPO_CUENTA': ['4. COSTO SUPERVISIÓN'],
                           'TOTAL_LB': [0]})

df_libro_mayor5_base = pd.concat([df_libro_mayor5_base, nueva_fila], ignore_index=True)

df_libro_mayor5_base[df_libro_mayor5_base["CODIGO_PROYECTO"]=="1. TOTAL"]
print(df_libro_mayor5_base["CODIGO_PROYECTO"].unique())
print("DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_libro_mayor5_base : ", df_libro_mayor5_base.shape)

['P-1557' 'P-1591' 'P-1592' 'P-1603' 'P-1611' 'P-1612' 'P-1620' 'P-1626'
 'P-1632' 'P-1636' 'P-1639' 'P-1641' 'P-1642' 'P-1643' 'P-1644' 'P-1645'
 'P-1648' 'P-1649' 'P-1653' 'P-1656' 'P-1658' 'P-1660' 'P-1661' 'P-1663'
 'P-1664' 'P-1666' 'P-1667' 'P-1668' 'P-1669' 'P-1670' 'P-1672' 'P-1673'
 'P-1674' 'P-1675' 'P-1676' 'P-1677' 'P-1679' 'P-1680' 'P-1681' 'P-1682'
 'P-1683' 'P-1684' 'P-1685' 'P-1686' 'P-1687' 'P-1688' 'P-1689' 'P-1690'
 'P-1691' 'P-1692' 'P-1693' 'P-1694' 'P-1695' 'P-1696' 'P-1697' 'P-1698'
 'P-1699' 'P-1700' 'P-1701' 'P-1703' 'P-1704' 'P-1705' 'P-1706' 'P-1707'
 'P-1708' 'P-1709' 'P-1712' 'P-1713' 'P-1714' 'P-1715' 'P-1716' 'P-1717'
 'P-1718' 'P-1719' 'P-1720' 'P-1721' 'P-1722' 'P-1723' 'P-1724' 'P-1725'
 'P-1726' 'P-1727' 'P-1728' 'P-1729' '1. TOTAL']
DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_libro_mayor5_base :  (337, 3)

In [110]:
# Crear DataFrame con TIPO_CUENTA y valor cero para cada combinación única

df_nuevo = pd.DataFrame({
    'CODIGO_PROYECTO': df_libro_mayor5_base['CODIGO_PROYECTO'].repeat(4),
    'TIPO_CUENTA': ['1. INGRESO', '2. COSTO MATERIALES', '3. COSTO MANO DE OBRA', '4. COSTO SUPERVISIÓN'] * len(df_libro_mayor5_base),
    'TOTAL_LB': 0
})

print("DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_libro_mayor5_base : ", df_libro_mayor5_base.shape)
print("DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_nuevo             : ", df_nuevo.shape)

df_libro_mayor5_base = pd.concat([df_libro_mayor5_base, df_nuevo], ignore_index=True)

# Se remueve cualquier duplicado.
df_libro_mayor5_base.drop_duplicates(inplace=True)

print("DIMENSIONES ANTERIOR DESPUÉS DE CAMBIOS DATAFRAME: df_libro_mayor5_base : ", df_libro_mayor5_base.shape)
df_libro_mayor5_base.sample(5)

DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_libro_mayor5_base :  (337, 3)
DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_nuevo             :  (1348, 3)
DIMENSIONES ANTERIOR DESPUÉS DE CAMBIOS DATAFRAME: df_libro_mayor5_base :  (340, 3)

    CODIGO_PROYECTO            TIPO_CUENTA  TOTAL_LB
306          P-1707   4. COSTO SUPERVISIÓN         0
209          P-1643  3. COSTO MANO DE OBRA         0
1            P-1591  3. COSTO MANO DE OBRA         0
65           P-1688  3. COSTO MANO DE OBRA         0
15           P-1645    2. COSTO MATERIALES         0

In [111]:
# INSPECCIÓN VISUAL 1
df_libro_mayor5_base.sort_values(by=['CODIGO_PROYECTO','TIPO_CUENTA']).head(10)

     CODIGO_PROYECTO            TIPO_CUENTA  TOTAL_LB
1681        1. TOTAL             1. INGRESO         0
1682        1. TOTAL    2. COSTO MATERIALES         0
1683        1. TOTAL  3. COSTO MANO DE OBRA         0
336         1. TOTAL   4. COSTO SUPERVISIÓN         0
169           P-1557             1. INGRESO         0
170           P-1557    2. COSTO MATERIALES         0
0             P-1557  3. COSTO MANO DE OBRA         0
171           P-1557   4. COSTO SUPERVISIÓN         0
172           P-1591             1. INGRESO         0
173           P-1591    2. COSTO MATERIALES         0

In [112]:
# MERGE CON CODIGO_PROYECTO

# Se crea dataframe de codigos de proyecto y se aplica mayúscula
df_cod_proyecto_base = df_cod_proyecto.applymap(lambda s: s.upper() if isinstance(s, str) else s)

# Se hace merge con los codigos de proyecto.

print("DIMENSIONES ANTES   DE CAMBIOS DATAFRAME: df_libro_mayor5_base : ", df_libro_mayor5_base.shape)

df_libro_mayor5_base2 = pd.merge(df_libro_mayor5_base, df_cod_proyecto_base, on=['CODIGO_PROYECTO'], how='left')

print("DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_libro_mayor5_base : ", df_libro_mayor5_base.shape)

df_libro_mayor5_base2.sample(10)

DIMENSIONES ANTES   DE CAMBIOS DATAFRAME: df_libro_mayor5_base :  (340, 3)
DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_libro_mayor5_base :  (340, 3)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE
18,P-1649,2. COSTO MATERIALES,0,INACAP VITACURA E2,CONSTRUCTORA CUEVAS Y PURCELL S.A.
46,P-1679,2. COSTO MATERIALES,0,JUAN SABAJ,CONSTRUCTORA GREVIA
268,P-1679,1. INGRESO,0,JUAN SABAJ,CONSTRUCTORA GREVIA
76,P-1692,2. COSTO MATERIALES,0,JOSÉ PEREZ COTAPOS,EBCO S.A.
205,P-1642,1. INGRESO,0,CORINTO,EMP. CONSTRUCTORA INGENIEROS S.A.
185,P-1612,3. COSTO MANO DE OBRA,0,BARRIO PARQUE SANTIAGO 7,CONSTRUCTORA ALTURAS DEL SUR S.A
166,P-1728,3. COSTO MANO DE OBRA,0,NaN,NaN
139,P-1717,2. COSTO MATERIALES,0,ECO QUILÍN I,CONSTRUCTORA ICF SPA
26,P-1666,2. COSTO MATERIALES,0,CD AXIONLONG,EBCO S.A.
285,P-1689,1. INGRESO,0,CASINO BUENAVENTURA,EBCO S.A.

In [113]:
# Modificar las columnas "NOMBRE_OBRA" y "NOMBRE_CLIENTE" para "1. TOTAL"

df_libro_mayor5_base2.loc[df_libro_mayor5_base2['CODIGO_PROYECTO'] == '1. TOTAL', ['NOMBRE_OBRA', 'NOMBRE_CLIENTE']] = '1. TOTAL'

df_libro_mayor5_base2.sample(10)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE
194,P-1632,3. COSTO MANO DE OBRA,0,CHORRILLOS CLOROX,CONSTRUCTORA SUKSA S.A.
284,P-1688,4. COSTO SUPERVISIÓN,0,SUIZA,MOLLER Y PEREZ - COTAPOS CONSTRUCCIONES INDUST...
187,P-1620,1. INGRESO,0,"OF APOQUINDO- HABILITACIONES, INTEGRACION Y AD...",CONSTRUCTORA INARCO S.A.
2,P-1592,2. COSTO MATERIALES,0,NUEVA COSTANERA 3300,EBCO S.A.
110,P-1705,2. COSTO MATERIALES,0,LOS CLARINES,CONSTRUCTORA INARCO S.A.
163,P-1727,3. COSTO MANO DE OBRA,0,NaN,NaN
47,P-1680,3. COSTO MANO DE OBRA,0,NUEVA UNO,CONSTRUCTORA TECSA S.A.
233,P-1660,4. COSTO SUPERVISIÓN,0,CORONEL ALVARADO,LARRAIN PRIETO RISOPATRON S.A.
209,P-1643,3. COSTO MANO DE OBRA,0,CHORRILLOS M4,CONSTRUCTORA SUKSA S.A.
285,P-1689,1. INGRESO,0,CASINO BUENAVENTURA,EBCO S.A.

In [114]:
# INSPECCIÓN VISUAL 1

df_libro_mayor5_base2[df_libro_mayor5_base2['CODIGO_PROYECTO']=="1. TOTAL"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE
336,1. TOTAL,4. COSTO SUPERVISIÓN,0,1. TOTAL,1. TOTAL
337,1. TOTAL,1. INGRESO,0,1. TOTAL,1. TOTAL
338,1. TOTAL,2. COSTO MATERIALES,0,1. TOTAL,1. TOTAL
339,1. TOTAL,3. COSTO MANO DE OBRA,0,1. TOTAL,1. TOTAL

In [115]:
# INSPECCIÓN VISUAL 2

df_libro_mayor5_base2[df_libro_mayor5_base2['CODIGO_PROYECTO']=="P-1704"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE
106,P-1704,3. COSTO MANO DE OBRA,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.
107,P-1704,2. COSTO MATERIALES,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.
108,P-1704,1. INGRESO,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.
303,P-1704,4. COSTO SUPERVISIÓN,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.

In [116]:
df_libro_mayor5_base2.to_csv('archivos_respaldo/df_libro_mayor5_base2.csv', index = False)

### 3.2 - TRATAMIENTO DE DESPACHOS REALIZADOS

#### 3.2.1 - Creación de dataframe copia

In [ ]:
df_desp_realizados2 = df_desp_realizados.copy()
df_desp_realizados2.head(5)

#### 3.2.2 - Se eliminan proyectos relacionados a STT, P-Proyectos, P-Servicios, P-Mantención

In [ ]:
df_desp_realizados2["COD_PROYECTO"].unique()

In [ ]:
valores_eliminar = ['STT', 'P-Proyectos', 'P-Servicios', 'P-Mantención','P-Oficina''P-ANALISIS PROYE','P-ANALISIS PROYE','P-PROYECTOS','P-Oficina','nan']

# Convertir los valores a eliminar y la columna 'PROYECTO' a mayúsculas
valores_eliminar_mayusculas = [valor.upper() for valor in valores_eliminar]
df_desp_realizados2['PROYECTO_MAYUS'] = df_desp_realizados2['COD_PROYECTO'].str.upper()

# Filtrar las filas que no contengan los valores a eliminar
df_desp_realizados3 = df_desp_realizados2[~df_desp_realizados2['PROYECTO_MAYUS'].isin(valores_eliminar_mayusculas)]

# Eliminar la columna auxiliar 'PROYECTO_MAYUS'
df_desp_realizados3 = df_desp_realizados3.drop(columns=['PROYECTO_MAYUS'])

df_desp_realizados3.sample(10)

#### 3.2.2 - Se eliminan Tipos de movimientos diferentes a VCO y GDP

In [ ]:
# Reemplazar los valores NaN en la columna "TIPO MOVIMIENTO" con una cadena vacía
df_desp_realizados3['TIPO_x0020_MOVIMIENTO'] = df_desp_realizados3['TIPO_x0020_MOVIMIENTO'].fillna('')

# Filtrar las filas donde "TIPO MOVIMIENTO" sea igual a "VCO" o "GDP" y excluir otros valores

mask = df_desp_realizados3['TIPO_x0020_MOVIMIENTO'].isin(['VCO', 'GDP'])
df_desp_realizados3 = df_desp_realizados3[mask]

In [ ]:
# Se realiza la evaluación de dimensiones después de la eliminación de filas
print("\nDataframe Original antes de los cambios:")
print(df_desp_realizados.shape)
print("Dataframe después de eliminar registros:")
print(df_desp_realizados3.shape)

df_desp_realizados3.to_csv('df_desp_realizados3.csv', index = False)

In [ ]:
# Convertir la columna 'FECHA GUIA' a objetos de fecha y hora, manejando campos en blanco o no válidos como fechas
df_desp_realizados3['FECHA GUIA 2'] = pd.to_datetime(df_desp_realizados3['FECHA_x0020_GUIA'], errors='coerce')

# Extraer el MES y el AÑO en nuevas columnas utilizando funciones lambda y apply()
df_desp_realizados3['MES'] = df_desp_realizados3['FECHA GUIA 2'].apply(lambda x: x.month if pd.notnull(x) else None)
df_desp_realizados3['AÑO'] = df_desp_realizados3['FECHA GUIA 2'].apply(lambda x: x.year if pd.notnull(x) else None)

df_desp_realizados3.sample(5)

#### 3.2.4 - Se realizan tablas pivot

In [ ]:
df_desp_realizados3['COSTO_x0020_TOTAL'] = df_desp_realizados3['COSTO_x0020_TOTAL'].astype(int)
df_desp_realizados3['CANTIDAD'] = df_desp_realizados3['CANTIDAD'].astype(float)

In [ ]:
df_desp_realizados3.columns

In [ ]:
# Crear el pivot dataframe
df_desp_realizados4 = pd.pivot_table(df_desp_realizados3, 
                          values=['CANTIDAD', 'COSTO_x0020_TOTAL'], 
                          index=['COD_PROYECTO', 'AÑO', 'MES'], 
                          aggfunc='sum', 
                          columns='TIPO_x0020_MOVIMIENTO')

df_desp_realizados4 = pd.DataFrame(df_desp_realizados4.to_records())

df_desp_realizados4.sample(10)

#### 3.2.5 - Se renombran columnas

In [ ]:
df_desp_realizados4 = df_desp_realizados4.rename(columns={'COD_PROYECTO': 'CODIGO_PROYECTO'})
df_desp_realizados4 = df_desp_realizados4.rename(columns={"('CANTIDAD', 'GDP')": "CANT. GDP"})
df_desp_realizados4 = df_desp_realizados4.rename(columns={"('CANTIDAD', 'VCO')": "CANT. VCO"})
df_desp_realizados4 = df_desp_realizados4.rename(columns={"('COSTO_x0020_TOTAL', 'GDP')": "TOTAL. GDP"})
df_desp_realizados4 = df_desp_realizados4.rename(columns={"('COSTO_x0020_TOTAL', 'VCO')": "TOTAL. VCO"})

df_desp_realizados4.sample(5)

#### 3.2.6 - Se reemplazas columnas NaN por ceros y se crea columna de TOTAL GPD-VCO

In [ ]:
df_desp_realizados4.fillna(0, inplace=True)
df_desp_realizados4['TOTAL. VCO - GDP'] = df_desp_realizados4['TOTAL. VCO'] - df_desp_realizados4['TOTAL. GDP']
df_desp_realizados4.sample(5)

#### 3.2.7 - Se seleccionan solamente los registros del mes y año en curso

In [ ]:
# Obtener el año y mes actual
#now = datetime.datetime.now()

now = datetime.now()
current_year = now.year
print(current_year)
current_month = now.month
print(current_month)
print("Dimensiones antes del filtro", df_desp_realizados4.shape)

# Filtrar el dataframe por año y mes
df_desp_realizados5 = df_desp_realizados4[(df_desp_realizados4['AÑO'] == current_year) & (df_desp_realizados4['MES'] == current_month)]
print("Dimensiones después del filtro", df_desp_realizados5.shape)
df_desp_realizados5.sample(5)

#### 3.2.7-2 - Se seleccionan solamente los registros del mes y año en curso 2
Se considera esta línea para poblar la vista del mes anterior.

In [ ]:
# Obtener el año y mes actual
#now = datetime.datetime.now()

now = datetime.now()
current_year = now.year
print(current_year)
current_month = now.month
print(current_month)
print("Dimensiones antes del filtro", df_desp_realizados4.shape)

mes_anterior = (datetime.now() - timedelta(days=30)).month

# Filtrar el dataframe por año y mes
df_desp_realizados5_1M = df_desp_realizados4[(df_desp_realizados4['AÑO'] == current_year) & (df_desp_realizados4['MES'] == mes_anterior)]
print("Dimensiones después del filtro", df_desp_realizados5_1M.shape)
df_desp_realizados5_1M.sample(5)

#### 3.2.8 - Se agrega la fila TOTAL

In [ ]:
# Obtener la suma de cada columna y guardarla en un diccionario

print("Dimensiones antes del filtro", df_desp_realizados5.shape)

total_row = {
    'CODIGO_PROYECTO': 'TOTAL',
    'AÑO': df_desp_realizados5['AÑO'].iloc[0], # Obtener el valor del año de la primera fila
    'MES': df_desp_realizados5['MES'].iloc[0], # Obtener el valor del mes de la primera fila
    'CANT. GDP': df_desp_realizados5['CANT. GDP'].sum(),
    'CANT. VCO': df_desp_realizados5['CANT. VCO'].sum(),
    'TOTAL. GDP': df_desp_realizados5['TOTAL. GDP'].sum(),
    'TOTAL. VCO': df_desp_realizados5['TOTAL. VCO'].sum(),
    'TOTAL. VCO - GDP': df_desp_realizados5['TOTAL. VCO - GDP'].sum()
}

total_df = pd.DataFrame(total_row, index=[0]) # Crear un nuevo DataFrame con la fila 'TOTAL'
df_desp_realizados5 = pd.concat([df_desp_realizados5, total_df], ignore_index=True) # Concatenar el nuevo DataFrame con el original

#df_desp_realizados5["TIPO_CUENTA"]= df_desp_realizados5["TOTAL. VCO - GDP"]
df_desp_realizados5["TOTAL"]= df_desp_realizados5["TOTAL. VCO - GDP"]
df_desp_realizados5["TIPO_CUENTA"]= "COSTO MATERIALES"

df_desp_realizados5.sample()

print("Dimensiones después del filtro", df_desp_realizados5.shape)

df_desp_realizados5.sample(5)

#### 3.2.8-2 - Se agrega la fila TOTAL 2

In [ ]:
# Obtener la suma de cada columna y guardarla en un diccionario

print("Dimensiones antes del filtro", df_desp_realizados5_1M.shape)

total_row = {
    'CODIGO_PROYECTO': 'TOTAL',
    'AÑO': df_desp_realizados5_1M['AÑO'].iloc[0], # Obtener el valor del año de la primera fila
    'MES': df_desp_realizados5_1M['MES'].iloc[0], # Obtener el valor del mes de la primera fila
    'CANT. GDP': df_desp_realizados5_1M['CANT. GDP'].sum(),
    'CANT. VCO': df_desp_realizados5_1M['CANT. VCO'].sum(),
    'TOTAL. GDP': df_desp_realizados5_1M['TOTAL. GDP'].sum(),
    'TOTAL. VCO': df_desp_realizados5_1M['TOTAL. VCO'].sum(),
    'TOTAL. VCO - GDP': df_desp_realizados5_1M['TOTAL. VCO - GDP'].sum()
}

total_df = pd.DataFrame(total_row, index=[0]) # Crear un nuevo DataFrame con la fila 'TOTAL'
df_desp_realizados5_1M = pd.concat([df_desp_realizados5_1M, total_df], ignore_index=True) # Concatenar el nuevo DataFrame con el original

#df_desp_realizados5["TIPO_CUENTA"]= df_desp_realizados5["TOTAL. VCO - GDP"]
df_desp_realizados5_1M["TOTAL"]= df_desp_realizados5_1M["TOTAL. VCO - GDP"]
df_desp_realizados5_1M["TIPO_CUENTA"]= "COSTO MATERIALES"

print("Dimensiones después del filtro", df_desp_realizados5_1M.shape)

df_desp_realizados5_1M.sample(5)

In [ ]:
df_desp_realizados5.to_csv('archivos_respaldo/df_desp_realizados5.csv', mode='a')
df_desp_realizados5_1M.to_csv('archivos_respaldo/df_desp_realizados5_1M.csv', mode='a')

### 3.4 TRATAMIENTO "PROYECTADO"

#### 3.4.1 CREACIÓN NUEVO DATAFRAME DE COPIA.

In [769]:
df_proyectado2 = df_proyectado
df_proyectado2.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16361,Unnamed: 16362,Unnamed: 16363,Unnamed: 16364,Unnamed: 16365,Unnamed: 16366,Unnamed: 16367,Unnamed: 16368,Unnamed: 16369,Unnamed: 16370
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,OBRA,PROYECTO,PROYECTO2,MATERIALES,DESPACHOS A LA FECHA,CONTROL MATERIALES,MANO DE OBRA,PRESENTACION EPP,PROYECCIÓN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,CERRADA,P-1600,TERRANOVA,NaN,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,CERRADA,P-1601,CUATRE CASAS,NaN,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,CERRADA,P-1615,ECO SANTIAGO,NaN,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 3.4.1-2 CREACIÓN NUEVO DATAFRAME DE COPIA 2.

In [770]:
df_proyectado2_1M = df_proyectado_1M
df_proyectado2_1M.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16361,Unnamed: 16362,Unnamed: 16363,Unnamed: 16364,Unnamed: 16365,Unnamed: 16366,Unnamed: 16367,Unnamed: 16368,Unnamed: 16369,Unnamed: 16370
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,OBRA,PROYECTO,PROYECTO2,MATERIALES,DESPACHOS A LA FECHA,CONTROL MATERIALES,MANO DE OBRA,PRESENTACION EPP,PROYECCIÓN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,CERRADA,P-1600,TERRANOVA,NaN,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,CERRADA,P-1601,CUATRE CASAS,NaN,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,CERRADA,P-1615,ECO SANTIAGO,NaN,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 3.4.2 LIMPIEZA DE DATAFRAME Y SELECCIÓN DE COLUMNAS UTILES

In [771]:
df_proyectado2 = df_proyectado2.drop(range(0, 6))
new_header = df_proyectado2.iloc[0]
df_proyectado2 = df_proyectado2[1:]
df_proyectado2.columns = new_header
df_proyectado2 = df_proyectado2.loc[:, ["PROYECTO", "PROYECTO2", "INGRESO","MATERIALES","MANO DE OBRA"]]
df_proyectado2.sample(10)

6,PROYECTO,PROYECTO2,INGRESO,MATERIALES,MANO DE OBRA
16,P-1654,Exequiel Fernandez 1670,NaN,NaN,NaN
64,P-1713,51 Edificio Reserva San Francisco,19080000,6000000,NaN
58,P-1705,Los Clarines,12109554.10,4500000,NaN
50,P-1697,FORTALEZA ESTOCOLMO,5000000,1000000,NaN
73,P-1722,ECO CERRILLO,NaN,NaN,NaN
22,P-1667,ECO PACILLA,NaN,NaN,NaN
45,P-1692,JOSE PEREZ COTAPO,6800000,500000,NaN
51,P-1698,PCI ANDES,NaN,NaN,NaN
30,P-1676,PORTAL LO CAMPINO,NaN,NaN,NaN
79,P-1728,VOLTA SEGREGACIÓN,NaN,NaN,NaN

#### 3.4.2-2 LIMPIEZA DE DATAFRAME Y SELECCIÓN DE COLUMNAS UTILES 2

In [772]:
df_proyectado2_1M = df_proyectado2_1M.drop(range(0, 6))
new_header = df_proyectado2_1M.iloc[0]
df_proyectado2_1M = df_proyectado2_1M[1:]
df_proyectado2_1M.columns = new_header
df_proyectado2_1M = df_proyectado2_1M.loc[:, ["PROYECTO", "PROYECTO2", "INGRESO","MATERIALES","MANO DE OBRA"]]
df_proyectado2_1M.sample(10)

6  PROYECTO                  PROYECTO2    INGRESO MATERIALES MANO DE OBRA
83      NaN                        NaN  169779486        NaN         0.46
73   P-1722               ECO CERRILLO        NaN        NaN          NaN
52   P-1699  VILLA PANAMERICANA LOTE B   21598229   18000000          NaN
51   P-1698                  PCI ANDES        NaN        NaN          NaN
61   P-1708                 Eco España    1568763        NaN          NaN
45   P-1692          JOSE PEREZ COTAPO        NaN     500000          NaN
37   P-1684                   GOYCOLEA 3335671.64    1100000          NaN
79   P-1728          VOLTA SEGREGACIÓN    6372127        NaN          NaN
13   P-1638                      COLON        NaN        NaN          NaN
7    P-1600                  TERRANOVA        NaN        NaN          NaN

In [773]:
# INSPECCIÓN VISUAL 1
df_proyectado2_1M[df_proyectado2_1M["PROYECTO"]=="P-1726"]

6  PROYECTO  PROYECTO2   INGRESO MATERIALES MANO DE OBRA
77   P-1726  LA GLORIA  25429159   10000000          NaN

#### 3.4.3 TRATAMIENTO DE DATOS NAN

In [774]:
# seleccionar las columnas deseadas
df_proyectado3 = df_proyectado2[["PROYECTO", "PROYECTO2", "INGRESO","MATERIALES","MANO DE OBRA"]]
# eliminar la columna índice
df_proyectado3 = df_proyectado3.reset_index(drop=True)
# eliminar las filas que contengan NaN en la columna P
df_proyectado3 = df_proyectado3.dropna(subset=['PROYECTO'])
# reemplazar los valores NaN en la columna INGRESO por cero
df_proyectado3['INGRESO'] = df_proyectado3['INGRESO'].fillna(0)
df_proyectado3['MATERIALES'] = df_proyectado3['MATERIALES'].fillna(0)
df_proyectado3['MANO DE OBRA'] = df_proyectado3['MANO DE OBRA'].fillna(0)

# renombrar la columna P a CODIGO_PROYECTO
df_proyectado3 = df_proyectado3.rename(columns={'PROYECTO': 'CODIGO_PROYECTO'})
df_proyectado3 = df_proyectado3.rename(columns={'PROYECTO2': 'PROYECTO'})

# poner en mayúscula el contenido de las columnas CODIGO_PROYECTO y PROYECTO
df_proyectado3['CODIGO_PROYECTO'] = df_proyectado3['CODIGO_PROYECTO'].str.upper()
df_proyectado3['PROYECTO'] = df_proyectado3['PROYECTO'].str.upper()

print("DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: df_proyectado3  : ", df_proyectado3.shape)

df_proyectado3.sample(10)

DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: df_proyectado3  :  (74, 5)

6,CODIGO_PROYECTO,PROYECTO,INGRESO,MATERIALES,MANO DE OBRA
25,P-1678,PIRER,0.00,0,0
7,P-1642,CORINTOS,0.00,0,0
67,P-1723,VILLA PANAMERICANA LOTE C,85000000.00,31000000,0
36,P-1690,ONGOLMO,5000000.00,2000000,0
22,P-1675,PALENA,0.00,0,0
41,P-1695,ESTORIL,4230000.00,3000000,0
21,P-1674,BEIERSDORF,0.00,0,0
44,P-1698,PCI ANDES,0.00,0,0
5,P-1632,CHORILLOS CLOROX,0.00,0,0
68,P-1724,185 VOLTA,0.00,0,0

In [775]:
print(df_proyectado3.columns)

Index(['CODIGO_PROYECTO', 'PROYECTO', 'INGRESO', 'MATERIALES', 'MANO DE OBRA'], dtype='object', name=6)

In [776]:
# Eliminar la columna '6'
df_proyectado3 = df_proyectado3.rename_axis(None, axis=1)
df_proyectado3 = df_proyectado3.dropna(subset=['CODIGO_PROYECTO'])

print(df_proyectado3.shape)
df_proyectado3.sample(15)

(72, 5)

,CODIGO_PROYECTO,PROYECTO,INGRESO,MATERIALES,MANO DE OBRA
69,P-1725,LO CAÑA,14000000.00,5500000,0
57,P-1713,51 EDIFICIO RESERVA SAN FRANCISCO,19080000.00,6000000,0
17,P-1669,DEPARTAMENTAL II,0.00,0,0
62,P-1718,PATIO DE COMIDA,24886069.78,6000000,0
32,P-1686,ICALMA,7488000.00,2000000,0
60,P-1716,ASTARA,0.00,0,0
24,P-1677,GALVARINO,0.00,0,0
41,P-1695,ESTORIL,4230000.00,3000000,0
67,P-1723,VILLA PANAMERICANA LOTE C,85000000.00,31000000,0
70,,LA GLORIA,12000000.00,2000000,0
40,P-1694,ECO HUEMUL,18216000.00,8000000,0
45,P-1699,VILLA PANAMERICANA LOTE B,40000000.00,22000000,0
19,P-1671,BARRIO PARQUE 8 Y 9,0.00,0,0
58,P-1714,DEPARTAMENTAL II,0.00,0,0
46,P-1700,ORIZON,0.00,0,0

#### 3.4.3-2 TRATAMIENTO DE DATOS NAN 2

In [777]:
# seleccionar las columnas deseadas
df_proyectado3_1M = df_proyectado2_1M[["PROYECTO", "PROYECTO2", "INGRESO","MATERIALES","MANO DE OBRA"]]
# eliminar la columna índice
df_proyectado3_1M = df_proyectado3_1M.reset_index(drop=True)
# eliminar las filas que contengan NaN en la columna P
df_proyectado3_1M = df_proyectado3_1M.dropna(subset=['PROYECTO'])
# reemplazar los valores NaN en la columna INGRESO por cero
df_proyectado3_1M['INGRESO'] = df_proyectado3_1M['INGRESO'].fillna(0)
df_proyectado3_1M['MATERIALES'] = df_proyectado3_1M['MATERIALES'].fillna(0)
df_proyectado3_1M['MANO DE OBRA'] = df_proyectado3_1M['MANO DE OBRA'].fillna(0)

# renombrar la columna P a CODIGO_PROYECTO
df_proyectado3_1M = df_proyectado3_1M.rename(columns={'PROYECTO': 'CODIGO_PROYECTO'})
df_proyectado3_1M = df_proyectado3_1M.rename(columns={'PROYECTO2': 'PROYECTO'})

# poner en mayúscula el contenido de las columnas CODIGO_PROYECTO y PROYECTO
df_proyectado3_1M['CODIGO_PROYECTO'] = df_proyectado3_1M['CODIGO_PROYECTO'].str.upper()
df_proyectado3_1M['PROYECTO'] = df_proyectado3_1M['PROYECTO'].str.upper()

print("DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: df_proyectado3_1M  : ", df_proyectado3_1M.shape)

df_proyectado3_1M.sample(10)

DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: df_proyectado3_1M  :  (73, 5)

6  CODIGO_PROYECTO            PROYECTO     INGRESO  MATERIALES  MANO DE OBRA
32          P-1686             ICALMA  10669236.17     4000000             0
55          P-1709  CC PASEO SAN PEDRO 11127770.00      500000             0
28          P-1682         PLAZA CEPPI 18808581.00      200000             0
5           P-1632    CHORILLOS CLOROX        0.00           0             0
40          P-1694          ECO HUEMUL 17000065.00     7000000             0
35          P-1689              CASINO        0.00           0             0
60          P-1716              ASTARA 10082518.00           0             0
21          P-1674          BEIERSDORF        0.00           0             0
8           P-1645    LOS TRES ANTONIO        0.00           0             0
46          P-1700              ORIZON        0.00           0             0

In [778]:
# INSPECCIÓN VISUAL 1
df_proyectado3_1M[df_proyectado3_1M["CODIGO_PROYECTO"]=="P-1726"]

6  CODIGO_PROYECTO   PROYECTO     INGRESO  MATERIALES  MANO DE OBRA
70          P-1726  LA GLORIA 25429159.00    10000000             0

#### 3.4.4 SE AGREGA LA COLUMNA TOTAL PARA EL DATAFRAME Y SE FILTRA POR EL MES EN CURSO

In [779]:
# Obtener el año y mes actual

import datetime

current_year = datetime.datetime.now().year
current_month = datetime.datetime.now().month

# Calcula la sumatoria de la columna 'INGRESO'
total_ingreso = df_proyectado3['INGRESO'].sum()
total_materiales = df_proyectado3['MATERIALES'].sum()
total_mano_obra = df_proyectado3['MANO DE OBRA'].sum()

# Crea la fila 'TOTAL'
total_row = {'CODIGO_PROYECTO': 'TOTAL', 'PROYECTO': '', 'INGRESO': total_ingreso,'MATERIALES': total_materiales,'MANO DE OBRA': total_mano_obra}

# Crea un DataFrame con la fila 'TOTAL'
df_total = pd.DataFrame([total_row])

# Concatena el DataFrame original con el DataFrame que contiene la fila 'TOTAL'
df_proyectado3 = pd.concat([df_proyectado3, df_total], ignore_index=True)

#Agreación de columnas para estandarización
df_proyectado3["TOTAL"] = df_proyectado3["INGRESO"]
df_proyectado3["TIPO_CUENTA"] = "INGRESO"
df_proyectado3["MES"] = current_month 
df_proyectado3["AÑO"] = current_year 
df_proyectado3["ORIGEN"] = "PROYECTADO" 

# Se reemplazan valores NaN en 0 
df_proyectado3 = df_proyectado3.fillna(value=0)

# Multiplicar las columnas MATERIALES y MANO DE OBRA por -1 para obtener valores negativos
df_proyectado3[['MATERIALES', 'MANO DE OBRA']] = df_proyectado3[['MATERIALES', 'MANO DE OBRA']].mul(-1)

# Se calcula la columna TOTAL como la suma de INGRESO, MATERIALES y MANO DE OBRA
df_proyectado3['TOTAL'] = df_proyectado3[['INGRESO', 'MATERIALES', 'MANO DE OBRA']].sum(axis=1)

print("DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: df_proyectado3  : ", df_proyectado3.shape)
df_proyectado3.sample(5)

DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: df_proyectado3  :  (73, 10)

,CODIGO_PROYECTO,PROYECTO,INGRESO,MATERIALES,MANO DE OBRA,TOTAL,TIPO_CUENTA,MES,AÑO,ORIGEN
0,P-1600,TERRANOVA,0.00,0,0,0.00,INGRESO,6,2023,PROYECTADO
66,P-1724,185 VOLTA,0.00,0,0,0.00,INGRESO,6,2023,PROYECTADO
19,P-1671,BARRIO PARQUE 8 Y 9,0.00,0,0,0.00,INGRESO,6,2023,PROYECTADO
60,P-1718,PATIO DE COMIDA,24886069.78,-6000000,0,18886069.78,INGRESO,6,2023,PROYECTADO
34,P-1690,ONGOLMO,5000000.00,-2000000,0,3000000.00,INGRESO,6,2023,PROYECTADO

In [780]:
df_proyectado3['INGRESO'].sum()

864624767.7641654

#### 3.4.4-2 SE AGREGA LA COLUMNA TOTAL PARA EL DATAFRAME Y SE FILTRA POR EL MES EN CURSO 2

In [781]:
# Obtener el año y mes actual

import datetime

current_year = datetime.datetime.now().year
last_month = (fecha_actual - timedelta(days=30)).month

# Calcula la sumatoria de la columna 'INGRESO'
total_ingreso    = df_proyectado3_1M['INGRESO'].sum()
total_materiales = df_proyectado3_1M['MATERIALES'].sum()
total_mano_obra  = df_proyectado3_1M['MANO DE OBRA'].sum()

# Crea la fila 'TOTAL'
total_row = {'CODIGO_PROYECTO': 'TOTAL', 'PROYECTO': '', 'INGRESO': total_ingreso,'MATERIALES': total_materiales,'MANO DE OBRA': total_mano_obra}

# Crea un DataFrame con la fila 'TOTAL'
df_total = pd.DataFrame([total_row])

# Concatena el DataFrame original con el DataFrame que contiene la fila 'TOTAL'
df_proyectado3_1M = pd.concat([df_proyectado3_1M, df_total], ignore_index=True)

#Agreación de columnas para estandarización
df_proyectado3_1M["TOTAL"] = df_proyectado3["INGRESO"]
df_proyectado3_1M["TIPO_CUENTA"] = "INGRESO"
df_proyectado3_1M["MES"] = last_month 
df_proyectado3_1M["AÑO"] = current_year 
df_proyectado3_1M["ORIGEN"] = "PROYECTADO" 

# Se reemplazan valores NaN en 0 
df_proyectado3_1M = df_proyectado3_1M.fillna(value=0)

# Multiplicar las columnas MATERIALES y MANO DE OBRA por -1 para obtener valores negativos
df_proyectado3_1M[['MATERIALES', 'MANO DE OBRA']] = df_proyectado3_1M[['MATERIALES', 'MANO DE OBRA']].mul(-1)

# Se calcula la columna TOTAL como la suma de INGRESO, MATERIALES y MANO DE OBRA
df_proyectado3_1M['TOTAL'] = df_proyectado3_1M[['INGRESO', 'MATERIALES', 'MANO DE OBRA']].sum(axis=1)

print("DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: df_proyectado3_1M  : ", df_proyectado3_1M.shape)
df_proyectado3_1M.sample(5)

DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: df_proyectado3_1M  :  (74, 10)

,CODIGO_PROYECTO,PROYECTO,INGRESO,MATERIALES,MANO DE OBRA,TOTAL,TIPO_CUENTA,MES,AÑO,ORIGEN
7,P-1642,CORINTOS,0.00,0,0,0.00,INGRESO,5,2023,PROYECTADO
47,P-1701,ZENTENO,0.00,0,0,0.00,INGRESO,5,2023,PROYECTADO
35,P-1689,CASINO,0.00,0,0,0.00,INGRESO,5,2023,PROYECTADO
25,P-1678,PIRER,0.00,0,0,0.00,INGRESO,5,2023,PROYECTADO
4,P-1652,ABDON CIFUENTES,0.00,0,0,0.00,INGRESO,5,2023,PROYECTADO

In [782]:
# INSPECCIÓN VISUAL 1
df_proyectado3_1M[df_proyectado3_1M["CODIGO_PROYECTO"]=="P-1726"]

,CODIGO_PROYECTO,PROYECTO,INGRESO,MATERIALES,MANO DE OBRA,TOTAL,TIPO_CUENTA,MES,AÑO,ORIGEN
70,P-1726,LA GLORIA,25429159.00,-10000000,0,15429159.00,INGRESO,5,2023,PROYECTADO

#### 3.4.5 ESTRATEGIA PARA TRANSFORMAR LAS COLUMNAS DE MANO DE OBRA, MATERIALES E INGRESOS EN FILAS.

In [783]:
print("Dimensiones solo df_proyectado3 antes de cambios",df_proyectado3.shape)

# Crear el subDataFrame sin las columnas MANO DE OBRA, MATERIALES, TOTAL y TIPO_CUENTA
df_sub = df_proyectado3.drop(['MANO DE OBRA', 'MATERIALES', 'TOTAL', 'TIPO_CUENTA'], axis=1)

# Agregar la columna TIPO_CUENTA con el valor INGRESO
df_sub['TIPO_CUENTA'] = 'INGRESO'

# Renombrar la columna INGRESO como TOTAL
df_sub = df_sub.rename(columns={'INGRESO': 'TOTAL'})
print("Dimensiones solo INGRESO",df_sub.shape)

# Crear el subDataFrame sin las columnas INGRESO, MATERIALES, TOTAL y TIPO_CUENTA
df_sub2 = df_proyectado3.drop(['INGRESO', 'MATERIALES', 'TOTAL', 'TIPO_CUENTA'], axis=1)

# Agregar la columna TIPO_CUENTA con el valor MANO DE OBRA
df_sub2['TIPO_CUENTA'] = 'MANO DE OBRA'

# Renombrar la columna MANO DE OBRA como TOTAL
df_sub2 = df_sub2.rename(columns={'MANO DE OBRA': 'TOTAL'})
print("Dimensiones solo MANO DE OBRA",df_sub2.shape)


# Crear el subDataFrame sin las columnas INGRESO, MANO DE OBRA, TOTAL y TIPO_CUENTA
df_sub3 = df_proyectado3.drop(['INGRESO', 'MANO DE OBRA', 'TOTAL', 'TIPO_CUENTA'], axis=1)

# Agregar la columna TIPO_CUENTA con el valor MANO DE OBRA
df_sub3['TIPO_CUENTA'] = 'MATERIALES'

# Renombrar la columna MANO DE OBRA como TOTAL
df_sub3 = df_sub3.rename(columns={'MATERIALES': 'TOTAL'})
print("Dimensiones solo MATERIALES",df_sub3.shape)

# Concatenar los DataFrames verticalmente
df_proyectado4 = pd.concat([df_sub, df_sub2, df_sub3])

# Mostrar el nuevo DataFrame concatenado

print("Dimensiones solo df_proyectado4 después de cambios",df_proyectado4.shape)

df_proyectado4.sample(10)

Dimensiones solo df_proyectado3 antes de cambios (73, 10)
Dimensiones solo INGRESO (73, 7)
Dimensiones solo MANO DE OBRA (73, 7)
Dimensiones solo MATERIALES (73, 7)
Dimensiones solo df_proyectado4 después de cambios (219, 7)

,CODIGO_PROYECTO,PROYECTO,TOTAL,MES,AÑO,ORIGEN,TIPO_CUENTA
17,P-1669,DEPARTAMENTAL II,0.00,6,2023,PROYECTADO,INGRESO
72,TOTAL,,-176535806.00,6,2023,PROYECTADO,MATERIALES
9,P-1654,EXEQUIEL FERNANDEZ 1670,0.00,6,2023,PROYECTADO,MATERIALES
42,P-1698,PCI ANDES,0.00,6,2023,PROYECTADO,MATERIALES
0,P-1600,TERRANOVA,0.00,6,2023,PROYECTADO,MANO DE OBRA
20,P-1672,SANTA CLARA,0.00,6,2023,PROYECTADO,INGRESO
12,P-1660,CORONEL ALVARADO,0.00,6,2023,PROYECTADO,MATERIALES
21,P-1674,BEIERSDORF,0.00,6,2023,PROYECTADO,MATERIALES
41,P-1697,FORTALEZA ESTOCOLMO,5000000.00,6,2023,PROYECTADO,INGRESO
62,P-1720,CLARO DECOMBE,0.00,6,2023,PROYECTADO,MATERIALES

#### 3.4.5-2 ESTRATEGIA PARA TRANSFORMAR LAS COLUMNAS DE MANO DE OBRA, MATERIALES E INGRESOS EN FILAS 2

In [784]:
print("Dimensiones solo df_proyectado3 antes de cambios",df_proyectado3_1M.shape)

# Crear el subDataFrame sin las columnas MANO DE OBRA, MATERIALES, TOTAL y TIPO_CUENTA
df_sub = df_proyectado3_1M.drop(['MANO DE OBRA', 'MATERIALES', 'TOTAL', 'TIPO_CUENTA'], axis=1)

# Agregar la columna TIPO_CUENTA con el valor INGRESO
df_sub['TIPO_CUENTA'] = 'INGRESO'

# Renombrar la columna INGRESO como TOTAL
df_sub = df_sub.rename(columns={'INGRESO': 'TOTAL'})
print("Dimensiones solo INGRESO",df_sub.shape)

# Crear el subDataFrame sin las columnas INGRESO, MATERIALES, TOTAL y TIPO_CUENTA
df_sub2 = df_proyectado3_1M.drop(['INGRESO', 'MATERIALES', 'TOTAL', 'TIPO_CUENTA'], axis=1)

# Agregar la columna TIPO_CUENTA con el valor MANO DE OBRA
df_sub2['TIPO_CUENTA'] = 'MANO DE OBRA'

# Renombrar la columna MANO DE OBRA como TOTAL
df_sub2 = df_sub2.rename(columns={'MANO DE OBRA': 'TOTAL'})
print("Dimensiones solo MANO DE OBRA",df_sub2.shape)


# Crear el subDataFrame sin las columnas INGRESO, MANO DE OBRA, TOTAL y TIPO_CUENTA
df_sub3 = df_proyectado3_1M.drop(['INGRESO', 'MANO DE OBRA', 'TOTAL', 'TIPO_CUENTA'], axis=1)

# Agregar la columna TIPO_CUENTA con el valor MANO DE OBRA
df_sub3['TIPO_CUENTA'] = 'MATERIALES'

# Renombrar la columna MANO DE OBRA como TOTAL
df_sub3 = df_sub3.rename(columns={'MATERIALES': 'TOTAL'})
print("Dimensiones solo MATERIALES",df_sub3.shape)

# Concatenar los DataFrames verticalmente
df_proyectado4_1M = pd.concat([df_sub, df_sub2, df_sub3])

# Mostrar el nuevo DataFrame concatenado

print("Dimensiones solo df_proyectado4 después de cambios",df_proyectado4_1M.shape)

df_proyectado4_1M.sample(10)

Dimensiones solo df_proyectado3 antes de cambios (74, 10)
Dimensiones solo INGRESO (74, 7)
Dimensiones solo MANO DE OBRA (74, 7)
Dimensiones solo MATERIALES (74, 7)
Dimensiones solo df_proyectado4 después de cambios (222, 7)

,CODIGO_PROYECTO,PROYECTO,TOTAL,MES,AÑO,ORIGEN,TIPO_CUENTA
54,P-1708,ECO ESPAÑA,0.00,5,2023,PROYECTADO,MANO DE OBRA
59,P-1715,LO ECHEVERS,-6000000.00,5,2023,PROYECTADO,MATERIALES
29,0,BPA05,0.00,5,2023,PROYECTADO,MANO DE OBRA
41,P-1695,ESTORIL,13003381.00,5,2023,PROYECTADO,INGRESO
21,P-1674,BEIERSDORF,0.00,5,2023,PROYECTADO,INGRESO
13,P-1661,SAN VICENTE,0.00,5,2023,PROYECTADO,MANO DE OBRA
49,P-1703,SANTA VICTORIA DANACORP,0.00,5,2023,PROYECTADO,MANO DE OBRA
71,P-1727,BUDNIK,17255460.00,5,2023,PROYECTADO,INGRESO
7,P-1642,CORINTOS,0.00,5,2023,PROYECTADO,INGRESO
62,P-1718,PATIO DE COMIDA,0.00,5,2023,PROYECTADO,MANO DE OBRA

In [785]:
# INSPECCIÓN VISUAL 1
df_proyectado4_1M[df_proyectado4_1M["CODIGO_PROYECTO"]=="P-1726"]

,CODIGO_PROYECTO,PROYECTO,TOTAL,MES,AÑO,ORIGEN,TIPO_CUENTA
70,P-1726,LA GLORIA,25429159.00,5,2023,PROYECTADO,INGRESO
70,P-1726,LA GLORIA,0.00,5,2023,PROYECTADO,MANO DE OBRA
70,P-1726,LA GLORIA,-10000000.00,5,2023,PROYECTADO,MATERIALES

#### 3.4.6 CAMBIO DE VALORES EN COLUMNA TIPO_CUENTA

In [786]:
# Cambiar los valores de la columna TIPO_CUENTA
df_proyectado4['TIPO_CUENTA'] = df_proyectado4['TIPO_CUENTA'].replace({'MATERIALES': '2. COSTO MATERIALES', 'MANO DE OBRA': '3. COSTO MANO DE OBRA', 'INGRESO': '1. INGRESO'})

# Mostrar el DataFrame con los valores cambiados
print("Dimensiones solo df_proyectado4 después de cambios",df_proyectado4.shape)
df_proyectado4.sample(10)

Dimensiones solo df_proyectado4 después de cambios (219, 7)

,CODIGO_PROYECTO,PROYECTO,TOTAL,MES,AÑO,ORIGEN,TIPO_CUENTA
6,P-1638,COLON,0.00,6,2023,PROYECTADO,2. COSTO MATERIALES
9,P-1654,EXEQUIEL FERNANDEZ 1670,0.00,6,2023,PROYECTADO,1. INGRESO
59,P-1717,ECO QUILIN,-200000.00,6,2023,PROYECTADO,2. COSTO MATERIALES
39,P-1695,ESTORIL,0.00,6,2023,PROYECTADO,3. COSTO MANO DE OBRA
33,P-1689,CASINO,0.00,6,2023,PROYECTADO,1. INGRESO
7,P-1642,CORINTOS,0.00,6,2023,PROYECTADO,2. COSTO MATERIALES
25,P-1678,PIRER,0.00,6,2023,PROYECTADO,2. COSTO MATERIALES
62,P-1720,CLARO DECOMBE,0.00,6,2023,PROYECTADO,2. COSTO MATERIALES
18,P-1670,MK SEGURIDAS,0.00,6,2023,PROYECTADO,2. COSTO MATERIALES
30,P-1686,ICALMA,-2000000.00,6,2023,PROYECTADO,2. COSTO MATERIALES

In [787]:
# TEST TOTAL "INGRESO" 

df_proyectado4_test = df_proyectado4[df_proyectado4['TIPO_CUENTA'] == '1. INGRESO']
df_proyectado4_test

,CODIGO_PROYECTO,PROYECTO,TOTAL,MES,AÑO,ORIGEN,TIPO_CUENTA
0,P-1600,TERRANOVA,0.00,6,2023,PROYECTADO,1. INGRESO
1,P-1601,CUATRE CASAS,0.00,6,2023,PROYECTADO,1. INGRESO
2,P-1615,ECO SANTIAGO,0.00,6,2023,PROYECTADO,1. INGRESO
3,P-1621,RENAULT,0.00,6,2023,PROYECTADO,1. INGRESO
4,P-1652,ABDON CIFUENTES,0.00,6,2023,PROYECTADO,1. INGRESO
5,P-1632,CHORILLOS CLOROX,0.00,6,2023,PROYECTADO,1. INGRESO
6,P-1638,COLON,0.00,6,2023,PROYECTADO,1. INGRESO
7,P-1642,CORINTOS,0.00,6,2023,PROYECTADO,1. INGRESO
8,P-1645,LOS TRES ANTONIO,0.00,6,2023,PROYECTADO,1. INGRESO
9,P-1654,EXEQUIEL FERNANDEZ 1670,0.00,6,2023,PROYECTADO,1. INGRESO
10,P-1655,DECATHLON,0.00,6,2023,PROYECTADO,1. INGRESO
11,P-1656,CLUB HIPICO,0.00,6,2023,PROYECTADO,1. INGRESO
12,P-1660,CORONEL ALVARADO,0.00,6,2023,PROYECTADO,1. INGRESO
13,P-1661,SAN VICENTE,0.00,6,2023,PROYECTADO,1. INGRESO
14,P-1663,OFICINAS EQUIFAX,0.00,6,2023,PROYECTADO,1. INGRESO
15,P-1667,ECO PACILLA,0.00,6,2023,PROYECTADO,1. INGRESO
16,P-1668,QUILLAYES,0.00,6,2023,PROYECTADO,1. INGRESO
17,P-1669,DEPARTAMENTAL II,0.00,6,2023,PROYECTADO,1. INGRESO
18,P-1670,MK SEGURIDAS,0.00,6,2023,PROYECTADO,1. INGRESO
19,P-1671,BARRIO PARQUE 8 Y 9,0.00,6,2023,PROYECTADO,1. INGRESO
20,P-1672,SANTA CLARA,0.00,6,2023,PROYECTADO,1. INGRESO
21,P-1674,BEIERSDORF,0.00,6,2023,PROYECTADO,1. INGRESO
22,P-1675,PALENA,0.00,6,2023,PROYECTADO,1. INGRESO
23,P-1676,PORTAL LO CAMPINO,0.00,6,2023,PROYECTADO,1. INGRESO
24,P-1677,GALVARINO,0.00,6,2023,PROYECTADO,1. INGRESO
25,P-1678,PIRER,0.00,6,2023,PROYECTADO,1. INGRESO
26,P-1679,JUAN SABAJ,0.00,6,2023,PROYECTADO,1. INGRESO
27,P-1680,NUEVA UNO,0.00,6,2023,PROYECTADO,1. INGRESO
28,P-1682,PLAZA CEPPI,0.00,6,2023,PROYECTADO,1. INGRESO
29,P-1684,GOYCOLEA,25380000.00,6,2023,PROYECTADO,1. INGRESO
30,P-1686,ICALMA,7488000.00,6,2023,PROYECTADO,1. INGRESO
31,P-1687,ROJAS MAGALLANES,0.00,6,2023,PROYECTADO,1. INGRESO
32,P-1688,SUIZA,0.00,6,2023,PROYECTADO,1. INGRESO
33,P-1689,CASINO,0.00,6,2023,PROYECTADO,1. INGRESO
34,P-1690,ONGOLMO,5000000.00,6,2023,PROYECTADO,1. INGRESO
35,P-1691,ROSARIO ROSALES,0.00,6,2023,PROYECTADO,1. INGRESO
36,P-1692,JOSE PEREZ COTAPO,6800000.00,6,2023,PROYECTADO,1. INGRESO
37,P-1693,VOLTA,0.00,6,2023,PROYECTADO,1. INGRESO
38,P-1694,ECO HUEMUL,18216000.00,6,2023,PROYECTADO,1. INGRESO
39,P-1695,ESTORIL,4230000.00,6,2023,PROYECTADO,1. INGRESO
40,P-1696,SANTA VICTORIA,0.00,6,2023,PROYECTADO,1. INGRESO
41,P-1697,FORTALEZA ESTOCOLMO,5000000.00,6,2023,PROYECTADO,1. INGRESO
42,P-1698,PCI ANDES,0.00,6,2023,PROYECTADO,1. INGRESO
43,P-1699,VILLA PANAMERICANA LOTE B,40000000.00,6,2023,PROYECTADO,1. INGRESO
44,P-1700,ORIZON,0.00,6,2023,PROYECTADO,1. INGRESO
45,P-1701,ZENTENO,0.00,6,2023,PROYECTADO,1. INGRESO
46,P-1702,KARUN VITACURA,0.00,6,2023,PROYECTADO,1. INGRESO
47,P-1703,SANTA VICTORIA DANACORP,0.00,6,2023,PROYECTADO,1. INGRESO
48,P-1704,MERCADO LIBRE,64764000.00,6,2023,PROYECTADO,1. INGRESO
49,P-1705,LOS CLARINES,12109554.10,6,2023,PROYECTADO,1. INGRESO
50,P-1706,CALIFORNIA,11000000.00,6,2023,PROYECTADO,1. INGRESO
51,P-1707,LAS TRANQUERAS,12240000.00,6,2023,PROYECTADO,1. INGRESO
52,P-1708,ECO ESPAÑA,0.00,6,2023,PROYECTADO,1. INGRESO
53,P-1709,CC PASEO SAN PEDRO,0.00,6,2023,PROYECTADO,1. INGRESO
54,P-1712,CC VIÑA OUTLET PARK,15228000.00,6,2023,PROYECTADO,1. INGRESO
55,P-1713,51 EDIFICIO RESERVA SAN FRANCISCO,19080000.00,6,2023,PROYECTADO,1. INGRESO
56,P-1714,DEPARTAMENTAL II,0.00,6,2023,PROYECTADO,1. INGRESO
57,P-1715,LO ECHEVERS,11500000.00,6,2023,PROYECTADO,1. INGRESO
58,P-1716,ASTARA,0.00,6,2023,PROYECTADO,1. INGRESO
59,P-1717,ECO QUILIN,950760.00,6,2023,PROYECTADO,1. INGRESO
60,P-1718,PATIO DE COMIDA,24886069.78,6,2023,PROYECTADO,1. INGRESO
61,P-1719,METALPARK,0.00,6,2023,PROYECTADO,1. INGRESO
62,P-1720,CLARO DECOMBE,0.00,6,2023,PROYECTADO,1. INGRESO
63,P-1721,LUIS PASTER,7920000.00,6,2023,PROYECTADO,1. INGRESO
64,P-1722,ECO CERRILLO,0.00,6,2023,PROYECTADO,1. INGRESO
65,P-1723,VILLA PANAMERICANA LOTE C,85000000.00,6,2023,PROYECTADO,1. INGRESO
66,P-1724,185 VOLTA,0.00,6,2023,PROYECTADO,1. INGRESO
67,P-1725,LO CAÑA,14000000.00,6,2023,PROYECTADO,1. INGRESO
68,,LA GLORIA,12000000.00,6,2023,PROYECTADO,1. INGRESO
69,P-1727,BUDNIK,29520000.00,6,2023,PROYECTADO,1. INGRESO
70,P-1728,VOLTA SEGREGACIÓN,0.00,6,2023,PROYECTADO,1. INGRESO
71,P-1729,ESTACION CENTRAL,0.00,6,2023,PROYECTADO,1. INGRESO
72,TOTAL,,432312383.88,6,2023,PROYECTADO,1. INGRESO

#### 3.4.6-2 CAMBIO DE VALORES EN COLUMNA TIPO_CUENTA 2

In [788]:
# Cambiar los valores de la columna TIPO_CUENTA
df_proyectado4_1M['TIPO_CUENTA'] = df_proyectado4_1M['TIPO_CUENTA'].replace({'MATERIALES': '2. COSTO MATERIALES', 'MANO DE OBRA': '3. COSTO MANO DE OBRA', 'INGRESO': '1. INGRESO'})

# Mostrar el DataFrame con los valores cambiados
print("Dimensiones solo df_proyectado4 después de cambios",df_proyectado4_1M.shape)
df_proyectado4_1M.sample(10)

Dimensiones solo df_proyectado4 después de cambios (222, 7)

,CODIGO_PROYECTO,PROYECTO,TOTAL,MES,AÑO,ORIGEN,TIPO_CUENTA
32,P-1686,ICALMA,10669236.17,5,2023,PROYECTADO,1. INGRESO
23,P-1676,PORTAL LO CAMPINO,0.00,5,2023,PROYECTADO,1. INGRESO
11,P-1656,CLUB HIPICO,0.00,5,2023,PROYECTADO,3. COSTO MANO DE OBRA
58,P-1714,DEPARTAMENTAL II,0.00,5,2023,PROYECTADO,2. COSTO MATERIALES
56,P-1712,CC VIÑA OUTLET PARK,14901765.87,5,2023,PROYECTADO,1. INGRESO
30,P-1684,GOYCOLEA,3335671.64,5,2023,PROYECTADO,1. INGRESO
44,P-1698,PCI ANDES,0.00,5,2023,PROYECTADO,2. COSTO MATERIALES
42,P-1696,SANTA VICTORIA,0.00,5,2023,PROYECTADO,3. COSTO MANO DE OBRA
9,P-1654,EXEQUIEL FERNANDEZ 1670,0.00,5,2023,PROYECTADO,1. INGRESO
9,P-1654,EXEQUIEL FERNANDEZ 1670,0.00,5,2023,PROYECTADO,2. COSTO MATERIALES

In [789]:
df_proyectado4_1M[df_proyectado4_1M["CODIGO_PROYECTO"]=="P-1726"]

,CODIGO_PROYECTO,PROYECTO,TOTAL,MES,AÑO,ORIGEN,TIPO_CUENTA
70,P-1726,LA GLORIA,25429159.00,5,2023,PROYECTADO,1. INGRESO
70,P-1726,LA GLORIA,0.00,5,2023,PROYECTADO,3. COSTO MANO DE OBRA
70,P-1726,LA GLORIA,-10000000.00,5,2023,PROYECTADO,2. COSTO MATERIALES

In [790]:
df_proyectado4.to_csv('archivos_respaldo/df_proyectado4.csv', mode='a')
df_proyectado4_1M.to_csv('archivos_respaldo/df_proyectado4_1M.csv', mode='a')

### 3.5 TRATAMIENTO LIBRO MAYOR AÑOS ANTERIORES

#### 3.5.1 - REVISIÓN DE LOS DATOS

In [791]:
df_libro_mayor_old.shape

(17368, 13)

In [792]:
df_libro_mayor_old.describe()

,Cta_Contable,Año,Mes,Fecha,Tipo_Comp,Num_Comp,Glosa,Primer_Analisis,Referencia,Num_Referencia,Debito,Credito,Comentario
count,17368,17368,17368,17368,17368,17368,17368,17368,17368,17368,17368,17368,17368
unique,10,2,12,531,5,1312,3453,134,1500,5119,8462,1714,2
top,4101010-000,2022,9,12/31/22 0:00,CIN,1252,REMUNERACIONES DIRECTAS PROYECTO,,76525290-3,,0,0,
freq,12133,9797,1775,252,11773,251,1359,699,406,1958,3199,15265,17359

#### 3.5.2 - Estandarización campo "Debito" y Crédito

In [793]:
# Se crean nuevos campos para trabajar "Debito" y "Credito".

df_libro_mayor_old['Debito_2'] = pd.to_numeric(df_libro_mayor_old['Debito'], errors='coerce')
df_libro_mayor_old['Credito_2'] = pd.to_numeric(df_libro_mayor_old['Credito'], errors='coerce')

# Se reemplaza el valor de los NoNe y Nan 

df_libro_mayor_old['Credito_2'] = df_libro_mayor_old['Credito_2'].fillna(0)

df_libro_mayor_old.head(5)

,Cta_Contable,Año,Mes,Fecha,Tipo_Comp,Num_Comp,Glosa,Primer_Analisis,Referencia,Num_Referencia,Debito,Credito,Comentario,Debito_2,Credito_2
1,3101030-000,2021,1,1/6/21 0:00,CVT,47,EP N°26 - OBRA: S-0333 EDIFICIO NC 3000,P-1592,76525290-3,10756,0,6481068,,0.00,6481068.00
2,3101030-000,2021,1,1/6/21 0:00,CVT,47,"UF 222,93 x T/C $29.072,21",P-1592,76525290-3,10756,0,0,,0.00,0.00
3,3101030-000,2021,1,1/6/21 0:00,CVT,47,SEGÚN CONTRATO N°8000033317-00010 - HES N°1000...,P-1592,76525290-3,10756,0,0,,0.00,0.00
4,3101030-000,2021,1,1/6/21 0:00,CVT,60,EP N°4 - OBRA: VIVIPRA,P-1658,79606430-7,10763,0,4301576,,0.00,4301576.00
5,3101030-000,2021,1,1/6/21 0:00,CVT,60,"UF 148 x T/C $29.064,70",P-1658,79606430-7,10763,0,0,,0.00,0.00

#### 3.5.3 - Creación campo Codigo_proyecto

In [794]:
# Se crean una nueva columna para manejar el código del proyecto 

df_libro_mayor_old['CODIGO_PROYECTO'] = df_libro_mayor_old['Primer_Analisis']

cols = df_libro_mayor_old.columns.tolist() # Obtiene el nombre de todas las columnas en una lista
cols.insert(0, cols.pop(cols.index('CODIGO_PROYECTO'))) # Extrae la columna 'Codigo_proyecto', la inserta en la posición 0 y actualiza la lista
df_libro_mayor_old = df_libro_mayor_old.reindex(columns=cols) # Reindexa el dataframe con las columnas en el orden actualizado

# Transformación a mayúscula código del proyecto
df_libro_mayor_old['CODIGO_PROYECTO'] = df_libro_mayor_old['CODIGO_PROYECTO'].str.upper()

df_libro_mayor_old.head(5)

,CODIGO_PROYECTO,Cta_Contable,Año,Mes,Fecha,Tipo_Comp,Num_Comp,Glosa,Primer_Analisis,Referencia,Num_Referencia,Debito,Credito,Comentario,Debito_2,Credito_2
1,P-1592,3101030-000,2021,1,1/6/21 0:00,CVT,47,EP N°26 - OBRA: S-0333 EDIFICIO NC 3000,P-1592,76525290-3,10756,0,6481068,,0.00,6481068.00
2,P-1592,3101030-000,2021,1,1/6/21 0:00,CVT,47,"UF 222,93 x T/C $29.072,21",P-1592,76525290-3,10756,0,0,,0.00,0.00
3,P-1592,3101030-000,2021,1,1/6/21 0:00,CVT,47,SEGÚN CONTRATO N°8000033317-00010 - HES N°1000...,P-1592,76525290-3,10756,0,0,,0.00,0.00
4,P-1658,3101030-000,2021,1,1/6/21 0:00,CVT,60,EP N°4 - OBRA: VIVIPRA,P-1658,79606430-7,10763,0,4301576,,0.00,4301576.00
5,P-1658,3101030-000,2021,1,1/6/21 0:00,CVT,60,"UF 148 x T/C $29.064,70",P-1658,79606430-7,10763,0,0,,0.00,0.00

#### 3.5.4 - Creación de campo total

In [795]:
df_libro_mayor_old['TOTAL'] = df_libro_mayor_old['Credito_2'] - df_libro_mayor_old['Debito_2']
df_libro_mayor_old.head(5)

,CODIGO_PROYECTO,Cta_Contable,Año,Mes,Fecha,Tipo_Comp,Num_Comp,Glosa,Primer_Analisis,Referencia,Num_Referencia,Debito,Credito,Comentario,Debito_2,Credito_2,TOTAL
1,P-1592,3101030-000,2021,1,1/6/21 0:00,CVT,47,EP N°26 - OBRA: S-0333 EDIFICIO NC 3000,P-1592,76525290-3,10756,0,6481068,,0.00,6481068.00,6481068.00
2,P-1592,3101030-000,2021,1,1/6/21 0:00,CVT,47,"UF 222,93 x T/C $29.072,21",P-1592,76525290-3,10756,0,0,,0.00,0.00,0.00
3,P-1592,3101030-000,2021,1,1/6/21 0:00,CVT,47,SEGÚN CONTRATO N°8000033317-00010 - HES N°1000...,P-1592,76525290-3,10756,0,0,,0.00,0.00,0.00
4,P-1658,3101030-000,2021,1,1/6/21 0:00,CVT,60,EP N°4 - OBRA: VIVIPRA,P-1658,79606430-7,10763,0,4301576,,0.00,4301576.00,4301576.00
5,P-1658,3101030-000,2021,1,1/6/21 0:00,CVT,60,"UF 148 x T/C $29.064,70",P-1658,79606430-7,10763,0,0,,0.00,0.00,0.00

#### 3.5.5 - Creación campo tipo_cuenta "basado en el campo cta_Contable"

In [796]:
# Función para categorizar la columna 'Cta_Contable'
def categorizar_cta_contable(cta_contable):
    if cta_contable =="3101030-000" or cta_contable == "3401002-000":
        return '1. INGRESO'
    elif cta_contable == "4101010-000":
        return '2. COSTO MATERIALES'
    elif cta_contable == "4150002-000":
        return '3. COSTO MANO DE OBRA'
    elif cta_contable == "4150002-002":
        return '4. COSTO SUPERVISIÓN'
    else:
        return 'OTRA'

# Crear la nueva columna 'Tipo_cuenta' aplicando la función
df_libro_mayor_old['Tipo_cuenta'] = df_libro_mayor_old['Cta_Contable'].apply(categorizar_cta_contable)
df_libro_mayor_old.sample(5)

,CODIGO_PROYECTO,Cta_Contable,Año,Mes,Fecha,Tipo_Comp,Num_Comp,Glosa,Primer_Analisis,Referencia,Num_Referencia,Debito,Credito,Comentario,Debito_2,Credito_2,TOTAL,Tipo_cuenta
10554,P-1676,4101010-000,2022,5,5/10/22 0:00,CIN,572,Amarras plasticas 200mm,P-1676,I16430010,45377,7000,0,,7000.00,0.00,-7000.00,2. COSTO MATERIALES
4876,P-1678,4101010-000,2021,7,7/30/21 0:00,CIN,811,"Union copla 3"" ranurada flexible",P-1678,P08200318,42781,39520,0,,39520.00,0.00,-39520.00,2. COSTO MATERIALES
4750,P-1642,4101010-000,2021,7,7/23/21 0:00,CIN,557,Cable Bujia (rollo 50 mts),P-1642,I15420994,42720,0,9572,,0.00,9572.00,9572.00,2. COSTO MATERIALES
14572,P-1712,4101010-000,2022,11,11/10/22 0:00,CIN,725,"Tapa Storz Ø2"" c/cadena",P-1712,P08181432,47943,10850,0,,10850.00,0.00,-10850.00,2. COSTO MATERIALES
16779,P-PROYECTOS,4150002-001,2022,7,7/31/22 0:00,AJC,1507,REMUNERACIONES INDIRECTAS PROYECTO,P-Proyectos,26771805,,759131,0,,759131.00,0.00,-759131.00,OTRA

In [797]:
df_libro_mayor_old['Tipo_cuenta'].unique()

array(['1. INGRESO', '2. COSTO MATERIALES', 'OTRA',
       '3. COSTO MANO DE OBRA', '4. COSTO SUPERVISIÓN'], dtype=object)

In [798]:
# Revisión de los datos creados

df_libro_mayor_old_piv = pd.pivot_table(df_libro_mayor_old, values=['Debito_2','Credito_2','TOTAL'], index=['Tipo_cuenta','Año','Mes'], aggfunc='sum', fill_value=0, margins=True, margins_name='TOTAL')
df_libro_mayor_old_piv = pd.DataFrame(df_libro_mayor_old_piv.to_records())

#df_libro_mayor_piv.head(5)
df_libro_mayor_old_piv.sample(10)

               Tipo_cuenta   Año Mes  Credito_2  Debito_2      TOTAL
45     2. COSTO MATERIALES  2022   7    1279821  91618849  -90339028
60   3. COSTO MANO DE OBRA  2022   1          0  21565397  -21565397
118                   OTRA  2022   8          0  13849885  -13849885
42     2. COSTO MATERIALES  2022   4     511149  31099968  -30588819
107                   OTRA  2021   9          0   9550423   -9550423
72    4. COSTO SUPERVISIÓN  2021   1          0   2610884   -2610884
58   3. COSTO MANO DE OBRA  2021   8          0   1844654   -1844654
100                   OTRA  2021   2          0  13905678  -13905678
7               1. INGRESO  2021   5  113310222  10911630  102398592
89    4. COSTO SUPERVISIÓN  2022   3          0   3566029   -3566029

#### 3.5.6 - Se eliminan números de proyectos que no deben ser parte del análisis

In [799]:
# Se crea una copia del dataframe original debido que se reduciran las dimensiones
df_libro_mayor_old2 = df_libro_mayor_old.copy()

# Se identifican los códigos de proyecto disponibles
print("Proyectos disponibles antes de la reducción : ")
print(df_libro_mayor_old2["CODIGO_PROYECTO"].unique())
print("=======================================================================")
print("Dimensiones del dataframe antes de la reducción : ")
print(df_libro_mayor_old2.shape)

Proyectos disponibles antes de la reducción :
['P-1592' 'P-1658' 'P-1638' 'P-1615' 'P-1639' 'S-1601' 'P-1644' 'P-1628'
 'P-1652' 'P-1666' 'P-1653' 'P-1654' 'P-1656' 'P-1665' 'P-1664' 'P-1670'
 'P-1629' 'P-1649' 'P-1657' 'P-1661' 'P-1671' 'P-1645' 'P-1626' 'P-1611'
 'P-1642' 'P-1648' 'P-1659' 'P-1617' 'P-1627' 'P-1641' 'P-1660' 'P-1636'
 'P-1625' 'P-1667' 'P-1672' 'P-1637' 'P-1623' 'P-1674' 'P-1668' 'P-1676'
 'P-1646' 'P-1675' 'P-1678' 'P-1643' 'P-1632' 'P-1673' 'P-1669' 'P-1677'
 'P-1681' 'P-1683' 'P-1679' 'P-1680' 'P-1684' 'P-1689' 'P-1686' 'P-1685'
 'P-1690' 'P-1691' 'P-OFICINA' 'P-PROYECTOS' 'P-1663' 'P-1640' 'P-1655'
 'P-1631' 'P-1647' 'P-1610' 'P-1612' 'P-1527' 'P-1590' 'P-1616' 'P-1622'
 'P-1633' '' 'P-1692' 'P-1687' 'P-1693' 'P-1694' 'P-1695' 'P-1698'
 'P-1696' 'P-1688' 'P-1697' 'P-1700' 'P-1701' 'P-1702' 'P-1703' 'P-1709'
 'P-1707' 'P-1704' 'P-1712' 'P-1713' 'P-1708' 'P-1682' 'P-1714' 'P-1706'
 'P-1705' 'P-1699' 'P-1715' 'P-1716' 'P-1718' 'P-1717' 'P-1613'
 'P-ANALISIS PROYE' 'P1718' 'P-SERVICIOS' 'P-MANTENCIÓN' '13056802-5'
 '16411600-K' '18800250-1' '18800250' '13056802' '16411600']
=======================================================================
Dimensiones del dataframe antes de la reducción :
(17368, 18)

##### 3.5.6.1 - Se crea un subdataframe para COSTOS SUPERVISIÓN (separando lo que tiene P-OFICINA y cta_contable 4150002-002)

In [800]:
# Se crea un dataframe separado para tratar los que poseen proyecto "P-OFICINA" ya que los costos de supervisión solo aplican al total
df_libro_mayor_old2_2 = df_libro_mayor_old2.copy()

# Filtrar el DataFrame
df_libro_mayor_old2_2 = df_libro_mayor_old2_2[(df_libro_mayor_old2_2['CODIGO_PROYECTO'] == 'P-OFICINA') & (df_libro_mayor_old2_2['Cta_Contable'] == '4150002-002')]

# Mostrar el DataFrame filtrado
df_libro_mayor_old2_2

,CODIGO_PROYECTO,Cta_Contable,Año,Mes,Fecha,Tipo_Comp,Num_Comp,Glosa,Primer_Analisis,Referencia,Num_Referencia,Debito,Credito,Comentario,Debito_2,Credito_2,TOTAL,Tipo_cuenta
16836,P-OFICINA,4150002-002,2022,9,9/30/22 0:00,AJC,1325,REMUNERACIONES SUPERVISORES,P-Oficina,13677891,0,1724280,0,,1724280.00,0.00,-1724280.00,4. COSTO SUPERVISIÓN
16837,P-OFICINA,4150002-002,2022,9,9/30/22 0:00,AJC,1325,REMUNERACIONES SUPERVISORES,P-Oficina,7435204,0,2183185,0,,2183185.00,0.00,-2183185.00,4. COSTO SUPERVISIÓN
16838,P-OFICINA,4150002-002,2022,10,10/31/22 0:00,AJC,1220,REMUNERACIONES SUPERVISORES,P-Oficina,13677891,,2234754,0,,2234754.00,0.00,-2234754.00,4. COSTO SUPERVISIÓN
16839,P-OFICINA,4150002-002,2022,10,10/31/22 0:00,AJC,1220,REMUNERACIONES SUPERVISORES,P-Oficina,7435204,,2584134,0,,2584134.00,0.00,-2584134.00,4. COSTO SUPERVISIÓN
16840,P-OFICINA,4150002-002,2022,11,11/30/22 0:00,AJC,1385,REMUNERACIONES SUPERVISORES,P-Oficina,13677891,,2369840,0,,2369840.00,0.00,-2369840.00,4. COSTO SUPERVISIÓN
16841,P-OFICINA,4150002-002,2022,11,11/30/22 0:00,AJC,1385,REMUNERACIONES SUPERVISORES,P-Oficina,7435204,,2719503,0,,2719503.00,0.00,-2719503.00,4. COSTO SUPERVISIÓN
16842,P-OFICINA,4150002-002,2022,12,12/31/22 0:00,AJC,1252,REMUNERACIONES SUPERVISORES,P-Oficina,13677891,,2153705,0,,2153705.00,0.00,-2153705.00,4. COSTO SUPERVISIÓN
16843,P-OFICINA,4150002-002,2022,12,12/31/22 0:00,AJC,1252,REMUNERACIONES SUPERVISORES,P-Oficina,7435204,,2502914,0,,2502914.00,0.00,-2502914.00,4. COSTO SUPERVISIÓN

In [801]:
# Elimina los registros NaN en la columna Codigo_proyecto
df_libro_mayor_old2 = df_libro_mayor_old2.dropna(subset=['CODIGO_PROYECTO'])

# Define una lista de valores a eliminar
valores_a_eliminar = ['P-PROYECTOS', 'P-SERVICIOS','P-OFICINA', 'P-ANALISIS PROYE', '13056802-5', '16411600-K', '18800250-1','P-MANTENCIÓN','18800250','13056802','16411600']

# Crea una máscara booleana que identifica las filas que contienen los valores a eliminar
mask = df_libro_mayor_old2['CODIGO_PROYECTO'].isin(valores_a_eliminar)

# Crea un nuevo dataframe sin las filas que contienen los valores a eliminar
df_libro_mayor_old2 = df_libro_mayor_old2[~mask]

In [802]:
# Se identifican los códigos de proyecto disponibles
print("Proyectos disponibles antes de la reducción : ")
print(df_libro_mayor_old.shape)
print(df_libro_mayor_old["CODIGO_PROYECTO"].unique())
print("=======================================================================")
print("Dimensiones del dataframe antes de la reducción : ")
print(df_libro_mayor_old2.shape)
print(df_libro_mayor_old2["CODIGO_PROYECTO"].unique())

Proyectos disponibles antes de la reducción :
(17368, 18)
['P-1592' 'P-1658' 'P-1638' 'P-1615' 'P-1639' 'S-1601' 'P-1644' 'P-1628'
 'P-1652' 'P-1666' 'P-1653' 'P-1654' 'P-1656' 'P-1665' 'P-1664' 'P-1670'
 'P-1629' 'P-1649' 'P-1657' 'P-1661' 'P-1671' 'P-1645' 'P-1626' 'P-1611'
 'P-1642' 'P-1648' 'P-1659' 'P-1617' 'P-1627' 'P-1641' 'P-1660' 'P-1636'
 'P-1625' 'P-1667' 'P-1672' 'P-1637' 'P-1623' 'P-1674' 'P-1668' 'P-1676'
 'P-1646' 'P-1675' 'P-1678' 'P-1643' 'P-1632' 'P-1673' 'P-1669' 'P-1677'
 'P-1681' 'P-1683' 'P-1679' 'P-1680' 'P-1684' 'P-1689' 'P-1686' 'P-1685'
 'P-1690' 'P-1691' 'P-OFICINA' 'P-PROYECTOS' 'P-1663' 'P-1640' 'P-1655'
 'P-1631' 'P-1647' 'P-1610' 'P-1612' 'P-1527' 'P-1590' 'P-1616' 'P-1622'
 'P-1633' '' 'P-1692' 'P-1687' 'P-1693' 'P-1694' 'P-1695' 'P-1698'
 'P-1696' 'P-1688' 'P-1697' 'P-1700' 'P-1701' 'P-1702' 'P-1703' 'P-1709'
 'P-1707' 'P-1704' 'P-1712' 'P-1713' 'P-1708' 'P-1682' 'P-1714' 'P-1706'
 'P-1705' 'P-1699' 'P-1715' 'P-1716' 'P-1718' 'P-1717' 'P-1613'
 'P-ANALISIS PROYE' 'P1718' 'P-SERVICIOS' 'P-MANTENCIÓN' '13056802-5'
 '16411600-K' '18800250-1' '18800250' '13056802' '16411600']
=======================================================================
Dimensiones del dataframe antes de la reducción :
(16696, 18)
['P-1592' 'P-1658' 'P-1638' 'P-1615' 'P-1639' 'S-1601' 'P-1644' 'P-1628'
 'P-1652' 'P-1666' 'P-1653' 'P-1654' 'P-1656' 'P-1665' 'P-1664' 'P-1670'
 'P-1629' 'P-1649' 'P-1657' 'P-1661' 'P-1671' 'P-1645' 'P-1626' 'P-1611'
 'P-1642' 'P-1648' 'P-1659' 'P-1617' 'P-1627' 'P-1641' 'P-1660' 'P-1636'
 'P-1625' 'P-1667' 'P-1672' 'P-1637' 'P-1623' 'P-1674' 'P-1668' 'P-1676'
 'P-1646' 'P-1675' 'P-1678' 'P-1643' 'P-1632' 'P-1673' 'P-1669' 'P-1677'
 'P-1681' 'P-1683' 'P-1679' 'P-1680' 'P-1684' 'P-1689' 'P-1686' 'P-1685'
 'P-1690' 'P-1691' 'P-1663' 'P-1640' 'P-1655' 'P-1631' 'P-1647' 'P-1610'
 'P-1612' 'P-1527' 'P-1590' 'P-1616' 'P-1622' 'P-1633' '' 'P-1692'
 'P-1687' 'P-1693' 'P-1694' 'P-1695' 'P-1698' 'P-1696' 'P-1688' 'P-1697'
 'P-1700' 'P-1701' 'P-1702' 'P-1703' 'P-1709' 'P-1707' 'P-1704' 'P-1712'
 'P-1713' 'P-1708' 'P-1682' 'P-1714' 'P-1706' 'P-1705' 'P-1699' 'P-1715'
 'P-1716' 'P-1718' 'P-1717' 'P-1613' 'P1718']

#### 3.5.7 - Se crea un nuevo campo de fecha basado en la fecha original

In [803]:
df_libro_mayor_old2['Fecha2'] = pd.to_datetime(df_libro_mayor_old2['Año'].astype(str) + '-' + df_libro_mayor_old2['Mes'].astype(str) + '-1')
df_libro_mayor_old2.sample(5)

,CODIGO_PROYECTO,Cta_Contable,Año,Mes,Fecha,Tipo_Comp,Num_Comp,Glosa,Primer_Analisis,Referencia,Num_Referencia,Debito,Credito,Comentario,Debito_2,Credito_2,TOTAL,Tipo_cuenta,Fecha2
8981,P-1652,4101010-000,2022,1,1/3/22 0:00,CIN,645,Accesorio L p/ retenedor Electromagnetic,P-1652,S10270003,44183,5500,0,,5500.00,0.00,-5500.00,2. COSTO MATERIALES,2022-01-01
15890,P-1668,4150002-000,2022,5,5/30/22 0:00,AJC,1449,REMUNERACIONES DIRECTAS PROYECTO,P-1668,P-1668,18726168,253952,0,,253952.00,0.00,-253952.00,3. COSTO MANO DE OBRA,2022-05-01
11478,P-1645,4101010-000,2022,6,6/28/22 0:00,CIN,911,Cinta Aisladora 3M Temflex 1500,P-1645,I16430107,45968,1520,0,,1520.00,0.00,-1520.00,2. COSTO MATERIALES,2022-06-01
11533,P-1670,4101010-000,2022,6,6/29/22 0:00,CIN,888,Amarras plasticas 300mm,P-1670,I16431048,45987,1900,0,,1900.00,0.00,-1900.00,2. COSTO MATERIALES,2022-06-01
1679,P-1639,4101010-000,2021,1,1/27/21 0:00,CIN,522,Transformador 220VAC/16VAC 3A,P-1639,T14392352,40470,4796,0,,4796.00,0.00,-4796.00,2. COSTO MATERIALES,2021-01-01

##### 3.5.7.1 - Se crea un nuevo campo de fecha basado en la fecha original para  COSTOS SUPERVISIÓN

In [804]:
df_libro_mayor_old2_2['Fecha2'] = pd.to_datetime(df_libro_mayor_old2_2['Año'].astype(str) + '-' + df_libro_mayor_old2_2['Mes'].astype(str) + '-1')
df_libro_mayor_old2_2.sample(5)

,CODIGO_PROYECTO,Cta_Contable,Año,Mes,Fecha,Tipo_Comp,Num_Comp,Glosa,Primer_Analisis,Referencia,Num_Referencia,Debito,Credito,Comentario,Debito_2,Credito_2,TOTAL,Tipo_cuenta,Fecha2
16842,P-OFICINA,4150002-002,2022,12,12/31/22 0:00,AJC,1252,REMUNERACIONES SUPERVISORES,P-Oficina,13677891,,2153705,0,,2153705.00,0.00,-2153705.00,4. COSTO SUPERVISIÓN,2022-12-01
16839,P-OFICINA,4150002-002,2022,10,10/31/22 0:00,AJC,1220,REMUNERACIONES SUPERVISORES,P-Oficina,7435204,,2584134,0,,2584134.00,0.00,-2584134.00,4. COSTO SUPERVISIÓN,2022-10-01
16838,P-OFICINA,4150002-002,2022,10,10/31/22 0:00,AJC,1220,REMUNERACIONES SUPERVISORES,P-Oficina,13677891,,2234754,0,,2234754.00,0.00,-2234754.00,4. COSTO SUPERVISIÓN,2022-10-01
16837,P-OFICINA,4150002-002,2022,9,9/30/22 0:00,AJC,1325,REMUNERACIONES SUPERVISORES,P-Oficina,7435204,0,2183185,0,,2183185.00,0.00,-2183185.00,4. COSTO SUPERVISIÓN,2022-09-01
16841,P-OFICINA,4150002-002,2022,11,11/30/22 0:00,AJC,1385,REMUNERACIONES SUPERVISORES,P-Oficina,7435204,,2719503,0,,2719503.00,0.00,-2719503.00,4. COSTO SUPERVISIÓN,2022-11-01

In [805]:
df_libro_mayor_old2_2['Tipo_cuenta'].unique()

array(['4. COSTO SUPERVISIÓN'], dtype=object)

In [806]:
df_libro_mayor_old2_2[df_libro_mayor_old2_2["Primer_Analisis"] == "P-1673"]

Empty DataFrame
Columns: [CODIGO_PROYECTO, Cta_Contable, Año, Mes, Fecha, Tipo_Comp, Num_Comp, Glosa, Primer_Analisis, Referencia, Num_Referencia, Debito, Credito, Comentario , Debito_2, Credito_2, TOTAL, Tipo_cuenta, Fecha2]
Index: []

#### 3.5.8 - Se realiza pivote final del dataframe

In [807]:
# Se exploran las columnas:
df_libro_mayor_old2.columns

Index(['CODIGO_PROYECTO', 'Cta_Contable', 'Año', 'Mes', 'Fecha', 'Tipo_Comp',
       'Num_Comp', 'Glosa', 'Primer_Analisis', 'Referencia', 'Num_Referencia',
       'Debito', 'Credito', 'Comentario ', 'Debito_2', 'Credito_2', 'TOTAL',
       'Tipo_cuenta', 'Fecha2'],
      dtype='object', name=0)

In [808]:
# crear pivot table sin margenes

df_libro_mayor_old2_piv = pd.pivot_table(df_libro_mayor_old2, values=['Debito_2','Credito_2','TOTAL'], index=['CODIGO_PROYECTO','Tipo_cuenta','Fecha2','Año','Mes'], aggfunc='sum', fill_value=0, margins=True, margins_name='TOTAL')
df_libro_mayor_old2_piv = pd.DataFrame(df_libro_mayor_old2_piv.to_records())

df_libro_mayor_old2_piv.sample(5)

,CODIGO_PROYECTO,Tipo_cuenta,Fecha2,Año,Mes,Credito_2,Debito_2,TOTAL
638,P-1665,2. COSTO MATERIALES,2021-02-01,2021,2,0,2870299,-2870299
1240,P-1688,3. COSTO MANO DE OBRA,2022-11-01,2022,11,0,743562,-743562
951,P-1675,2. COSTO MATERIALES,2022-02-01,2022,2,0,363673,-363673
274,P-1643,2. COSTO MATERIALES,2021-03-01,2021,3,0,6764,-6764
1048,P-1677,3. COSTO MANO DE OBRA,2022-06-01,2022,6,0,1483640,-1483640

In [809]:
df_libro_mayor_old2_piv[df_libro_mayor_old2_piv["CODIGO_PROYECTO"] == "P-1704"]

,CODIGO_PROYECTO,Tipo_cuenta,Fecha2,Año,Mes,Credito_2,Debito_2,TOTAL
1523,P-1704,1. INGRESO,2022-07-01,2022,7,179643612,0,179643612
1524,P-1704,1. INGRESO,2022-08-01,2022,8,84292194,0,84292194
1525,P-1704,1. INGRESO,2022-09-01,2022,9,97802473,34754970,63047503
1526,P-1704,1. INGRESO,2022-10-01,2022,10,49425495,0,49425495
1527,P-1704,1. INGRESO,2022-11-01,2022,11,42952357,0,42952357
1528,P-1704,1. INGRESO,2022-12-01,2022,12,89246807,42952357,46294450
1529,P-1704,2. COSTO MATERIALES,2022-05-01,2022,5,0,273115,-273115
1530,P-1704,2. COSTO MATERIALES,2022-06-01,2022,6,518865,27455060,-26936195
1531,P-1704,2. COSTO MATERIALES,2022-07-01,2022,7,0,24099085,-24099085
1532,P-1704,2. COSTO MATERIALES,2022-08-01,2022,8,0,26228061,-26228061
1533,P-1704,2. COSTO MATERIALES,2022-09-01,2022,9,427832,10760179,-10332347
1534,P-1704,2. COSTO MATERIALES,2022-10-01,2022,10,23459,9875116,-9851657
1535,P-1704,2. COSTO MATERIALES,2022-11-01,2022,11,60975,14121785,-14060810
1536,P-1704,2. COSTO MATERIALES,2022-12-01,2022,12,0,13812869,-13812869
1537,P-1704,3. COSTO MANO DE OBRA,2022-06-01,2022,6,0,5888892,-5888892
1538,P-1704,3. COSTO MANO DE OBRA,2022-07-01,2022,7,0,11901203,-11901203
1539,P-1704,3. COSTO MANO DE OBRA,2022-08-01,2022,8,0,13528015,-13528015
1540,P-1704,3. COSTO MANO DE OBRA,2022-09-01,2022,9,0,15085881,-15085881
1541,P-1704,3. COSTO MANO DE OBRA,2022-10-01,2022,10,0,14919686,-14919686
1542,P-1704,3. COSTO MANO DE OBRA,2022-11-01,2022,11,0,13659190,-13659190
1543,P-1704,3. COSTO MANO DE OBRA,2022-12-01,2022,12,0,12959513,-12959513

In [810]:
# Estas son las dimensiones del dataframe pivoteado:
df_libro_mayor_old2_piv.shape

(1632, 8)

##### 3.5.8.1 - Se realiza pivote final del dataframe paera COSTO SUPERVISIÓN

In [811]:
# crear pivot table sin margenes

df_libro_mayor_old2_2_piv = pd.pivot_table(df_libro_mayor_old2_2, values=['Debito_2','Credito_2','TOTAL'], index=['CODIGO_PROYECTO','Tipo_cuenta','Fecha2','Año','Mes'], aggfunc='sum', fill_value=0, margins=True, margins_name='TOTAL')
df_libro_mayor_old2_2_piv = pd.DataFrame(df_libro_mayor_old2_2_piv.to_records())

df_libro_mayor_old2_2_piv = df_libro_mayor_old2_2_piv[df_libro_mayor_old2_2_piv['CODIGO_PROYECTO'] != 'TOTAL']

# Se reemplaza el valor P-OFICINA por el valor TOTAL con lo cual se utilizará para unirlo al dataframe que crea las filas para el cálculo de los totales
df_libro_mayor_old2_2_piv['CODIGO_PROYECTO'] = df_libro_mayor_old2_2_piv['CODIGO_PROYECTO'].replace('P-OFICINA', 'TOTAL')

df_libro_mayor_old2_2_piv.sample()

,CODIGO_PROYECTO,Tipo_cuenta,Fecha2,Año,Mes,Credito_2,Debito_2,TOTAL
0,TOTAL,4. COSTO SUPERVISIÓN,2022-09-01,2022,9,0,3907465,-3907465

#### 3.5.9 - Se crea subdataframe para proyecto que considera el total con nombre "TOTAL", que se detalla por tipo_cuenta

In [812]:
df_libro_mayor_old2_piv2 = pd.pivot_table(df_libro_mayor_old2_piv, values=['Debito_2','Credito_2','TOTAL'], index=['Tipo_cuenta','Fecha2','Año','Mes'], aggfunc='sum', fill_value=0)
df_libro_mayor_old2_piv2 = pd.DataFrame(df_libro_mayor_old2_piv2.to_records())

# Agregamos la columna Codigo_proyecto con valor "TOTAL" en la primera columna
df_libro_mayor_old2_piv2.insert(loc=0, column='CODIGO_PROYECTO', value='TOTAL')

# Eliminamos los registros con Tipo_cuenta igual a "TOTAL"
df_libro_mayor_old2_piv2 = df_libro_mayor_old2_piv2[df_libro_mayor_old2_piv2['Tipo_cuenta'] != 'TOTAL']
df_libro_mayor_old2_piv2 = df_libro_mayor_old2_piv2[df_libro_mayor_old2_piv2['Tipo_cuenta'] != '']

df_libro_mayor_old2_piv2.sample(5)

,CODIGO_PROYECTO,Tipo_cuenta,Fecha2,Año,Mes,Credito_2,Debito_2,TOTAL
102,TOTAL,OTRA,2022-07-01,2022,7,2654438,10948704,-8294266
72,TOTAL,4. COSTO SUPERVISIÓN,2021-01-01,2021,1,0,2610884,-2610884
2,TOTAL,1. INGRESO,2021-03-01,2021,3,227194679,39876627,187318052
46,TOTAL,2. COSTO MATERIALES,2022-11-01,2022,11,4467360,85506391,-81039031
96,TOTAL,OTRA,2022-01-01,2022,1,0,1000000,-1000000

##### 3.5.9.1 - Se anexa el dataframe creado con los totales con el dataframe creado a partir del punto 3.1.6.1 que contiene los costos de supervisión

In [813]:
df_libro_mayor_old2_piv_fin = pd.concat([df_libro_mayor_old2_piv2, df_libro_mayor_old2_2_piv], ignore_index=True)
df_libro_mayor_old2_piv_fin.sample(10)

,CODIGO_PROYECTO,Tipo_cuenta,Fecha2,Año,Mes,Credito_2,Debito_2,TOTAL
80,TOTAL,4. COSTO SUPERVISIÓN,2021-09-01,2021,9,0,2758892,-2758892
25,TOTAL,2. COSTO MATERIALES,2021-02-01,2021,2,394704,40981843,-40587139
92,TOTAL,OTRA,2021-09-01,2021,9,0,9550423,-9550423
38,TOTAL,2. COSTO MATERIALES,2022-03-01,2022,3,1292194,23105955,-21813761
37,TOTAL,2. COSTO MATERIALES,2022-02-01,2022,2,1368432,9480935,-8112503
30,TOTAL,2. COSTO MATERIALES,2021-07-01,2021,7,2408580,22408883,-20000303
54,TOTAL,3. COSTO MANO DE OBRA,2021-07-01,2021,7,0,220289,-220289
0,TOTAL,1. INGRESO,2021-01-01,2021,1,153082726,51479131,101603595
85,TOTAL,OTRA,2021-02-01,2021,2,0,13905678,-13905678
77,TOTAL,4. COSTO SUPERVISIÓN,2021-06-01,2021,6,0,2554441,-2554441

#### 3.5.10 - Se concatenan los 2 dataframes resultantes

In [814]:
print("=======================================================================")
print("Dimensiones del dataframe antes de la concatenación : ")
print(df_libro_mayor_old2_piv_fin.shape)

=======================================================================
Dimensiones del dataframe antes de la concatenación :
(109, 8)

In [815]:
df_libro_mayor_old3 = pd.concat([df_libro_mayor_old2_piv, df_libro_mayor_old2_piv_fin])
df_libro_mayor_old3.sort_values(by=['CODIGO_PROYECTO']).sample(5)
print(df_libro_mayor_old3.shape)

(1741, 8)

#### 3.5.11 - Estandarización de campos

In [816]:
# Se estandarizan los campos con sus nombres y formatos, para un mayor entendimiento.

df_libro_mayor_old3 = df_libro_mayor_old3.rename(columns={
    'Codigo_proyecto': 'CODIGO_PROYECTO',
    'Tipo_cuenta': 'TIPO_CUENTA',
    'Fecha2': 'FECHA',
    'Año': 'AÑO',
    'Mes': 'MES',
    'Credito_2': 'CREDITO',
    'Debito_2': 'DEBITO'
})

df_libro_mayor_old3['AÑO'] = pd.to_numeric(df_libro_mayor_old3['AÑO'], downcast='integer')
df_libro_mayor_old3['MES'] = pd.to_numeric(df_libro_mayor_old3['MES'], downcast='integer')

df_libro_mayor_old3.sample(10)

,CODIGO_PROYECTO,TIPO_CUENTA,FECHA,AÑO,MES,CREDITO,DEBITO,TOTAL
756,P-1668,3. COSTO MANO DE OBRA,2021-08-01,2021.00,8.00,0,0,0
32,,OTRA,2022-06-01,2022.00,6.00,1706244,1706244,0
1386,P-1695,2. COSTO MATERIALES,2022-09-01,2022.00,9.00,0,516256,-516256
34,,OTRA,2022-10-01,2022.00,10.00,0,9743100,-9743100
1470,P-1700,2. COSTO MATERIALES,2022-12-01,2022.00,12.00,74718,3436341,-3361623
860,P-1672,1. INGRESO,2022-03-01,2022.00,3.00,35977349,24740450,11236899
748,P-1668,2. COSTO MATERIALES,2022-02-01,2022.00,2.00,368067,585607,-217540
988,P-1676,2. COSTO MATERIALES,2022-03-01,2022.00,3.00,0,1170165,-1170165
1069,P-1678,3. COSTO MANO DE OBRA,2021-07-01,2021.00,7.00,0,0,0
1244,P-1689,1. INGRESO,2022-01-01,2022.00,1.00,9228446,0,9228446

#### 3.5.14 Creación de columna MARGEN

In [817]:
df_libro_mayor_old3_2 = df_libro_mayor_old3.copy()

#df_libro_mayor4_2['TOTAL'] = pd.to_numeric(df_libro_mayor4_2['AÑO'], downcast='float')

df_margen = df_libro_mayor_old3_2.groupby(['CODIGO_PROYECTO', 'MES']).apply(lambda x: pd.Series({
    'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
}))

df_margen = pd.DataFrame(df_margen.to_records())
df_margen['MARGEN'] = df_margen['MARGEN'].fillna(0).replace(-np.inf, 0)
df_margen.replace([np.inf, -np.inf, np.nan], 0, inplace=True)


# mostrar el DataFrame resultante
df_margen.sample(10)

/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['INGRESO','COSTO SUPERVISIÓN', 'COSTO MANO DE OBRA', 'COSTO MATERIALES']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == 'INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/3531166699.py:6: RuntimeWarning: invalid value encountered in long_scalars

    CODIGO_PROYECTO   MES  MARGEN
325          P-1667  9.00    0.00
253          P-1658 10.00    0.00
176          P-1647  2.00    0.00
117          P-1638 11.00    0.00
134          P-1641  8.00    0.00
501          P-1687  1.00    0.00
321          P-1667  5.00    0.00
143          P-1642  6.00    0.00
652          P-1709  6.00    0.00
585          P-1696 12.00    0.00

In [818]:
print("=======================================================================")
print("Dimensiones del dataframe antes del merge : ")
print(df_libro_mayor_old3.shape)
print("=======================================================================")
print("Dimensiones del dataframe antes del merge : ")
print(df_margen.shape)

=======================================================================
Dimensiones del dataframe antes del merge :
(1741, 8)
=======================================================================
Dimensiones del dataframe antes del merge :
(694, 3)

In [819]:
df_libro_mayor_old3 = pd.merge(df_libro_mayor_old3, df_margen, on=['CODIGO_PROYECTO', 'MES'], how='left')
#EJEMPLO
#df_libro_mayor5[df_libro_mayor5["CODIGO_PROYECTO"]=="P-1706"]
df_libro_mayor_old3[df_libro_mayor_old3["CODIGO_PROYECTO"]=="TOTAL"]

# Se estandariza el valor TOTAL a 1.TOTAL para que pueda ser seleccionado desde los filtros del Dashboard.
df_libro_mayor_old3['CODIGO_PROYECTO'] = df_libro_mayor_old3['CODIGO_PROYECTO'].apply(lambda x: '1. TOTAL' if x == 'TOTAL' else x)

In [820]:
print("=======================================================================")
print("Dimensiones del dataframe después de la concatenación : ")
print(df_libro_mayor_old3.shape)

=======================================================================
Dimensiones del dataframe después de la concatenación :
(1741, 9)

In [821]:
df_libro_mayor_old3.sample(10)

,CODIGO_PROYECTO,TIPO_CUENTA,FECHA,AÑO,MES,CREDITO,DEBITO,TOTAL,MARGEN
977,P-1676,1. INGRESO,2022-08-01,2022.00,8.00,8596094,0,8596094,0.00
531,P-1660,1. INGRESO,2021-11-01,2021.00,11.00,2726054,0,2726054,0.00
1692,1. TOTAL,3. COSTO MANO DE OBRA,2022-01-01,2022.00,1.00,0,21186972,-21186972,0.00
1518,P-1703,3. COSTO MANO DE OBRA,2022-08-01,2022.00,8.00,0,2402337,-2402337,0.00
380,P-1649,3. COSTO MANO DE OBRA,2021-03-01,2021.00,3.00,0,0,0,0.00
1327,P-1692,1. INGRESO,2022-10-01,2022.00,10.00,5313166,0,5313166,0.00
199,P-1638,2. COSTO MATERIALES,2021-10-01,2021.00,10.00,0,17472,-17472,0.00
175,P-1636,3. COSTO MANO DE OBRA,2021-02-01,2021.00,2.00,0,0,0,0.00
1448,P-1698,3. COSTO MANO DE OBRA,2022-04-01,2022.00,4.00,0,1667346,-1667346,0.00
614,P-1664,2. COSTO MATERIALES,2021-03-01,2021.00,3.00,0,3076051,-3076051,0.00

In [822]:
df_libro_mayor_old3.to_csv('archivos_respaldo/df_libro_mayor_old3.csv', mode='a')

### 3.6 TRATAMIENTO DE "PLANILLA PRESUPUESTO"

In [823]:
# Se crea una copia del dataframe llamado "presupuesto"
df_presupuesto2 = df_presupuesto.copy()

In [824]:
# Eliminar primera fila completa
df_presupuesto2 = df_presupuesto2.iloc[1:]

# Filtrar y mantener solo las columnas deseadas
df_presupuesto2 = df_presupuesto2[['PROYECTO', 'MONTO EN $']]

df_presupuesto2 = df_presupuesto2.rename(columns={'PROYECTO': 'CODIGO_PROYECTO', 'MONTO EN $': 'VALOR'})

df_presupuesto2.sample(10)

   CODIGO_PROYECTO        VALOR
59          P-1717 170727176.42
18          S-1601  16486000.00
8           P-1660  39366390.00
22          P-1678  14497350.00
1           P-1632 138107706.03
6           P-1655  51593018.53
25          P-1681  11390647.75
37          P-1693 141116486.00
42          P-1698  57807633.83
60          P-1718 184688657.35

In [825]:
# Se agregan nuevas columnas tipo de cuenta y Origen.

df_presupuesto2["TIPO_CUENTA"]= "1. INGRESO"
df_presupuesto2["ORIGEN"]= "PLANILLA PRESUPUESTO"

df_presupuesto2.sample(10)

   CODIGO_PROYECTO        VALOR TIPO_CUENTA                ORIGEN
3           P-1645  18150000.00  1. INGRESO  PLANILLA PRESUPUESTO
23          P-1679 169118040.00  1. INGRESO  PLANILLA PRESUPUESTO
52          P-1708 213452539.86  1. INGRESO  PLANILLA PRESUPUESTO
32          P-1688  50214086.81  1. INGRESO  PLANILLA PRESUPUESTO
33          P-1689  20986779.50  1. INGRESO  PLANILLA PRESUPUESTO
10          P-1663  65362150.00  1. INGRESO  PLANILLA PRESUPUESTO
6           P-1655  51593018.53  1. INGRESO  PLANILLA PRESUPUESTO
61          P-1719 194809188.00  1. INGRESO  PLANILLA PRESUPUESTO
41          P-1697  97580171.14  1. INGRESO  PLANILLA PRESUPUESTO
69          P-1727 166727122.73  1. INGRESO  PLANILLA PRESUPUESTO

### 3.7 TRATAMIENTO DE "TABLA PRESUPUESTO"

In [826]:
# Se crea una copia del dataframe para realizar el tratamiento.

df_tabla_presupuesto2 = df_tabla_prespuesto.copy()
print("DIMENSIONES DATAFRAME df_tabla_prespuesto2", df_tabla_presupuesto2.shape)
df_tabla_presupuesto2.sample(5)

DIMENSIONES DATAFRAME df_tabla_prespuesto2 (13831, 7)

,CODIGO_PROYECTO,PARTIDA_PRESUPUESTARIA,PRODUCTO,UNIDAD,CANTIDAD,COSTO_UNITARIO,COSTO_TOTAL
6659,P-1666,1011,Deteccion-Detector Lineal Humo (50 m) Hochiki ...,UNIDA,1,350709,350709
11864,P-1716,1018,Deteccion-Canalizacion,m,1440,2000,2880000
28,P-1602,1029,CITOFONIA-T/Mod Front P/Fonico 1 Puls Al PLACA...,,6,12587,75522
10665,P-1705,1072,TC-COPLA SC/APC-SC/APC,,190,226,42940
2344,P-1626,1637,MANO DE OBRA,Gl,1,7466000,7466000

In [827]:
# Se estandarizan los tipos de campo y se reemplazan valores NaN

df_tabla_presupuesto2['COSTO_UNITARIO'] = pd.to_numeric(df_tabla_presupuesto2['COSTO_UNITARIO'], errors='coerce')
df_tabla_presupuesto2['COSTO_TOTAL'] = pd.to_numeric(df_tabla_presupuesto2['COSTO_TOTAL'], errors='coerce')

# Se reemplaza el valor de los NoNe y Nan 

df_tabla_presupuesto2['COSTO_UNITARIO'] = df_tabla_presupuesto2['COSTO_UNITARIO'].fillna(0)
df_tabla_presupuesto2['COSTO_TOTAL'] = df_tabla_presupuesto2['COSTO_TOTAL'].fillna(0)

print("DIMENSIONES DATAFRAME df_tabla_prespuesto2", df_tabla_presupuesto2.shape)
df_tabla_presupuesto2.head(5)

DIMENSIONES DATAFRAME df_tabla_prespuesto2 (13831, 7)

,CODIGO_PROYECTO,PARTIDA_PRESUPUESTARIA,PRODUCTO,UNIDAD,CANTIDAD,COSTO_UNITARIO,COSTO_TOTAL
0,P-1602,1001,DETECCIÓN-Central de detección Hochiki FNP112...,,1,428490.00,428490.00
1,P-1602,1002,DETECCIÓN-Sensor Humo Hochiki ALN-C,,49,20866.00,1022434.00
2,P-1602,1003,DETECCIÓN-Sensor de temperatura Hochiki ATJ-EA,,4,23846.00,95384.00
3,P-1602,1004,DETECCIÓN-Base Sensores Hochiki HSB-NSA-6,,53,2608.00,138224.00
4,P-1602,1005,DETECCIÓN-Palanca Manual Hochiki DCP-AMS,,13,27200.00,353600.00

In [828]:
#### Creación de campo tipo_costo basado en el valor del a columna "PRODUCTO"

def clasificar_tipo_costo(producto):
    if   producto.upper().startswith("MANO DE OBRA"):
        return "3. COSTO MANO DE OBRA"
    elif producto.upper().startswith("SUPER"):
        return "4. COSTO SUPERVISIÓN"
    else:
        return "2. COSTO MATERIALES"

df_tabla_presupuesto2['TIPO_COSTO'] = df_tabla_presupuesto2['PRODUCTO'].apply(clasificar_tipo_costo)

df_tabla_presupuesto2.head(5)

,CODIGO_PROYECTO,PARTIDA_PRESUPUESTARIA,PRODUCTO,UNIDAD,CANTIDAD,COSTO_UNITARIO,COSTO_TOTAL,TIPO_COSTO
0,P-1602,1001,DETECCIÓN-Central de detección Hochiki FNP112...,,1,428490.00,428490.00,2. COSTO MATERIALES
1,P-1602,1002,DETECCIÓN-Sensor Humo Hochiki ALN-C,,49,20866.00,1022434.00,2. COSTO MATERIALES
2,P-1602,1003,DETECCIÓN-Sensor de temperatura Hochiki ATJ-EA,,4,23846.00,95384.00,2. COSTO MATERIALES
3,P-1602,1004,DETECCIÓN-Base Sensores Hochiki HSB-NSA-6,,53,2608.00,138224.00,2. COSTO MATERIALES
4,P-1602,1005,DETECCIÓN-Palanca Manual Hochiki DCP-AMS,,13,27200.00,353600.00,2. COSTO MATERIALES

In [829]:
# crear pivot table sin margenes

df_tabla_presupuesto3 = pd.pivot_table(df_tabla_presupuesto2, values=['COSTO_TOTAL'], index=['CODIGO_PROYECTO','TIPO_COSTO'], aggfunc='sum', fill_value=0)

df_tabla_presupuesto3 = pd.DataFrame(df_tabla_presupuesto3.to_records())
df_tabla_presupuesto3.sample(10)

    CODIGO_PROYECTO             TIPO_COSTO  COSTO_TOTAL
313          P-1708  3. COSTO MANO DE OBRA  42796967.00
36           P-1614    2. COSTO MATERIALES  24876171.00
99           P-1635    2. COSTO MATERIALES   3095164.00
200          P-1668   4. COSTO SUPERVISIÓN   1557545.00
233          P-1679   4. COSTO SUPERVISIÓN   6052803.00
153          P-1653    2. COSTO MATERIALES  10765426.00
131          P-1645   4. COSTO SUPERVISIÓN    660864.00
64           P-1623  3. COSTO MANO DE OBRA   7319550.00
139          P-1648  3. COSTO MANO DE OBRA  33676709.00
253          P-1686  3. COSTO MANO DE OBRA  19743989.00

In [830]:

# Se crea columna VALOR y se considera el valor en negativo.
df_tabla_presupuesto3['TOTAL'] = df_tabla_presupuesto3['COSTO_TOTAL'].apply(lambda x: x * -1 if x != 0 else 0)

# Se crea la columna de ORIGEN del archivo
df_tabla_presupuesto3["ORIGEN"] = "TABLA_PRESUPUESTO"

print("DIMENSIÓN DE LA TABLA ES", df_tabla_presupuesto3.shape)
df_tabla_presupuesto3.sample(5)

DIMENSIÓN DE LA TABLA ES (388, 5)

,CODIGO_PROYECTO,TIPO_COSTO,COSTO_TOTAL,TOTAL,ORIGEN
149,P-1651,4. COSTO SUPERVISIÓN,222720.00,-222720.00,TABLA_PRESUPUESTO
159,P-1655,2. COSTO MATERIALES,22164917.00,-22164917.00,TABLA_PRESUPUESTO
382,P-Servicios,2. COSTO MATERIALES,0.00,0.00,TABLA_PRESUPUESTO
90,P-1632,2. COSTO MATERIALES,219387084.00,-219387084.00,TABLA_PRESUPUESTO
139,P-1648,3. COSTO MANO DE OBRA,33676709.00,-33676709.00,TABLA_PRESUPUESTO

In [831]:
# INSPECCIÓN VISUAL
df_tabla_presupuesto_testing = pd.pivot_table(df_tabla_presupuesto3, values=['TOTAL'], index=['TIPO_COSTO'], aggfunc='sum', fill_value=0)
df_tabla_presupuesto_testing

                               TOTAL
TIPO_COSTO
2. COSTO MATERIALES   -5745413332.04
3. COSTO MANO DE OBRA -1482885459.00
4. COSTO SUPERVISIÓN   -311477854.00

In [832]:
df_tabla_presupuesto3.to_csv('archivos_respaldo/df_tabla_presupuesto3.csv', mode='a')

## 4.- **MERGE Y TRATAMIENTO DE DATAFRAMES

### 4.1 - **MERGE PARA -> CUADRO FINANCIERO PROYECTOS 
Merge entre Dataframes: df_libro_mayor5 y df_cod_proyecto

In [833]:
print("Dimensiones antes del merge:")
print(df_libro_mayor5.shape)

df_libro_mayor6 = pd.merge(df_libro_mayor5, df_cod_proyecto, on=['CODIGO_PROYECTO'], how='left')

print("Dimensiones después del merge:")
print(df_libro_mayor6.shape)

Dimensiones antes del merge:
(2619, 9)
Dimensiones después del merge:
(2619, 11)

In [834]:
# Reemplazar los valores NaN por "TOTAL" cuando el CODIGO_PROYECTO sea "TOTAL"

cols_to_replace = ['CODIGO_PROYECTO', 'NOMBRE_OBRA', 'NOMBRE_CLIENTE']
df_libro_mayor6[cols_to_replace] = df_libro_mayor6[cols_to_replace].replace('TOTAL', '1. TOTAL')

# Quizás el código anterior sea redundante.
mask = df_libro_mayor6['CODIGO_PROYECTO'] == '1. TOTAL'
df_libro_mayor6.loc[mask, ['NOMBRE_OBRA', 'NOMBRE_CLIENTE']] = '1. TOTAL'

# Se elimina la columna MERGE la que es innecesaria tener hasta ahora
df_libro_mayor6 = df_libro_mayor6.drop('MARGEN', axis=1)

df_libro_mayor6[df_libro_mayor6["CODIGO_PROYECTO"]== "1. TOTAL"].head(5)

,CODIGO_PROYECTO,TIPO_CUENTA,FECHA,AÑO,MES,CREDITO,DEBITO,TOTAL,NOMBRE_OBRA,NOMBRE_CLIENTE
556,1. TOTAL,,NaT,NaN,NaN,2290563418,1931316000,359247418,1. TOTAL,1. TOTAL
557,1. TOTAL,COSTO MANO DE OBRA,2023-01-01,2023.00,1.00,0,72482994,-72482994,1. TOTAL,1. TOTAL
558,1. TOTAL,COSTO MANO DE OBRA,2023-02-01,2023.00,2.00,0,82645544,-82645544,1. TOTAL,1. TOTAL
559,1. TOTAL,COSTO MANO DE OBRA,2023-03-01,2023.00,3.00,0,96760244,-96760244,1. TOTAL,1. TOTAL
560,1. TOTAL,COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,0,111885468,-111885468,1. TOTAL,1. TOTAL

#### 4.1.1 - AGREGACIÓN DE NUEVA COLUMNA DE TOTAL PARA AGREGAR EN GRÁFICO.
Se agrega nueva columna de total pero considerando el valor de los tipos de costo con valores positivos.

In [835]:
# Crear la nueva columna 'TOTAL_2' con los valores de 'TOTAL' positivos
df_libro_mayor6['TOTAL_2'] = np.where(df_libro_mayor6['TIPO_CUENTA'] != 'INGRESO', np.abs(df_libro_mayor6['TOTAL']), df_libro_mayor6['TOTAL'])
df_libro_mayor6.sample(10)

,CODIGO_PROYECTO,TIPO_CUENTA,FECHA,AÑO,MES,CREDITO,DEBITO,TOTAL,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL_2
1634,P-1686,COSTO SUPERVISIÓN,2023-06-01,2023.00,6.00,0,0,0,Macul Icalma,EMPRESA CONSTRUCTORA INGEVEC S.A.,0
432,P-1714,INGRESO,2023-05-01,2023.00,5.00,2436155,0,2436155,Departamental II,Constructora Fuerza Sur Dos Spa,2436155
15,P-1639,COSTO MATERIALES,2023-04-01,2023.00,4.00,5166,0,5166,Lyon 2546,Moller y Perez - Cotapos Construcciones Indust...,5166
2605,1. TOTAL,COSTO MANO DE OBRA,2023-01-01,2023.00,1.00,0,0,0,1. TOTAL,1. TOTAL,0
1500,P-1681,COSTO MATERIALES,2023-01-01,2023.00,1.00,0,0,0,CD Rosen (CCTV Provisorio),Colchones ROSEN SAIC,0
2294,P-1717,COSTO SUPERVISIÓN,2023-01-01,2023.00,1.00,0,0,0,Eco Quilín I,Constructora ICF SPA,0
2422,P-1722,COSTO SUPERVISIÓN,2023-03-01,2023.00,3.00,0,0,0,Eco Cerrillos,Constructora ICF SPA,0
1358,P-1674,COSTO SUPERVISIÓN,2023-01-01,2023.00,1.00,0,0,0,Oficinas Beiersdorf Chorrillos,Constructora Suksa S.A.,0
784,P-1632,COSTO MATERIALES,2023-02-01,2023.00,2.00,0,0,0,Chorrillos Clorox,Constructora Suksa S.A.,0
62,P-1672,COSTO MATERIALES,2023-04-01,2023.00,4.00,303910,0,303910,Sta Clara (ccdd-telecom),Constructora UPC S.A.,303910

#### 4.1.2 - AJUSTES DE COLUMNAS

In [836]:
# Renombrar los valores de la columna CODIGO_PROYECTO
df_libro_mayor6['TIPO_CUENTA'] = df_libro_mayor6['TIPO_CUENTA'].replace({
    'INGRESO': '1. INGRESO',
    'COSTO MATERIALES': '2. COSTO MATERIALES',
    'COSTO MANO DE OBRA': '3. COSTO MANO DE OBRA',
    'COSTO SUPERVISIÓN': '4. COSTO SUPERVISIÓN'
})

df_libro_mayor6['CODIGO_PROYECTO'] = df_libro_mayor6['CODIGO_PROYECTO'].replace({
    'TOTAL': '1. TOTAL'})

In [837]:
# Ordenar el DataFrame por la columna CODIGO_PROYECTO
df_libro_mayor6 = df_libro_mayor6.sort_values('CODIGO_PROYECTO')

# Mover la fila con CODIGO_PROYECTO = '1. TOTAL' al primer lugar
df_libro_mayor6 = pd.concat([df_libro_mayor6[df_libro_mayor6['CODIGO_PROYECTO'] == '1. TOTAL'],
                            df_libro_mayor6[df_libro_mayor6['CODIGO_PROYECTO'] != '1. TOTAL']])

df_libro_mayor6['NOMBRE_OBRA'] = df_libro_mayor6['NOMBRE_OBRA'].str.upper()
df_libro_mayor6['NOMBRE_CLIENTE'] = df_libro_mayor6['NOMBRE_CLIENTE'].str.upper()

# Reiniciar los índices del DataFrame
df_libro_mayor6 = df_libro_mayor6.reset_index(drop=True)
df_libro_mayor6.sample(5)

,CODIGO_PROYECTO,TIPO_CUENTA,FECHA,AÑO,MES,CREDITO,DEBITO,TOTAL,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL_2
1613,P-1697,4. COSTO SUPERVISIÓN,2023-04-01,2023.00,4.00,0,0,0,ESTOCOLMO,CONSTRUCTORA FORTALEZA S.A,0
101,P-1592,4. COSTO SUPERVISIÓN,2023-02-01,2023.00,2.00,0,0,0,NUEVA COSTANERA 3300,EBCO S.A.,0
652,P-1663,3. COSTO MANO DE OBRA,2023-05-01,2023.00,5.00,0,0,0,OFICINAS EQUIFAX,CONSTRUCTORA VRK INGENIERIA LIMITADA,0
2444,P-1724,2. COSTO MATERIALES,2023-03-01,2023.00,3.00,0,0,0,NaN,NaN,0
226,P-1620,4. COSTO SUPERVISIÓN,2023-06-01,2023.00,6.00,0,0,0,"OF APOQUINDO- HABILITACIONES, INTEGRACION Y AD...",CONSTRUCTORA INARCO S.A.,0

#### 4.1.3 - CREACIÓN DE COLUMNA MARGEN

In [838]:
df_margen = df_libro_mayor6.groupby(['CODIGO_PROYECTO', 'MES']).apply(lambda x: pd.Series({
    'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
}))

df_margen = pd.DataFrame(df_margen.to_records())
df_margen['MARGEN'] = df_margen['MARGEN'].fillna(0).replace(-np.inf, 0)
df_margen.replace([np.inf, -np.inf, np.nan], 0, inplace=True)

#warnings.filterwarnings("ignore", category=FutureWarning, message="Inferring datetime64.*")

# mostrar el DataFrame resultante
df_margen.sample(10)

df_libro_mayor6 = pd.merge(df_libro_mayor6, df_margen, on=['CODIGO_PROYECTO', 'MES'], how='left')

# INSPECCIÓN VISUAL 1
df_libro_mayor6[df_libro_mayor6["CODIGO_PROYECTO"]=="P-1704"]

/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: divide by zero encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: divide by zero encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: divide by zero encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: divide by zero encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: divide by zero encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: divide by zero encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: divide by zero encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: divide by zero encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: divide by zero encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: divide by zero encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: divide by zero encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: divide by zero encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: divide by zero encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: divide by zero encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
/var/folders/50/1s4nc051355gh33rchwmpfkr0000gp/T/ipykernel_2112/1823500159.py:2: RuntimeWarning: invalid value encountered in long_scalars
  'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA','4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()

,CODIGO_PROYECTO,TIPO_CUENTA,FECHA,AÑO,MES,CREDITO,DEBITO,TOTAL,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL_2,MARGEN
1806,P-1704,2. COSTO MATERIALES,2023-06-01,2023.00,6.00,0,0,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,0,0.00
1807,P-1704,3. COSTO MANO DE OBRA,2023-06-01,2023.00,6.00,0,0,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,0,0.00
1808,P-1704,4. COSTO SUPERVISIÓN,2023-06-01,2023.00,6.00,0,0,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,0,0.00
1809,P-1704,1. INGRESO,2023-06-01,2023.00,6.00,0,0,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,0,0.00
1810,P-1704,4. COSTO SUPERVISIÓN,2023-03-01,2023.00,3.00,0,0,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,0,0.04
1811,P-1704,2. COSTO MATERIALES,2023-01-01,2023.00,1.00,0,0,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,0,0.25
1812,P-1704,1. INGRESO,2023-01-01,2023.00,1.00,0,0,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,0,0.25
1813,P-1704,4. COSTO SUPERVISIÓN,2023-05-01,2023.00,5.00,0,0,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,0,0.66
1814,P-1704,4. COSTO SUPERVISIÓN,2023-01-01,2023.00,1.00,0,0,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,0,0.25
1815,P-1704,3. COSTO MANO DE OBRA,2023-05-01,2023.00,5.00,0,0,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,0,0.66
1816,P-1704,3. COSTO MANO DE OBRA,2023-01-01,2023.00,1.00,0,0,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,0,0.25
1817,P-1704,2. COSTO MATERIALES,2023-03-01,2023.00,3.00,0,0,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,0,0.04
1818,P-1704,1. INGRESO,2023-03-01,2023.00,3.00,0,0,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,0,0.04
1819,P-1704,4. COSTO SUPERVISIÓN,2023-02-01,2023.00,2.00,0,0,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,0,0.41
1820,P-1704,3. COSTO MANO DE OBRA,2023-02-01,2023.00,2.00,0,0,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,0,0.41
1821,P-1704,2. COSTO MATERIALES,2023-02-01,2023.00,2.00,0,0,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,0,0.41
1822,P-1704,1. INGRESO,2023-02-01,2023.00,2.00,0,0,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,0,0.41
1823,P-1704,3. COSTO MANO DE OBRA,2023-03-01,2023.00,3.00,0,0,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,0,0.04
1824,P-1704,2. COSTO MATERIALES,2023-05-01,2023.00,5.00,0,0,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,0,0.66
1825,P-1704,2. COSTO MATERIALES,2023-02-01,2023.00,2.00,139976,3388760,-3248784,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,3248784,0.41
1826,P-1704,4. COSTO SUPERVISIÓN,2023-04-01,2023.00,4.00,0,0,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,0,0.36
1827,P-1704,1. INGRESO,2023-05-01,2023.00,5.00,0,0,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,0,0.66
1828,P-1704,2. COSTO MATERIALES,2023-01-01,2023.00,1.00,0,20073319,-20073319,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,20073319,0.25
1829,P-1704,3. COSTO MANO DE OBRA,2023-05-01,2023.00,5.00,0,12890883,-12890883,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,12890883,0.66
1830,P-1704,3. COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,0,14242535,-14242535,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,14242535,0.36
1831,P-1704,3. COSTO MANO DE OBRA,2023-03-01,2023.00,3.00,0,12332472,-12332472,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,12332472,0.04
1832,P-1704,3. COSTO MANO DE OBRA,2023-02-01,2023.00,2.00,0,10751091,-10751091,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,10751091,0.41
1833,P-1704,3. COSTO MANO DE OBRA,2023-01-01,2023.00,1.00,0,7375493,-7375493,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,7375493,0.25
1834,P-1704,2. COSTO MATERIALES,2023-05-01,2023.00,5.00,0,13967551,-13967551,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,13967551,0.66
1835,P-1704,2. COSTO MATERIALES,2023-06-01,2023.00,6.00,0,24160596,-24160596,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,24160596,0.00
1836,P-1704,2. COSTO MATERIALES,2023-04-01,2023.00,4.00,0,20031042,-20031042,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,20031042,0.36
1837,P-1704,1. INGRESO,2023-02-01,2023.00,2.00,23544607,0,23544607,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,23544607,0.41
1838,P-1704,1. INGRESO,2023-03-01,2023.00,3.00,28278508,0,28278508,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,28278508,0.04
1839,P-1704,1. INGRESO,2023-04-01,2023.00,4.00,53250000,0,53250000,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,53250000,0.36
1840,P-1704,1. INGRESO,2023-05-01,2023.00,5.00,132309997,53250000,79059997,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,79059997,0.66
1841,P-1704,2. COSTO MATERIALES,2023-03-01,2023.00,3.00,0,14768626,-14768626,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,14768626,0.04
1842,P-1704,1. INGRESO,2023-04-01,2023.00,4.00,0,0,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,0,0.36
1843,P-1704,2. COSTO MATERIALES,2023-04-01,2023.00,4.00,0,0,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,0,0.36
1844,P-1704,1. INGRESO,2023-01-01,2023.00,1.00,80676884,44033800,36643084,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,36643084,0.25
1845,P-1704,3. COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,0,0,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,0,0.36

In [839]:
df_libro_mayor6.to_csv('archivos_respaldo/df_libro_mayor6.csv', mode='a')

### 4.2 - **MERGE PARA -> YTD AÑO EN CURSO HASTA MES CERRADO
MERGE ENTRE df_libro_mayor_ytd_closed_piv y df_cod_proyecto

In [840]:
print("Dimensiones antes del merge:")
df_libro_mayor_ytd_closed_piv.shape

Dimensiones antes del merge:

(340, 3)

In [841]:
df_ytd_cerrado = df_libro_mayor_ytd_closed_piv.copy()

In [842]:
# Se realiza merge con Nombre de Obra y Cliente.

print("Dimensiones mes_en_curso antes de cambios: ", df_ytd_cerrado.shape)
df_ytd_cerrado = df_ytd_cerrado.merge(df_cod_proyecto, on='CODIGO_PROYECTO', how='left')
print("Dimensiones mes_en_curso2 antes de cambios: ", df_ytd_cerrado.shape)
df_ytd_cerrado.sample(10)

Dimensiones mes_en_curso antes de cambios:  (340, 3)
Dimensiones mes_en_curso2 antes de cambios:  (340, 5)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL,NOMBRE_OBRA,NOMBRE_CLIENTE
325,P-1726,COSTO MATERIALES,-23539593,NaN,NaN
156,P-1681,COSTO MANO DE OBRA,0,CD Rosen (CCTV Provisorio),Colchones ROSEN SAIC
22,P-1611,COSTO SUPERVISIÓN,0,Edificio Plaza Egaña,EBCO S.A.
203,P-1692,INGRESO,46902525,José Perez Cotapos,EBCO S.A.
283,P-1715,INGRESO,58841737,CD Lo Echevers,Quezada y Boetsch
129,P-1673,COSTO MATERIALES,68000,Inacap Temuco - Etapa A,Universidad Tecnologica de Chile Inacap
330,P-1727,COSTO SUPERVISIÓN,0,NaN,NaN
289,P-1717,COSTO MATERIALES,0,Eco Quilín I,Constructora ICF SPA
103,P-1664,INGRESO,0,MK II PCI,Comercial K SpA.
301,P-1720,COSTO MATERIALES,0,NaN,NaN

In [843]:
# Se reemplazan nombres de TIPO_CUENTA

df_ytd_cerrado['TIPO_CUENTA'] = df_ytd_cerrado['TIPO_CUENTA'].replace({
    'INGRESO': '1. INGRESO',
    'COSTO MATERIALES': '2. COSTO MATERIALES',
    'COSTO MANO DE OBRA': '3. COSTO MANO DE OBRA',
    'COSTO SUPERVISIÓN': '4. COSTO SUPERVISIÓN'
})
df_ytd_cerrado.sample(10)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL,NOMBRE_OBRA,NOMBRE_CLIENTE
121,P-1670,2. COSTO MATERIALES,6945,MK II Seguridad y Redes,Comercial K SpA.
328,P-1727,3. COSTO MANO DE OBRA,-8169893,NaN,NaN
117,P-1669,2. COSTO MATERIALES,1670169,Departamental,EMP. CONSTRUCTORA INGENIEROS S.A.
7,P-1557,1. INGRESO,0,Rosario Rosales,EBCO S.A.
147,P-1677,1. INGRESO,2369790,Galvarino Gallardo,Moller y Perez - Cotapos Construcciones Indust...
254,P-1706,4. COSTO SUPERVISIÓN,0,California,CONSTRUCTORA E INVERSIONES VITAL SPA.
42,P-1636,4. COSTO SUPERVISIÓN,0,Santo Domingo 1410,DANACORP S.A
65,P-1645,2. COSTO MATERIALES,19980,Los tres Antonios,Sociedad Constructora Echavarri Hermanos Limitada
4,P-1557,3. COSTO MANO DE OBRA,-1247014,Rosario Rosales,EBCO S.A.
174,P-1685,4. COSTO SUPERVISIÓN,0,Mapa Edificios No Operacionales,Claro Vicuña Valenzuela S.A.

In [844]:
# INSPECCIÓN VISUAL 1 
df_ytd_cerrado[df_ytd_cerrado["CODIGO_PROYECTO"]=="1. TOTAL"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL,NOMBRE_OBRA,NOMBRE_CLIENTE
0,1. TOTAL,3. COSTO MANO DE OBRA,-478147965,NaN,NaN
1,1. TOTAL,2. COSTO MATERIALES,-605032841,NaN,NaN
2,1. TOTAL,4. COSTO SUPERVISIÓN,-22566666,NaN,NaN
3,1. TOTAL,1. INGRESO,1579362409,NaN,NaN

In [845]:
#Se renombra "TOTAL" a "1. TOTAL" para que se pueda visualizar en el dashboard.

cols_to_replace = ['CODIGO_PROYECTO', 'NOMBRE_OBRA', 'NOMBRE_CLIENTE']
df_ytd_cerrado[cols_to_replace] = df_ytd_cerrado[cols_to_replace].replace('TOTAL', '1. TOTAL')
mask = df_ytd_cerrado['CODIGO_PROYECTO'] == '1. TOTAL'
df_ytd_cerrado.loc[mask, ['NOMBRE_OBRA', 'NOMBRE_CLIENTE']] = '1. TOTAL'
df_ytd_cerrado.sample(4)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL,NOMBRE_OBRA,NOMBRE_CLIENTE
255,P-1706,1. INGRESO,36302208,California,CONSTRUCTORA E INVERSIONES VITAL SPA.
7,P-1557,1. INGRESO,0,Rosario Rosales,EBCO S.A.
291,P-1717,1. INGRESO,0,Eco Quilín I,Constructora ICF SPA
6,P-1557,4. COSTO SUPERVISIÓN,0,Rosario Rosales,EBCO S.A.

In [846]:
# INSPECCIÓN VISUAL 1
df_ytd_cerrado[df_ytd_cerrado["CODIGO_PROYECTO"]=="1. TOTAL"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL,NOMBRE_OBRA,NOMBRE_CLIENTE
0,1. TOTAL,3. COSTO MANO DE OBRA,-478147965,1. TOTAL,1. TOTAL
1,1. TOTAL,2. COSTO MATERIALES,-605032841,1. TOTAL,1. TOTAL
2,1. TOTAL,4. COSTO SUPERVISIÓN,-22566666,1. TOTAL,1. TOTAL
3,1. TOTAL,1. INGRESO,1579362409,1. TOTAL,1. TOTAL

#### 4.2.1 - MERGE CON "df_libro_mayor5_base2" PARA CREAR DATAFRAME FINAL

In [847]:
print("DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: df_ytd_cerrado   : ", df_ytd_cerrado.shape)

df_ytd_cerrado2 = df_ytd_cerrado.filter(["CODIGO_PROYECTO", "TIPO_CUENTA", "TOTAL"])

print("DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: df_ytd_cerrado2 : ", df_ytd_cerrado2.shape)

df_ytd_cerrado2.sample(5)

DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: df_ytd_cerrado   :  (340, 5)
DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: df_ytd_cerrado2 :  (340, 3)

    CODIGO_PROYECTO          TIPO_CUENTA     TOTAL
115          P-1668           1. INGRESO         0
59           P-1643           1. INGRESO         0
315          P-1723           1. INGRESO  86650911
57           P-1643  2. COSTO MATERIALES   -330968
165          P-1683  2. COSTO MATERIALES     31328

In [848]:
# Exploración dataframe base

df_libro_mayor5_base2.sample(5)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE
99,P-1700,1. INGRESO,0,CD ORIZON,EBCO S.A.
325,P-1722,4. COSTO SUPERVISIÓN,0,ECO CERRILLOS,CONSTRUCTORA ICF SPA
282,P-1687,4. COSTO SUPERVISIÓN,0,ROJAS MAGALLANES,E.MOLINA MOREL CONSTRUCTORA S.A.
216,P-1648,3. COSTO MANO DE OBRA,0,ETAPA 2 CD PERALILLO TW,INMOBILIARIA Y RENTAS LOGÍSTICA S.A.
87,P-1696,2. COSTO MATERIALES,0,SANTA VICTORIA - TERRACORP,CONSTRUCTORA TERRACORP S.A.

In [849]:
# Merge Dataframe BASE 

print("DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: df_libro_mayor5_base2   : ", df_libro_mayor5_base2.shape)

df_ytd_cerrado3 = df_libro_mayor5_base2.merge(df_ytd_cerrado2, on=['CODIGO_PROYECTO', 'TIPO_CUENTA'], how='left')

print("DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: df_ytd_cerrado3       : ", df_ytd_cerrado3.shape)

df_ytd_cerrado3.sample(5)

DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: df_libro_mayor5_base2   :  (340, 5)
DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: df_ytd_cerrado3       :  (340, 6)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL
70,P-1690,2. COSTO MATERIALES,0,ONGOLMO - HOME CONDOMINIO,CANTAUCO CONSTRUCCION LTDA.,-7360105
136,P-1716,3. COSTO MANO DE OBRA,0,CD ASTARA,ASTARA LOGÍSTICA CHILE SPA.,-21988771
268,P-1679,4. COSTO SUPERVISIÓN,0,JUAN SABAJ,CONSTRUCTORA GREVIA,0
29,P-1668,2. COSTO MATERIALES,0,QUILLAYES PLAZA,E.MOLINA MOREL CONSTRUCTORA S.A.,146500
258,P-1673,4. COSTO SUPERVISIÓN,0,INACAP TEMUCO - ETAPA A,UNIVERSIDAD TECNOLOGICA DE CHILE INACAP,0

In [850]:
# INSPECCIÓN VISUAL 1

df_ytd_cerrado3[df_ytd_cerrado3["CODIGO_PROYECTO"]=="1. TOTAL"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL
336,1. TOTAL,4. COSTO SUPERVISIÓN,0,1. TOTAL,1. TOTAL,-22566666
337,1. TOTAL,1. INGRESO,0,1. TOTAL,1. TOTAL,1579362409
338,1. TOTAL,2. COSTO MATERIALES,0,1. TOTAL,1. TOTAL,-605032841
339,1. TOTAL,3. COSTO MANO DE OBRA,0,1. TOTAL,1. TOTAL,-478147965

In [851]:
# INSPECCIÓN VISUAL 2

df_ytd_cerrado3[df_ytd_cerrado3["CODIGO_PROYECTO"]=="P-1724"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL
153,P-1724,3. COSTO MANO DE OBRA,0,NaN,NaN,-506066
154,P-1724,2. COSTO MATERIALES,0,NaN,NaN,-7660814
155,P-1724,1. INGRESO,0,NaN,NaN,28935273
327,P-1724,4. COSTO SUPERVISIÓN,0,NaN,NaN,0

#### 4.2.2 - SE REALIZA CREACIÓN DE COLUMNA MARGEN

In [852]:
# Esta línea de código es para evitar ver el error.
with np.errstate(divide='ignore', invalid='ignore'):

    df_margen = df_ytd_cerrado3.groupby(['CODIGO_PROYECTO']).apply(lambda x: pd.Series({
        'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES','3. COSTO MANO DE OBRA', '4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
    }))

df_margen = pd.DataFrame(df_margen.to_records())
df_margen['MARGEN'] = df_margen['MARGEN'].fillna(0).replace(-np.inf, 0)
df_margen.replace([np.inf, -np.inf, np.nan], 0, inplace=True)

print("DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: df_margen       : ", df_margen.shape)

# mostrar el DataFrame resultante
df_margen.sample(10)

DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: df_margen       :  (85, 2)

   CODIGO_PROYECTO  MARGEN
34          P-1675    1.00
5           P-1611    0.00
19          P-1653    0.00
74          P-1719    1.00
53          P-1695    0.16
62          P-1705    0.05
42          P-1684    0.22
55          P-1697    0.46
7           P-1620    0.00
23          P-1661    0.00

In [853]:
df_margen[df_margen["CODIGO_PROYECTO"]=="P-1724"]

   CODIGO_PROYECTO  MARGEN
79          P-1724    0.72

In [854]:
# Merge Dataframe para agregar MARGEN

print("DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: df_ytd_cerrado3   : ", df_ytd_cerrado3.shape)

df_ytd_cerrado3 = df_ytd_cerrado3.merge(df_margen, on=['CODIGO_PROYECTO'], how='left')

print("DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: df_ytd_cerrado3 : ", df_ytd_cerrado3.shape)

df_ytd_cerrado3.sample(5)

DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: df_ytd_cerrado3   :  (340, 6)
DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: df_ytd_cerrado3 :  (340, 7)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL,MARGEN
93,P-1698,1. INGRESO,0,CD ANDES,EBCO S.A.,909040,1.00
142,P-1718,1. INGRESO,0,PATIO COMIDAS,EBCO S.A.,107577081,0.57
117,P-1707,1. INGRESO,0,LAS TRANQUERAS,CONSTRUCTORA SANTOLAYA LTDA.,11263421,-0.42
157,P-1725,2. COSTO MATERIALES,0,LO CAÑAS,CONSTRUCTORA BRISAS DE BATUCO,-10888672,0.28
24,P-1663,2. COSTO MATERIALES,0,OFICINAS EQUIFAX,CONSTRUCTORA VRK INGENIERIA LIMITADA,0,0.00

In [855]:
df_ytd_cerrado3.to_csv('archivos_respaldo/df_ytd_cerrado3.csv', index = False)

### 4.2-1 - MERGE PARA -> YTD AÑO EN CURSO HASTA MES CERRADO (PERSPECTIVA MES ANTERIOR)
MERGE ENTRE df_libro_mayor_ytd_closed_2M y df_cod_proyecto

In [856]:
print("Dimensiones antes del merge:")
df_libro_mayor_ytd_closed_2M.shape

Dimensiones antes del merge:

(340, 3)

In [857]:
df_ytd_cerrado_2M = df_libro_mayor_ytd_closed_2M.copy()

In [858]:
# Se realiza merge con Nombre de Obra y Cliente.

print("Dimensiones df_ytd_cerrado_2M antes de cambios: ", df_ytd_cerrado_2M.shape)
df_ytd_cerrado_2M = df_ytd_cerrado_2M.merge(df_cod_proyecto, on='CODIGO_PROYECTO', how='left')
print("Dimensiones df_ytd_cerrado_2M antes de cambios: ", df_ytd_cerrado_2M.shape)
df_ytd_cerrado_2M.sample(10)

Dimensiones df_ytd_cerrado_2M antes de cambios:  (340, 3)
Dimensiones df_ytd_cerrado_2M antes de cambios:  (340, 5)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL,NOMBRE_OBRA,NOMBRE_CLIENTE
299,P-1719,INGRESO,131348,CD METALPAR,EBCO S.A.
84,P-1658,COSTO MANO DE OBRA,0,VIVIPRA,Vicherat y Pradenas Ltda.
33,P-1626,COSTO MATERIALES,3460,Clinica Bio Bio,Constructora LYD S.A.
198,P-1691,COSTO SUPERVISIÓN,0,Rosario Rosales,CONSTRUCTORA E INMOBILIARIA PRADOVERDE LTDA.
270,P-1712,COSTO SUPERVISIÓN,0,Centro Comercial Viña Outlet Park,EBCO S.A.
50,P-1641,COSTO SUPERVISIÓN,0,Inacap Temuco,Desarrollos Constructivos Axis Sociedad Anonima
312,P-1723,COSTO MANO DE OBRA,-10269821,Villa Panamericana Lote C,Constructora Mena y Ovalle S.A.
193,P-1690,COSTO MATERIALES,-7192915,Ongolmo - Home Condominio,CANTAUCO CONSTRUCCION LTDA.
337,P-1729,COSTO MATERIALES,0,NaN,NaN
221,P-1697,COSTO MATERIALES,-14866665,Estocolmo,Constructora Fortaleza S.A

In [859]:
# Se reemplazan nombres de TIPO_CUENTA

df_ytd_cerrado_2M['TIPO_CUENTA'] = df_ytd_cerrado_2M['TIPO_CUENTA'].replace({
    'INGRESO': '1. INGRESO',
    'COSTO MATERIALES': '2. COSTO MATERIALES',
    'COSTO MANO DE OBRA': '3. COSTO MANO DE OBRA',
    'COSTO SUPERVISIÓN': '4. COSTO SUPERVISIÓN'
})
df_ytd_cerrado_2M.sample(10)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL,NOMBRE_OBRA,NOMBRE_CLIENTE
302,P-1720,4. COSTO SUPERVISIÓN,0,NaN,NaN
141,P-1676,2. COSTO MATERIALES,-2031638,Lo Campino,EBCO S.A.
288,P-1717,3. COSTO MANO DE OBRA,0,Eco Quilín I,Constructora ICF SPA
143,P-1676,1. INGRESO,0,Lo Campino,EBCO S.A.
9,P-1591,2. COSTO MATERIALES,0,Edificio Estoril,EBCO S.A.
240,P-1703,3. COSTO MANO DE OBRA,-8696794,Santa Victoria Danacorp,DANACORP S.A
241,P-1703,2. COSTO MATERIALES,-12417197,Santa Victoria Danacorp,DANACORP S.A
117,P-1669,2. COSTO MATERIALES,1424462,Departamental,EMP. CONSTRUCTORA INGENIEROS S.A.
102,P-1664,4. COSTO SUPERVISIÓN,0,MK II PCI,Comercial K SpA.
22,P-1611,4. COSTO SUPERVISIÓN,0,Edificio Plaza Egaña,EBCO S.A.

In [860]:
# INSPECCIÓN VISUAL 1 
df_ytd_cerrado_2M[df_ytd_cerrado_2M["CODIGO_PROYECTO"]=="1. TOTAL"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL,NOMBRE_OBRA,NOMBRE_CLIENTE
0,1. TOTAL,3. COSTO MANO DE OBRA,-363774250,NaN,NaN
1,1. TOTAL,2. COSTO MATERIALES,-435497453,NaN,NaN
2,1. TOTAL,4. COSTO SUPERVISIÓN,-17923405,NaN,NaN
3,1. TOTAL,1. INGRESO,1118563896,NaN,NaN

In [861]:
#Se renombra "TOTAL" a "1. TOTAL" para que se pueda visualizar en el dashboard.

cols_to_replace = ['CODIGO_PROYECTO', 'NOMBRE_OBRA', 'NOMBRE_CLIENTE']
df_ytd_cerrado_2M[cols_to_replace] = df_ytd_cerrado_2M[cols_to_replace].replace('TOTAL', '1. TOTAL')
mask = df_ytd_cerrado['CODIGO_PROYECTO'] == '1. TOTAL'
df_ytd_cerrado_2M.loc[mask, ['NOMBRE_OBRA', 'NOMBRE_CLIENTE']] = '1. TOTAL'
df_ytd_cerrado_2M.sample(4)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL,NOMBRE_OBRA,NOMBRE_CLIENTE
294,P-1718,4. COSTO SUPERVISIÓN,0,Patio Comidas,EBCO S.A.
316,P-1724,3. COSTO MANO DE OBRA,-506066,NaN,NaN
223,P-1697,1. INGRESO,37817699,Estocolmo,Constructora Fortaleza S.A
321,P-1725,2. COSTO MATERIALES,-4180127,Lo Cañas,Constructora Brisas de Batuco

In [862]:
# INSPECCIÓN VISUAL 1
df_ytd_cerrado_2M[df_ytd_cerrado_2M["CODIGO_PROYECTO"]=="1. TOTAL"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL,NOMBRE_OBRA,NOMBRE_CLIENTE
0,1. TOTAL,3. COSTO MANO DE OBRA,-363774250,1. TOTAL,1. TOTAL
1,1. TOTAL,2. COSTO MATERIALES,-435497453,1. TOTAL,1. TOTAL
2,1. TOTAL,4. COSTO SUPERVISIÓN,-17923405,1. TOTAL,1. TOTAL
3,1. TOTAL,1. INGRESO,1118563896,1. TOTAL,1. TOTAL

#### 4.2-1.1 - MERGE CON "df_libro_mayor5_base2" PARA CREAR DATAFRAME FINAL

In [863]:
print("DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: df_ytd_cerrado_2M   : ", df_ytd_cerrado_2M.shape)

df_ytd_cerrado_2M_2 = df_ytd_cerrado_2M.filter(["CODIGO_PROYECTO", "TIPO_CUENTA", "TOTAL"])

print("DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: df_ytd_cerrado_2M_2 : ", df_ytd_cerrado_2M_2.shape)

df_ytd_cerrado_2M_2.sample(5)

DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: df_ytd_cerrado_2M   :  (340, 5)
DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: df_ytd_cerrado_2M_2 :  (340, 3)

    CODIGO_PROYECTO            TIPO_CUENTA     TOTAL
98           P-1663   4. COSTO SUPERVISIÓN         0
280          P-1715  3. COSTO MANO DE OBRA -12758158
327          P-1726             1. INGRESO  21037279
149          P-1679    2. COSTO MATERIALES    -96622
148          P-1679  3. COSTO MANO DE OBRA   -187507

In [864]:
df_margen[df_margen["CODIGO_PROYECTO"]=="P-1724"]

   CODIGO_PROYECTO  MARGEN
79          P-1724    0.72

In [865]:
# Exploración dataframe base

df_libro_mayor5_base2.sample(5)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE
167,P-1729,2. COSTO MATERIALES,0,NaN,NaN
137,P-1716,2. COSTO MATERIALES,0,CD ASTARA,ASTARA LOGÍSTICA CHILE SPA.
280,P-1685,4. COSTO SUPERVISIÓN,0,MAPA EDIFICIOS NO OPERACIONALES,CLARO VICUÑA VALENZUELA S.A.
181,P-1611,3. COSTO MANO DE OBRA,0,EDIFICIO PLAZA EGAÑA,EBCO S.A.
269,P-1680,4. COSTO SUPERVISIÓN,0,NUEVA UNO,CONSTRUCTORA TECSA S.A.

In [866]:
# Merge Dataframe BASE 

print("DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: df_libro_mayor5_base2   : ", df_libro_mayor5_base2.shape)

df_ytd_cerrado_2M_3 = df_libro_mayor5_base2.merge(df_ytd_cerrado_2M_2, on=['CODIGO_PROYECTO', 'TIPO_CUENTA'], how='left')

print("DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: df_ytd_cerrado_2M_3       : ", df_ytd_cerrado_2M_3.shape)

df_ytd_cerrado_2M_3.sample(5)

DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: df_libro_mayor5_base2   :  (340, 5)
DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: df_ytd_cerrado_2M_3       :  (340, 6)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL
203,P-1641,4. COSTO SUPERVISIÓN,0,INACAP TEMUCO,DESARROLLOS CONSTRUCTIVOS AXIS SOCIEDAD ANONIMA,0
52,P-1682,2. COSTO MATERIALES,0,PLAZA CEPPI,EMP. CONSTRUCTORA INGENIEROS S.A.,-11527560
34,P-1672,2. COSTO MATERIALES,0,STA CLARA (CCDD-TELECOM),CONSTRUCTORA UPC S.A.,318910
107,P-1704,2. COSTO MATERIALES,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,-58121771
204,P-1642,1. INGRESO,0,CORINTO,EMP. CONSTRUCTORA INGENIEROS S.A.,0

In [867]:
# INSPECCIÓN VISUAL 1

df_ytd_cerrado_2M_3[df_ytd_cerrado_2M_3["CODIGO_PROYECTO"]=="1. TOTAL"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL
336,1. TOTAL,4. COSTO SUPERVISIÓN,0,1. TOTAL,1. TOTAL,-17923405
337,1. TOTAL,1. INGRESO,0,1. TOTAL,1. TOTAL,1118563896
338,1. TOTAL,2. COSTO MATERIALES,0,1. TOTAL,1. TOTAL,-435497453
339,1. TOTAL,3. COSTO MANO DE OBRA,0,1. TOTAL,1. TOTAL,-363774250

#### 4.2-1.2 - SE REALIZA CREACIÓN DE COLUMNA MARGEN

In [868]:
# Esta línea de código es para evitar ver el error.
with np.errstate(divide='ignore', invalid='ignore'):

    df_margen = df_ytd_cerrado_2M_3.groupby(['CODIGO_PROYECTO']).apply(lambda x: pd.Series({
        'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES','3. COSTO MANO DE OBRA', '4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
    }))

df_margen = pd.DataFrame(df_margen.to_records())
df_margen['MARGEN'] = df_margen['MARGEN'].fillna(0).replace(-np.inf, 0)
df_margen.replace([np.inf, -np.inf, np.nan], 0, inplace=True)

print("DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: df_margen       : ", df_margen.shape)

# mostrar el DataFrame resultante
df_margen.sample(10)

DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: df_margen       :  (85, 2)

   CODIGO_PROYECTO  MARGEN
53          P-1695    0.03
48          P-1690    0.35
2           P-1591    0.00
14          P-1643    0.00
23          P-1661    0.00
55          P-1697    0.42
44          P-1686   -0.16
56          P-1698    1.00
76          P-1721    0.30
41          P-1683    0.00

In [869]:
df_margen[df_margen["CODIGO_PROYECTO"]=="P-1724"]

   CODIGO_PROYECTO  MARGEN
79          P-1724    0.72

In [870]:
# Merge Dataframe para agregar MARGEN

print("DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: df_ytd_cerrado_2M_3   : ", df_ytd_cerrado_2M_3.shape)

df_ytd_cerrado_2M_3 = df_ytd_cerrado_2M_3.merge(df_margen, on=['CODIGO_PROYECTO'], how='left')

print("DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: df_ytd_cerrado_2M_3 : ", df_ytd_cerrado_2M_3.shape)

df_ytd_cerrado_2M_3.sample(5)

DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: df_ytd_cerrado_2M_3   :  (340, 6)
DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: df_ytd_cerrado_2M_3 :  (340, 7)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL,MARGEN
149,P-1722,1. INGRESO,0,ECO CERRILLOS,CONSTRUCTORA ICF SPA,0,0.00
161,P-1726,1. INGRESO,0,NaN,NaN,21037279,0.19
260,P-1674,3. COSTO MANO DE OBRA,0,OFICINAS BEIERSDORF CHORRILLOS,CONSTRUCTORA SUKSA S.A.,0,0.00
231,P-1660,3. COSTO MANO DE OBRA,0,CORONEL ALVARADO,LARRAIN PRIETO RISOPATRON S.A.,0,0.00
132,P-1714,1. INGRESO,0,DEPARTAMENTAL II,CONSTRUCTORA FUERZA SUR DOS SPA,18147027,0.21

In [871]:
df_ytd_cerrado_2M_3.to_csv('archivos_respaldo/df_ytd_cerrado_2M_3.csv', index = False)

### 4.3 - **MERGE PARA -> MES EN CURSO ENTRE LIBRO MAYOR + PROYECTADO 
(DATAFRAMES: df_libro_mayor5_mec2 y df_proyectado4)

#### 4.3.1 - CREACIÓN DE COPIA DE DATAFRAME "df_libro_mayor5_mec2" Y AJUSTES INICIALES

In [872]:
# Ajuste del dataframe proveniente de LIBRO MAYOR

df_libro_mayor5_mec2.sample(5)
df_libro_mayor5_mec3 = df_libro_mayor5_mec2.drop(['CREDITO', 'DEBITO', 'MARGEN'], axis=1)
df_libro_mayor5_mec3.sample(5)

,CODIGO_PROYECTO,TIPO_CUENTA,FECHA,AÑO,MES,TOTAL,ORIGEN
38,P-1661,COSTO MATERIALES,2023-06-01,2023.00,6.00,11176,LIBRO MAYOR
95,P-1680,COSTO MATERIALES,2023-06-01,2023.00,6.00,-6920982,LIBRO MAYOR
2040,P-1704,COSTO MATERIALES,2023-06-01,2023.00,6.00,0,LIBRO MAYOR
2505,P-1726,COSTO MANO DE OBRA,2023-05-01,2023.00,5.00,0,LIBRO MAYOR
609,P-1591,COSTO MANO DE OBRA,2023-05-01,2023.00,5.00,0,LIBRO MAYOR

In [873]:
# INSPECCIÓN VISUAL INICIAL 1

print("DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: df_libro_mayor5_mec3  : ", df_libro_mayor5_mec3.shape)
df_libro_mayor5_mec3[df_libro_mayor5_mec3["CODIGO_PROYECTO"]=="P-1704"]

DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: df_libro_mayor5_mec3  :  (424, 7)

,CODIGO_PROYECTO,TIPO_CUENTA,FECHA,AÑO,MES,TOTAL,ORIGEN
323,P-1704,COSTO MANO DE OBRA,2023-05-01,2023.00,5.00,-12890883,LIBRO MAYOR
329,P-1704,COSTO MATERIALES,2023-06-01,2023.00,6.00,-24160596,LIBRO MAYOR
2025,P-1704,COSTO MANO DE OBRA,2023-05-01,2023.00,5.00,0,LIBRO MAYOR
2026,P-1704,COSTO SUPERVISIÓN,2023-05-01,2023.00,5.00,0,LIBRO MAYOR
2039,P-1704,INGRESO,2023-06-01,2023.00,6.00,0,LIBRO MAYOR
2040,P-1704,COSTO MATERIALES,2023-06-01,2023.00,6.00,0,LIBRO MAYOR

In [874]:
# Se crea nueva columna que define el destino del uso del trozo del DATAFRAME proveniente del libro mayor

def determinar_origen(row):
    if row['TIPO_CUENTA'] in ['INGRESO', 'COSTO MATERIALES']:
        return 'REAL'
    elif row['TIPO_CUENTA'] in ['COSTO SUPERVISIÓN','COSTO MANO DE OBRA']:
        return 'REAL Y PROYECTADO'

df_libro_mayor5_mec3['DESTINO'] = df_libro_mayor5_mec3.apply(determinar_origen, axis=1)
print(df_libro_mayor5_mec3.shape)
df_libro_mayor5_mec3.sample(10)

(424, 8)

,CODIGO_PROYECTO,TIPO_CUENTA,FECHA,AÑO,MES,TOTAL,ORIGEN,DESTINO
504,P-1723,COSTO MANO DE OBRA,2023-05-01,2023.00,5.00,-15564904,LIBRO MAYOR,REAL Y PROYECTADO
1785,P-1693,COSTO MANO DE OBRA,2023-05-01,2023.00,5.00,0,LIBRO MAYOR,REAL Y PROYECTADO
2087,P-1706,INGRESO,2023-06-01,2023.00,6.00,0,LIBRO MAYOR,REAL
2567,P-1728,INGRESO,2023-06-01,2023.00,6.00,0,LIBRO MAYOR,REAL
1991,P-1701,INGRESO,2023-06-01,2023.00,6.00,0,LIBRO MAYOR,REAL
345,P-1705,INGRESO,2023-06-01,2023.00,6.00,9082166,LIBRO MAYOR,REAL
897,P-1643,COSTO MANO DE OBRA,2023-05-01,2023.00,5.00,0,LIBRO MAYOR,REAL Y PROYECTADO
2591,P-1729,INGRESO,2023-06-01,2023.00,6.00,0,LIBRO MAYOR,REAL
1151,P-1663,INGRESO,2023-06-01,2023.00,6.00,0,LIBRO MAYOR,REAL
993,P-1649,COSTO MANO DE OBRA,2023-05-01,2023.00,5.00,0,LIBRO MAYOR,REAL Y PROYECTADO

In [875]:
# Cambiar los valores de la columna TIPO_CUENTA
df_libro_mayor5_mec3['TIPO_CUENTA'] = df_libro_mayor5_mec3['TIPO_CUENTA'].replace({'COSTO MATERIALES': '2. COSTO MATERIALES', 'COSTO MANO DE OBRA': '3. COSTO MANO DE OBRA', 'INGRESO': '1. INGRESO','COSTO SUPERVISIÓN': '4. COSTO SUPERVISIÓN'})

print(df_libro_mayor5_mec3.shape)
df_libro_mayor5_mec3["TIPO_CUENTA"].unique()

(424, 8)

array(['3. COSTO MANO DE OBRA', '2. COSTO MATERIALES', '1. INGRESO',
       '4. COSTO SUPERVISIÓN'], dtype=object)

#### 4.3.2 - CREACIÓN DE COPIA DE DATAFRAME "df_proyectado4" Y AJUSTES INICIALES

In [876]:
# Ajuste del dataframe proveniente de PROYECTADO

df_proyectado4.sample(5)
df_proyectado5 = df_proyectado4.drop(['PROYECTO'], axis=1)

# Se crea la columna Fecha
df_proyectado5['FECHA'] = pd.to_datetime(df_proyectado5['MES'].astype(str) + '-1-' + df_proyectado5['AÑO'].astype(str))

df_proyectado5.sample(5)

,CODIGO_PROYECTO,TOTAL,MES,AÑO,ORIGEN,TIPO_CUENTA,FECHA
63,P-1721,0.00,6,2023,PROYECTADO,3. COSTO MANO DE OBRA,2023-06-01
9,P-1654,0.00,6,2023,PROYECTADO,3. COSTO MANO DE OBRA,2023-06-01
26,P-1679,0.00,6,2023,PROYECTADO,2. COSTO MATERIALES,2023-06-01
56,P-1714,0.00,6,2023,PROYECTADO,1. INGRESO,2023-06-01
58,P-1716,0.00,6,2023,PROYECTADO,3. COSTO MANO DE OBRA,2023-06-01

In [877]:
# Se crea nueva columna que define el destino del uso del trozo del DATAFRAME proveniente del proyectado

def determinar_origen(row):
    if row['TIPO_CUENTA'] in ['1. INGRESO', '2. COSTO MATERIALES']:
        return 'PROYECTADO'

# Se realiza 
df_proyectado5['DESTINO'] = df_proyectado5.apply(determinar_origen, axis=1)
df_proyectado5 = df_proyectado5[df_proyectado5['TIPO_CUENTA'] != '3. COSTO MANO DE OBRA']


# Se reordenan las columnas para estandarizarlo como la que viene desde Libro Mayot
df_proyectado5 = df_proyectado5.reindex(columns=['CODIGO_PROYECTO', 'TIPO_CUENTA', 'FECHA', 'AÑO', 'MES', 'TOTAL', 'ORIGEN', 'DESTINO'])

df_proyectado5.sample(5)

,CODIGO_PROYECTO,TIPO_CUENTA,FECHA,AÑO,MES,TOTAL,ORIGEN,DESTINO
52,P-1708,2. COSTO MATERIALES,2023-06-01,2023,6,-4200000.00,PROYECTADO,PROYECTADO
70,P-1728,2. COSTO MATERIALES,2023-06-01,2023,6,0.00,PROYECTADO,PROYECTADO
35,P-1691,1. INGRESO,2023-06-01,2023,6,0.00,PROYECTADO,PROYECTADO
27,P-1680,2. COSTO MATERIALES,2023-06-01,2023,6,-5000000.00,PROYECTADO,PROYECTADO
31,P-1687,2. COSTO MATERIALES,2023-06-01,2023,6,0.00,PROYECTADO,PROYECTADO

#### 4.3.3 - CONCATENACIÓN ENTRE DATAFRAMES DEL MES EN CURSO LIBRO MAYOR Y PROYECTADO

In [878]:
# Se realiza concatenación entre ambos dataframes

print("Dimensiones df_libro_mayor5_mec3 antes de cambios: ", df_libro_mayor5_mec3.shape)
print("Dimensiones df_proyectado5 antes de cambios      : ", df_proyectado5.shape)

mes_en_curso = pd.concat([df_libro_mayor5_mec3, df_proyectado5])

print("Dimensiones dataframe final mes_en_curso después de concatenación  : ", mes_en_curso.shape)
mes_en_curso.sample(10)

Dimensiones df_libro_mayor5_mec3 antes de cambios:  (424, 8)
Dimensiones df_proyectado5 antes de cambios      :  (146, 8)
Dimensiones dataframe final mes_en_curso después de concatenación  :  (570, 8)

,CODIGO_PROYECTO,TIPO_CUENTA,FECHA,AÑO,MES,TOTAL,ORIGEN,DESTINO
1929,P-1699,3. COSTO MANO DE OBRA,2023-05-01,2023.00,5.00,0.00,LIBRO MAYOR,REAL Y PROYECTADO
573,1. TOTAL,1. INGRESO,2023-06-01,2023.00,6.00,4168749.00,LIBRO MAYOR,REAL
600,P-1557,2. COSTO MATERIALES,2023-06-01,2023.00,6.00,0.00,LIBRO MAYOR,REAL
874,P-1642,4. COSTO SUPERVISIÓN,2023-05-01,2023.00,5.00,0.00,LIBRO MAYOR,REAL Y PROYECTADO
57,P-1715,1. INGRESO,2023-06-01,2023.00,6.00,11500000.00,PROYECTADO,PROYECTADO
1,P-1557,3. COSTO MANO DE OBRA,2023-05-01,2023.00,5.00,-301065.00,LIBRO MAYOR,REAL Y PROYECTADO
2098,P-1707,4. COSTO SUPERVISIÓN,2023-05-01,2023.00,5.00,0.00,LIBRO MAYOR,REAL Y PROYECTADO
2472,P-1724,2. COSTO MATERIALES,2023-06-01,2023.00,6.00,0.00,LIBRO MAYOR,REAL
437,P-1715,3. COSTO MANO DE OBRA,2023-05-01,2023.00,5.00,-4177681.00,LIBRO MAYOR,REAL Y PROYECTADO
2471,P-1724,1. INGRESO,2023-06-01,2023.00,6.00,0.00,LIBRO MAYOR,REAL

#### 4.3.4 - MERGE CON "df_cod_proyecto" PARA CREAR DATAFRAME FINAL

In [879]:
print("Dimensiones mes_en_curso antes de cambios: ", mes_en_curso.shape)
mes_en_curso2 = mes_en_curso.merge(df_cod_proyecto, on='CODIGO_PROYECTO', how='left')
mes_en_curso2 = mes_en_curso2[['CODIGO_PROYECTO', 'NOMBRE_OBRA', 'NOMBRE_CLIENTE', 'TIPO_CUENTA', 'FECHA', 'AÑO', 'MES', 'TOTAL', 'ORIGEN', 'DESTINO']]
print("Dimensiones mes_en_curso2 antes de cambios: ", mes_en_curso2.shape)
mes_en_curso2.sample(10)

Dimensiones mes_en_curso antes de cambios:  (570, 8)
Dimensiones mes_en_curso2 antes de cambios:  (570, 10)

,CODIGO_PROYECTO,NOMBRE_OBRA,NOMBRE_CLIENTE,TIPO_CUENTA,FECHA,AÑO,MES,TOTAL,ORIGEN,DESTINO
259,P-1686,Macul Icalma,EMPRESA CONSTRUCTORA INGEVEC S.A.,2. COSTO MATERIALES,2023-06-01,2023.00,6.00,0.00,LIBRO MAYOR,REAL
331,P-1705,Los Clarines,CONSTRUCTORA INARCO S.A.,2. COSTO MATERIALES,2023-06-01,2023.00,6.00,0.00,LIBRO MAYOR,REAL
277,P-1691,Rosario Rosales,CONSTRUCTORA E INMOBILIARIA PRADOVERDE LTDA.,4. COSTO SUPERVISIÓN,2023-05-01,2023.00,5.00,0.00,LIBRO MAYOR,REAL Y PROYECTADO
521,P-1677,Galvarino Gallardo,Moller y Perez - Cotapos Construcciones Indust...,2. COSTO MATERIALES,2023-06-01,2023.00,6.00,0.00,PROYECTADO,PROYECTADO
449,P-1678,Habilitación Oficinas Pirer SPA,SOC. CONSTRUCTORA MANSILLA Y SALGADO LIMITADA,1. INGRESO,2023-06-01,2023.00,6.00,0.00,PROYECTADO,PROYECTADO
173,P-1661,San Vicente de Paul,DANACORP S.A,4. COSTO SUPERVISIÓN,2023-05-01,2023.00,5.00,0.00,LIBRO MAYOR,REAL Y PROYECTADO
507,P-1655,Decathlon Pajaritos,DECATHLON CHILE S.p.A,2. COSTO MATERIALES,2023-06-01,2023.00,6.00,0.00,PROYECTADO,PROYECTADO
393,P-1723,Villa Panamericana Lote C,Constructora Mena y Ovalle S.A.,4. COSTO SUPERVISIÓN,2023-05-01,2023.00,5.00,0.00,LIBRO MAYOR,REAL Y PROYECTADO
163,P-1656,Mirador Club Hípico,Constructora Vital Edificacion SPA,2. COSTO MATERIALES,2023-06-01,2023.00,6.00,0.00,LIBRO MAYOR,REAL
453,P-1684,Edificio Goycolea,EBCO S.A.,1. INGRESO,2023-06-01,2023.00,6.00,25380000.00,PROYECTADO,PROYECTADO

In [880]:
#Para reemplazar los valores en blanco en las columnas "NOMBRE_OBRA" y "NOMBRE_CLIENTE" por el valor "TOTAL" cada vez que el valor de la columna "CODIGO_PROYECTO" es igual a "TOTAL", puedes hacer lo siguiente:

mes_en_curso2.loc[(mes_en_curso2['CODIGO_PROYECTO'] == '1. TOTAL') & (mes_en_curso2['NOMBRE_OBRA'].isnull()), 'NOMBRE_OBRA'] = '1. TOTAL'
mes_en_curso2.loc[(mes_en_curso2['CODIGO_PROYECTO'] == '1. TOTAL') & (mes_en_curso2['NOMBRE_CLIENTE'].isnull()), 'NOMBRE_CLIENTE'] = '1. TOTAL'
mes_en_curso2.sample(5)

,CODIGO_PROYECTO,NOMBRE_OBRA,NOMBRE_CLIENTE,TIPO_CUENTA,FECHA,AÑO,MES,TOTAL,ORIGEN,DESTINO
71,P-1724,NaN,NaN,2. COSTO MATERIALES,2023-06-01,2023.00,6.00,-20168.00,LIBRO MAYOR,REAL
552,P-1713,Reserva San Francisco,EMPRESA NACIONAL DE CONSTRUCCIÓN LAS VERTIENTE...,2. COSTO MATERIALES,2023-06-01,2023.00,6.00,-6000000.00,PROYECTADO,PROYECTADO
125,P-1639,Lyon 2546,Moller y Perez - Cotapos Construcciones Indust...,4. COSTO SUPERVISIÓN,2023-05-01,2023.00,5.00,0.00,LIBRO MAYOR,REAL Y PROYECTADO
491,P-1725,Lo Cañas,Constructora Brisas de Batuco,1. INGRESO,2023-06-01,2023.00,6.00,14000000.00,PROYECTADO,PROYECTADO
353,P-1713,Reserva San Francisco,EMPRESA NACIONAL DE CONSTRUCCIÓN LAS VERTIENTE...,4. COSTO SUPERVISIÓN,2023-05-01,2023.00,5.00,0.00,LIBRO MAYOR,REAL Y PROYECTADO

In [881]:
# INSPECCIÓN VISUAL 1

mes_en_curso2[mes_en_curso2["CODIGO_PROYECTO"]=="P-1704"]

,CODIGO_PROYECTO,NOMBRE_OBRA,NOMBRE_CLIENTE,TIPO_CUENTA,FECHA,AÑO,MES,TOTAL,ORIGEN,DESTINO
38,P-1704,CD Mercado Libre Mezzanina,EBCO S.A.,3. COSTO MANO DE OBRA,2023-05-01,2023.00,5.00,-12890883.00,LIBRO MAYOR,REAL Y PROYECTADO
39,P-1704,CD Mercado Libre Mezzanina,EBCO S.A.,2. COSTO MATERIALES,2023-06-01,2023.00,6.00,-24160596.00,LIBRO MAYOR,REAL
324,P-1704,CD Mercado Libre Mezzanina,EBCO S.A.,3. COSTO MANO DE OBRA,2023-05-01,2023.00,5.00,0.00,LIBRO MAYOR,REAL Y PROYECTADO
325,P-1704,CD Mercado Libre Mezzanina,EBCO S.A.,4. COSTO SUPERVISIÓN,2023-05-01,2023.00,5.00,0.00,LIBRO MAYOR,REAL Y PROYECTADO
326,P-1704,CD Mercado Libre Mezzanina,EBCO S.A.,1. INGRESO,2023-06-01,2023.00,6.00,0.00,LIBRO MAYOR,REAL
327,P-1704,CD Mercado Libre Mezzanina,EBCO S.A.,2. COSTO MATERIALES,2023-06-01,2023.00,6.00,0.00,LIBRO MAYOR,REAL
472,P-1704,CD Mercado Libre Mezzanina,EBCO S.A.,1. INGRESO,2023-06-01,2023.00,6.00,64764000.00,PROYECTADO,PROYECTADO
545,P-1704,CD Mercado Libre Mezzanina,EBCO S.A.,2. COSTO MATERIALES,2023-06-01,2023.00,6.00,-27000000.00,PROYECTADO,PROYECTADO

#### 4.3.5 - AGREGACIÓN DE TODOS TIPOS DE CUENTA

In [882]:
print("Dimensiones Dataframe antes de cambios", mes_en_curso2.shape)

# definir nuevas filas
df_rows_to_add = []

for _, row in mes_en_curso2.iterrows():
    if row["TIPO_CUENTA"] == "1. INGRESO" and row["TOTAL"] == 0:
        row1 = row.copy()
        row1["TIPO_CUENTA"] = "1. INGRESO"
        row1["TOTAL"] = 0
        row1["ORIGEN"] = "AGREGACION"
        row1["DESTINO"] = "REAL"
        df_rows_to_add.append(row1)

        row2 = row.copy()
        row2["TIPO_CUENTA"] = "1. INGRESO"
        row2["TOTAL"] = 0
        row2["ORIGEN"] = "AGREGACION"
        row2["DESTINO"] = "PROYECTADO"
        df_rows_to_add.append(row2)

    elif row["TIPO_CUENTA"] == "2. COSTO MATERIALES" and row["TOTAL"] == 0:
        row1 = row.copy()
        row1["TIPO_CUENTA"] = "2. COSTO MATERIALES"
        row1["TOTAL"] = 0
        row1["ORIGEN"] = "AGREGACION"
        row1["DESTINO"] = "REAL"
        df_rows_to_add.append(row1)

        row2 = row.copy()
        row2["TIPO_CUENTA"] = "2. COSTO MATERIALES"
        row2["TOTAL"] = 0
        row2["ORIGEN"] = "AGREGACION"
        row2["DESTINO"] = "PROYECTADO"
        df_rows_to_add.append(row2)

    elif row["TIPO_CUENTA"] == "3. COSTO MANO DE OBRA" and row["TOTAL"] == 0:
        row1 = row.copy()
        row1["TIPO_CUENTA"] = "3. COSTO MANO DE OBRA"
        row1["TOTAL"] = 0
        row1["ORIGEN"] = "AGREGACION"
        row1["DESTINO"] = "REAL Y PROYECTADO"
        df_rows_to_add.append(row1)

  
    elif row["TIPO_CUENTA"] == "4. COSTO SUPERVISIÓN" and row["TOTAL"] == 0:
        row1 = row.copy()
        row1["TIPO_CUENTA"] = "4. COSTO SUPERVISIÓN"
        row1["TOTAL"] = 0
        row1["ORIGEN"] = "AGREGACION"
        row1["DESTINO"] = "REAL Y PROYECTADO"
        df_rows_to_add.append(row1)
        
        row2 = row.copy()
        row2["TIPO_CUENTA"] = "3. COSTO MANO DE OBRA"
        row2["TOTAL"] = 0
        row2["ORIGEN"] = "AGREGACION"
        row2["DESTINO"] = "REAL Y PROYECTADO"
        df_rows_to_add.append(row2)

# concatenar nuevas filas al DataFrame original
mes_en_curso2 = pd.concat([mes_en_curso2, pd.DataFrame(df_rows_to_add)], ignore_index=True)

# Se renombra "TOTAL" a "1. TOTAL" para que se pueda visualizar como primera opción en el dashboard.
mes_en_curso2['CODIGO_PROYECTO'] = mes_en_curso2['CODIGO_PROYECTO'].apply(lambda x: '1. TOTAL' if x == 'TOTAL' else x)

cols_to_replace = ['CODIGO_PROYECTO', 'NOMBRE_OBRA', 'NOMBRE_CLIENTE']
mes_en_curso2[cols_to_replace] = mes_en_curso2[cols_to_replace].replace('TOTAL', '1. TOTAL')
mask = mes_en_curso2['CODIGO_PROYECTO'] == '1. TOTAL'
mes_en_curso2.loc[mask, ['NOMBRE_OBRA', 'NOMBRE_CLIENTE']] = '1. TOTAL'

# Cambiar los valores de la columna TIPO_CUENTA

print("Dimensiones Dataframe después de cambios", mes_en_curso2.shape)

Dimensiones Dataframe antes de cambios (570, 10)
Dimensiones Dataframe después de cambios (1359, 10)

In [883]:
mes_en_curso2["TIPO_CUENTA"].unique()

array(['3. COSTO MANO DE OBRA', '2. COSTO MATERIALES', '1. INGRESO',
       '4. COSTO SUPERVISIÓN'], dtype=object)

In [884]:
# INSPECCIÓN VISUAL 1
mes_en_curso2[mes_en_curso2["CODIGO_PROYECTO"]=="P-1644"]

,CODIGO_PROYECTO,NOMBRE_OBRA,NOMBRE_CLIENTE,TIPO_CUENTA,FECHA,AÑO,MES,TOTAL,ORIGEN,DESTINO
140,P-1644,Mirador de San Cristobal,EBCO S.A.,3. COSTO MANO DE OBRA,2023-05-01,2023.00,5.00,0.00,LIBRO MAYOR,REAL Y PROYECTADO
141,P-1644,Mirador de San Cristobal,EBCO S.A.,4. COSTO SUPERVISIÓN,2023-05-01,2023.00,5.00,0.00,LIBRO MAYOR,REAL Y PROYECTADO
142,P-1644,Mirador de San Cristobal,EBCO S.A.,1. INGRESO,2023-06-01,2023.00,6.00,0.00,LIBRO MAYOR,REAL
143,P-1644,Mirador de San Cristobal,EBCO S.A.,2. COSTO MATERIALES,2023-06-01,2023.00,6.00,0.00,LIBRO MAYOR,REAL
668,P-1644,Mirador de San Cristobal,EBCO S.A.,3. COSTO MANO DE OBRA,2023-05-01,2023.00,5.00,0.00,AGREGACION,REAL Y PROYECTADO
669,P-1644,Mirador de San Cristobal,EBCO S.A.,4. COSTO SUPERVISIÓN,2023-05-01,2023.00,5.00,0.00,AGREGACION,REAL Y PROYECTADO
670,P-1644,Mirador de San Cristobal,EBCO S.A.,3. COSTO MANO DE OBRA,2023-05-01,2023.00,5.00,0.00,AGREGACION,REAL Y PROYECTADO
671,P-1644,Mirador de San Cristobal,EBCO S.A.,1. INGRESO,2023-06-01,2023.00,6.00,0.00,AGREGACION,REAL
672,P-1644,Mirador de San Cristobal,EBCO S.A.,1. INGRESO,2023-06-01,2023.00,6.00,0.00,AGREGACION,PROYECTADO
673,P-1644,Mirador de San Cristobal,EBCO S.A.,2. COSTO MATERIALES,2023-06-01,2023.00,6.00,0.00,AGREGACION,REAL
674,P-1644,Mirador de San Cristobal,EBCO S.A.,2. COSTO MATERIALES,2023-06-01,2023.00,6.00,0.00,AGREGACION,PROYECTADO

In [885]:
mes_en_curso2["TIPO_CUENTA"].unique()

array(['3. COSTO MANO DE OBRA', '2. COSTO MATERIALES', '1. INGRESO',
       '4. COSTO SUPERVISIÓN'], dtype=object)

#### 4.3.6 - **CREACIÓN DATAFRAME PARA -> PROYECTADO

In [886]:
# Se crea una copia del dataframe original mes_en_curso2

print("DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: mes_en_curso2       : ", mes_en_curso2.shape)

mes_en_curso2_1 = mes_en_curso2.copy()
mes_en_curso2_1 = mes_en_curso2[mes_en_curso2['DESTINO'].str.contains('PROYECTADO')]

print("DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: mes_en_curso2_1   : ", mes_en_curso2_1.shape)


print("DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: mes_en_curso2_1     : ", mes_en_curso2_1.shape)

mes_en_curso_proy = pd.pivot_table(mes_en_curso2_1, values=['TOTAL'], index=['CODIGO_PROYECTO','TIPO_CUENTA'], aggfunc='sum', fill_value=0)
mes_en_curso_proy = pd.DataFrame(mes_en_curso_proy.to_records())

print("DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: mes_en_curso_proy  : ", mes_en_curso_proy.shape)

mes_en_curso_proy.sample(10)

DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: mes_en_curso2       :  (1359, 10)
DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: mes_en_curso2_1   :  (874, 10)
DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: mes_en_curso2_1     :  (874, 10)
DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: mes_en_curso_proy  :  (364, 3)

    CODIGO_PROYECTO            TIPO_CUENTA         TOTAL
153          P-1674    2. COSTO MATERIALES          0.00
83           P-1648   4. COSTO SUPERVISIÓN          0.00
2          1. TOTAL             1. INGRESO  432312383.88
309          P-1716    2. COSTO MATERIALES          0.00
280          P-1707             1. INGRESO   12240000.00
10           P-1591             1. INGRESO          0.00
189          P-1683   4. COSTO SUPERVISIÓN          0.00
4          1. TOTAL  3. COSTO MANO DE OBRA -114373715.00
337          P-1723    2. COSTO MATERIALES  -31000000.00
235          P-1695    2. COSTO MATERIALES   -3000000.00

In [887]:
# TESTING VISUAL 1
mes_en_curso_proy[mes_en_curso_proy["CODIGO_PROYECTO"]=="P-1712"]

    CODIGO_PROYECTO            TIPO_CUENTA       TOTAL
292          P-1712             1. INGRESO 15228000.00
293          P-1712    2. COSTO MATERIALES -7700000.00
294          P-1712  3. COSTO MANO DE OBRA -5436047.00
295          P-1712   4. COSTO SUPERVISIÓN        0.00

In [888]:
# TESTING VISUAL 2
mes_en_curso_proy[mes_en_curso_proy["CODIGO_PROYECTO"]=="1. TOTAL"]

  CODIGO_PROYECTO            TIPO_CUENTA         TOTAL
2        1. TOTAL             1. INGRESO  432312383.88
3        1. TOTAL    2. COSTO MATERIALES -176535806.00
4        1. TOTAL  3. COSTO MANO DE OBRA -114373715.00
5        1. TOTAL   4. COSTO SUPERVISIÓN   -4643261.00

##### 4.3.6.1 - MERGE CON DATAFRAME LIBRO MAYOR 2023 BASE

In [889]:
# Merge Dataframe BASE 

print("DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: mes_en_curso_proy   : ", mes_en_curso_proy.shape)
print("DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: df_libro_mayor5_base2   : ", df_libro_mayor5_base2.shape)

mes_en_curso_proy2 = df_libro_mayor5_base2.merge(mes_en_curso_proy, on=['CODIGO_PROYECTO', 'TIPO_CUENTA'], how='left')

print("DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: mes_en_curso_proy2       : ", mes_en_curso_proy2.shape)

mes_en_curso_proy2['TOTAL'] = mes_en_curso_proy2['TOTAL'].fillna(0)

mes_en_curso_proy2.sample(5)

DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: mes_en_curso_proy   :  (364, 3)
DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: df_libro_mayor5_base2   :  (340, 5)
DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: mes_en_curso_proy2       :  (340, 6)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL
274,P-1683,1. INGRESO,0,CD BP-A05,EBCO S.A.,0.00
8,P-1632,2. COSTO MATERIALES,0,CHORRILLOS CLOROX,CONSTRUCTORA SUKSA S.A.,0.00
298,P-1699,4. COSTO SUPERVISIÓN,0,VILLA PANAMERICANA LOTE B,EMPRESA CONSTRUCTORA DLP S.A.,0.00
156,P-1725,3. COSTO MANO DE OBRA,0,LO CAÑAS,CONSTRUCTORA BRISAS DE BATUCO,-2536528.00
121,P-1709,3. COSTO MANO DE OBRA,0,CENTRO COMERCIAL PASEO SAN PEDRO,EBCO S.A.,-1059219.00

In [890]:
# TESTING VISUAL 1

mes_en_curso_proy2[mes_en_curso_proy2["CODIGO_PROYECTO"]=="P-1712"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL
124,P-1712,3. COSTO MANO DE OBRA,0,CENTRO COMERCIAL VIÑA OUTLET PARK,EBCO S.A.,-5436047.00
125,P-1712,2. COSTO MATERIALES,0,CENTRO COMERCIAL VIÑA OUTLET PARK,EBCO S.A.,-7700000.00
126,P-1712,1. INGRESO,0,CENTRO COMERCIAL VIÑA OUTLET PARK,EBCO S.A.,15228000.00
308,P-1712,4. COSTO SUPERVISIÓN,0,CENTRO COMERCIAL VIÑA OUTLET PARK,EBCO S.A.,0.00

In [891]:
# TESTING VISUAL 2
mes_en_curso_proy2[mes_en_curso_proy2["CODIGO_PROYECTO"]=="1. TOTAL"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL
336,1. TOTAL,4. COSTO SUPERVISIÓN,0,1. TOTAL,1. TOTAL,-4643261.00
337,1. TOTAL,1. INGRESO,0,1. TOTAL,1. TOTAL,432312383.88
338,1. TOTAL,2. COSTO MATERIALES,0,1. TOTAL,1. TOTAL,-176535806.00
339,1. TOTAL,3. COSTO MANO DE OBRA,0,1. TOTAL,1. TOTAL,-114373715.00

##### 4.3.6.2 - SE RECALCULAN LOS TOTALES

In [892]:
# Calcular la suma de los valores totales para cada tipo de cuenta

# Se eliminan totales excepto supervisión, para re hacer el calculo de totales

mes_en_curso_proy2 = mes_en_curso_proy2.drop(mes_en_curso_proy2[(mes_en_curso_proy2['CODIGO_PROYECTO'] == '1. TOTAL') & (mes_en_curso_proy2['TIPO_CUENTA'] != '4. COSTO SUPERVISIÓN')].index)

print("DIMENSIONES ANTES   DE CAMBIOS DATAFRAME: mes_en_curso_proy2 : ", mes_en_curso_proy2.shape)

df_total = mes_en_curso_proy2.groupby('TIPO_CUENTA')['TOTAL'].sum().reset_index()
df_total['CODIGO_PROYECTO'] = '1. TOTAL'

# Agregar las filas adicionales al DataFrame
mes_en_curso_proy3 = pd.concat([mes_en_curso_proy2, df_total], ignore_index=True)

# Modificar las columnas "NOMBRE_OBRA" y "NOMBRE_CLIENTE" para "1. TOTAL"
mes_en_curso_proy3.loc[mes_en_curso_proy3['CODIGO_PROYECTO'] == '1. TOTAL', ['NOMBRE_OBRA', 'NOMBRE_CLIENTE']] = '1. TOTAL'

print("DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: mes_en_curso_proy3 : ", mes_en_curso_proy3.shape)

mes_en_curso_proy3.sample(10)

DIMENSIONES ANTES   DE CAMBIOS DATAFRAME: mes_en_curso_proy2 :  (337, 6)
DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: mes_en_curso_proy3 :  (341, 6)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL
255,P-1672,4. COSTO SUPERVISIÓN,0.00,STA CLARA (CCDD-TELECOM),CONSTRUCTORA UPC S.A.,0.00
229,P-1658,4. COSTO SUPERVISIÓN,0.00,VIVIPRA,VICHERAT Y PRADENAS LTDA.,0.00
116,P-1707,2. COSTO MATERIALES,0.00,LAS TRANQUERAS,CONSTRUCTORA SANTOLAYA LTDA.,-3000000.00
28,P-1667,2. COSTO MATERIALES,0.00,ECO PLACILLA,CONSTRUCTORA ICF SPA,0.00
147,P-1721,2. COSTO MATERIALES,0.00,STRIP CENTER LUIS PASTEUR,INMOBILIARIA LUIS PASTEUR S.A.,-2700000.00
113,P-1706,2. COSTO MATERIALES,0.00,CALIFORNIA,CONSTRUCTORA E INVERSIONES VITAL SPA.,-4200000.00
129,P-1713,1. INGRESO,0.00,RESERVA SAN FRANCISCO,EMPRESA NACIONAL DE CONSTRUCCIÓN LAS VERTIENTE...,19080000.00
51,P-1682,3. COSTO MANO DE OBRA,0.00,PLAZA CEPPI,EMP. CONSTRUCTORA INGENIEROS S.A.,-423674.00
201,P-1641,1. INGRESO,0.00,INACAP TEMUCO,DESARROLLOS CONSTRUCTIVOS AXIS SOCIEDAD ANONIMA,0.00
27,P-1667,3. COSTO MANO DE OBRA,0.00,ECO PLACILLA,CONSTRUCTORA ICF SPA,-382370.00

In [893]:
# TESTING VISUAL 2
mes_en_curso_proy3[mes_en_curso_proy3["CODIGO_PROYECTO"]=="1. TOTAL"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL
336,1. TOTAL,4. COSTO SUPERVISIÓN,0.00,1. TOTAL,1. TOTAL,-4643261.00
337,1. TOTAL,1. INGRESO,NaN,1. TOTAL,1. TOTAL,420312383.88
338,1. TOTAL,2. COSTO MATERIALES,NaN,1. TOTAL,1. TOTAL,-174535806.00
339,1. TOTAL,3. COSTO MANO DE OBRA,NaN,1. TOTAL,1. TOTAL,-114373715.00
340,1. TOTAL,4. COSTO SUPERVISIÓN,NaN,1. TOTAL,1. TOTAL,-4643261.00

In [894]:
# SE ELIMINA COSTO SUPERVISIÓN DUPLICADO.

print("DIMENSIONES ANTES   DE CAMBIOS DATAFRAME: mes_en_curso_proy3 : ", mes_en_curso_proy3.shape)

mes_en_curso_proy3 = mes_en_curso_proy3.drop(mes_en_curso_proy3[(mes_en_curso_proy3['CODIGO_PROYECTO'] == '1. TOTAL') & (mes_en_curso_proy3['TIPO_CUENTA'] == '4. COSTO SUPERVISIÓN') & (mes_en_curso_proy3['TOTAL_LB'].isnull())].index)

print("DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: mes_en_curso_proy3 : ", mes_en_curso_proy3.shape)

mes_en_curso_proy3[mes_en_curso_proy3["CODIGO_PROYECTO"]=="1. TOTAL"]

DIMENSIONES ANTES   DE CAMBIOS DATAFRAME: mes_en_curso_proy3 :  (341, 6)
DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: mes_en_curso_proy3 :  (340, 6)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL
336,1. TOTAL,4. COSTO SUPERVISIÓN,0.00,1. TOTAL,1. TOTAL,-4643261.00
337,1. TOTAL,1. INGRESO,NaN,1. TOTAL,1. TOTAL,420312383.88
338,1. TOTAL,2. COSTO MATERIALES,NaN,1. TOTAL,1. TOTAL,-174535806.00
339,1. TOTAL,3. COSTO MANO DE OBRA,NaN,1. TOTAL,1. TOTAL,-114373715.00

In [895]:
# TESTING VISUAL 1
mes_en_curso_proy3[mes_en_curso_proy3["CODIGO_PROYECTO"]=="P-1723"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL
150,P-1723,3. COSTO MANO DE OBRA,0.00,VILLA PANAMERICANA LOTE C,CONSTRUCTORA MENA Y OVALLE S.A.,-15564904.00
151,P-1723,2. COSTO MATERIALES,0.00,VILLA PANAMERICANA LOTE C,CONSTRUCTORA MENA Y OVALLE S.A.,-31000000.00
152,P-1723,1. INGRESO,0.00,VILLA PANAMERICANA LOTE C,CONSTRUCTORA MENA Y OVALLE S.A.,85000000.00
326,P-1723,4. COSTO SUPERVISIÓN,0.00,VILLA PANAMERICANA LOTE C,CONSTRUCTORA MENA Y OVALLE S.A.,0.00

In [896]:
# TESTING VISUAL 2
mes_en_curso_proy3[mes_en_curso_proy3["CODIGO_PROYECTO"]=="1. TOTAL"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL
336,1. TOTAL,4. COSTO SUPERVISIÓN,0.00,1. TOTAL,1. TOTAL,-4643261.00
337,1. TOTAL,1. INGRESO,NaN,1. TOTAL,1. TOTAL,420312383.88
338,1. TOTAL,2. COSTO MATERIALES,NaN,1. TOTAL,1. TOTAL,-174535806.00
339,1. TOTAL,3. COSTO MANO DE OBRA,NaN,1. TOTAL,1. TOTAL,-114373715.00

##### 4.3.6.3 - CREACIÓN DE MARGEN

In [897]:
#CREACIÓN DE MARGENES

mes_en_curso_proy4 = mes_en_curso_proy3.copy()

# Esta línea de código es para evitar ver el error.
with np.errstate(divide='ignore', invalid='ignore'):

    df_margen = mes_en_curso_proy4.groupby(['CODIGO_PROYECTO']).apply(lambda x: pd.Series({
        'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA', '4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
    }))

df_margen = pd.DataFrame(df_margen.to_records())
df_margen['MARGEN'] = df_margen['MARGEN'].fillna(0).replace(-np.inf, 0)
df_margen.replace([np.inf, -np.inf, np.nan], 0, inplace=True)


# mostrar el DataFrame resultante
df_margen.sample(10)

   CODIGO_PROYECTO  MARGEN
83          P-1728    0.00
78          P-1723    0.45
2           P-1591    0.00
48          P-1690    0.47
3           P-1592    0.00
70          P-1715    0.11
49          P-1691    0.00
65          P-1708    0.00
40          P-1682    0.00
84          P-1729    0.00

In [898]:
print("DIMENSIONES ANTES   DE CAMBIOS DATAFRAME: mes_en_curso_proy4 : ", mes_en_curso_proy4.shape)

mes_en_curso_proy5 = pd.merge(mes_en_curso_proy4, df_margen, on=['CODIGO_PROYECTO'], how='left')

print("DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: mes_en_curso_proy5 : ", mes_en_curso_proy5.shape)
mes_en_curso_proy5.sample(10)

DIMENSIONES ANTES   DE CAMBIOS DATAFRAME: mes_en_curso_proy4 :  (340, 6)
DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: mes_en_curso_proy5 :  (340, 7)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL,MARGEN
34,P-1672,2. COSTO MATERIALES,0.00,STA CLARA (CCDD-TELECOM),CONSTRUCTORA UPC S.A.,0.00,0.00
84,P-1695,2. COSTO MATERIALES,0.00,EDIFICIO ESTORIL,EMPRESA CONSTRUCTORA BRAVO E IZQUIERDO,-3000000.00,0.29
278,P-1685,1. INGRESO,0.00,MAPA EDIFICIOS NO OPERACIONALES,CLARO VICUÑA VALENZUELA S.A.,0.00,0.00
111,P-1705,1. INGRESO,0.00,LOS CLARINES,CONSTRUCTORA INARCO S.A.,12109554.10,0.19
57,P-1684,1. INGRESO,0.00,EDIFICIO GOYCOLEA,EBCO S.A.,25380000.00,0.45
260,P-1674,3. COSTO MANO DE OBRA,0.00,OFICINAS BEIERSDORF CHORRILLOS,CONSTRUCTORA SUKSA S.A.,0.00,0.00
250,P-1669,1. INGRESO,0.00,DEPARTAMENTAL,EMP. CONSTRUCTORA INGENIEROS S.A.,0.00,0.00
293,P-1695,4. COSTO SUPERVISIÓN,0.00,EDIFICIO ESTORIL,EMPRESA CONSTRUCTORA BRAVO E IZQUIERDO,0.00,0.29
49,P-1680,1. INGRESO,0.00,NUEVA UNO,CONSTRUCTORA TECSA S.A.,0.00,0.00
200,P-1639,4. COSTO SUPERVISIÓN,0.00,LYON 2546,MOLLER Y PEREZ - COTAPOS CONSTRUCCIONES INDUST...,0.00,0.00

In [899]:
# TESTING VISUAL 1
mes_en_curso_proy5[mes_en_curso_proy5["CODIGO_PROYECTO"]=="P-1723"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL,MARGEN
150,P-1723,3. COSTO MANO DE OBRA,0.00,VILLA PANAMERICANA LOTE C,CONSTRUCTORA MENA Y OVALLE S.A.,-15564904.00,0.45
151,P-1723,2. COSTO MATERIALES,0.00,VILLA PANAMERICANA LOTE C,CONSTRUCTORA MENA Y OVALLE S.A.,-31000000.00,0.45
152,P-1723,1. INGRESO,0.00,VILLA PANAMERICANA LOTE C,CONSTRUCTORA MENA Y OVALLE S.A.,85000000.00,0.45
326,P-1723,4. COSTO SUPERVISIÓN,0.00,VILLA PANAMERICANA LOTE C,CONSTRUCTORA MENA Y OVALLE S.A.,0.00,0.45

In [900]:
# TESTING VISUAL 2
mes_en_curso_proy5[mes_en_curso_proy5["CODIGO_PROYECTO"]=="1. TOTAL"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL,MARGEN
336,1. TOTAL,4. COSTO SUPERVISIÓN,0.00,1. TOTAL,1. TOTAL,-4643261.00,0.30
337,1. TOTAL,1. INGRESO,NaN,1. TOTAL,1. TOTAL,420312383.88,0.30
338,1. TOTAL,2. COSTO MATERIALES,NaN,1. TOTAL,1. TOTAL,-174535806.00,0.30
339,1. TOTAL,3. COSTO MANO DE OBRA,NaN,1. TOTAL,1. TOTAL,-114373715.00,0.30

In [901]:
# Respaldo de Dataframe mes en curso antes de abrirrlo
mes_en_curso_proy5.to_csv('archivos_respaldo/mes_en_curso_proy5.csv', mode='a')

#### 4.3.7 - **CREACIÓN DATAFRAME PARA -> MES EN CURSO

##### 4.3.7.1 - TRATAMIENTO mes_en_curso2

In [902]:
# Se crea una copia del dataframe original mes_en_curso2

print("DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: mes_en_curso2       : ", mes_en_curso2.shape)

mes_en_curso2_1 = mes_en_curso2.copy()
mes_en_curso2_1 = mes_en_curso2[mes_en_curso2['DESTINO'].str.contains('REAL')]

print("DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: mes_en_curso2_1   : ", mes_en_curso2_1.shape)


print("DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: mes_en_curso2_1     : ", mes_en_curso2_1.shape)

mes_en_curso_real = pd.pivot_table(mes_en_curso2_1, values=['TOTAL'], index=['CODIGO_PROYECTO','TIPO_CUENTA'], aggfunc='sum', fill_value=0)
mes_en_curso_real = pd.DataFrame(mes_en_curso_real.to_records())

print("DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: mes_en_curso_real  : ", mes_en_curso_real.shape)

mes_en_curso_real.sample(10)

DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: mes_en_curso2       :  (1359, 10)
DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: mes_en_curso2_1   :  (946, 10)
DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: mes_en_curso2_1     :  (946, 10)
DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: mes_en_curso_real  :  (362, 3)

    CODIGO_PROYECTO            TIPO_CUENTA     TOTAL
73           P-1644   4. COSTO SUPERVISIÓN         0
337          P-1723   4. COSTO SUPERVISIÓN         0
336          P-1723  3. COSTO MANO DE OBRA -15564904
170          P-1679  3. COSTO MANO DE OBRA         0
216          P-1691             1. INGRESO         0
30           P-1612  3. COSTO MANO DE OBRA         0
192          P-1685             1. INGRESO         0
183          P-1682   4. COSTO SUPERVISIÓN         0
117          P-1664    2. COSTO MATERIALES         0
266          P-1704             1. INGRESO         0

In [903]:
# TESTING VISUAL 1

mes_en_curso_real[mes_en_curso_real["CODIGO_PROYECTO"]=="P-1712"]

    CODIGO_PROYECTO            TIPO_CUENTA    TOTAL
290          P-1712             1. INGRESO -3823676
291          P-1712    2. COSTO MATERIALES -7219006
292          P-1712  3. COSTO MANO DE OBRA -5436047
293          P-1712   4. COSTO SUPERVISIÓN        0

In [904]:
# TESTING VISUAL 2

mes_en_curso_real[mes_en_curso_real["CODIGO_PROYECTO"]=="1. TOTAL"]

  CODIGO_PROYECTO            TIPO_CUENTA      TOTAL
0        1. TOTAL             1. INGRESO    4168749
1        1. TOTAL    2. COSTO MATERIALES -141102934
2        1. TOTAL  3. COSTO MANO DE OBRA -114373715
3        1. TOTAL   4. COSTO SUPERVISIÓN   -4643261

##### 4.3.7.2 - MERGE CON DATAFRAME LIBRO MAYOR 2023 BASE

In [905]:
# Merge Dataframe BASE 

print("DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: mes_en_curso_real   : ", mes_en_curso_real.shape)
print("DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: df_libro_mayor5_base2   : ", df_libro_mayor5_base2.shape)

mes_en_curso_real2 = df_libro_mayor5_base2.merge(mes_en_curso_real, on=['CODIGO_PROYECTO', 'TIPO_CUENTA'], how='left')

print("DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: mes_en_curso_real       : ", mes_en_curso_real.shape)

mes_en_curso_real2.sample(5)

DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: mes_en_curso_real   :  (362, 3)
DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: df_libro_mayor5_base2   :  (340, 5)
DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: mes_en_curso_real       :  (362, 3)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL
71,P-1690,1. INGRESO,0,ONGOLMO - HOME CONDOMINIO,CANTAUCO CONSTRUCCION LTDA.,0
269,P-1680,4. COSTO SUPERVISIÓN,0,NUEVA UNO,CONSTRUCTORA TECSA S.A.,0
195,P-1636,1. INGRESO,0,SANTO DOMINGO 1410,DANACORP S.A,0
190,P-1626,3. COSTO MANO DE OBRA,0,CLINICA BIO BIO,CONSTRUCTORA LYD S.A.,0
325,P-1722,4. COSTO SUPERVISIÓN,0,ECO CERRILLOS,CONSTRUCTORA ICF SPA,0

In [906]:
# TESTING VISUAL 1

mes_en_curso_real2[mes_en_curso_real2["CODIGO_PROYECTO"]=="P-1712"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL
124,P-1712,3. COSTO MANO DE OBRA,0,CENTRO COMERCIAL VIÑA OUTLET PARK,EBCO S.A.,-5436047
125,P-1712,2. COSTO MATERIALES,0,CENTRO COMERCIAL VIÑA OUTLET PARK,EBCO S.A.,-7219006
126,P-1712,1. INGRESO,0,CENTRO COMERCIAL VIÑA OUTLET PARK,EBCO S.A.,-3823676
308,P-1712,4. COSTO SUPERVISIÓN,0,CENTRO COMERCIAL VIÑA OUTLET PARK,EBCO S.A.,0

In [907]:
# TESTING VISUAL 2

mes_en_curso_real2[mes_en_curso_real2["CODIGO_PROYECTO"]=="1. TOTAL"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL
336,1. TOTAL,4. COSTO SUPERVISIÓN,0,1. TOTAL,1. TOTAL,-4643261
337,1. TOTAL,1. INGRESO,0,1. TOTAL,1. TOTAL,4168749
338,1. TOTAL,2. COSTO MATERIALES,0,1. TOTAL,1. TOTAL,-141102934
339,1. TOTAL,3. COSTO MANO DE OBRA,0,1. TOTAL,1. TOTAL,-114373715

##### 4.3.7.3 - SE RECALCULAN LOS TOTALES

In [908]:
# Calcular la suma de los valores totales para cada tipo de cuenta

# Se eliminan totales excepto supervisión, para re hacer el calculo de totales

mes_en_curso_real2 = mes_en_curso_real2.drop(mes_en_curso_real2[(mes_en_curso_real2['CODIGO_PROYECTO'] == '1. TOTAL') & (mes_en_curso_real2['TIPO_CUENTA'] != '4. COSTO SUPERVISIÓN')].index)

print("DIMENSIONES ANTES   DE CAMBIOS DATAFRAME: mes_en_curso_real2 : ", mes_en_curso_real2.shape)

df_total = mes_en_curso_real2.groupby('TIPO_CUENTA')['TOTAL'].sum().reset_index()
df_total['CODIGO_PROYECTO'] = '1. TOTAL'

# Agregar las filas adicionales al DataFrame
mes_en_curso_real3 = pd.concat([mes_en_curso_real2, df_total], ignore_index=True)

# Modificar las columnas "NOMBRE_OBRA" y "NOMBRE_CLIENTE" para "1. TOTAL"
mes_en_curso_real3.loc[mes_en_curso_real3['CODIGO_PROYECTO'] == '1. TOTAL', ['NOMBRE_OBRA', 'NOMBRE_CLIENTE']] = '1. TOTAL'

print("DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: mes_en_curso_real3 : ", mes_en_curso_real3.shape)

mes_en_curso_real3.sample(10)

DIMENSIONES ANTES   DE CAMBIOS DATAFRAME: mes_en_curso_real2 :  (337, 6)
DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: mes_en_curso_real3 :  (341, 6)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL
250,P-1669,1. INGRESO,0.00,DEPARTAMENTAL,EMP. CONSTRUCTORA INGENIEROS S.A.,0
286,P-1689,4. COSTO SUPERVISIÓN,0.00,CASINO BUENAVENTURA,EBCO S.A.,0
168,P-1557,1. INGRESO,0.00,ROSARIO ROSALES,EBCO S.A.,0
223,P-1653,4. COSTO SUPERVISIÓN,0.00,EDUARDO DE LA BARRA,CONSTRUCTORA E INVERSIONES VITAL SPA.,0
142,P-1718,1. INGRESO,0.00,PATIO COMIDAS,EBCO S.A.,9119925
8,P-1632,2. COSTO MATERIALES,0.00,CHORRILLOS CLOROX,CONSTRUCTORA SUKSA S.A.,0
271,P-1681,3. COSTO MANO DE OBRA,0.00,CD ROSEN (CCTV PROVISORIO),COLCHONES ROSEN SAIC,0
257,P-1673,3. COSTO MANO DE OBRA,0.00,INACAP TEMUCO - ETAPA A,UNIVERSIDAD TECNOLOGICA DE CHILE INACAP,0
150,P-1723,3. COSTO MANO DE OBRA,0.00,VILLA PANAMERICANA LOTE C,CONSTRUCTORA MENA Y OVALLE S.A.,-15564904
22,P-1660,2. COSTO MATERIALES,0.00,CORONEL ALVARADO,LARRAIN PRIETO RISOPATRON S.A.,0

In [909]:
# TESTING VISUAL 1

mes_en_curso_real3[mes_en_curso_real3["CODIGO_PROYECTO"]=="1. TOTAL"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL
336,1. TOTAL,4. COSTO SUPERVISIÓN,0.00,1. TOTAL,1. TOTAL,-4643261
337,1. TOTAL,1. INGRESO,NaN,1. TOTAL,1. TOTAL,4168749
338,1. TOTAL,2. COSTO MATERIALES,NaN,1. TOTAL,1. TOTAL,-141102934
339,1. TOTAL,3. COSTO MANO DE OBRA,NaN,1. TOTAL,1. TOTAL,-114373715
340,1. TOTAL,4. COSTO SUPERVISIÓN,NaN,1. TOTAL,1. TOTAL,-4643261

In [910]:
# SE ELIMINA COSTO SUPERVISIÓN DUPLICADO.

print("DIMENSIONES ANTES   DE CAMBIOS DATAFRAME: mes_en_curso_real3 : ", mes_en_curso_real3.shape)

mes_en_curso_real3 = mes_en_curso_real3.drop(mes_en_curso_real3[(mes_en_curso_real3['CODIGO_PROYECTO'] == '1. TOTAL') & (mes_en_curso_real3['TIPO_CUENTA'] == '4. COSTO SUPERVISIÓN') & (mes_en_curso_real3['TOTAL_LB'].isnull())].index)

print("DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: mes_en_curso_real3 : ", mes_en_curso_real3.shape)

mes_en_curso_real3[mes_en_curso_real3["CODIGO_PROYECTO"]=="1. TOTAL"]

DIMENSIONES ANTES   DE CAMBIOS DATAFRAME: mes_en_curso_real3 :  (341, 6)
DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: mes_en_curso_real3 :  (340, 6)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL
336,1. TOTAL,4. COSTO SUPERVISIÓN,0.00,1. TOTAL,1. TOTAL,-4643261
337,1. TOTAL,1. INGRESO,NaN,1. TOTAL,1. TOTAL,4168749
338,1. TOTAL,2. COSTO MATERIALES,NaN,1. TOTAL,1. TOTAL,-141102934
339,1. TOTAL,3. COSTO MANO DE OBRA,NaN,1. TOTAL,1. TOTAL,-114373715

##### 4.3.7.4 - CREACIÓN DE MARGEN

In [911]:
#CREACIÓN DE MARGENES

mes_en_curso_real4 = mes_en_curso_real3.copy()

# Esta línea de código es para evitar ver el error.
with np.errstate(divide='ignore', invalid='ignore'):

    df_margen = mes_en_curso_real4.groupby(['CODIGO_PROYECTO']).apply(lambda x: pd.Series({
        'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA', '4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
    }))

df_margen = pd.DataFrame(df_margen.to_records())
df_margen['MARGEN'] = df_margen['MARGEN'].fillna(0).replace(-np.inf, 0)
df_margen.replace([np.inf, -np.inf, np.nan], 0, inplace=True)


# mostrar el DataFrame resultante
df_margen.sample(10)

   CODIGO_PROYECTO  MARGEN
49          P-1691    0.00
14          P-1643    0.00
60          P-1703    0.00
62          P-1705    0.20
17          P-1648    0.00
63          P-1706    0.00
54          P-1696    0.00
69          P-1714    0.00
9           P-1632    0.00
73          P-1718   -0.13

In [912]:
print("DIMENSIONES ANTES   DE CAMBIOS DATAFRAME: mes_en_curso_real4 : ", mes_en_curso_real4.shape)

mes_en_curso_real5 = pd.merge(mes_en_curso_real4, df_margen, on=['CODIGO_PROYECTO'], how='left')

print("DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: mes_en_curso_real5 : ", mes_en_curso_real5.shape)
mes_en_curso_real5.sample(10)

DIMENSIONES ANTES   DE CAMBIOS DATAFRAME: mes_en_curso_real4 :  (340, 6)
DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: mes_en_curso_real5 :  (340, 7)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL,MARGEN
95,P-1699,2. COSTO MATERIALES,0.00,VILLA PANAMERICANA LOTE B,EMPRESA CONSTRUCTORA DLP S.A.,-13426396,0.00
321,P-1720,4. COSTO SUPERVISIÓN,0.00,NaN,NaN,0,0.00
159,P-1726,3. COSTO MANO DE OBRA,0.00,NaN,NaN,-6002400,0.00
235,P-1661,4. COSTO SUPERVISIÓN,0.00,SAN VICENTE DE PAUL,DANACORP S.A,0,0.00
314,P-1717,3. COSTO MANO DE OBRA,0.00,ECO QUILÍN I,CONSTRUCTORA ICF SPA,0,0.00
231,P-1660,3. COSTO MANO DE OBRA,0.00,CORONEL ALVARADO,LARRAIN PRIETO RISOPATRON S.A.,0,0.00
77,P-1692,1. INGRESO,0.00,JOSÉ PEREZ COTAPOS,EBCO S.A.,0,0.00
87,P-1696,2. COSTO MATERIALES,0.00,SANTA VICTORIA - TERRACORP,CONSTRUCTORA TERRACORP S.A.,0,0.00
271,P-1681,3. COSTO MANO DE OBRA,0.00,CD ROSEN (CCTV PROVISORIO),COLCHONES ROSEN SAIC,0,0.00
11,P-1641,2. COSTO MATERIALES,0.00,INACAP TEMUCO,DESARROLLOS CONSTRUCTIVOS AXIS SOCIEDAD ANONIMA,0,0.00

In [913]:
# TESTING VISUAL 1

mes_en_curso_real5[mes_en_curso_real5["CODIGO_PROYECTO"]=="P-1716"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL,MARGEN
136,P-1716,3. COSTO MANO DE OBRA,0.00,CD ASTARA,ASTARA LOGÍSTICA CHILE SPA.,-1666000,0.00
137,P-1716,2. COSTO MATERIALES,0.00,CD ASTARA,ASTARA LOGÍSTICA CHILE SPA.,-2308672,0.00
138,P-1716,1. INGRESO,0.00,CD ASTARA,ASTARA LOGÍSTICA CHILE SPA.,0,0.00
312,P-1716,4. COSTO SUPERVISIÓN,0.00,CD ASTARA,ASTARA LOGÍSTICA CHILE SPA.,0,0.00

In [914]:
# TESTING VISUAL 3
mes_en_curso_real5[mes_en_curso_real5["CODIGO_PROYECTO"]=="P-1704"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL,MARGEN
106,P-1704,3. COSTO MANO DE OBRA,0.00,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,-12890883,0.00
107,P-1704,2. COSTO MATERIALES,0.00,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,-24160596,0.00
108,P-1704,1. INGRESO,0.00,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,0,0.00
302,P-1704,4. COSTO SUPERVISIÓN,0.00,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,0,0.00

In [915]:
# Respaldo de Dataframe mes en curso real
mes_en_curso_real5.to_csv('archivos_respaldo/mes_en_curso_real5.csv', mode='a')

### 4.4 - **MERGE PARA -> MES EN CURSO ENTRE LIBRO MAYOR + PROYECTADO (PERSPECTIVA MES ANTERIOR)
(DATAFRAMES: df_libro_mayor5_mec_2M y df_proyectado4)

#### 4.4.1 - CREACIÓN DE COPIA DE DATAFRAME "df_libro_mayor5_mec_2M" Y AJUSTES INICIALES
Ajuste del dataframe proveniente de LIBRO MAYOR

In [916]:
# Ajuste del dataframe proveniente de LIBRO MAYOR

df_libro_mayor5_mec_2M.sample(5)
df_libro_mayor5_mec_2M_3 = df_libro_mayor5_mec_2M.drop(['CREDITO', 'DEBITO', 'MARGEN'], axis=1)
df_libro_mayor5_mec_2M_3.sample(5)

,CODIGO_PROYECTO,TIPO_CUENTA,FECHA,AÑO,MES,TOTAL,ORIGEN
1975,P-1701,INGRESO,2023-05-01,2023.00,5.00,0,LIBRO MAYOR
2286,P-1717,COSTO SUPERVISIÓN,2023-04-01,2023.00,4.00,0,LIBRO MAYOR
1349,P-1674,COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,0,LIBRO MAYOR
2093,P-1707,COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,0,LIBRO MAYOR
1062,P-1658,COSTO SUPERVISIÓN,2023-04-01,2023.00,4.00,0,LIBRO MAYOR

In [917]:
# Ajuste del dataframe proveniente de LIBRO MAYOR

df_libro_mayor5_mec_2M.sample(5)
df_libro_mayor5_mec_2M_3 = df_libro_mayor5_mec_2M.drop(['CREDITO', 'DEBITO', 'MARGEN'], axis=1)
df_libro_mayor5_mec_2M_3.sample(5)

,CODIGO_PROYECTO,TIPO_CUENTA,FECHA,AÑO,MES,TOTAL,ORIGEN
1880,P-1697,COSTO MATERIALES,2023-05-01,2023.00,5.00,0,LIBRO MAYOR
1591,P-1685,INGRESO,2023-05-01,2023.00,5.00,0,LIBRO MAYOR
1422,P-1677,COSTO SUPERVISIÓN,2023-04-01,2023.00,4.00,0,LIBRO MAYOR
552,P-1728,COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,-541472,LIBRO MAYOR
204,P-1693,COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,-2407425,LIBRO MAYOR

In [918]:
# INSPECCIÓN VISUAL INICIAL 1

print("DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: df_libro_mayor5_mec_2M  : ", df_libro_mayor5_mec_2M.shape)
df_libro_mayor5_mec_2M_3[df_libro_mayor5_mec_2M_3["CODIGO_PROYECTO"]=="P-1704"]

DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: df_libro_mayor5_mec_2M  :  (456, 10)

,CODIGO_PROYECTO,TIPO_CUENTA,FECHA,AÑO,MES,TOTAL,ORIGEN
322,P-1704,COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,-14242535,LIBRO MAYOR
328,P-1704,COSTO MATERIALES,2023-05-01,2023.00,5.00,-13967551,LIBRO MAYOR
334,P-1704,INGRESO,2023-05-01,2023.00,5.00,79059997,LIBRO MAYOR
2021,P-1704,COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,0,LIBRO MAYOR
2022,P-1704,COSTO SUPERVISIÓN,2023-04-01,2023.00,4.00,0,LIBRO MAYOR
2023,P-1704,INGRESO,2023-05-01,2023.00,5.00,0,LIBRO MAYOR
2024,P-1704,COSTO MATERIALES,2023-05-01,2023.00,5.00,0,LIBRO MAYOR

In [919]:
# INSPECCIÓN VISUAL INICIAL

print("DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: df_libro_mayor5_mec_2M_3  : ", df_libro_mayor5_mec_2M_3.shape)
df_libro_mayor5_mec_2M_3[df_libro_mayor5_mec_2M_3["CODIGO_PROYECTO"]=="P-1704"]

# Se crea nueva columna que define el destino del uso del trozo del DATAFRAME proveniente del libro mayor

def determinar_origen(row):
    if row['TIPO_CUENTA'] in ['INGRESO', 'COSTO MATERIALES']:
        return 'REAL'
    elif row['TIPO_CUENTA'] in ['COSTO SUPERVISIÓN','COSTO MANO DE OBRA']:
        return 'REAL Y PROYECTADO'

df_libro_mayor5_mec_2M_3['DESTINO'] = df_libro_mayor5_mec_2M_3.apply(determinar_origen, axis=1)
print(df_libro_mayor5_mec_2M_3.shape)
df_libro_mayor5_mec_2M_3.sample(10)

DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: df_libro_mayor5_mec_2M_3  :  (456, 7)
(456, 8)

,CODIGO_PROYECTO,TIPO_CUENTA,FECHA,AÑO,MES,TOTAL,ORIGEN,DESTINO
1687,P-1689,INGRESO,2023-05-01,2023.00,5.00,0,LIBRO MAYOR,REAL
1158,P-1664,COSTO SUPERVISIÓN,2023-04-01,2023.00,4.00,0,LIBRO MAYOR,REAL Y PROYECTADO
1159,P-1664,INGRESO,2023-05-01,2023.00,5.00,0,LIBRO MAYOR,REAL
1902,P-1698,COSTO SUPERVISIÓN,2023-04-01,2023.00,4.00,0,LIBRO MAYOR,REAL Y PROYECTADO
45,P-1667,COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,-967228,LIBRO MAYOR,REAL Y PROYECTADO
523,P-1725,COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,-2120143,LIBRO MAYOR,REAL Y PROYECTADO
1134,P-1663,COSTO SUPERVISIÓN,2023-04-01,2023.00,4.00,0,LIBRO MAYOR,REAL Y PROYECTADO
1878,P-1697,COSTO SUPERVISIÓN,2023-04-01,2023.00,4.00,0,LIBRO MAYOR,REAL Y PROYECTADO
800,P-1636,COSTO MATERIALES,2023-05-01,2023.00,5.00,0,LIBRO MAYOR,REAL
1856,P-1696,COSTO MATERIALES,2023-05-01,2023.00,5.00,0,LIBRO MAYOR,REAL

In [920]:
# Cambiar los valores de la columna TIPO_CUENTA
df_libro_mayor5_mec_2M_3['TIPO_CUENTA'] = df_libro_mayor5_mec_2M_3['TIPO_CUENTA'].replace({'COSTO MATERIALES': '2. COSTO MATERIALES', 'COSTO MANO DE OBRA': '3. COSTO MANO DE OBRA', 'INGRESO': '1. INGRESO','COSTO SUPERVISIÓN': '4. COSTO SUPERVISIÓN'})

print(df_libro_mayor5_mec_2M_3.shape)
df_libro_mayor5_mec_2M_3["TIPO_CUENTA"].unique()

(456, 8)

array(['3. COSTO MANO DE OBRA', '2. COSTO MATERIALES', '1. INGRESO',
       '4. COSTO SUPERVISIÓN'], dtype=object)

#### 4.4.2 - CREACIÓN DE COPIA DE DATAFRAME "df_proyectado4" Y AJUSTES INICIALES
Ajuste del dataframe proveniente de PROYECTADO

In [921]:
df_proyectado4_1M.sample(5)
df_proyectado5_1M = df_proyectado4_1M.drop(['PROYECTO'], axis=1)

# Se crea la columna Fecha
df_proyectado5_1M['FECHA'] = pd.to_datetime(df_proyectado5_1M['MES'].astype(str) + '-1-' + df_proyectado5_1M['AÑO'].astype(str))

df_proyectado5_1M.sample(5)

,CODIGO_PROYECTO,TOTAL,MES,AÑO,ORIGEN,TIPO_CUENTA,FECHA
0,P-1600,0.00,5,2023,PROYECTADO,3. COSTO MANO DE OBRA,2023-05-01
30,P-1684,0.00,5,2023,PROYECTADO,3. COSTO MANO DE OBRA,2023-05-01
7,P-1642,0.00,5,2023,PROYECTADO,2. COSTO MATERIALES,2023-05-01
2,P-1615,0.00,5,2023,PROYECTADO,2. COSTO MATERIALES,2023-05-01
41,P-1695,-10500000.00,5,2023,PROYECTADO,2. COSTO MATERIALES,2023-05-01

In [922]:
# Se crea nueva columna que define el destino del uso del trozo del DATAFRAME proveniente del proyectado

def determinar_origen(row):
    if row['TIPO_CUENTA'] in ['1. INGRESO', '2. COSTO MATERIALES']:
        return 'PROYECTADO'

# Se realiza 
df_proyectado5_1M['DESTINO'] = df_proyectado5_1M.apply(determinar_origen, axis=1)
df_proyectado5_1M = df_proyectado5_1M[df_proyectado5_1M['TIPO_CUENTA'] != '3. COSTO MANO DE OBRA']


# Se reordenan las columnas para estandarizarlo como la que viene desde Libro Mayot
df_proyectado5_1M = df_proyectado5_1M.reindex(columns=['CODIGO_PROYECTO', 'TIPO_CUENTA', 'FECHA', 'AÑO', 'MES', 'TOTAL', 'ORIGEN', 'DESTINO'])

df_proyectado5_1M.sample(5)

,CODIGO_PROYECTO,TIPO_CUENTA,FECHA,AÑO,MES,TOTAL,ORIGEN,DESTINO
63,P-1719,1. INGRESO,2023-05-01,2023,5,0.00,PROYECTADO,PROYECTADO
70,P-1726,2. COSTO MATERIALES,2023-05-01,2023,5,-10000000.00,PROYECTADO,PROYECTADO
34,P-1688,1. INGRESO,2023-05-01,2023,5,4529751.00,PROYECTADO,PROYECTADO
48,P-1702,2. COSTO MATERIALES,2023-05-01,2023,5,0.00,PROYECTADO,PROYECTADO
33,P-1687,1. INGRESO,2023-05-01,2023,5,0.00,PROYECTADO,PROYECTADO

#### 4.4.3 - CONCATENACIÓN ENTRE DATAFRAMES DEL MES EN CURSO LIBRO MAYOR Y PROYECTADO
Se realiza concatenación entre ambos dataframes

In [923]:
print("Dimensiones df_libro_mayor5_mec_2M_3 antes de cambios: ", df_libro_mayor5_mec_2M_3.shape)
print("Dimensiones df_proyectado5_1M antes de cambios       : ", df_proyectado5_1M.shape)

mes_en_curso_2M = pd.concat([df_libro_mayor5_mec_2M_3, df_proyectado5_1M])

print("Dimensiones dataframe final mes_en_curso después de concatenación  : ", mes_en_curso_2M.shape)
mes_en_curso_2M.sample(10)

Dimensiones df_libro_mayor5_mec_2M_3 antes de cambios:  (456, 8)
Dimensiones df_proyectado5_1M antes de cambios       :  (148, 8)
Dimensiones dataframe final mes_en_curso después de concatenación  :  (604, 8)

,CODIGO_PROYECTO,TIPO_CUENTA,FECHA,AÑO,MES,TOTAL,ORIGEN,DESTINO
20,P-1672,2. COSTO MATERIALES,2023-05-01,2023.00,5.00,0.00,PROYECTADO,PROYECTADO
2261,P-1716,3. COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,0.00,LIBRO MAYOR,REAL Y PROYECTADO
6,P-1638,1. INGRESO,2023-05-01,2023.00,5.00,0.00,PROYECTADO,PROYECTADO
70,P-1726,2. COSTO MATERIALES,2023-05-01,2023.00,5.00,-10000000.00,PROYECTADO,PROYECTADO
1445,P-1679,3. COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,0.00,LIBRO MAYOR,REAL Y PROYECTADO
57,P-1713,2. COSTO MATERIALES,2023-05-01,2023.00,5.00,0.00,PROYECTADO,PROYECTADO
106,P-1682,3. COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,-1086051.00,LIBRO MAYOR,REAL Y PROYECTADO
88,P-1680,3. COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,-7431377.00,LIBRO MAYOR,REAL Y PROYECTADO
895,P-1643,1. INGRESO,2023-05-01,2023.00,5.00,0.00,LIBRO MAYOR,REAL
1518,P-1682,4. COSTO SUPERVISIÓN,2023-04-01,2023.00,4.00,0.00,LIBRO MAYOR,REAL Y PROYECTADO

#### 4.4.4 - MERGE CON "df_cod_proyecto" PARA CREAR DATAFRAME FINAL

In [924]:
print("Dimensiones mes_en_curso antes de cambios: ", mes_en_curso_2M.shape)
mes_en_curso_2M = mes_en_curso_2M.merge(df_cod_proyecto, on='CODIGO_PROYECTO', how='left')
mes_en_curso_2M = mes_en_curso_2M[['CODIGO_PROYECTO', 'NOMBRE_OBRA', 'NOMBRE_CLIENTE', 'TIPO_CUENTA', 'FECHA', 'AÑO', 'MES', 'TOTAL', 'ORIGEN', 'DESTINO']]
print("Dimensiones mes_en_curso_2M antes de cambios: ", mes_en_curso_2M.shape)
mes_en_curso_2M.sample(10)

Dimensiones mes_en_curso antes de cambios:  (604, 8)
Dimensiones mes_en_curso_2M antes de cambios:  (604, 10)

,CODIGO_PROYECTO,NOMBRE_OBRA,NOMBRE_CLIENTE,TIPO_CUENTA,FECHA,AÑO,MES,TOTAL,ORIGEN,DESTINO
578,P-1702,Karun,CONSTRUCTORA UNION SpA.,2. COSTO MATERIALES,2023-05-01,2023.00,5.00,0.00,PROYECTADO,PROYECTADO
416,P-1721,Strip Center Luis Pasteur,Inmobiliaria Luis Pasteur S.A.,3. COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,0.00,LIBRO MAYOR,REAL Y PROYECTADO
28,P-1686,Macul Icalma,EMPRESA CONSTRUCTORA INGEVEC S.A.,2. COSTO MATERIALES,2023-05-01,2023.00,5.00,-2268468.00,LIBRO MAYOR,REAL
138,P-1612,Barrio Parque Santiago 7,CONSTRUCTORA ALTURAS DEL SUR S.A,1. INGRESO,2023-05-01,2023.00,5.00,0.00,LIBRO MAYOR,REAL
256,P-1677,Galvarino Gallardo,Moller y Perez - Cotapos Construcciones Indust...,3. COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,0.00,LIBRO MAYOR,REAL Y PROYECTADO
418,P-1721,Strip Center Luis Pasteur,Inmobiliaria Luis Pasteur S.A.,1. INGRESO,2023-05-01,2023.00,5.00,0.00,LIBRO MAYOR,REAL
589,P-1715,CD Lo Echevers,Quezada y Boetsch,2. COSTO MATERIALES,2023-05-01,2023.00,5.00,-6000000.00,PROYECTADO,PROYECTADO
372,P-1708,Eco España,Constructora ICF SPA,3. COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,0.00,LIBRO MAYOR,REAL Y PROYECTADO
74,P-1709,Centro Comercial Paseo San Pedro,EBCO S.A.,1. INGRESO,2023-05-01,2023.00,5.00,11127770.00,LIBRO MAYOR,REAL
291,P-1686,Macul Icalma,EMPRESA CONSTRUCTORA INGEVEC S.A.,2. COSTO MATERIALES,2023-05-01,2023.00,5.00,0.00,LIBRO MAYOR,REAL

In [925]:
#Para reemplazar los valores en blanco en las columnas "NOMBRE_OBRA" y "NOMBRE_CLIENTE" por el valor "TOTAL" cada vez que el valor de la columna "CODIGO_PROYECTO" es igual a "TOTAL", puedes hacer lo siguiente:

mes_en_curso_2M.loc[(mes_en_curso_2M['CODIGO_PROYECTO'] == '1. TOTAL') & (mes_en_curso_2M['NOMBRE_OBRA'].isnull()), 'NOMBRE_OBRA'] = '1. TOTAL'
mes_en_curso_2M.loc[(mes_en_curso_2M['CODIGO_PROYECTO'] == '1. TOTAL') & (mes_en_curso_2M['NOMBRE_CLIENTE'].isnull()), 'NOMBRE_CLIENTE'] = '1. TOTAL'
mes_en_curso_2M.sample(5)

,CODIGO_PROYECTO,NOMBRE_OBRA,NOMBRE_CLIENTE,TIPO_CUENTA,FECHA,AÑO,MES,TOTAL,ORIGEN,DESTINO
555,P-1678,Habilitación Oficinas Pirer SPA,SOC. CONSTRUCTORA MANSILLA Y SALGADO LIMITADA,2. COSTO MATERIALES,2023-05-01,2023.00,5.00,0.00,PROYECTADO,PROYECTADO
260,P-1679,Juan Sabaj,Constructora Grevia,3. COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,0.00,LIBRO MAYOR,REAL Y PROYECTADO
173,P-1644,Mirador de San Cristobal,EBCO S.A.,4. COSTO SUPERVISIÓN,2023-04-01,2023.00,4.00,0.00,LIBRO MAYOR,REAL Y PROYECTADO
233,P-1670,MK II Seguridad y Redes,Comercial K SpA.,4. COSTO SUPERVISIÓN,2023-04-01,2023.00,4.00,0.00,LIBRO MAYOR,REAL Y PROYECTADO
103,P-1725,Lo Cañas,Constructora Brisas de Batuco,2. COSTO MATERIALES,2023-05-01,2023.00,5.00,-6708545.00,LIBRO MAYOR,REAL

In [926]:
# INSPECCIÓN VISUAL 1

mes_en_curso_2M[mes_en_curso_2M["CODIGO_PROYECTO"]=="P-1704"]

,CODIGO_PROYECTO,NOMBRE_OBRA,NOMBRE_CLIENTE,TIPO_CUENTA,FECHA,AÑO,MES,TOTAL,ORIGEN,DESTINO
58,P-1704,CD Mercado Libre Mezzanina,EBCO S.A.,3. COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,-14242535.00,LIBRO MAYOR,REAL Y PROYECTADO
59,P-1704,CD Mercado Libre Mezzanina,EBCO S.A.,2. COSTO MATERIALES,2023-05-01,2023.00,5.00,-13967551.00,LIBRO MAYOR,REAL
60,P-1704,CD Mercado Libre Mezzanina,EBCO S.A.,1. INGRESO,2023-05-01,2023.00,5.00,79059997.00,LIBRO MAYOR,REAL
356,P-1704,CD Mercado Libre Mezzanina,EBCO S.A.,3. COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,0.00,LIBRO MAYOR,REAL Y PROYECTADO
357,P-1704,CD Mercado Libre Mezzanina,EBCO S.A.,4. COSTO SUPERVISIÓN,2023-04-01,2023.00,4.00,0.00,LIBRO MAYOR,REAL Y PROYECTADO
358,P-1704,CD Mercado Libre Mezzanina,EBCO S.A.,1. INGRESO,2023-05-01,2023.00,5.00,0.00,LIBRO MAYOR,REAL
359,P-1704,CD Mercado Libre Mezzanina,EBCO S.A.,2. COSTO MATERIALES,2023-05-01,2023.00,5.00,0.00,LIBRO MAYOR,REAL
506,P-1704,CD Mercado Libre Mezzanina,EBCO S.A.,1. INGRESO,2023-05-01,2023.00,5.00,68606659.28,PROYECTADO,PROYECTADO
580,P-1704,CD Mercado Libre Mezzanina,EBCO S.A.,2. COSTO MATERIALES,2023-05-01,2023.00,5.00,-24000000.00,PROYECTADO,PROYECTADO

#### 4.3.4 - AGREGACIÓN DE TODOS TIPOS DE CUENTA

In [927]:
print("Dimensiones Dataframe antes de cambios", mes_en_curso_2M.shape)

Dimensiones Dataframe antes de cambios (604, 10)

In [928]:
# definir nuevas filas
df_rows_to_add = []

for _, row in mes_en_curso_2M.iterrows():
    if row["TIPO_CUENTA"] == "1. INGRESO" and row["TOTAL"] == 0:
        row1 = row.copy()
        row1["TIPO_CUENTA"] = "1. INGRESO"
        row1["TOTAL"] = 0
        row1["ORIGEN"] = "AGREGACION"
        row1["DESTINO"] = "REAL"
        df_rows_to_add.append(row1)

        row2 = row.copy()
        row2["TIPO_CUENTA"] = "1. INGRESO"
        row2["TOTAL"] = 0
        row2["ORIGEN"] = "AGREGACION"
        row2["DESTINO"] = "PROYECTADO"
        df_rows_to_add.append(row2)

    elif row["TIPO_CUENTA"] == "2. COSTO MATERIALES" and row["TOTAL"] == 0:
        row1 = row.copy()
        row1["TIPO_CUENTA"] = "2. COSTO MATERIALES"
        row1["TOTAL"] = 0
        row1["ORIGEN"] = "AGREGACION"
        row1["DESTINO"] = "REAL"
        df_rows_to_add.append(row1)

        row2 = row.copy()
        row2["TIPO_CUENTA"] = "2. COSTO MATERIALES"
        row2["TOTAL"] = 0
        row2["ORIGEN"] = "AGREGACION"
        row2["DESTINO"] = "PROYECTADO"
        df_rows_to_add.append(row2)

    elif row["TIPO_CUENTA"] == "3. COSTO MANO DE OBRA" and row["TOTAL"] == 0:
        row1 = row.copy()
        row1["TIPO_CUENTA"] = "3. COSTO MANO DE OBRA"
        row1["TOTAL"] = 0
        row1["ORIGEN"] = "AGREGACION"
        row1["DESTINO"] = "REAL Y PROYECTADO"
        df_rows_to_add.append(row1)

  
    elif row["TIPO_CUENTA"] == "4. COSTO SUPERVISIÓN" and row["TOTAL"] == 0:
        row1 = row.copy()
        row1["TIPO_CUENTA"] = "4. COSTO SUPERVISIÓN"
        row1["TOTAL"] = 0
        row1["ORIGEN"] = "AGREGACION"
        row1["DESTINO"] = "REAL Y PROYECTADO"
        df_rows_to_add.append(row1)
        
        row2 = row.copy()
        row2["TIPO_CUENTA"] = "3. COSTO MANO DE OBRA"
        row2["TOTAL"] = 0
        row2["ORIGEN"] = "AGREGACION"
        row2["DESTINO"] = "REAL Y PROYECTADO"
        df_rows_to_add.append(row2)

In [929]:
# concatenar nuevas filas al DataFrame original
mes_en_curso_2M = pd.concat([mes_en_curso_2M, pd.DataFrame(df_rows_to_add)], ignore_index=True)

In [930]:
# Se renombra "TOTAL" a "1. TOTAL" para que se pueda visualizar como primera opción en el dashboard.
mes_en_curso_2M['CODIGO_PROYECTO'] = mes_en_curso_2M['CODIGO_PROYECTO'].apply(lambda x: '1. TOTAL' if x == 'TOTAL' else x)

cols_to_replace = ['CODIGO_PROYECTO', 'NOMBRE_OBRA', 'NOMBRE_CLIENTE']
mes_en_curso_2M[cols_to_replace] = mes_en_curso_2M[cols_to_replace].replace('TOTAL', '1. TOTAL')
mask = mes_en_curso_2M['CODIGO_PROYECTO'] == '1. TOTAL'
mes_en_curso_2M.loc[mask, ['NOMBRE_OBRA', 'NOMBRE_CLIENTE']] = '1. TOTAL'

print("Dimensiones Dataframe después de cambios", mes_en_curso_2M.shape)

mes_en_curso_2M.sample(10)

Dimensiones Dataframe después de cambios (1395, 10)

,CODIGO_PROYECTO,NOMBRE_OBRA,NOMBRE_CLIENTE,TIPO_CUENTA,FECHA,AÑO,MES,TOTAL,ORIGEN,DESTINO
1060,P-1708,Eco España,Constructora ICF SPA,3. COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,0.00,AGREGACION,REAL Y PROYECTADO
1247,P-1674,Oficinas Beiersdorf Chorrillos,Constructora Suksa S.A.,1. INGRESO,2023-05-01,2023.00,5.00,0.00,AGREGACION,REAL
13,P-1669,Departamental,EMP. CONSTRUCTORA INGENIEROS S.A.,2. COSTO MATERIALES,2023-05-01,2023.00,5.00,245707.00,LIBRO MAYOR,REAL
128,P-1603,Farellones,Empresa Constructora DLP S.A.,3. COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,0.00,LIBRO MAYOR,REAL Y PROYECTADO
308,P-1691,Rosario Rosales,CONSTRUCTORA E INMOBILIARIA PRADOVERDE LTDA.,3. COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,0.00,LIBRO MAYOR,REAL Y PROYECTADO
179,P-1645,Los tres Antonios,Sociedad Constructora Echavarri Hermanos Limitada,2. COSTO MATERIALES,2023-05-01,2023.00,5.00,0.00,LIBRO MAYOR,REAL
1036,P-1704,CD Mercado Libre Mezzanina,EBCO S.A.,2. COSTO MATERIALES,2023-05-01,2023.00,5.00,0.00,AGREGACION,PROYECTADO
696,P-1642,Corinto,EMP. CONSTRUCTORA INGENIEROS S.A.,3. COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,0.00,AGREGACION,REAL Y PROYECTADO
206,P-1661,San Vicente de Paul,DANACORP S.A,1. INGRESO,2023-05-01,2023.00,5.00,0.00,LIBRO MAYOR,REAL
940,P-1690,Ongolmo - Home Condominio,CANTAUCO CONSTRUCCION LTDA.,4. COSTO SUPERVISIÓN,2023-04-01,2023.00,4.00,0.00,AGREGACION,REAL Y PROYECTADO

In [931]:
# INSPECCIÓN VISUAL 1
mes_en_curso_2M[mes_en_curso_2M["CODIGO_PROYECTO"]=="P-1726"]

,CODIGO_PROYECTO,NOMBRE_OBRA,NOMBRE_CLIENTE,TIPO_CUENTA,FECHA,AÑO,MES,TOTAL,ORIGEN,DESTINO
105,P-1726,NaN,NaN,3. COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,-2654140.00,LIBRO MAYOR,REAL Y PROYECTADO
106,P-1726,NaN,NaN,2. COSTO MATERIALES,2023-05-01,2023.00,5.00,-9165547.00,LIBRO MAYOR,REAL
107,P-1726,NaN,NaN,1. INGRESO,2023-05-01,2023.00,5.00,25429159.00,LIBRO MAYOR,REAL
436,P-1726,NaN,NaN,3. COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,0.00,LIBRO MAYOR,REAL Y PROYECTADO
437,P-1726,NaN,NaN,4. COSTO SUPERVISIÓN,2023-04-01,2023.00,4.00,0.00,LIBRO MAYOR,REAL Y PROYECTADO
438,P-1726,NaN,NaN,1. INGRESO,2023-05-01,2023.00,5.00,0.00,LIBRO MAYOR,REAL
439,P-1726,NaN,NaN,2. COSTO MATERIALES,2023-05-01,2023.00,5.00,0.00,LIBRO MAYOR,REAL
526,P-1726,NaN,NaN,1. INGRESO,2023-05-01,2023.00,5.00,25429159.00,PROYECTADO,PROYECTADO
600,P-1726,NaN,NaN,2. COSTO MATERIALES,2023-05-01,2023.00,5.00,-10000000.00,PROYECTADO,PROYECTADO
1170,P-1726,NaN,NaN,3. COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,0.00,AGREGACION,REAL Y PROYECTADO
1171,P-1726,NaN,NaN,4. COSTO SUPERVISIÓN,2023-04-01,2023.00,4.00,0.00,AGREGACION,REAL Y PROYECTADO
1172,P-1726,NaN,NaN,3. COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,0.00,AGREGACION,REAL Y PROYECTADO
1173,P-1726,NaN,NaN,1. INGRESO,2023-05-01,2023.00,5.00,0.00,AGREGACION,REAL
1174,P-1726,NaN,NaN,1. INGRESO,2023-05-01,2023.00,5.00,0.00,AGREGACION,PROYECTADO
1175,P-1726,NaN,NaN,2. COSTO MATERIALES,2023-05-01,2023.00,5.00,0.00,AGREGACION,REAL
1176,P-1726,NaN,NaN,2. COSTO MATERIALES,2023-05-01,2023.00,5.00,0.00,AGREGACION,PROYECTADO

In [932]:
mes_en_curso_2M["TIPO_CUENTA"].unique()

array(['3. COSTO MANO DE OBRA', '2. COSTO MATERIALES', '1. INGRESO',
       '4. COSTO SUPERVISIÓN'], dtype=object)

In [933]:
# INSPECCIÓN VISUAL 1
mes_en_curso_2M[mes_en_curso_2M["CODIGO_PROYECTO"]=="1. TOTAL"]

,CODIGO_PROYECTO,NOMBRE_OBRA,NOMBRE_CLIENTE,TIPO_CUENTA,FECHA,AÑO,MES,TOTAL,ORIGEN,DESTINO
112,1. TOTAL,1. TOTAL,1. TOTAL,3. COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,-111885468.00,LIBRO MAYOR,REAL Y PROYECTADO
113,1. TOTAL,1. TOTAL,1. TOTAL,2. COSTO MATERIALES,2023-05-01,2023.00,5.00,-169535388.00,LIBRO MAYOR,REAL
114,1. TOTAL,1. TOTAL,1. TOTAL,1. INGRESO,2023-05-01,2023.00,5.00,460798513.00,LIBRO MAYOR,REAL
115,1. TOTAL,1. TOTAL,1. TOTAL,4. COSTO SUPERVISIÓN,2023-04-01,2023.00,4.00,-5096121.00,LIBRO MAYOR,REAL Y PROYECTADO
452,1. TOTAL,1. TOTAL,1. TOTAL,3. COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,0.00,LIBRO MAYOR,REAL Y PROYECTADO
453,1. TOTAL,1. TOTAL,1. TOTAL,4. COSTO SUPERVISIÓN,2023-04-01,2023.00,4.00,0.00,LIBRO MAYOR,REAL Y PROYECTADO
454,1. TOTAL,1. TOTAL,1. TOTAL,1. INGRESO,2023-05-01,2023.00,5.00,0.00,LIBRO MAYOR,REAL
455,1. TOTAL,1. TOTAL,1. TOTAL,2. COSTO MATERIALES,2023-05-01,2023.00,5.00,0.00,LIBRO MAYOR,REAL
529,1. TOTAL,1. TOTAL,1. TOTAL,1. INGRESO,2023-05-01,2023.00,5.00,455821573.22,PROYECTADO,PROYECTADO
603,1. TOTAL,1. TOTAL,1. TOTAL,2. COSTO MATERIALES,2023-05-01,2023.00,5.00,-212300000.00,PROYECTADO,PROYECTADO
1198,1. TOTAL,1. TOTAL,1. TOTAL,3. COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,0.00,AGREGACION,REAL Y PROYECTADO
1199,1. TOTAL,1. TOTAL,1. TOTAL,4. COSTO SUPERVISIÓN,2023-04-01,2023.00,4.00,0.00,AGREGACION,REAL Y PROYECTADO
1200,1. TOTAL,1. TOTAL,1. TOTAL,3. COSTO MANO DE OBRA,2023-04-01,2023.00,4.00,0.00,AGREGACION,REAL Y PROYECTADO
1201,1. TOTAL,1. TOTAL,1. TOTAL,1. INGRESO,2023-05-01,2023.00,5.00,0.00,AGREGACION,REAL
1202,1. TOTAL,1. TOTAL,1. TOTAL,1. INGRESO,2023-05-01,2023.00,5.00,0.00,AGREGACION,PROYECTADO
1203,1. TOTAL,1. TOTAL,1. TOTAL,2. COSTO MATERIALES,2023-05-01,2023.00,5.00,0.00,AGREGACION,REAL
1204,1. TOTAL,1. TOTAL,1. TOTAL,2. COSTO MATERIALES,2023-05-01,2023.00,5.00,0.00,AGREGACION,PROYECTADO

#### 4.4.7 - **CREACIÓN DATAFRAME PARA -> PROYECTADO

In [934]:
# Se crea una copia del dataframe original mes_en_curso2

print("DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: mes_en_curso_2M       : ", mes_en_curso_2M.shape)

mes_en_curso_2M_1 = mes_en_curso_2M.copy()
mes_en_curso_2M_1 = mes_en_curso_2M_1[mes_en_curso_2M_1['DESTINO'].str.contains('PROYECTADO')]

print("DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: mes_en_curso_2M_1   : ", mes_en_curso_2M_1.shape)


print("DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: mes_en_curso_2M_1     : ", mes_en_curso_2M_1.shape)

mes_en_curso_proy_2M = pd.pivot_table(mes_en_curso_2M_1, values=['TOTAL'], index=['CODIGO_PROYECTO','TIPO_CUENTA'], aggfunc='sum', fill_value=0)
mes_en_curso_proy_2M = pd.DataFrame(mes_en_curso_proy_2M.to_records())

print("DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: mes_en_curso_proy_2M  : ", mes_en_curso_proy_2M.shape)

mes_en_curso_proy_2M.sample(10)

DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: mes_en_curso_2M       :  (1395, 10)
DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: mes_en_curso_2M_1   :  (878, 10)
DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: mes_en_curso_2M_1     :  (878, 10)
DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: mes_en_curso_proy_2M  :  (364, 3)

    CODIGO_PROYECTO            TIPO_CUENTA       TOTAL
31           P-1612    2. COSTO MATERIALES        0.00
111          P-1661    2. COSTO MATERIALES        0.00
228          P-1693  3. COSTO MANO DE OBRA -2407425.00
363          P-1729   4. COSTO SUPERVISIÓN        0.00
239          P-1696    2. COSTO MATERIALES        0.00
88           P-1652             1. INGRESO        0.00
187          P-1683    2. COSTO MATERIALES        0.00
198          P-1686             1. INGRESO 10669236.17
247          P-1698    2. COSTO MATERIALES        0.00
7            P-1557    2. COSTO MATERIALES        0.00

In [935]:
# TESTING VISUAL 1
mes_en_curso_proy_2M[mes_en_curso_proy_2M["CODIGO_PROYECTO"]=="P-1726"]

    CODIGO_PROYECTO            TIPO_CUENTA        TOTAL
348          P-1726             1. INGRESO  25429159.00
349          P-1726    2. COSTO MATERIALES -10000000.00
350          P-1726  3. COSTO MANO DE OBRA  -2654140.00
351          P-1726   4. COSTO SUPERVISIÓN         0.00

In [936]:
# TESTING VISUAL 2
mes_en_curso_proy_2M[mes_en_curso_proy_2M["CODIGO_PROYECTO"]=="1. TOTAL"]

  CODIGO_PROYECTO            TIPO_CUENTA         TOTAL
2        1. TOTAL             1. INGRESO  455821573.22
3        1. TOTAL    2. COSTO MATERIALES -212300000.00
4        1. TOTAL  3. COSTO MANO DE OBRA -111885468.00
5        1. TOTAL   4. COSTO SUPERVISIÓN   -5096121.00

##### 4.4.7.1 - MERGE CON DATAFRAME LIBRO MAYOR 2023 BASE

In [937]:
# Merge Dataframe BASE 

print("DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: mes_en_curso_proy_2M     : ", mes_en_curso_proy_2M.shape)
print("DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: df_libro_mayor5_base2    : ", df_libro_mayor5_base2.shape)

mes_en_curso_proy_2M_2 = df_libro_mayor5_base2.merge(mes_en_curso_proy_2M, on=['CODIGO_PROYECTO', 'TIPO_CUENTA'], how='left')

print("DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: mes_en_curso_proy_2M_2  : ", mes_en_curso_proy_2M_2.shape)

mes_en_curso_proy_2M_2['TOTAL'] = mes_en_curso_proy_2M_2['TOTAL'].fillna(0)

mes_en_curso_proy_2M_2.sample(5)

DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: mes_en_curso_proy_2M     :  (364, 3)
DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: df_libro_mayor5_base2    :  (340, 5)
DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: mes_en_curso_proy_2M_2  :  (340, 6)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL
159,P-1726,3. COSTO MANO DE OBRA,0,NaN,NaN,-2654140.00
88,P-1696,1. INGRESO,0,SANTA VICTORIA - TERRACORP,CONSTRUCTORA TERRACORP S.A.,0.00
75,P-1692,3. COSTO MANO DE OBRA,0,JOSÉ PEREZ COTAPOS,EBCO S.A.,-7576783.00
95,P-1699,2. COSTO MATERIALES,0,VILLA PANAMERICANA LOTE B,EMPRESA CONSTRUCTORA DLP S.A.,-18000000.00
315,P-1717,4. COSTO SUPERVISIÓN,0,ECO QUILÍN I,CONSTRUCTORA ICF SPA,0.00

In [938]:
# TESTING VISUAL 1

mes_en_curso_proy_2M_2[mes_en_curso_proy_2M_2["CODIGO_PROYECTO"]=="P-1726"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL
159,P-1726,3. COSTO MANO DE OBRA,0,NaN,NaN,-2654140.00
160,P-1726,2. COSTO MATERIALES,0,NaN,NaN,-10000000.00
161,P-1726,1. INGRESO,0,NaN,NaN,25429159.00
329,P-1726,4. COSTO SUPERVISIÓN,0,NaN,NaN,0.00

In [939]:
# TESTING VISUAL 2
mes_en_curso_proy_2M_2[mes_en_curso_proy_2M_2["CODIGO_PROYECTO"]=="1. TOTAL"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL
336,1. TOTAL,4. COSTO SUPERVISIÓN,0,1. TOTAL,1. TOTAL,-5096121.00
337,1. TOTAL,1. INGRESO,0,1. TOTAL,1. TOTAL,455821573.22
338,1. TOTAL,2. COSTO MATERIALES,0,1. TOTAL,1. TOTAL,-212300000.00
339,1. TOTAL,3. COSTO MANO DE OBRA,0,1. TOTAL,1. TOTAL,-111885468.00

##### 4.4.7.2 - SE RECALCULAN LOS TOTALES

In [940]:
# Calcular la suma de los valores totales para cada tipo de cuenta

# Se eliminan totales excepto supervisión, para re hacer el calculo de totales

mes_en_curso_proy_2M_2 = mes_en_curso_proy_2M_2.drop(mes_en_curso_proy_2M_2[(mes_en_curso_proy_2M_2['CODIGO_PROYECTO'] == '1. TOTAL') & (mes_en_curso_proy_2M_2['TIPO_CUENTA'] != '4. COSTO SUPERVISIÓN')].index)

print("DIMENSIONES ANTES   DE CAMBIOS DATAFRAME: mes_en_curso_proy_2M_2 : ", mes_en_curso_proy_2M_2.shape)

df_total = mes_en_curso_proy_2M_2.groupby('TIPO_CUENTA')['TOTAL'].sum().reset_index()
df_total['CODIGO_PROYECTO'] = '1. TOTAL'

# Agregar las filas adicionales al DataFrame
mes_en_curso_proy_2M_3 = pd.concat([mes_en_curso_proy_2M_2, df_total], ignore_index=True)

# Modificar las columnas "NOMBRE_OBRA" y "NOMBRE_CLIENTE" para "1. TOTAL"
mes_en_curso_proy_2M_3.loc[mes_en_curso_proy_2M_3['CODIGO_PROYECTO'] == '1. TOTAL', ['NOMBRE_OBRA', 'NOMBRE_CLIENTE']] = '1. TOTAL'

print("DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: mes_en_curso_proy_2M_3 : ", mes_en_curso_proy_2M_3.shape)

mes_en_curso_proy_2M_3.sample(10)

DIMENSIONES ANTES   DE CAMBIOS DATAFRAME: mes_en_curso_proy_2M_2 :  (337, 6)
DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: mes_en_curso_proy_2M_3 :  (341, 6)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL
181,P-1611,3. COSTO MANO DE OBRA,0.00,EDIFICIO PLAZA EGAÑA,EBCO S.A.,0.00
132,P-1714,1. INGRESO,0.00,DEPARTAMENTAL II,CONSTRUCTORA FUERZA SUR DOS SPA,2436155.00
85,P-1695,1. INGRESO,0.00,EDIFICIO ESTORIL,EMPRESA CONSTRUCTORA BRAVO E IZQUIERDO,13003381.00
264,P-1676,1. INGRESO,0.00,LO CAMPINO,EBCO S.A.,0.00
224,P-1656,1. INGRESO,0.00,MIRADOR CLUB HÍPICO,CONSTRUCTORA VITAL EDIFICACION SPA,0.00
15,P-1645,2. COSTO MATERIALES,0.00,LOS TRES ANTONIOS,SOCIEDAD CONSTRUCTORA ECHAVARRI HERMANOS LIMITADA,0.00
20,P-1656,2. COSTO MATERIALES,0.00,MIRADOR CLUB HÍPICO,CONSTRUCTORA VITAL EDIFICACION SPA,0.00
125,P-1712,2. COSTO MATERIALES,0.00,CENTRO COMERCIAL VIÑA OUTLET PARK,EBCO S.A.,-8500000.00
55,P-1684,3. COSTO MANO DE OBRA,0.00,EDIFICIO GOYCOLEA,EBCO S.A.,-400643.00
31,P-1669,2. COSTO MATERIALES,0.00,DEPARTAMENTAL,EMP. CONSTRUCTORA INGENIEROS S.A.,0.00

In [941]:
# TESTING VISUAL 2
mes_en_curso_proy_2M_3[mes_en_curso_proy_2M_3["CODIGO_PROYECTO"]=="1. TOTAL"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL
336,1. TOTAL,4. COSTO SUPERVISIÓN,0.00,1. TOTAL,1. TOTAL,-5096121.00
337,1. TOTAL,1. INGRESO,NaN,1. TOTAL,1. TOTAL,455821573.22
338,1. TOTAL,2. COSTO MATERIALES,NaN,1. TOTAL,1. TOTAL,-212300000.00
339,1. TOTAL,3. COSTO MANO DE OBRA,NaN,1. TOTAL,1. TOTAL,-111885468.00
340,1. TOTAL,4. COSTO SUPERVISIÓN,NaN,1. TOTAL,1. TOTAL,-5096121.00

In [942]:
# SE ELIMINA COSTO SUPERVISIÓN DUPLICADO.

print("DIMENSIONES ANTES   DE CAMBIOS DATAFRAME: mes_en_curso_proy_2M_3 : ", mes_en_curso_proy_2M_3.shape)

mes_en_curso_proy_2M_3 = mes_en_curso_proy_2M_3.drop(mes_en_curso_proy_2M_3[(mes_en_curso_proy_2M_3['CODIGO_PROYECTO'] == '1. TOTAL') & (mes_en_curso_proy_2M_3['TIPO_CUENTA'] == '4. COSTO SUPERVISIÓN') & (mes_en_curso_proy_2M_3['TOTAL_LB'].isnull())].index)

print("DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: mes_en_curso_proy_2M_3 : ", mes_en_curso_proy_2M_3.shape)

mes_en_curso_proy_2M_3[mes_en_curso_proy_2M_3["CODIGO_PROYECTO"]=="1. TOTAL"]

DIMENSIONES ANTES   DE CAMBIOS DATAFRAME: mes_en_curso_proy_2M_3 :  (341, 6)
DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: mes_en_curso_proy_2M_3 :  (340, 6)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL
336,1. TOTAL,4. COSTO SUPERVISIÓN,0.00,1. TOTAL,1. TOTAL,-5096121.00
337,1. TOTAL,1. INGRESO,NaN,1. TOTAL,1. TOTAL,455821573.22
338,1. TOTAL,2. COSTO MATERIALES,NaN,1. TOTAL,1. TOTAL,-212300000.00
339,1. TOTAL,3. COSTO MANO DE OBRA,NaN,1. TOTAL,1. TOTAL,-111885468.00

In [943]:
# TESTING VISUAL 1
mes_en_curso_proy_2M_3[mes_en_curso_proy_2M_3["CODIGO_PROYECTO"]=="P-1726"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL
159,P-1726,3. COSTO MANO DE OBRA,0.00,NaN,NaN,-2654140.00
160,P-1726,2. COSTO MATERIALES,0.00,NaN,NaN,-10000000.00
161,P-1726,1. INGRESO,0.00,NaN,NaN,25429159.00
329,P-1726,4. COSTO SUPERVISIÓN,0.00,NaN,NaN,0.00

In [944]:
# TESTING VISUAL 2
mes_en_curso_proy_2M_3[mes_en_curso_proy_2M_3["CODIGO_PROYECTO"]=="1. TOTAL"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL
336,1. TOTAL,4. COSTO SUPERVISIÓN,0.00,1. TOTAL,1. TOTAL,-5096121.00
337,1. TOTAL,1. INGRESO,NaN,1. TOTAL,1. TOTAL,455821573.22
338,1. TOTAL,2. COSTO MATERIALES,NaN,1. TOTAL,1. TOTAL,-212300000.00
339,1. TOTAL,3. COSTO MANO DE OBRA,NaN,1. TOTAL,1. TOTAL,-111885468.00

##### 4.4.7.3 - CREACIÓN DE MARGEN

In [945]:
#CREACIÓN DE MARGENES

mes_en_curso_proy_2M_4 = mes_en_curso_proy_2M_3.copy()

# Esta línea de código es para evitar ver el error.
with np.errstate(divide='ignore', invalid='ignore'):

    df_margen = mes_en_curso_proy_2M_4.groupby(['CODIGO_PROYECTO']).apply(lambda x: pd.Series({
        'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA', '4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
    }))

df_margen = pd.DataFrame(df_margen.to_records())
df_margen['MARGEN'] = df_margen['MARGEN'].fillna(0).replace(-np.inf, 0)
df_margen.replace([np.inf, -np.inf, np.nan], 0, inplace=True)


# mostrar el DataFrame resultante
df_margen.sample(10)

   CODIGO_PROYECTO  MARGEN
69          P-1714    0.70
38          P-1680   -1.97
6           P-1612    0.00
28          P-1668    0.00
19          P-1653    0.00
48          P-1690    0.00
75          P-1720    0.00
4           P-1603    0.00
77          P-1722    0.00
54          P-1696    0.00

In [946]:
print("DIMENSIONES ANTES   DE CAMBIOS DATAFRAME: mes_en_curso_proy_2M_4 : ", mes_en_curso_proy_2M_4.shape)

mes_en_curso_proy_2M_5 = pd.merge(mes_en_curso_proy_2M_4, df_margen, on=['CODIGO_PROYECTO'], how='left')

print("DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: mes_en_curso_proy_2M_5 : ", mes_en_curso_proy_2M_5.shape)
mes_en_curso_proy_2M_5.sample(10)

DIMENSIONES ANTES   DE CAMBIOS DATAFRAME: mes_en_curso_proy_2M_4 :  (340, 6)
DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: mes_en_curso_proy_2M_5 :  (340, 7)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL,MARGEN
263,P-1675,4. COSTO SUPERVISIÓN,0.00,PALENA II,CONSTRUCTORA MYA SPA.,0.00,0.00
38,P-1675,2. COSTO MATERIALES,0.00,PALENA II,CONSTRUCTORA MYA SPA.,0.00,0.00
226,P-1656,4. COSTO SUPERVISIÓN,0.00,MIRADOR CLUB HÍPICO,CONSTRUCTORA VITAL EDIFICACION SPA,0.00,0.00
85,P-1695,1. INGRESO,0.00,EDIFICIO ESTORIL,EMPRESA CONSTRUCTORA BRAVO E IZQUIERDO,13003381.00,0.19
220,P-1649,4. COSTO SUPERVISIÓN,0.00,INACAP VITACURA E2,CONSTRUCTORA CUEVAS Y PURCELL S.A.,0.00,0.00
321,P-1720,4. COSTO SUPERVISIÓN,0.00,NaN,NaN,0.00,0.00
139,P-1717,2. COSTO MATERIALES,0.00,ECO QUILÍN I,CONSTRUCTORA ICF SPA,0.00,0.00
174,P-1592,1. INGRESO,0.00,NUEVA COSTANERA 3300,EBCO S.A.,0.00,0.00
160,P-1726,2. COSTO MATERIALES,0.00,NaN,NaN,-10000000.00,0.50
221,P-1653,1. INGRESO,0.00,EDUARDO DE LA BARRA,CONSTRUCTORA E INVERSIONES VITAL SPA.,0.00,0.00

In [947]:
# TESTING VISUAL 1
mes_en_curso_proy_2M_5[mes_en_curso_proy_2M_5["CODIGO_PROYECTO"]=="P-1723"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL,MARGEN
150,P-1723,3. COSTO MANO DE OBRA,0.00,VILLA PANAMERICANA LOTE C,CONSTRUCTORA MENA Y OVALLE S.A.,-7889395.00,0.11
151,P-1723,2. COSTO MATERIALES,0.00,VILLA PANAMERICANA LOTE C,CONSTRUCTORA MENA Y OVALLE S.A.,-53000000.00,0.11
152,P-1723,1. INGRESO,0.00,VILLA PANAMERICANA LOTE C,CONSTRUCTORA MENA Y OVALLE S.A.,68515939.00,0.11
326,P-1723,4. COSTO SUPERVISIÓN,0.00,VILLA PANAMERICANA LOTE C,CONSTRUCTORA MENA Y OVALLE S.A.,0.00,0.11

In [948]:
# TESTING VISUAL 2
mes_en_curso_proy_2M_5[mes_en_curso_proy_2M_5["CODIGO_PROYECTO"]=="1. TOTAL"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL,MARGEN
336,1. TOTAL,4. COSTO SUPERVISIÓN,0.00,1. TOTAL,1. TOTAL,-5096121.00,0.28
337,1. TOTAL,1. INGRESO,NaN,1. TOTAL,1. TOTAL,455821573.22,0.28
338,1. TOTAL,2. COSTO MATERIALES,NaN,1. TOTAL,1. TOTAL,-212300000.00,0.28
339,1. TOTAL,3. COSTO MANO DE OBRA,NaN,1. TOTAL,1. TOTAL,-111885468.00,0.28

In [949]:
# Respaldo de Dataframe mes en curso antes de abrirrlo
mes_en_curso_proy_2M_5.to_csv('archivos_respaldo/mes_en_curso_proy_2M_5.csv', mode='a')

In [950]:
mes_en_curso_proy_2M_5[mes_en_curso_proy_2M_5["CODIGO_PROYECTO"]=="P-1726"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL,MARGEN
159,P-1726,3. COSTO MANO DE OBRA,0.00,NaN,NaN,-2654140.00,0.50
160,P-1726,2. COSTO MATERIALES,0.00,NaN,NaN,-10000000.00,0.50
161,P-1726,1. INGRESO,0.00,NaN,NaN,25429159.00,0.50
329,P-1726,4. COSTO SUPERVISIÓN,0.00,NaN,NaN,0.00,0.50

#### 4.4.8 - **CREACIÓN DATAFRAME PARA -> MES EN CURSO (PERSPECTIVA MES ANTERIOR)

##### 4.4.8.1 - TRATAMIENTO mes_en_curso2

In [951]:
# Se crea una copia del dataframe original mes_en_curso2

print("DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: mes_en_curso_2M       : ", mes_en_curso_2M.shape)

mes_en_curso_2M_1 = mes_en_curso_2M.copy()
mes_en_curso_2M_1 = mes_en_curso_2M_1[mes_en_curso_2M_1['DESTINO'].str.contains('REAL')]

print("DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: mes_en_curso_2M_1     : ", mes_en_curso_2M_1.shape)

mes_en_curso_real_2M = pd.pivot_table(mes_en_curso_2M_1, values=['TOTAL'], index=['CODIGO_PROYECTO','TIPO_CUENTA'], aggfunc='sum', fill_value=0)
mes_en_curso_real_2M = pd.DataFrame(mes_en_curso_real_2M.to_records())

print("DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: mes_en_curso_real_2M  : ", mes_en_curso_real_2M.shape)

mes_en_curso_real_2M.sample(10)

DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: mes_en_curso_2M       :  (1395, 10)
DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: mes_en_curso_2M_1     :  (979, 10)
DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: mes_en_curso_real_2M  :  (364, 3)

    CODIGO_PROYECTO            TIPO_CUENTA     TOTAL
61           P-1641    2. COSTO MATERIALES         0
104          P-1658  3. COSTO MANO DE OBRA         0
303          P-1714   4. COSTO SUPERVISIÓN         0
139          P-1670    2. COSTO MATERIALES         0
290          P-1709  3. COSTO MANO DE OBRA  -2333919
110          P-1661             1. INGRESO         0
334          P-1722  3. COSTO MANO DE OBRA         0
344          P-1725             1. INGRESO  13379492
49           P-1632   4. COSTO SUPERVISIÓN         0
212          P-1689  3. COSTO MANO DE OBRA         0

In [952]:
# TESTING VISUAL 1

mes_en_curso_real_2M[mes_en_curso_real_2M["CODIGO_PROYECTO"]=="P-1712"]

    CODIGO_PROYECTO            TIPO_CUENTA     TOTAL
292          P-1712             1. INGRESO  15000000
293          P-1712    2. COSTO MATERIALES  -5124213
294          P-1712  3. COSTO MANO DE OBRA  -2791400
295          P-1712   4. COSTO SUPERVISIÓN         0

In [953]:
# TESTING VISUAL 2

mes_en_curso_real_2M[mes_en_curso_real_2M["CODIGO_PROYECTO"]=="1. TOTAL"]

  CODIGO_PROYECTO            TIPO_CUENTA      TOTAL
2        1. TOTAL             1. INGRESO  460798513
3        1. TOTAL    2. COSTO MATERIALES -169535388
4        1. TOTAL  3. COSTO MANO DE OBRA -111885468
5        1. TOTAL   4. COSTO SUPERVISIÓN   -5096121

##### 4.4.8.2 - MERGE CON DATAFRAME LIBRO MAYOR 2023 BASE

In [954]:
# Merge Dataframe BASE 

print("DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: mes_en_curso_real_2M    : ", mes_en_curso_real_2M.shape)
print("DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: df_libro_mayor5_base2   : ", df_libro_mayor5_base2.shape)

mes_en_curso_real_2M = df_libro_mayor5_base2.merge(mes_en_curso_real_2M, on=['CODIGO_PROYECTO', 'TIPO_CUENTA'], how='left')

print("DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: mes_en_curso_real_2M   : ", mes_en_curso_real_2M.shape)

mes_en_curso_real_2M.sample(5)

DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: mes_en_curso_real_2M    :  (364, 3)
DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME: df_libro_mayor5_base2   :  (340, 5)
DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: mes_en_curso_real_2M   :  (340, 6)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL
102,P-1701,1. INGRESO,0,EDIFICIO ZENTENO,CONSTRUCTORA GREVIA SPA.,0
306,P-1708,4. COSTO SUPERVISIÓN,0,ECO ESPAÑA,CONSTRUCTORA ICF SPA,0
284,P-1689,1. INGRESO,0,CASINO BUENAVENTURA,EBCO S.A.,0
176,P-1592,4. COSTO SUPERVISIÓN,0,NUEVA COSTANERA 3300,EBCO S.A.,0
188,P-1620,4. COSTO SUPERVISIÓN,0,"OF APOQUINDO- HABILITACIONES, INTEGRACION Y AD...",CONSTRUCTORA INARCO S.A.,0

In [955]:
# TESTING VISUAL 1

mes_en_curso_real_2M[mes_en_curso_real_2M["CODIGO_PROYECTO"]=="P-1712"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL
124,P-1712,3. COSTO MANO DE OBRA,0,CENTRO COMERCIAL VIÑA OUTLET PARK,EBCO S.A.,-2791400
125,P-1712,2. COSTO MATERIALES,0,CENTRO COMERCIAL VIÑA OUTLET PARK,EBCO S.A.,-5124213
126,P-1712,1. INGRESO,0,CENTRO COMERCIAL VIÑA OUTLET PARK,EBCO S.A.,15000000
308,P-1712,4. COSTO SUPERVISIÓN,0,CENTRO COMERCIAL VIÑA OUTLET PARK,EBCO S.A.,0

In [956]:
# TESTING VISUAL 2

mes_en_curso_real_2M[mes_en_curso_real_2M["CODIGO_PROYECTO"]=="1. TOTAL"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL
336,1. TOTAL,4. COSTO SUPERVISIÓN,0,1. TOTAL,1. TOTAL,-5096121
337,1. TOTAL,1. INGRESO,0,1. TOTAL,1. TOTAL,460798513
338,1. TOTAL,2. COSTO MATERIALES,0,1. TOTAL,1. TOTAL,-169535388
339,1. TOTAL,3. COSTO MANO DE OBRA,0,1. TOTAL,1. TOTAL,-111885468

##### 4.4.8.3 - SE RECALCULAN LOS TOTALES

In [957]:
# Calcular la suma de los valores totales para cada tipo de cuenta

# Se eliminan totales excepto supervisión, para re hacer el calculo de totales

mes_en_curso_real_2M = mes_en_curso_real_2M.drop(mes_en_curso_real_2M[(mes_en_curso_real_2M['CODIGO_PROYECTO'] == '1. TOTAL') & (mes_en_curso_real_2M['TIPO_CUENTA'] != '4. COSTO SUPERVISIÓN')].index)

print("DIMENSIONES ANTES   DE CAMBIOS DATAFRAME: mes_en_curso_real_2M : ", mes_en_curso_real_2M.shape)

df_total = mes_en_curso_real_2M.groupby('TIPO_CUENTA')['TOTAL'].sum().reset_index()
df_total['CODIGO_PROYECTO'] = '1. TOTAL'

# Agregar las filas adicionales al DataFrame
mes_en_curso_real_2M_3 = pd.concat([mes_en_curso_real_2M, df_total], ignore_index=True)

# Modificar las columnas "NOMBRE_OBRA" y "NOMBRE_CLIENTE" para "1. TOTAL"
mes_en_curso_real_2M_3.loc[mes_en_curso_real_2M_3['CODIGO_PROYECTO'] == '1. TOTAL', ['NOMBRE_OBRA', 'NOMBRE_CLIENTE']] = '1. TOTAL'

print("DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: mes_en_curso_real_2M_3 : ", mes_en_curso_real_2M_3.shape)

mes_en_curso_real_2M_3.sample(10)

DIMENSIONES ANTES   DE CAMBIOS DATAFRAME: mes_en_curso_real_2M :  (337, 6)
DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: mes_en_curso_real_2M_3 :  (341, 6)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL
92,P-1698,2. COSTO MATERIALES,0.00,CD ANDES,EBCO S.A.,0
218,P-1649,1. INGRESO,0.00,INACAP VITACURA E2,CONSTRUCTORA CUEVAS Y PURCELL S.A.,0
4,P-1611,2. COSTO MATERIALES,0.00,EDIFICIO PLAZA EGAÑA,EBCO S.A.,0
146,P-1721,3. COSTO MANO DE OBRA,0.00,STRIP CENTER LUIS PASTEUR,INMOBILIARIA LUIS PASTEUR S.A.,-2706033
134,P-1715,2. COSTO MATERIALES,0.00,CD LO ECHEVERS,QUEZADA Y BOETSCH,-5862410
334,P-1729,3. COSTO MANO DE OBRA,0.00,NaN,NaN,0
205,P-1642,3. COSTO MANO DE OBRA,0.00,CORINTO,EMP. CONSTRUCTORA INGENIEROS S.A.,0
17,P-1648,2. COSTO MATERIALES,0.00,ETAPA 2 CD PERALILLO TW,INMOBILIARIA Y RENTAS LOGÍSTICA S.A.,0
315,P-1717,4. COSTO SUPERVISIÓN,0.00,ECO QUILÍN I,CONSTRUCTORA ICF SPA,0
105,P-1703,1. INGRESO,0.00,SANTA VICTORIA DANACORP,DANACORP S.A,0

In [958]:
# TESTING VISUAL 1

mes_en_curso_real_2M_3[mes_en_curso_real_2M_3["CODIGO_PROYECTO"]=="1. TOTAL"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL
336,1. TOTAL,4. COSTO SUPERVISIÓN,0.00,1. TOTAL,1. TOTAL,-5096121
337,1. TOTAL,1. INGRESO,NaN,1. TOTAL,1. TOTAL,460798513
338,1. TOTAL,2. COSTO MATERIALES,NaN,1. TOTAL,1. TOTAL,-169535388
339,1. TOTAL,3. COSTO MANO DE OBRA,NaN,1. TOTAL,1. TOTAL,-111885468
340,1. TOTAL,4. COSTO SUPERVISIÓN,NaN,1. TOTAL,1. TOTAL,-5096121

In [959]:
# SE ELIMINA COSTO SUPERVISIÓN DUPLICADO.

print("DIMENSIONES ANTES DE CAMBIOS DATAFRAME: mes_en_curso_real_2M_3 : ", mes_en_curso_real_2M_3.shape)

mes_en_curso_real_2M_3 = mes_en_curso_real_2M_3.drop(mes_en_curso_real_2M_3[(mes_en_curso_real_2M_3['CODIGO_PROYECTO'] == '1. TOTAL') & (mes_en_curso_real_2M_3['TIPO_CUENTA'] == '4. COSTO SUPERVISIÓN') & (mes_en_curso_real_2M_3['TOTAL_LB'].isnull())].index)

print("DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: mes_en_curso_real_2M_3 : ", mes_en_curso_real_2M_3.shape)

mes_en_curso_real_2M_3[mes_en_curso_real_2M_3["CODIGO_PROYECTO"]=="1. TOTAL"]

DIMENSIONES ANTES DE CAMBIOS DATAFRAME: mes_en_curso_real_2M_3 :  (341, 6)
DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: mes_en_curso_real_2M_3 :  (340, 6)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL
336,1. TOTAL,4. COSTO SUPERVISIÓN,0.00,1. TOTAL,1. TOTAL,-5096121
337,1. TOTAL,1. INGRESO,NaN,1. TOTAL,1. TOTAL,460798513
338,1. TOTAL,2. COSTO MATERIALES,NaN,1. TOTAL,1. TOTAL,-169535388
339,1. TOTAL,3. COSTO MANO DE OBRA,NaN,1. TOTAL,1. TOTAL,-111885468

##### 4.4.8.4 - CREACIÓN DE MARGEN

In [960]:
#CREACIÓN DE MARGENES

mes_en_curso_real_2M_4 = mes_en_curso_real_2M_3.copy()

# Esta línea de código es para evitar ver el error.
with np.errstate(divide='ignore', invalid='ignore'):

    df_margen = mes_en_curso_real_2M_4.groupby(['CODIGO_PROYECTO']).apply(lambda x: pd.Series({
        'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA', '4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
    }))

df_margen = pd.DataFrame(df_margen.to_records())
df_margen['MARGEN'] = df_margen['MARGEN'].fillna(0).replace(-np.inf, 0)
df_margen.replace([np.inf, -np.inf, np.nan], 0, inplace=True)


# mostrar el DataFrame resultante
df_margen.sample(10)

   CODIGO_PROYECTO  MARGEN
8           P-1626    0.00
76          P-1721    0.11
68          P-1713    0.00
43          P-1685    0.00
30          P-1670    0.00
83          P-1728    0.00
24          P-1663    0.00
42          P-1684    0.56
15          P-1644    0.00
65          P-1708   -1.35

In [961]:
print("DIMENSIONES ANTES   DE CAMBIOS DATAFRAME: mes_en_curso_real_2M_4 : ", mes_en_curso_real_2M_4.shape)

mes_en_curso_real_2M_5 = pd.merge(mes_en_curso_real_2M_4, df_margen, on=['CODIGO_PROYECTO'], how='left')

print("DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: mes_en_curso_real_2M_5 : ", mes_en_curso_real_2M_5.shape)
mes_en_curso_real_2M_5.sample(10)

DIMENSIONES ANTES   DE CAMBIOS DATAFRAME: mes_en_curso_real_2M_4 :  (340, 6)
DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: mes_en_curso_real_2M_5 :  (340, 7)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL,MARGEN
267,P-1679,1. INGRESO,0.00,JUAN SABAJ,CONSTRUCTORA GREVIA,0,0.00
248,P-1668,3. COSTO MANO DE OBRA,0.00,QUILLAYES PLAZA,E.MOLINA MOREL CONSTRUCTORA S.A.,0,0.00
42,P-1677,3. COSTO MANO DE OBRA,0.00,GALVARINO GALLARDO,MOLLER Y PEREZ - COTAPOS CONSTRUCCIONES INDUST...,0,0.00
328,P-1725,4. COSTO SUPERVISIÓN,0.00,LO CAÑAS,CONSTRUCTORA BRISAS DE BATUCO,0,0.34
84,P-1695,2. COSTO MATERIALES,0.00,EDIFICIO ESTORIL,EMPRESA CONSTRUCTORA BRAVO E IZQUIERDO,-8637098,0.33
250,P-1669,1. INGRESO,0.00,DEPARTAMENTAL,EMP. CONSTRUCTORA INGENIEROS S.A.,0,0.00
52,P-1682,2. COSTO MATERIALES,0.00,PLAZA CEPPI,EMP. CONSTRUCTORA INGENIEROS S.A.,1001849,1.00
181,P-1611,3. COSTO MANO DE OBRA,0.00,EDIFICIO PLAZA EGAÑA,EBCO S.A.,0,0.00
180,P-1611,1. INGRESO,0.00,EDIFICIO PLAZA EGAÑA,EBCO S.A.,0,0.00
305,P-1707,4. COSTO SUPERVISIÓN,0.00,LAS TRANQUERAS,CONSTRUCTORA SANTOLAYA LTDA.,0,-0.02

In [962]:
# TESTING VISUAL 1
mes_en_curso_real_2M_5[mes_en_curso_real_2M_5["CODIGO_PROYECTO"]=="P-1716"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL,MARGEN
136,P-1716,3. COSTO MANO DE OBRA,0.00,CD ASTARA,ASTARA LOGÍSTICA CHILE SPA.,-895428,0.61
137,P-1716,2. COSTO MATERIALES,0.00,CD ASTARA,ASTARA LOGÍSTICA CHILE SPA.,-2986507,0.61
138,P-1716,1. INGRESO,0.00,CD ASTARA,ASTARA LOGÍSTICA CHILE SPA.,10082518,0.61
312,P-1716,4. COSTO SUPERVISIÓN,0.00,CD ASTARA,ASTARA LOGÍSTICA CHILE SPA.,0,0.61

In [963]:
# TESTING VISUAL 2
mes_en_curso_real_2M_5[mes_en_curso_real_2M_5["CODIGO_PROYECTO"]=="P-1704"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL,MARGEN
106,P-1704,3. COSTO MANO DE OBRA,0.00,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,-14242535,0.64
107,P-1704,2. COSTO MATERIALES,0.00,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,-13967551,0.64
108,P-1704,1. INGRESO,0.00,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,79059997,0.64
302,P-1704,4. COSTO SUPERVISIÓN,0.00,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,0,0.64

In [964]:
# Respaldo de Dataframe mes en curso real
mes_en_curso_real_2M_5.to_csv('archivos_respaldo/mes_en_curso_real_2M_5.csv', mode='a')

### 4.5 - **MERGE PARA -> YTD PROYECTADO
YTD Proyectado = YTD + el mes en curso del proyectado

#### 4.5.1 - EXPLORACIÓN Y PREPARACIÓN DE DATAFRAMES

In [965]:
# DATAFRAME PROVENIENTE DEL LIBRO MAYOR 2023 HASTA EL MES CERRADO.

print(df_ytd_cerrado.shape)
df_ytd_cerrado.sample(10)

(340, 5)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL,NOMBRE_OBRA,NOMBRE_CLIENTE
317,P-1724,2. COSTO MATERIALES,-7660814,NaN,NaN
250,P-1705,4. COSTO SUPERVISIÓN,0,Los Clarines,CONSTRUCTORA INARCO S.A.
37,P-1632,2. COSTO MATERIALES,75965,Chorrillos Clorox,Constructora Suksa S.A.
133,P-1674,2. COSTO MATERIALES,23048,Oficinas Beiersdorf Chorrillos,Constructora Suksa S.A.
226,P-1698,4. COSTO SUPERVISIÓN,0,CD Andes,EBCO S.A.
21,P-1611,2. COSTO MATERIALES,6648,Edificio Plaza Egaña,EBCO S.A.
111,P-1667,1. INGRESO,0,Eco Placilla,Constructora ICF SPA
124,P-1672,3. COSTO MANO DE OBRA,0,Sta Clara (ccdd-telecom),Constructora UPC S.A.
239,P-1701,1. INGRESO,1393986,Edificio Zenteno,CONSTRUCTORA GREVIA SpA.
332,P-1728,3. COSTO MANO DE OBRA,-630869,NaN,NaN

In [966]:
# DATAFRAME PROVENIENTE DEL LIBRO PERO SOO CONSIDERA MES EN CURSO.

print(mes_en_curso2.shape)
mes_en_curso2.head(5)

# Se filtra por la columna DESTINO != REAL (para considerar solo lo proyectado)
mes_en_curso2_1 = mes_en_curso2[mes_en_curso2['DESTINO'] != 'REAL']

# Eliminar las columnas ORIGEN y DESTINO
mes_en_curso2_1 = mes_en_curso2_1.drop(columns=['ORIGEN', 'DESTINO','MES','AÑO','FECHA'])

mes_en_curso2_1.sample(5)

(1359, 10)

,CODIGO_PROYECTO,NOMBRE_OBRA,NOMBRE_CLIENTE,TIPO_CUENTA,TOTAL
124,P-1639,Lyon 2546,Moller y Perez - Cotapos Construcciones Indust...,3. COSTO MANO DE OBRA,0.00
887,P-1688,Suiza,Moller y Perez - Cotapos Construcciones Indust...,3. COSTO MANO DE OBRA,0.00
936,P-1695,Edificio Estoril,EMPRESA CONSTRUCTORA BRAVO E IZQUIERDO,3. COSTO MANO DE OBRA,0.00
616,P-1620,"OF Apoquindo- Habilitaciones, Integracion y ad...",CONSTRUCTORA INARCO S.A.,1. INGRESO,0.00
435,P-1656,Mirador Club Hípico,Constructora Vital Edificacion SPA,1. INGRESO,0.00

#### 4.5.2 - Concatenación de Dataframes

In [967]:
# Se concatenan los dataframes.

print("Dataframes antes de concatenar   : df_ytd_cerrado   ", df_ytd_cerrado.shape)
print("Dataframes antes de concatenar   : mes_en_curso2_1  ", mes_en_curso2_1.shape)

df_ytd_proyectado = pd.concat([df_ytd_cerrado, mes_en_curso2_1], axis=0)
print("Dataframes después de concatenar : df_ytd_proyectado  ", df_ytd_proyectado.shape)

df_ytd_proyectado.sample(5)

Dataframes antes de concatenar   : df_ytd_cerrado    (340, 5)
Dataframes antes de concatenar   : mes_en_curso2_1   (874, 5)
Dataframes después de concatenar : df_ytd_proyectado   (1214, 5)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL,NOMBRE_OBRA,NOMBRE_CLIENTE
257,P-1707,2. COSTO MATERIALES,-8495556.00,Las Tranqueras,Constructora Santolaya Ltda.
128,P-1673,3. COSTO MANO DE OBRA,0.00,Inacap Temuco - Etapa A,Universidad Tecnologica de Chile Inacap
14,P-1592,4. COSTO SUPERVISIÓN,0.00,Nueva Costanera 3300,EBCO S.A.
707,P-1656,1. INGRESO,0.00,Mirador Club Hípico,Constructora Vital Edificacion SPA
873,P-1686,3. COSTO MANO DE OBRA,0.00,Macul Icalma,EMPRESA CONSTRUCTORA INGEVEC S.A.

In [968]:
df_ytd_proyectado["CODIGO_PROYECTO"].unique()

array(['1. TOTAL', 'P-1557', 'P-1591', 'P-1592', 'P-1603', 'P-1611',
       'P-1612', 'P-1620', 'P-1626', 'P-1632', 'P-1636', 'P-1639',
       'P-1641', 'P-1642', 'P-1643', 'P-1644', 'P-1645', 'P-1648',
       'P-1649', 'P-1653', 'P-1656', 'P-1658', 'P-1660', 'P-1661',
       'P-1663', 'P-1664', 'P-1666', 'P-1667', 'P-1668', 'P-1669',
       'P-1670', 'P-1672', 'P-1673', 'P-1674', 'P-1675', 'P-1676',
       'P-1677', 'P-1679', 'P-1680', 'P-1681', 'P-1682', 'P-1683',
       'P-1684', 'P-1685', 'P-1686', 'P-1687', 'P-1688', 'P-1689',
       'P-1690', 'P-1691', 'P-1692', 'P-1693', 'P-1694', 'P-1695',
       'P-1696', 'P-1697', 'P-1698', 'P-1699', 'P-1700', 'P-1701',
       'P-1703', 'P-1704', 'P-1705', 'P-1706', 'P-1707', 'P-1708',
       'P-1709', 'P-1712', 'P-1713', 'P-1714', 'P-1715', 'P-1716',
       'P-1717', 'P-1718', 'P-1719', 'P-1720', 'P-1721', 'P-1722',
       'P-1723', 'P-1724', 'P-1725', 'P-1726', 'P-1727', 'P-1728',
       'P-1729', 'P-1600', 'P-1601', 'P-1615', 'P-1621', 'P-1652',
       'P-1638', 'P-1654', 'P-1655', 'P-1671', 'P-1678', 'P-1702', ' '],
      dtype=object)

In [969]:
# TESTING VISUAL 1 

df_ytd_proyectado[df_ytd_proyectado["CODIGO_PROYECTO"] == "P-1727"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL,NOMBRE_OBRA,NOMBRE_CLIENTE
328,P-1727,3. COSTO MANO DE OBRA,-8169893.00,NaN,NaN
329,P-1727,2. COSTO MATERIALES,-13655419.00,NaN,NaN
330,P-1727,4. COSTO SUPERVISIÓN,0.00,NaN,NaN
331,P-1727,1. INGRESO,28570952.00,NaN,NaN
77,P-1727,3. COSTO MANO DE OBRA,-3455213.00,NaN,NaN
408,P-1727,3. COSTO MANO DE OBRA,0.00,NaN,NaN
409,P-1727,4. COSTO SUPERVISIÓN,0.00,NaN,NaN
493,P-1727,1. INGRESO,29520000.00,NaN,NaN
566,P-1727,2. COSTO MATERIALES,-10000000.00,NaN,NaN
1137,P-1727,3. COSTO MANO DE OBRA,0.00,NaN,NaN
1138,P-1727,4. COSTO SUPERVISIÓN,0.00,NaN,NaN
1139,P-1727,3. COSTO MANO DE OBRA,0.00,NaN,NaN
1141,P-1727,1. INGRESO,0.00,NaN,NaN
1143,P-1727,2. COSTO MATERIALES,0.00,NaN,NaN

In [970]:
# TESTING VISUAL 2

df_ytd_proyectado[df_ytd_proyectado["CODIGO_PROYECTO"] == "1. TOTAL"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL,NOMBRE_OBRA,NOMBRE_CLIENTE
0,1. TOTAL,3. COSTO MANO DE OBRA,-478147965.00,1. TOTAL,1. TOTAL
1,1. TOTAL,2. COSTO MATERIALES,-605032841.00,1. TOTAL,1. TOTAL
2,1. TOTAL,4. COSTO SUPERVISIÓN,-22566666.00,1. TOTAL,1. TOTAL
3,1. TOTAL,1. INGRESO,1579362409.00,1. TOTAL,1. TOTAL
80,1. TOTAL,3. COSTO MANO DE OBRA,-114373715.00,1. TOTAL,1. TOTAL
83,1. TOTAL,4. COSTO SUPERVISIÓN,-4643261.00,1. TOTAL,1. TOTAL
420,1. TOTAL,3. COSTO MANO DE OBRA,0.00,1. TOTAL,1. TOTAL
421,1. TOTAL,4. COSTO SUPERVISIÓN,0.00,1. TOTAL,1. TOTAL
496,1. TOTAL,1. INGRESO,432312383.88,1. TOTAL,1. TOTAL
569,1. TOTAL,2. COSTO MATERIALES,-176535806.00,1. TOTAL,1. TOTAL
1158,1. TOTAL,3. COSTO MANO DE OBRA,0.00,1. TOTAL,1. TOTAL
1159,1. TOTAL,4. COSTO SUPERVISIÓN,0.00,1. TOTAL,1. TOTAL
1160,1. TOTAL,3. COSTO MANO DE OBRA,0.00,1. TOTAL,1. TOTAL
1162,1. TOTAL,1. INGRESO,0.00,1. TOTAL,1. TOTAL
1164,1. TOTAL,2. COSTO MATERIALES,0.00,1. TOTAL,1. TOTAL

#### 4.5.3 - AGREGACIÓN COLUMNA MARGEN

In [971]:
#CREACIÓN DE MARGENES

df_ytd_proyectado2 = df_ytd_proyectado.copy()

# Esta línea de código es para evitar ver el error.
with np.errstate(divide='ignore', invalid='ignore'):

    df_margen = df_ytd_proyectado2.groupby(['CODIGO_PROYECTO']).apply(lambda x: pd.Series({
        'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA', '4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
    }))

df_margen = pd.DataFrame(df_margen.to_records())
df_margen['MARGEN'] = df_margen['MARGEN'].fillna(0).replace(-np.inf, 0)
df_margen.replace([np.inf, -np.inf, np.nan], 0, inplace=True)


# mostrar el DataFrame resultante
df_margen.sample(10)


print("DIMENSIONES ANTES   DE CAMBIOS DATAFRAME: mes_en_curso_real4 : ", df_ytd_proyectado2.shape)

df_ytd_proyectado2 = pd.merge(df_ytd_proyectado2, df_margen, on=['CODIGO_PROYECTO'], how='left')

print("DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_ytd_proyectado2 : ", df_ytd_proyectado2.shape)
df_ytd_proyectado2.sample(10)

DIMENSIONES ANTES   DE CAMBIOS DATAFRAME: mes_en_curso_real4 :  (1214, 5)
DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_ytd_proyectado2 :  (1214, 6)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL,NOMBRE_OBRA,NOMBRE_CLIENTE,MARGEN
142,P-1676,4. COSTO SUPERVISIÓN,0.00,Lo Campino,EBCO S.A.,0.00
738,P-1636,4. COSTO SUPERVISIÓN,0.00,Santo Domingo 1410,DANACORP S.A,0.00
445,P-1676,4. COSTO SUPERVISIÓN,0.00,Lo Campino,EBCO S.A.,0.00
105,P-1666,2. COSTO MATERIALES,-89550.00,CD Axionlong,EBCO S.A.,0.00
695,P-1557,1. INGRESO,0.00,Rosario Rosales,EBCO S.A.,0.00
59,P-1643,1. INGRESO,0.00,Chorrillos M4,Constructora Suksa S.A.,0.00
594,P-1704,1. INGRESO,64764000.00,CD Mercado Libre Mezzanina,EBCO S.A.,0.41
683,P-1722,2. COSTO MATERIALES,0.00,Eco Cerrillos,Constructora ICF SPA,0.00
719,P-1612,3. COSTO MANO DE OBRA,0.00,Barrio Parque Santiago 7,CONSTRUCTORA ALTURAS DEL SUR S.A,0.00
466,P-1688,3. COSTO MANO DE OBRA,0.00,Suiza,Moller y Perez - Cotapos Construcciones Indust...,0.06

In [972]:
# TESTING VISUAL 1 

df_ytd_proyectado2[df_ytd_proyectado2["CODIGO_PROYECTO"] == "P-1727"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL,NOMBRE_OBRA,NOMBRE_CLIENTE,MARGEN
328,P-1727,3. COSTO MANO DE OBRA,-8169893.00,NaN,NaN,0.39
329,P-1727,2. COSTO MATERIALES,-13655419.00,NaN,NaN,0.39
330,P-1727,4. COSTO SUPERVISIÓN,0.00,NaN,NaN,0.39
331,P-1727,1. INGRESO,28570952.00,NaN,NaN,0.39
373,P-1727,3. COSTO MANO DE OBRA,-3455213.00,NaN,NaN,0.39
538,P-1727,3. COSTO MANO DE OBRA,0.00,NaN,NaN,0.39
539,P-1727,4. COSTO SUPERVISIÓN,0.00,NaN,NaN,0.39
615,P-1727,1. INGRESO,29520000.00,NaN,NaN,0.39
688,P-1727,2. COSTO MATERIALES,-10000000.00,NaN,NaN,0.39
1097,P-1727,3. COSTO MANO DE OBRA,0.00,NaN,NaN,0.39
1098,P-1727,4. COSTO SUPERVISIÓN,0.00,NaN,NaN,0.39
1099,P-1727,3. COSTO MANO DE OBRA,0.00,NaN,NaN,0.39
1100,P-1727,1. INGRESO,0.00,NaN,NaN,0.39
1101,P-1727,2. COSTO MATERIALES,0.00,NaN,NaN,0.39

In [973]:
# TESTING VISUAL 2

df_ytd_proyectado2[df_ytd_proyectado2["CODIGO_PROYECTO"] == "1. TOTAL"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL,NOMBRE_OBRA,NOMBRE_CLIENTE,MARGEN
0,1. TOTAL,3. COSTO MANO DE OBRA,-478147965.00,1. TOTAL,1. TOTAL,0.30
1,1. TOTAL,2. COSTO MATERIALES,-605032841.00,1. TOTAL,1. TOTAL,0.30
2,1. TOTAL,4. COSTO SUPERVISIÓN,-22566666.00,1. TOTAL,1. TOTAL,0.30
3,1. TOTAL,1. INGRESO,1579362409.00,1. TOTAL,1. TOTAL,0.30
374,1. TOTAL,3. COSTO MANO DE OBRA,-114373715.00,1. TOTAL,1. TOTAL,0.30
375,1. TOTAL,4. COSTO SUPERVISIÓN,-4643261.00,1. TOTAL,1. TOTAL,0.30
544,1. TOTAL,3. COSTO MANO DE OBRA,0.00,1. TOTAL,1. TOTAL,0.30
545,1. TOTAL,4. COSTO SUPERVISIÓN,0.00,1. TOTAL,1. TOTAL,0.30
618,1. TOTAL,1. INGRESO,432312383.88,1. TOTAL,1. TOTAL,0.30
691,1. TOTAL,2. COSTO MATERIALES,-176535806.00,1. TOTAL,1. TOTAL,0.30
1112,1. TOTAL,3. COSTO MANO DE OBRA,0.00,1. TOTAL,1. TOTAL,0.30
1113,1. TOTAL,4. COSTO SUPERVISIÓN,0.00,1. TOTAL,1. TOTAL,0.30
1114,1. TOTAL,3. COSTO MANO DE OBRA,0.00,1. TOTAL,1. TOTAL,0.30
1115,1. TOTAL,1. INGRESO,0.00,1. TOTAL,1. TOTAL,0.30
1116,1. TOTAL,2. COSTO MATERIALES,0.00,1. TOTAL,1. TOTAL,0.30

In [974]:
# Respaldo de Dataframe mes en curso real

df_ytd_proyectado2.to_csv('archivos_respaldo/df_ytd_proyectado2.csv', mode='a')

### 4.6 - **MERGE PARA -> YTD PROYECTADO (PERSPECTIVA MES ANTERIOR)
YTD Proyectado = YTD + el mes en curso del proyectado

#### 4.6.1 - EXPLORACIÓN Y PREPARACIÓN DE DATAFRAMES

In [975]:
# DATAFRAME PROVENIENTE DEL LIBRO MAYOR 2023 HASTA EL MES CERRADO.

print(df_ytd_cerrado_2M.shape)
df_ytd_cerrado_2M.sample(10)

(340, 5)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL,NOMBRE_OBRA,NOMBRE_CLIENTE
93,P-1661,2. COSTO MATERIALES,3200,San Vicente de Paul,DANACORP S.A
225,P-1698,2. COSTO MATERIALES,924,CD Andes,EBCO S.A.
160,P-1682,3. COSTO MANO DE OBRA,-9905519,Plaza Ceppi,EMP. CONSTRUCTORA INGENIEROS S.A.
120,P-1670,3. COSTO MANO DE OBRA,0,MK II Seguridad y Redes,Comercial K SpA.
69,P-1648,2. COSTO MATERIALES,200959,Etapa 2 CD Peralillo TW,Inmobiliaria y Rentas Logística S.A.
90,P-1660,4. COSTO SUPERVISIÓN,0,Coronel Alvarado,Larrain Prieto Risopatron S.A.
82,P-1656,4. COSTO SUPERVISIÓN,0,Mirador Club Hípico,Constructora Vital Edificacion SPA
258,P-1707,4. COSTO SUPERVISIÓN,0,Las Tranqueras,Constructora Santolaya Ltda.
292,P-1718,3. COSTO MANO DE OBRA,-26343855,Patio Comidas,EBCO S.A.
187,P-1688,1. INGRESO,24920214,Suiza,Moller y Perez - Cotapos Construcciones Indust...

In [976]:
# DATAFRAME PROVENIENTE DEL LIBRO PERO SOO CONSIDERA MES EN CURSO.

print(mes_en_curso_2M.shape)
mes_en_curso_2M.head(5)

# Se filtra por la columna DESTINO != REAL (para considerar solo lo proyectado)#
mes_en_curso_proy_2M_2_1 = mes_en_curso_2M[mes_en_curso_2M['DESTINO'] != 'REAL']

# Eliminar las columnas ORIGEN y DESTINO
mes_en_curso_proy_2M_2_1 = mes_en_curso_proy_2M_2_1.drop(columns=['ORIGEN', 'DESTINO','MES','AÑO','FECHA'])

mes_en_curso_proy_2M_2_1.sample(5)

(1395, 10)

,CODIGO_PROYECTO,NOMBRE_OBRA,NOMBRE_CLIENTE,TIPO_CUENTA,TOTAL
460,P-1652,Abdon Cifuentes,EBCO S.A.,1. INGRESO,0.00
841,P-1675,Palena II,CONSTRUCTORA MYA SpA.,3. COSTO MANO DE OBRA,0.00
265,P-1680,Nueva Uno,Constructora Tecsa S.A.,4. COSTO SUPERVISIÓN,0.00
1344,P-1676,Lo Campino,EBCO S.A.,2. COSTO MATERIALES,0.00
340,P-1699,Villa Panamericana Lote B,Empresa Constructora DLP S.A.,3. COSTO MANO DE OBRA,0.00

In [977]:
# TESTING VISUAL 1 

mes_en_curso_proy_2M_2_1[mes_en_curso_proy_2M_2_1["CODIGO_PROYECTO"] == "1. TOTAL"]

,CODIGO_PROYECTO,NOMBRE_OBRA,NOMBRE_CLIENTE,TIPO_CUENTA,TOTAL
112,1. TOTAL,1. TOTAL,1. TOTAL,3. COSTO MANO DE OBRA,-111885468.00
115,1. TOTAL,1. TOTAL,1. TOTAL,4. COSTO SUPERVISIÓN,-5096121.00
452,1. TOTAL,1. TOTAL,1. TOTAL,3. COSTO MANO DE OBRA,0.00
453,1. TOTAL,1. TOTAL,1. TOTAL,4. COSTO SUPERVISIÓN,0.00
529,1. TOTAL,1. TOTAL,1. TOTAL,1. INGRESO,455821573.22
603,1. TOTAL,1. TOTAL,1. TOTAL,2. COSTO MATERIALES,-212300000.00
1198,1. TOTAL,1. TOTAL,1. TOTAL,3. COSTO MANO DE OBRA,0.00
1199,1. TOTAL,1. TOTAL,1. TOTAL,4. COSTO SUPERVISIÓN,0.00
1200,1. TOTAL,1. TOTAL,1. TOTAL,3. COSTO MANO DE OBRA,0.00
1202,1. TOTAL,1. TOTAL,1. TOTAL,1. INGRESO,0.00
1204,1. TOTAL,1. TOTAL,1. TOTAL,2. COSTO MATERIALES,0.00

#### 4.6.2 - Concatenación de Dataframes

In [978]:
# Se concatenan los dataframes.

print("Dataframes antes de concatenar   : df_ytd_cerrado_2M       :", df_ytd_cerrado_2M.shape)
print("Dataframes antes de concatenar   : mes_en_curso_proy_2M_2_1:", mes_en_curso_proy_2M_2_1.shape)

df_ytd_proyectado_2M = pd.concat([df_ytd_cerrado_2M, mes_en_curso_proy_2M_2_1], axis=0)
print("Dataframes después de concatenar : df_ytd_proyectado_2M  ", df_ytd_proyectado_2M.shape)

df_ytd_proyectado_2M.sample(5)

Dataframes antes de concatenar   : df_ytd_cerrado_2M       : (340, 5)
Dataframes antes de concatenar   : mes_en_curso_proy_2M_2_1: (878, 5)
Dataframes después de concatenar : df_ytd_proyectado_2M   (1218, 5)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL,NOMBRE_OBRA,NOMBRE_CLIENTE
838,P-1674,1. INGRESO,0.00,Oficinas Beiersdorf Chorrillos,Constructora Suksa S.A.
60,P-1644,3. COSTO MANO DE OBRA,0.00,Mirador de San Cristobal,EBCO S.A.
558,P-1682,2. COSTO MATERIALES,-200000.00,Plaza Ceppi,EMP. CONSTRUCTORA INGENIEROS S.A.
536,P-1638,2. COSTO MATERIALES,0.00,Colón,Constructora Grevia
1083,P-1713,1. INGRESO,0.00,Reserva San Francisco,EMPRESA NACIONAL DE CONSTRUCCIÓN LAS VERTIENTE...

In [979]:
df_ytd_proyectado_2M["CODIGO_PROYECTO"].unique()

array(['1. TOTAL', 'P-1557', 'P-1591', 'P-1592', 'P-1603', 'P-1611',
       'P-1612', 'P-1620', 'P-1626', 'P-1632', 'P-1636', 'P-1639',
       'P-1641', 'P-1642', 'P-1643', 'P-1644', 'P-1645', 'P-1648',
       'P-1649', 'P-1653', 'P-1656', 'P-1658', 'P-1660', 'P-1661',
       'P-1663', 'P-1664', 'P-1666', 'P-1667', 'P-1668', 'P-1669',
       'P-1670', 'P-1672', 'P-1673', 'P-1674', 'P-1675', 'P-1676',
       'P-1677', 'P-1679', 'P-1680', 'P-1681', 'P-1682', 'P-1683',
       'P-1684', 'P-1685', 'P-1686', 'P-1687', 'P-1688', 'P-1689',
       'P-1690', 'P-1691', 'P-1692', 'P-1693', 'P-1694', 'P-1695',
       'P-1696', 'P-1697', 'P-1698', 'P-1699', 'P-1700', 'P-1701',
       'P-1703', 'P-1704', 'P-1705', 'P-1706', 'P-1707', 'P-1708',
       'P-1709', 'P-1712', 'P-1713', 'P-1714', 'P-1715', 'P-1716',
       'P-1717', 'P-1718', 'P-1719', 'P-1720', 'P-1721', 'P-1722',
       'P-1723', 'P-1724', 'P-1725', 'P-1726', 'P-1727', 'P-1728',
       'P-1729', 'P-1600', 'P-1601', 'P-1615', 'P-1621', 'P-1652',
       'P-1638', 'P-1654', 'P-1655', 'P-1671', 'P-1678', 0, 'P-1702'],
      dtype=object)

In [980]:
# TESTING VISUAL 1 

df_ytd_proyectado_2M[df_ytd_proyectado_2M["CODIGO_PROYECTO"] == "P-1727"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL,NOMBRE_OBRA,NOMBRE_CLIENTE
328,P-1727,3. COSTO MANO DE OBRA,-4714680.00,NaN,NaN
329,P-1727,2. COSTO MATERIALES,-3753865.00,NaN,NaN
330,P-1727,4. COSTO SUPERVISIÓN,0.00,NaN,NaN
331,P-1727,1. INGRESO,11005000.00,NaN,NaN
108,P-1727,3. COSTO MANO DE OBRA,-3205300.00,NaN,NaN
440,P-1727,3. COSTO MANO DE OBRA,0.00,NaN,NaN
441,P-1727,4. COSTO SUPERVISIÓN,0.00,NaN,NaN
527,P-1727,1. INGRESO,17255460.00,NaN,NaN
601,P-1727,2. COSTO MATERIALES,-9500000.00,NaN,NaN
1177,P-1727,3. COSTO MANO DE OBRA,0.00,NaN,NaN
1178,P-1727,4. COSTO SUPERVISIÓN,0.00,NaN,NaN
1179,P-1727,3. COSTO MANO DE OBRA,0.00,NaN,NaN
1181,P-1727,1. INGRESO,0.00,NaN,NaN
1183,P-1727,2. COSTO MATERIALES,0.00,NaN,NaN

In [981]:
# TESTING VISUAL 2

df_ytd_proyectado_2M[df_ytd_proyectado_2M["CODIGO_PROYECTO"] == "1. TOTAL"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL,NOMBRE_OBRA,NOMBRE_CLIENTE
0,1. TOTAL,3. COSTO MANO DE OBRA,-363774250.00,1. TOTAL,1. TOTAL
1,1. TOTAL,2. COSTO MATERIALES,-435497453.00,1. TOTAL,1. TOTAL
2,1. TOTAL,4. COSTO SUPERVISIÓN,-17923405.00,1. TOTAL,1. TOTAL
3,1. TOTAL,1. INGRESO,1118563896.00,1. TOTAL,1. TOTAL
112,1. TOTAL,3. COSTO MANO DE OBRA,-111885468.00,1. TOTAL,1. TOTAL
115,1. TOTAL,4. COSTO SUPERVISIÓN,-5096121.00,1. TOTAL,1. TOTAL
452,1. TOTAL,3. COSTO MANO DE OBRA,0.00,1. TOTAL,1. TOTAL
453,1. TOTAL,4. COSTO SUPERVISIÓN,0.00,1. TOTAL,1. TOTAL
529,1. TOTAL,1. INGRESO,455821573.22,1. TOTAL,1. TOTAL
603,1. TOTAL,2. COSTO MATERIALES,-212300000.00,1. TOTAL,1. TOTAL
1198,1. TOTAL,3. COSTO MANO DE OBRA,0.00,1. TOTAL,1. TOTAL
1199,1. TOTAL,4. COSTO SUPERVISIÓN,0.00,1. TOTAL,1. TOTAL
1200,1. TOTAL,3. COSTO MANO DE OBRA,0.00,1. TOTAL,1. TOTAL
1202,1. TOTAL,1. INGRESO,0.00,1. TOTAL,1. TOTAL
1204,1. TOTAL,2. COSTO MATERIALES,0.00,1. TOTAL,1. TOTAL

#### 4.6.3 - AGREGACIÓN COLUMNA MARGEN

In [982]:
#CREACIÓN DE MARGENES

df_ytd_proyectado_2M_2 = df_ytd_proyectado_2M.copy()

# Esta línea de código es para evitar ver el error.
with np.errstate(divide='ignore', invalid='ignore'):

    df_margen = df_ytd_proyectado_2M_2.groupby(['CODIGO_PROYECTO']).apply(lambda x: pd.Series({
        'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA', '4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
    }))

df_margen = pd.DataFrame(df_margen.to_records())
df_margen['MARGEN'] = df_margen['MARGEN'].fillna(0).replace(-np.inf, 0)
df_margen.replace([np.inf, -np.inf, np.nan], 0, inplace=True)


# mostrar el DataFrame resultante
df_margen.sample(10)


print("DIMENSIONES ANTES   DE CAMBIOS DATAFRAME: df_ytd_proyectado_2M_2 : ", df_ytd_proyectado_2M_2.shape)

df_ytd_proyectado_2M_2 = pd.merge(df_ytd_proyectado_2M_2, df_margen, on=['CODIGO_PROYECTO'], how='left')

print("DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_ytd_proyectado_2M_2 : ", df_ytd_proyectado_2M_2.shape)
df_ytd_proyectado_2M_2.sample(10)

DIMENSIONES ANTES   DE CAMBIOS DATAFRAME: df_ytd_proyectado_2M_2 :  (1218, 5)
DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_ytd_proyectado_2M_2 :  (1218, 6)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL,NOMBRE_OBRA,NOMBRE_CLIENTE,MARGEN
246,P-1704,4. COSTO SUPERVISIÓN,0.00,CD Mercado Libre Mezzanina,EBCO S.A.,0.33
67,P-1645,1. INGRESO,0.00,Los tres Antonios,Sociedad Constructora Echavarri Hermanos Limitada,0.00
402,P-1642,4. COSTO SUPERVISIÓN,0.00,Corinto,EMP. CONSTRUCTORA INGENIEROS S.A.,0.00
967,P-1696,2. COSTO MATERIALES,0.00,Santa Victoria - Terracorp,Constructora Terracorp S.A.,0.05
203,P-1692,1. INGRESO,46760128.00,José Perez Cotapos,EBCO S.A.,-0.10
254,P-1706,4. COSTO SUPERVISIÓN,0.00,California,CONSTRUCTORA E INVERSIONES VITAL SPA.,0.48
736,P-1626,1. INGRESO,0.00,Clinica Bio Bio,Constructora LYD S.A.,0.00
474,P-1691,4. COSTO SUPERVISIÓN,0.00,Rosario Rosales,CONSTRUCTORA E INMOBILIARIA PRADOVERDE LTDA.,0.32
379,P-1591,3. COSTO MANO DE OBRA,0.00,Edificio Estoril,EBCO S.A.,0.00
598,P-1705,1. INGRESO,20190289.00,Los Clarines,CONSTRUCTORA INARCO S.A.,0.05

In [983]:
# TESTING VISUAL 1 

df_ytd_proyectado_2M_2[df_ytd_proyectado_2M_2["CODIGO_PROYECTO"] == "P-1727"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL,NOMBRE_OBRA,NOMBRE_CLIENTE,MARGEN
328,P-1727,3. COSTO MANO DE OBRA,-4714680.00,NaN,NaN,0.25
329,P-1727,2. COSTO MATERIALES,-3753865.00,NaN,NaN,0.25
330,P-1727,4. COSTO SUPERVISIÓN,0.00,NaN,NaN,0.25
331,P-1727,1. INGRESO,11005000.00,NaN,NaN,0.25
373,P-1727,3. COSTO MANO DE OBRA,-3205300.00,NaN,NaN,0.25
539,P-1727,3. COSTO MANO DE OBRA,0.00,NaN,NaN,0.25
540,P-1727,4. COSTO SUPERVISIÓN,0.00,NaN,NaN,0.25
618,P-1727,1. INGRESO,17255460.00,NaN,NaN,0.25
692,P-1727,2. COSTO MATERIALES,-9500000.00,NaN,NaN,0.25
1103,P-1727,3. COSTO MANO DE OBRA,0.00,NaN,NaN,0.25
1104,P-1727,4. COSTO SUPERVISIÓN,0.00,NaN,NaN,0.25
1105,P-1727,3. COSTO MANO DE OBRA,0.00,NaN,NaN,0.25
1106,P-1727,1. INGRESO,0.00,NaN,NaN,0.25
1107,P-1727,2. COSTO MATERIALES,0.00,NaN,NaN,0.25

In [984]:
# Respaldo de Dataframe mes en curso real

df_ytd_proyectado_2M_2.to_csv('archivos_respaldo/df_ytd_proyectado_2M_2.csv', mode='a')

### 4.7 - **MERGE PARA -> PTD CERRADO

Cruce entre YTD_Cerrado + Libros mayores de años anteriores.

#### 4.7.1 - EXPLORACIÓN Y PREPARACIÓN DE DATAFRAMES

In [985]:
# Exploración Dataframe para el dataframe que proviene del Libro Mayor 2023.
# Dataframe : df_ytd_cerrado2 proveniente del punto 4.2 - MERGE PARA -> YTD AÑO EN CURSO HASTA MES CERRADO

print("DIMENSIONES ANTES DE CAMBIOS DATAFRAME: df_ytd_cerrado2 : ", df_ytd_cerrado2.shape)

df_ytd_cerrado_1 = df_ytd_cerrado2.copy()
df_ytd_cerrado_1.sample(5)

DIMENSIONES ANTES DE CAMBIOS DATAFRAME: df_ytd_cerrado2 :  (340, 3)

    CODIGO_PROYECTO            TIPO_CUENTA     TOTAL
135          P-1674             1. INGRESO         0
310          P-1722   4. COSTO SUPERVISIÓN         0
298          P-1719   4. COSTO SUPERVISIÓN         0
220          P-1697  3. COSTO MANO DE OBRA -11388112
93           P-1661    2. COSTO MATERIALES      3200

In [986]:
# TESTING VISUAL 1

print(df_ytd_cerrado_1[df_ytd_cerrado_1["CODIGO_PROYECTO"] == "1. TOTAL"]["TOTAL"].sum())
df_ytd_cerrado_1[df_ytd_cerrado_1["CODIGO_PROYECTO"] == "1. TOTAL"]

473614937

  CODIGO_PROYECTO            TIPO_CUENTA       TOTAL
0        1. TOTAL  3. COSTO MANO DE OBRA  -478147965
1        1. TOTAL    2. COSTO MATERIALES  -605032841
2        1. TOTAL   4. COSTO SUPERVISIÓN   -22566666
3        1. TOTAL             1. INGRESO  1579362409

In [987]:
# Se crea Pivote para reducir las dimensiones

print("DIMENSIONES ANTES DE CAMBIOS DATAFRAME: df_ytd_cerrado_1 : ", df_ytd_cerrado_1.shape)
df_ytd_cerrado_2 = pd.pivot_table(df_ytd_cerrado_1, values=['TOTAL'], index=['CODIGO_PROYECTO','TIPO_CUENTA'], aggfunc='sum')

print("DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_ytd_cerrado_2 : ", df_ytd_cerrado_2.shape)

# Se renombra campo "TOTAL"
df_ytd_cerrado_2 = df_ytd_cerrado_2.rename(columns={"TOTAL": "TOTAL YTD"})

df_ytd_cerrado_2 = pd.DataFrame(df_ytd_cerrado_2.to_records())
df_ytd_cerrado_2.sample(10)

DIMENSIONES ANTES DE CAMBIOS DATAFRAME: df_ytd_cerrado_1 :  (340, 3)
DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_ytd_cerrado_2 :  (340, 1)

    CODIGO_PROYECTO            TIPO_CUENTA  TOTAL YTD
47           P-1639   4. COSTO SUPERVISIÓN          0
284          P-1716             1. INGRESO  114709839
285          P-1716    2. COSTO MATERIALES  -26152479
41           P-1636    2. COSTO MATERIALES          0
175          P-1685   4. COSTO SUPERVISIÓN          0
202          P-1692  3. COSTO MANO DE OBRA  -27116720
7            P-1557   4. COSTO SUPERVISIÓN          0
260          P-1708             1. INGRESO     392191
319          P-1724   4. COSTO SUPERVISIÓN          0
167          P-1683   4. COSTO SUPERVISIÓN          0

In [988]:
# Exploración y tratamiento de dataframe: df_ytd_cerrado df_libro_mayor_old3

# Se crea una copia del dataframe 
print("Dimensiones del dataframe df_libro_mayor_old3 : ", df_libro_mayor_old3.shape)
df_libro_mayor_old4 = df_libro_mayor_old3.copy()
print("Dimensiones del dataframe df_libro_mayor_old4 : ", df_libro_mayor_old4.shape)
df_libro_mayor_old4.sample(10)

Dimensiones del dataframe df_libro_mayor_old3 :  (1741, 9)
Dimensiones del dataframe df_libro_mayor_old4 :  (1741, 9)

,CODIGO_PROYECTO,TIPO_CUENTA,FECHA,AÑO,MES,CREDITO,DEBITO,TOTAL,MARGEN
363,P-1649,2. COSTO MATERIALES,2021-04-01,2021.00,4.00,3590368,7070029,-3479661,0.00
312,P-1645,2. COSTO MATERIALES,2021-06-01,2021.00,6.00,0,325637,-325637,0.00
576,P-1661,2. COSTO MATERIALES,2021-11-01,2021.00,11.00,491960,3431135,-2939175,0.00
487,P-1656,3. COSTO MANO DE OBRA,2021-04-01,2021.00,4.00,0,0,0,0.00
1333,P-1692,2. COSTO MATERIALES,2022-08-01,2022.00,8.00,0,3176348,-3176348,0.00
1270,P-1690,2. COSTO MATERIALES,2022-01-01,2022.00,1.00,0,35863,-35863,0.00
1398,P-1696,1. INGRESO,2022-10-01,2022.00,10.00,6592821,0,6592821,0.00
888,P-1672,3. COSTO MANO DE OBRA,2021-05-01,2021.00,5.00,0,0,0,0.00
1152,P-1684,2. COSTO MATERIALES,2022-07-01,2022.00,7.00,47000,0,47000,0.00
192,P-1638,2. COSTO MATERIALES,2021-01-01,2021.00,1.00,0,1364482,-1364482,0.00

In [989]:
# Se realiza limpieza del dataframe para obtener solo las columnas utiles.

df_libro_mayor_old4 = df_libro_mayor_old4[df_libro_mayor_old4['CODIGO_PROYECTO'] != '']
df_libro_mayor_old4 = df_libro_mayor_old4[df_libro_mayor_old4['TIPO_CUENTA'] != 'OTRA']
df_libro_mayor_old4 = df_libro_mayor_old4[df_libro_mayor_old4['TIPO_CUENTA'] != '']
df_libro_mayor_old4 = df_libro_mayor_old4.dropna(subset=['TIPO_CUENTA'])
df_libro_mayor_old4 = df_libro_mayor_old4.dropna(subset=['CODIGO_PROYECTO'])

print("Dimensiones del dataframe df_libro_mayor_old4 : ", df_libro_mayor_old4.shape)
df_libro_mayor_old4.sample(10)

Dimensiones del dataframe df_libro_mayor_old4 :  (1680, 9)

,CODIGO_PROYECTO,TIPO_CUENTA,FECHA,AÑO,MES,CREDITO,DEBITO,TOTAL,MARGEN
523,P-1659,2. COSTO MATERIALES,2021-10-01,2021.00,10.00,16488,0,16488,0.00
1547,P-1707,1. INGRESO,2022-06-01,2022.00,6.00,12343594,12343594,0,0.00
1067,P-1678,2. COSTO MATERIALES,2022-02-01,2022.00,2.00,0,114084,-114084,0.00
208,P-1638,3. COSTO MANO DE OBRA,2021-07-01,2021.00,7.00,0,0,0,0.00
618,P-1664,2. COSTO MATERIALES,2021-08-01,2021.00,8.00,69000,0,69000,0.00
1705,1. TOTAL,4. COSTO SUPERVISIÓN,2021-02-01,2021.00,2.00,0,2610884,-2610884,0.00
1087,P-1680,2. COSTO MATERIALES,2022-09-01,2022.00,9.00,91375,7076162,-6984787,0.00
70,P-1615,1. INGRESO,2021-02-01,2021.00,2.00,7765210,0,7765210,0.00
1268,P-1690,1. INGRESO,2022-11-01,2022.00,11.00,3375660,0,3375660,0.00
629,P-1664,3. COSTO MANO DE OBRA,2021-02-01,2021.00,2.00,0,0,0,0.00

In [990]:
# TESTING VISUAL 1

print(df_libro_mayor_old4[df_libro_mayor_old4["CODIGO_PROYECTO"] == "1. TOTAL"]["TOTAL"].sum())
df_libro_mayor_old4[df_libro_mayor_old4["CODIGO_PROYECTO"] == "1. TOTAL"].head(5)

1369937537

,CODIGO_PROYECTO,TIPO_CUENTA,FECHA,AÑO,MES,CREDITO,DEBITO,TOTAL,MARGEN
1632,1. TOTAL,1. INGRESO,2021-01-01,2021.00,1.00,153082726,51479131,101603595,0.00
1633,1. TOTAL,1. INGRESO,2021-02-01,2021.00,2.00,202772310,71750206,131022104,0.00
1634,1. TOTAL,1. INGRESO,2021-03-01,2021.00,3.00,227194679,39876627,187318052,0.00
1635,1. TOTAL,1. INGRESO,2021-04-01,2021.00,4.00,165417555,36206601,129210954,0.00
1636,1. TOTAL,1. INGRESO,2021-05-01,2021.00,5.00,113310222,10911630,102398592,0.00

In [991]:
# Se crea Pivote para reducir las dimensiones

print("DIMENSIONES ANTES DE CAMBIOS DATAFRAME: df_libro_mayor_old4 : ", df_libro_mayor_old4.shape)
df_libro_mayor_old5 = pd.pivot_table(df_libro_mayor_old4, values=['TOTAL'], index=['CODIGO_PROYECTO','TIPO_CUENTA'], aggfunc='sum')

# Se renombra campo "TOTAL"
df_libro_mayor_old5 = df_libro_mayor_old5.rename(columns={"TOTAL": "TOTAL LB OLD"})

print("DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_libro_mayor_old5 : ", df_libro_mayor_old5.shape)

df_libro_mayor_old5 = pd.DataFrame(df_libro_mayor_old5.to_records())
df_libro_mayor_old5.sample(10)

DIMENSIONES ANTES DE CAMBIOS DATAFRAME: df_libro_mayor_old4 :  (1680, 9)
DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_libro_mayor_old5 :  (253, 1)

    CODIGO_PROYECTO          TIPO_CUENTA  TOTAL LB OLD
66           P-1647  2. COSTO MATERIALES      -4977760
196          P-1696  2. COSTO MATERIALES     -10392527
60           P-1645           1. INGRESO      17327418
225          P-1707           1. INGRESO      25887019
86           P-1657  2. COSTO MATERIALES          6810
73           P-1652  2. COSTO MATERIALES     -13839565
29           P-1627  2. COSTO MATERIALES        -48555
30           P-1628           1. INGRESO        415712
0          1. TOTAL           1. INGRESO    3185711545
79           P-1654  2. COSTO MATERIALES      -1142947

In [992]:
# TESTING VISUAL 1

print(df_libro_mayor_old5[df_libro_mayor_old5["CODIGO_PROYECTO"] == "1. TOTAL"]["TOTAL LB OLD"].sum())
df_libro_mayor_old5[df_libro_mayor_old5["CODIGO_PROYECTO"] == "1. TOTAL"]

1369937537

  CODIGO_PROYECTO            TIPO_CUENTA  TOTAL LB OLD
0        1. TOTAL             1. INGRESO    3185711545
1        1. TOTAL    2. COSTO MATERIALES   -1152612025
2        1. TOTAL  3. COSTO MANO DE OBRA    -611212228
3        1. TOTAL   4. COSTO SUPERVISIÓN     -51949755

In [993]:
# TESTING VISUAL 2

print(df_libro_mayor_old5[df_libro_mayor_old5["CODIGO_PROYECTO"] == "P-1615"]["TOTAL LB OLD"].sum())
df_libro_mayor_old5[df_libro_mayor_old5["CODIGO_PROYECTO"] == "P-1615"].head(5)

31342023

   CODIGO_PROYECTO            TIPO_CUENTA  TOTAL LB OLD
14          P-1615             1. INGRESO      56248814
15          P-1615    2. COSTO MATERIALES     -23003962
16          P-1615  3. COSTO MANO DE OBRA      -1902829

#### 4.7.2 - Concatenación de Dataframes

In [994]:
# Se considera df_libro_mayor5_base2 como base para construir el dataframe

df_ptd_cerrado = df_libro_mayor5_base2.copy()

print("DIMENSIONES ANTES DE CAMBIOS DATAFRAME: df_ptd_cerrado : ", df_ptd_cerrado.shape)
df_ptd_cerrado.sample(5)

DIMENSIONES ANTES DE CAMBIOS DATAFRAME: df_ptd_cerrado :  (340, 5)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE
305,P-1707,4. COSTO SUPERVISIÓN,0,LAS TRANQUERAS,CONSTRUCTORA SANTOLAYA LTDA.
212,P-1644,4. COSTO SUPERVISIÓN,0,MIRADOR DE SAN CRISTOBAL,EBCO S.A.
12,P-1642,2. COSTO MATERIALES,0,CORINTO,EMP. CONSTRUCTORA INGENIEROS S.A.
232,P-1660,4. COSTO SUPERVISIÓN,0,CORONEL ALVARADO,LARRAIN PRIETO RISOPATRON S.A.
131,P-1714,2. COSTO MATERIALES,0,DEPARTAMENTAL II,CONSTRUCTORA FUERZA SUR DOS SPA

In [995]:
# MERGE 1 - df_ytd_cerrado2

# Se hace merge con los codigos de proyecto.

print("DIMENSIONES ANTES DE CAMBIOS DATAFRAME: df_pendiente2 : ", df_ptd_cerrado.shape)

df_ptd_cerrado = pd.merge(df_ptd_cerrado, df_ytd_cerrado_2, on=['CODIGO_PROYECTO','TIPO_CUENTA'], how='left')

print("DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_ptd_cerrado : ", df_ptd_cerrado.shape)

df_ptd_cerrado.sample(10)

DIMENSIONES ANTES DE CAMBIOS DATAFRAME: df_pendiente2 :  (340, 5)
DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_ptd_cerrado :  (340, 6)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL YTD
156,P-1725,3. COSTO MANO DE OBRA,0,LO CAÑAS,CONSTRUCTORA BRISAS DE BATUCO,-5242316
117,P-1707,1. INGRESO,0,LAS TRANQUERAS,CONSTRUCTORA SANTOLAYA LTDA.,11263421
189,P-1626,1. INGRESO,0,CLINICA BIO BIO,CONSTRUCTORA LYD S.A.,0
207,P-1643,1. INGRESO,0,CHORRILLOS M4,CONSTRUCTORA SUKSA S.A.,0
105,P-1703,1. INGRESO,0,SANTA VICTORIA DANACORP,DANACORP S.A,35296641
255,P-1672,4. COSTO SUPERVISIÓN,0,STA CLARA (CCDD-TELECOM),CONSTRUCTORA UPC S.A.,0
215,P-1648,1. INGRESO,0,ETAPA 2 CD PERALILLO TW,INMOBILIARIA Y RENTAS LOGÍSTICA S.A.,0
232,P-1660,4. COSTO SUPERVISIÓN,0,CORONEL ALVARADO,LARRAIN PRIETO RISOPATRON S.A.,0
58,P-1685,2. COSTO MATERIALES,0,MAPA EDIFICIOS NO OPERACIONALES,CLARO VICUÑA VALENZUELA S.A.,88900
72,P-1691,3. COSTO MANO DE OBRA,0,ROSARIO ROSALES,CONSTRUCTORA E INMOBILIARIA PRADOVERDE LTDA.,-252060

In [996]:
# MERGE 2 - df_ytd_cerrado2

# Se hace merge con los codigos de proyecto.

print("DIMENSIONES ANTES DE CAMBIOS DATAFRAME: df_ptd_cerrado : ", df_ptd_cerrado.shape)

df_ptd_cerrado = pd.merge(df_ptd_cerrado, df_libro_mayor_old5, on=['CODIGO_PROYECTO','TIPO_CUENTA'], how='left')

print("DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_ptd_cerrado : ", df_ptd_cerrado.shape)

df_ptd_cerrado.sample(10)

DIMENSIONES ANTES DE CAMBIOS DATAFRAME: df_ptd_cerrado :  (340, 6)
DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_ptd_cerrado :  (340, 7)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL YTD,TOTAL LB OLD
250,P-1669,1. INGRESO,0,DEPARTAMENTAL,EMP. CONSTRUCTORA INGENIEROS S.A.,0,19895589.00
242,P-1666,1. INGRESO,0,CD AXIONLONG,EBCO S.A.,0,72760796.00
217,P-1648,4. COSTO SUPERVISIÓN,0,ETAPA 2 CD PERALILLO TW,INMOBILIARIA Y RENTAS LOGÍSTICA S.A.,0,NaN
204,P-1642,1. INGRESO,0,CORINTO,EMP. CONSTRUCTORA INGENIEROS S.A.,0,7163026.00
0,P-1557,3. COSTO MANO DE OBRA,0,ROSARIO ROSALES,EBCO S.A.,-1247014,NaN
182,P-1611,4. COSTO SUPERVISIÓN,0,EDIFICIO PLAZA EGAÑA,EBCO S.A.,0,NaN
259,P-1674,1. INGRESO,0,OFICINAS BEIERSDORF CHORRILLOS,CONSTRUCTORA SUKSA S.A.,0,23646019.00
21,P-1658,2. COSTO MATERIALES,0,VIVIPRA,VICHERAT Y PRADENAS LTDA.,47401,-11404567.00
164,P-1727,1. INGRESO,0,NaN,NaN,28570952,NaN
291,P-1693,4. COSTO SUPERVISIÓN,0,VOLTA V0800,ECOBIO SPA,0,NaN

In [997]:
# Se estandarizan columnas de Totales y se agrega columna TOTAL 

# Reemplazar NaN por cero en las columnas "TOTAL YTD" y "TOTAL LB OLD"
df_ptd_cerrado["TOTAL YTD"] = df_ptd_cerrado["TOTAL YTD"].fillna(0)
df_ptd_cerrado["TOTAL LB OLD"] = df_ptd_cerrado["TOTAL LB OLD"].fillna(0)

# Crear la nueva columna "TOTAL" que suma "TOTAL YTD" y "TOTAL LB OLD"
df_ptd_cerrado["TOTAL"] = df_ptd_cerrado["TOTAL YTD"] + df_ptd_cerrado["TOTAL LB OLD"]
df_ptd_cerrado.sample(5)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL YTD,TOTAL LB OLD,TOTAL
65,P-1688,3. COSTO MANO DE OBRA,0,SUIZA,MOLLER Y PEREZ - COTAPOS CONSTRUCCIONES INDUST...,-10238516,-3626251.00,-13864767.00
94,P-1699,3. COSTO MANO DE OBRA,0,VILLA PANAMERICANA LOTE B,EMPRESA CONSTRUCTORA DLP S.A.,-21466214,-1005045.00,-22471259.00
207,P-1643,1. INGRESO,0,CHORRILLOS M4,CONSTRUCTORA SUKSA S.A.,0,0.00,0.00
298,P-1699,4. COSTO SUPERVISIÓN,0,VILLA PANAMERICANA LOTE B,EMPRESA CONSTRUCTORA DLP S.A.,0,0.00,0.00
48,P-1680,2. COSTO MATERIALES,0,NUEVA UNO,CONSTRUCTORA TECSA S.A.,-38459095,-37451265.00,-75910360.00

In [998]:
# TESTING VISUAL 1

print(df_ptd_cerrado[df_ptd_cerrado["CODIGO_PROYECTO"] == "1. TOTAL"]["TOTAL YTD"].sum())
print(df_ptd_cerrado[df_ptd_cerrado["CODIGO_PROYECTO"] == "1. TOTAL"]["TOTAL LB OLD"].sum())
print(df_ptd_cerrado[df_ptd_cerrado["CODIGO_PROYECTO"] == "1. TOTAL"]["TOTAL"].sum())

df_ptd_cerrado[df_ptd_cerrado["CODIGO_PROYECTO"] == "1. TOTAL"]

473614937
1369937537.0
1843552474.0

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL YTD,TOTAL LB OLD,TOTAL
336,1. TOTAL,4. COSTO SUPERVISIÓN,0,1. TOTAL,1. TOTAL,-22566666,-51949755.00,-74516421.00
337,1. TOTAL,1. INGRESO,0,1. TOTAL,1. TOTAL,1579362409,3185711545.00,4765073954.00
338,1. TOTAL,2. COSTO MATERIALES,0,1. TOTAL,1. TOTAL,-605032841,-1152612025.00,-1757644866.00
339,1. TOTAL,3. COSTO MANO DE OBRA,0,1. TOTAL,1. TOTAL,-478147965,-611212228.00,-1089360193.00

In [999]:
# TESTING VISUAL 2

print(df_ptd_cerrado[df_ptd_cerrado["CODIGO_PROYECTO"] == "P-1727"]["TOTAL YTD"].sum())
print(df_ptd_cerrado[df_ptd_cerrado["CODIGO_PROYECTO"] == "P-1727"]["TOTAL LB OLD"].sum())
print(df_ptd_cerrado[df_ptd_cerrado["CODIGO_PROYECTO"] == "P-1727"]["TOTAL"].sum())

df_ptd_cerrado[df_ptd_cerrado["CODIGO_PROYECTO"] == "P-1727"]

6745640
0.0
6745640.0

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL YTD,TOTAL LB OLD,TOTAL
162,P-1727,3. COSTO MANO DE OBRA,0,NaN,NaN,-8169893,0.00,-8169893.00
163,P-1727,2. COSTO MATERIALES,0,NaN,NaN,-13655419,0.00,-13655419.00
164,P-1727,1. INGRESO,0,NaN,NaN,28570952,0.00,28570952.00
330,P-1727,4. COSTO SUPERVISIÓN,0,NaN,NaN,0,0.00,0.00

#### 4.7.3 - SE AGREGAN FILAS DE 1.TOTAL

In [1000]:
# Se eliminan Totales, excepto cuando se trata de COSTO_SUPERVISIÓN

print("DIMENSIONES ANTES DE TRATAMIENTO DEL DATAFRAME: df_ptd_cerrado : ", df_ptd_cerrado.shape)

df_ptd_cerrado2 = df_ptd_cerrado[~((df_ptd_cerrado["CODIGO_PROYECTO"] == "1. TOTAL") & (df_ptd_cerrado["TIPO_CUENTA"] != "4. COSTO SUPERVISIÓN"))]

print("DIMENSIONES DESPUÉS DE TRATAMIENTO DEL DATAFRAME df_ptd_cerrado2 : ", df_ptd_cerrado2.shape)

DIMENSIONES ANTES DE TRATAMIENTO DEL DATAFRAME: df_ptd_cerrado :  (340, 8)
DIMENSIONES DESPUÉS DE TRATAMIENTO DEL DATAFRAME df_ptd_cerrado2 :  (337, 8)

In [1001]:
# TESTING VISUAL 2


print(df_ptd_cerrado2[df_ptd_cerrado2["CODIGO_PROYECTO"] == "1. TOTAL"]["TOTAL YTD"].sum())
print(df_ptd_cerrado2[df_ptd_cerrado2["CODIGO_PROYECTO"] == "1. TOTAL"]["TOTAL LB OLD"].sum())
print(df_ptd_cerrado2[df_ptd_cerrado2["CODIGO_PROYECTO"] == "1. TOTAL"]["TOTAL"].sum())

df_ptd_cerrado2[df_ptd_cerrado2["CODIGO_PROYECTO"] == "1. TOTAL"]

-22566666
-51949755.0
-74516421.0

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL YTD,TOTAL LB OLD,TOTAL
336,1. TOTAL,4. COSTO SUPERVISIÓN,0,1. TOTAL,1. TOTAL,-22566666,-51949755.00,-74516421.00

In [1002]:
# Calcular la suma de los valores totales para cada tipo de cuenta

print("DIMENSIONES ANTES DE TRATAMIENTO DEL DATAFRAME: df_ptd_cerrado2 : ", df_ptd_cerrado2.shape)

df_total = df_ptd_cerrado2.groupby('TIPO_CUENTA')['TOTAL'].sum().reset_index()
df_total['CODIGO_PROYECTO'] = '1. TOTAL'

# Agregar las filas adicionales al DataFrame
df_ptd_cerrado2 = pd.concat([df_ptd_cerrado2, df_total], ignore_index=True)

# Modificar las columnas "NOMBRE_OBRA" y "NOMBRE_CLIENTE" para "1. TOTAL"
df_ptd_cerrado2.loc[df_ptd_cerrado2['CODIGO_PROYECTO'] == '1. TOTAL', ['NOMBRE_OBRA', 'NOMBRE_CLIENTE']] = '1. TOTAL'

print("DIMENSIONES DESPUÉS DE TRATAMIENTO DEL DATAFRAME df_ptd_cerrado2 : ", df_ptd_cerrado2.shape)

df_ptd_cerrado2.sample(5)

DIMENSIONES ANTES DE TRATAMIENTO DEL DATAFRAME: df_ptd_cerrado2 :  (337, 8)
DIMENSIONES DESPUÉS DE TRATAMIENTO DEL DATAFRAME df_ptd_cerrado2 :  (341, 8)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL YTD,TOTAL LB OLD,TOTAL
312,P-1716,4. COSTO SUPERVISIÓN,0.00,CD ASTARA,ASTARA LOGÍSTICA CHILE SPA.,0.00,0.00,0.00
161,P-1726,1. INGRESO,0.00,NaN,NaN,46466438.00,0.00,46466438.00
287,P-1690,4. COSTO SUPERVISIÓN,0.00,ONGOLMO - HOME CONDOMINIO,CANTAUCO CONSTRUCCION LTDA.,0.00,0.00,0.00
250,P-1669,1. INGRESO,0.00,DEPARTAMENTAL,EMP. CONSTRUCTORA INGENIEROS S.A.,0.00,19895589.00,19895589.00
322,P-1721,4. COSTO SUPERVISIÓN,0.00,STRIP CENTER LUIS PASTEUR,INMOBILIARIA LUIS PASTEUR S.A.,0.00,0.00,0.00

In [1003]:
# TESTING VISUAL 1

print(df_ptd_cerrado2[df_ptd_cerrado2["CODIGO_PROYECTO"] == "1. TOTAL"]["TOTAL"].sum())
df_ptd_cerrado2[df_ptd_cerrado2["CODIGO_PROYECTO"] == "1. TOTAL"].head(5)

1591529635.0

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL YTD,TOTAL LB OLD,TOTAL
336,1. TOTAL,4. COSTO SUPERVISIÓN,0.00,1. TOTAL,1. TOTAL,-22566666.00,-51949755.00,-74516421.00
337,1. TOTAL,1. INGRESO,NaN,1. TOTAL,1. TOTAL,NaN,NaN,4503192575.00
338,1. TOTAL,2. COSTO MATERIALES,NaN,1. TOTAL,1. TOTAL,NaN,NaN,-1686220937.00
339,1. TOTAL,3. COSTO MANO DE OBRA,NaN,1. TOTAL,1. TOTAL,NaN,NaN,-1076409161.00
340,1. TOTAL,4. COSTO SUPERVISIÓN,NaN,1. TOTAL,1. TOTAL,NaN,NaN,-74516421.00

In [1004]:
# Se eliminan COSTO SUPERVISION INCORRECTO

df_ptd_cerrado2 = df_ptd_cerrado2[~((df_ptd_cerrado2['CODIGO_PROYECTO'] == '1. TOTAL') & (df_ptd_cerrado2['TIPO_CUENTA'] == '4. COSTO SUPERVISIÓN') & (df_ptd_cerrado2['TOTAL_LB'].isna()))]
 
# TESTING VISUAL 2

print(df_ptd_cerrado2[df_ptd_cerrado2["CODIGO_PROYECTO"] == "1. TOTAL"]["TOTAL"].sum())
df_ptd_cerrado2[df_ptd_cerrado2["CODIGO_PROYECTO"] == "1. TOTAL"].head(5)

1666046056.0

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL YTD,TOTAL LB OLD,TOTAL
336,1. TOTAL,4. COSTO SUPERVISIÓN,0.00,1. TOTAL,1. TOTAL,-22566666.00,-51949755.00,-74516421.00
337,1. TOTAL,1. INGRESO,NaN,1. TOTAL,1. TOTAL,NaN,NaN,4503192575.00
338,1. TOTAL,2. COSTO MATERIALES,NaN,1. TOTAL,1. TOTAL,NaN,NaN,-1686220937.00
339,1. TOTAL,3. COSTO MANO DE OBRA,NaN,1. TOTAL,1. TOTAL,NaN,NaN,-1076409161.00

In [1005]:
# TESTING VISUAL 2

print(df_ptd_cerrado2[df_ptd_cerrado2["CODIGO_PROYECTO"] == "P-1727"]["TOTAL"].sum())
df_ptd_cerrado2[df_ptd_cerrado2["CODIGO_PROYECTO"] == "P-1727"].head(5)

6745640.0

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL YTD,TOTAL LB OLD,TOTAL
162,P-1727,3. COSTO MANO DE OBRA,0.00,NaN,NaN,-8169893.00,0.00,-8169893.00
163,P-1727,2. COSTO MATERIALES,0.00,NaN,NaN,-13655419.00,0.00,-13655419.00
164,P-1727,1. INGRESO,0.00,NaN,NaN,28570952.00,0.00,28570952.00
330,P-1727,4. COSTO SUPERVISIÓN,0.00,NaN,NaN,0.00,0.00,0.00

#### 4.7.4 - AGREGACIÓN COLUMNA MARGEN

In [1006]:
#CREACIÓN DE MARGENES

df_ptd_cerrado3 = df_ptd_cerrado2.copy()


# Esta línea de código es para evitar ver el error.
with np.errstate(divide='ignore', invalid='ignore'):

    df_margen = df_ptd_cerrado3.groupby(['CODIGO_PROYECTO']).apply(lambda x: pd.Series({
        'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA', '4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
    }))

df_margen = pd.DataFrame(df_margen.to_records())
df_margen['MARGEN'] = df_margen['MARGEN'].fillna(0).replace(-np.inf, 0)
df_margen.replace([np.inf, -np.inf, np.nan], 0, inplace=True)


# mostrar el DataFrame resultante
df_margen.sample(10)


print("DIMENSIONES ANTES   DE CAMBIOS DATAFRAME: df_ptd_cerrado3 : ", df_ptd_cerrado3.shape)

df_ptd_cerrado3 = pd.merge(df_ptd_cerrado3, df_margen, on=['CODIGO_PROYECTO'], how='left')

print("DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_ptd_cerrado3 : ", df_ptd_cerrado3.shape)
df_ptd_cerrado3.sample(5)

DIMENSIONES ANTES   DE CAMBIOS DATAFRAME: df_ptd_cerrado3 :  (340, 8)
DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_ptd_cerrado3 :  (340, 9)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL YTD,TOTAL LB OLD,TOTAL,MARGEN
109,P-1705,3. COSTO MANO DE OBRA,0.00,LOS CLARINES,CONSTRUCTORA INARCO S.A.,-13614309.00,0.00,-13614309.00,0.05
63,P-1687,2. COSTO MATERIALES,0.00,ROJAS MAGALLANES,E.MOLINA MOREL CONSTRUCTORA S.A.,-6360393.00,-3323092.00,-9683485.00,0.31
12,P-1642,2. COSTO MATERIALES,0.00,CORINTO,EMP. CONSTRUCTORA INGENIEROS S.A.,8880.00,-3100254.00,-3091374.00,0.57
97,P-1700,3. COSTO MANO DE OBRA,0.00,CD ORIZON,EBCO S.A.,-4264241.00,-27789610.00,-32053851.00,0.24
37,P-1674,2. COSTO MATERIALES,0.00,OFICINAS BEIERSDORF CHORRILLOS,CONSTRUCTORA SUKSA S.A.,23048.00,-8624174.00,-8601126.00,0.63

In [1007]:
# TESTING VISUAL 1

print(df_ptd_cerrado3[df_ptd_cerrado3["CODIGO_PROYECTO"] == "1. TOTAL"]["TOTAL"].sum())
df_ptd_cerrado3[df_ptd_cerrado3["CODIGO_PROYECTO"] == "1. TOTAL"].head(5)

1666046056.0

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL YTD,TOTAL LB OLD,TOTAL,MARGEN
336,1. TOTAL,4. COSTO SUPERVISIÓN,0.00,1. TOTAL,1. TOTAL,-22566666.00,-51949755.00,-74516421.00,0.37
337,1. TOTAL,1. INGRESO,NaN,1. TOTAL,1. TOTAL,NaN,NaN,4503192575.00,0.37
338,1. TOTAL,2. COSTO MATERIALES,NaN,1. TOTAL,1. TOTAL,NaN,NaN,-1686220937.00,0.37
339,1. TOTAL,3. COSTO MANO DE OBRA,NaN,1. TOTAL,1. TOTAL,NaN,NaN,-1076409161.00,0.37

In [1008]:
# TESTING VISUAL 2

print(df_ptd_cerrado3[df_ptd_cerrado3["CODIGO_PROYECTO"] == "P-1727"]["TOTAL"].sum())
df_ptd_cerrado3[df_ptd_cerrado3["CODIGO_PROYECTO"] == "P-1727"].head(5)

6745640.0

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL YTD,TOTAL LB OLD,TOTAL,MARGEN
162,P-1727,3. COSTO MANO DE OBRA,0.00,NaN,NaN,-8169893.00,0.00,-8169893.00,0.24
163,P-1727,2. COSTO MATERIALES,0.00,NaN,NaN,-13655419.00,0.00,-13655419.00,0.24
164,P-1727,1. INGRESO,0.00,NaN,NaN,28570952.00,0.00,28570952.00,0.24
330,P-1727,4. COSTO SUPERVISIÓN,0.00,NaN,NaN,0.00,0.00,0.00,0.24

In [1009]:
df_ptd_cerrado3.to_csv('archivos_respaldo/df_ptd_cerrado3.csv', index = False)

### 4.8 - **MERGE PARA -> PTD CERRADO (PERSPECTIVA MES ANTERIOR)
Cruce entre YTD_Cerrado + Libros mayores de años anteriores.

#### 4.8.1 - EXPLORACIÓN Y PREPARACIÓN DE DATAFRAMES

In [1010]:
# Exploración Dataframe para el dataframe que proviene del Libro Mayor 2023.
# Dataframe : df_ytd_cerrado2 proveniente del punto 4.3 - MERGE PARA -> YTD AÑO EN CURSO HASTA MES CERRADO PERSPECTIVA MES ANTERIOR

print("DIMENSIONES ANTES DE CAMBIOS DATAFRAME: df_ytd_cerrado_2M_3 : ", df_ytd_cerrado_2M_3.shape)

df_ytd_cerrado_2M_3_1 = df_ytd_cerrado_2M_3.copy()
df_ytd_cerrado_2M_3_1.sample(5)

DIMENSIONES ANTES DE CAMBIOS DATAFRAME: df_ytd_cerrado_2M_3 :  (340, 7)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL,MARGEN
98,P-1700,2. COSTO MATERIALES,0,CD ORIZON,EBCO S.A.,-7728748,0.28
316,P-1718,4. COSTO SUPERVISIÓN,0,PATIO COMIDAS,EBCO S.A.,0,0.59
183,P-1612,1. INGRESO,0,BARRIO PARQUE SANTIAGO 7,CONSTRUCTORA ALTURAS DEL SUR S.A,0,0.00
302,P-1704,4. COSTO SUPERVISIÓN,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,0,0.27
13,P-1643,2. COSTO MATERIALES,0,CHORRILLOS M4,CONSTRUCTORA SUKSA S.A.,0,0.00

In [1011]:
# TESTING VISUAL 1

print(df_ytd_cerrado_2M_3_1[df_ytd_cerrado_2M_3_1["CODIGO_PROYECTO"] == "1. TOTAL"]["TOTAL"].sum())
df_ytd_cerrado_2M_3_1[df_ytd_cerrado_2M_3_1["CODIGO_PROYECTO"] == "1. TOTAL"]

301368788

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL,MARGEN
336,1. TOTAL,4. COSTO SUPERVISIÓN,0,1. TOTAL,1. TOTAL,-17923405,0.27
337,1. TOTAL,1. INGRESO,0,1. TOTAL,1. TOTAL,1118563896,0.27
338,1. TOTAL,2. COSTO MATERIALES,0,1. TOTAL,1. TOTAL,-435497453,0.27
339,1. TOTAL,3. COSTO MANO DE OBRA,0,1. TOTAL,1. TOTAL,-363774250,0.27

In [1012]:
# Se crea Pivote para reducir las dimensiones

print("DIMENSIONES ANTES DE CAMBIOS DATAFRAME: df_ytd_cerrado_2M_3_1   : ", df_ytd_cerrado_2M_3_1.shape)
df_ytd_cerrado_2M_3_2 = pd.pivot_table(df_ytd_cerrado_2M_3_1, values=['TOTAL'], index=['CODIGO_PROYECTO','TIPO_CUENTA'], aggfunc='sum')

print("DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_ytd_cerrado_2M_3_2 : ", df_ytd_cerrado_2M_3_2.shape)

# Se renombra campo "TOTAL"
df_ytd_cerrado_2M_3_2 = df_ytd_cerrado_2M_3_2.rename(columns={"TOTAL": "TOTAL YTD"})

df_ytd_cerrado_2M_3_2 = pd.DataFrame(df_ytd_cerrado_2M_3_2.to_records())
df_ytd_cerrado_2M_3_2.sample(10)

DIMENSIONES ANTES DE CAMBIOS DATAFRAME: df_ytd_cerrado_2M_3_1   :  (340, 7)
DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_ytd_cerrado_2M_3_2 :  (340, 1)

    CODIGO_PROYECTO            TIPO_CUENTA  TOTAL YTD
294          P-1718  3. COSTO MANO DE OBRA  -26343855
247          P-1704   4. COSTO SUPERVISIÓN          0
293          P-1718    2. COSTO MATERIALES   -9887658
141          P-1676    2. COSTO MATERIALES   -2031638
334          P-1728  3. COSTO MANO DE OBRA    -630869
269          P-1712    2. COSTO MATERIALES  -13499992
50           P-1641  3. COSTO MANO DE OBRA          0
34           P-1626  3. COSTO MANO DE OBRA          0
229          P-1699    2. COSTO MATERIALES  -22557868
113          P-1668    2. COSTO MATERIALES     146500

In [1013]:
# Exploración y tratamiento de dataframe: df_ytd_cerrado df_libro_mayor_old3
# Se utiliza el dataframe creado previamente en el punto: 4.7.1 : df_libro_mayor_old5 (NO ES NECESARIO TRATAR NUEVAMENTE LOS DATOS DEL LIBRO MAYOR DE AÑOS ANTRIORES)

print("Dimensiones del dataframe df_libro_mayor_old5 : ", df_libro_mayor_old5.shape)
df_libro_mayor_old5.sample(10)

Dimensiones del dataframe df_libro_mayor_old5 :  (253, 3)

    CODIGO_PROYECTO            TIPO_CUENTA  TOTAL LB OLD
154          P-1682    2. COSTO MATERIALES     -14706814
175          P-1689    2. COSTO MATERIALES      -8884093
142          P-1678             1. INGRESO      14535414
24           P-1625             1. INGRESO       4181340
2          1. TOTAL  3. COSTO MANO DE OBRA    -611212228
91           P-1659    2. COSTO MATERIALES         21197
156          P-1683             1. INGRESO      53738729
193          P-1695    2. COSTO MATERIALES      -6706085
220          P-1704    2. COSTO MATERIALES    -125594139
10           P-1611    2. COSTO MATERIALES        596177

#### 4.8.2 - Concatenación de Dataframes

In [1014]:
# Se considera df_libro_mayor5_base2 como base para construir el dataframe

df_ptd_cerrado_anterior = df_libro_mayor5_base2.copy()

print("DIMENSIONES ANTES DE CAMBIOS DATAFRAME: df_ptd_cerrado_anterior : ", df_ptd_cerrado_anterior.shape)
df_ptd_cerrado_anterior.sample(5)

DIMENSIONES ANTES DE CAMBIOS DATAFRAME: df_ptd_cerrado_anterior :  (340, 5)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE
126,P-1712,1. INGRESO,0,CENTRO COMERCIAL VIÑA OUTLET PARK,EBCO S.A.
124,P-1712,3. COSTO MANO DE OBRA,0,CENTRO COMERCIAL VIÑA OUTLET PARK,EBCO S.A.
284,P-1689,1. INGRESO,0,CASINO BUENAVENTURA,EBCO S.A.
309,P-1713,4. COSTO SUPERVISIÓN,0,RESERVA SAN FRANCISCO,EMPRESA NACIONAL DE CONSTRUCCIÓN LAS VERTIENTE...
59,P-1686,3. COSTO MANO DE OBRA,0,MACUL ICALMA,EMPRESA CONSTRUCTORA INGEVEC S.A.

In [1015]:
# MERGE 1 - df_ytd_cerrado_2M_3_2

# Se hace merge con los codigos de proyecto.

print("DIMENSIONES ANTES DE CAMBIOS DATAFRAME: df_ytd_cerrado_2M_3_2 : ", df_ytd_cerrado_2M_3_2.shape)

df_ptd_cerrado_anterior = pd.merge(df_ptd_cerrado_anterior, df_ytd_cerrado_2M_3_2, on=['CODIGO_PROYECTO','TIPO_CUENTA'], how='left')

print("DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_ptd_cerrado_anterior : ", df_ptd_cerrado_anterior.shape)

df_ptd_cerrado_anterior.sample(10)

DIMENSIONES ANTES DE CAMBIOS DATAFRAME: df_ytd_cerrado_2M_3_2 :  (340, 3)
DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_ptd_cerrado_anterior :  (340, 6)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL YTD
261,P-1674,4. COSTO SUPERVISIÓN,0,OFICINAS BEIERSDORF CHORRILLOS,CONSTRUCTORA SUKSA S.A.,0
228,P-1658,3. COSTO MANO DE OBRA,0,VIVIPRA,VICHERAT Y PRADENAS LTDA.,0
249,P-1668,4. COSTO SUPERVISIÓN,0,QUILLAYES PLAZA,E.MOLINA MOREL CONSTRUCTORA S.A.,0
198,P-1639,1. INGRESO,0,LYON 2546,MOLLER Y PEREZ - COTAPOS CONSTRUCCIONES INDUST...,0
22,P-1660,2. COSTO MATERIALES,0,CORONEL ALVARADO,LARRAIN PRIETO RISOPATRON S.A.,158753
264,P-1676,1. INGRESO,0,LO CAMPINO,EBCO S.A.,0
18,P-1649,2. COSTO MATERIALES,0,INACAP VITACURA E2,CONSTRUCTORA CUEVAS Y PURCELL S.A.,9072
129,P-1713,1. INGRESO,0,RESERVA SAN FRANCISCO,EMPRESA NACIONAL DE CONSTRUCCIÓN LAS VERTIENTE...,4823540
205,P-1642,3. COSTO MANO DE OBRA,0,CORINTO,EMP. CONSTRUCTORA INGENIEROS S.A.,0
201,P-1641,1. INGRESO,0,INACAP TEMUCO,DESARROLLOS CONSTRUCTIVOS AXIS SOCIEDAD ANONIMA,0

In [1016]:
# MERGE 2 - df_ytd_cerrado2

# Se hace merge con los codigos de proyecto.

print("DIMENSIONES ANTES DE CAMBIOS DATAFRAME: df_ptd_cerrado_anterior : ", df_ptd_cerrado_anterior.shape)

df_ptd_cerrado_anterior = pd.merge(df_ptd_cerrado_anterior, df_libro_mayor_old5, on=['CODIGO_PROYECTO','TIPO_CUENTA'], how='left')

print("DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_ptd_cerrado_anterior : ", df_ptd_cerrado_anterior.shape)

df_ptd_cerrado_anterior.sample(10)

DIMENSIONES ANTES DE CAMBIOS DATAFRAME: df_ptd_cerrado_anterior :  (340, 6)
DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_ptd_cerrado_anterior :  (340, 7)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL YTD,TOTAL LB OLD
188,P-1620,4. COSTO SUPERVISIÓN,0,"OF APOQUINDO- HABILITACIONES, INTEGRACION Y AD...",CONSTRUCTORA INARCO S.A.,0,NaN
132,P-1714,1. INGRESO,0,DEPARTAMENTAL II,CONSTRUCTORA FUERZA SUR DOS SPA,18147027,34349625.00
28,P-1667,2. COSTO MATERIALES,0,ECO PLACILLA,CONSTRUCTORA ICF SPA,-2362317,-43203936.00
298,P-1699,4. COSTO SUPERVISIÓN,0,VILLA PANAMERICANA LOTE B,EMPRESA CONSTRUCTORA DLP S.A.,0,NaN
108,P-1704,1. INGRESO,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,141716199,465655611.00
71,P-1690,1. INGRESO,0,ONGOLMO - HOME CONDOMINIO,CANTAUCO CONSTRUCCION LTDA.,19059330,35655036.00
335,P-1729,4. COSTO SUPERVISIÓN,0,NaN,NaN,0,NaN
262,P-1675,3. COSTO MANO DE OBRA,0,PALENA II,CONSTRUCTORA MYA SPA.,0,-4557877.00
145,P-1720,1. INGRESO,0,NaN,NaN,0,NaN
221,P-1653,1. INGRESO,0,EDUARDO DE LA BARRA,CONSTRUCTORA E INVERSIONES VITAL SPA.,0,13787411.00

In [1017]:
# Se estandarizan columnas de Totales y se agrega columna TOTAL 

# Reemplazar NaN por cero en las columnas "TOTAL YTD" y "TOTAL LB OLD"
df_ptd_cerrado_anterior["TOTAL YTD"] = df_ptd_cerrado_anterior["TOTAL YTD"].fillna(0)
df_ptd_cerrado_anterior["TOTAL LB OLD"] = df_ptd_cerrado_anterior["TOTAL LB OLD"].fillna(0)

# Crear la nueva columna "TOTAL" que suma "TOTAL YTD" y "TOTAL LB OLD"
df_ptd_cerrado_anterior["TOTAL"] = df_ptd_cerrado_anterior["TOTAL YTD"] + df_ptd_cerrado_anterior["TOTAL LB OLD"]
df_ptd_cerrado_anterior.sample(5)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL YTD,TOTAL LB OLD,TOTAL
184,P-1612,3. COSTO MANO DE OBRA,0,BARRIO PARQUE SANTIAGO 7,CONSTRUCTORA ALTURAS DEL SUR S.A,0,0.00,0.00
177,P-1603,1. INGRESO,0,FARELLONES,EMPRESA CONSTRUCTORA DLP S.A.,0,0.00,0.00
65,P-1688,3. COSTO MANO DE OBRA,0,SUIZA,MOLLER Y PEREZ - COTAPOS CONSTRUCCIONES INDUST...,-8616919,-3626251.00,-12243170.00
123,P-1709,1. INGRESO,0,CENTRO COMERCIAL PASEO SAN PEDRO,EBCO S.A.,65699845,7158358.00,72858203.00
218,P-1649,1. INGRESO,0,INACAP VITACURA E2,CONSTRUCTORA CUEVAS Y PURCELL S.A.,0,54564902.00,54564902.00

In [1018]:
# TESTING VISUAL 1

print(df_ptd_cerrado_anterior[df_ptd_cerrado_anterior["CODIGO_PROYECTO"] == "1. TOTAL"]["TOTAL YTD"].sum())
print(df_ptd_cerrado_anterior[df_ptd_cerrado_anterior["CODIGO_PROYECTO"] == "1. TOTAL"]["TOTAL LB OLD"].sum())
print(df_ptd_cerrado_anterior[df_ptd_cerrado_anterior["CODIGO_PROYECTO"] == "1. TOTAL"]["TOTAL"].sum())

df_ptd_cerrado_anterior[df_ptd_cerrado_anterior["CODIGO_PROYECTO"] == "1. TOTAL"]

301368788
1369937537.0
1671306325.0

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL YTD,TOTAL LB OLD,TOTAL
336,1. TOTAL,4. COSTO SUPERVISIÓN,0,1. TOTAL,1. TOTAL,-17923405,-51949755.00,-69873160.00
337,1. TOTAL,1. INGRESO,0,1. TOTAL,1. TOTAL,1118563896,3185711545.00,4304275441.00
338,1. TOTAL,2. COSTO MATERIALES,0,1. TOTAL,1. TOTAL,-435497453,-1152612025.00,-1588109478.00
339,1. TOTAL,3. COSTO MANO DE OBRA,0,1. TOTAL,1. TOTAL,-363774250,-611212228.00,-974986478.00

In [1019]:
# TESTING VISUAL 2

print(df_ptd_cerrado_anterior[df_ptd_cerrado_anterior["CODIGO_PROYECTO"] == "P-1704"]["TOTAL YTD"].sum())
print(df_ptd_cerrado_anterior[df_ptd_cerrado_anterior["CODIGO_PROYECTO"] == "P-1704"]["TOTAL LB OLD"].sum())
print(df_ptd_cerrado_anterior[df_ptd_cerrado_anterior["CODIGO_PROYECTO"] == "P-1704"]["TOTAL"].sum())

df_ptd_cerrado_anterior[df_ptd_cerrado_anterior["CODIGO_PROYECTO"] == "P-1704"]

38892837
252119092.0
291011929.0

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL YTD,TOTAL LB OLD,TOTAL
106,P-1704,3. COSTO MANO DE OBRA,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,-44701591,-87942380.00,-132643971.00
107,P-1704,2. COSTO MATERIALES,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,-58121771,-125594139.00,-183715910.00
108,P-1704,1. INGRESO,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,141716199,465655611.00,607371810.00
302,P-1704,4. COSTO SUPERVISIÓN,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,0,0.00,0.00

#### 4.8.3 - SE AGREGAN FILAS DE 1.TOTAL

In [1020]:
# Se eliminan Totales, excepto cuando se trata de COSTO_SUPERVISIÓN

print("DIMENSIONES ANTES DE TRATAMIENTO DEL DATAFRAME: df_ptd_cerrado_anterior : ", df_ptd_cerrado_anterior.shape)

df_ptd_cerrado_anterior2 = df_ptd_cerrado_anterior[~((df_ptd_cerrado_anterior["CODIGO_PROYECTO"] == "1. TOTAL") & (df_ptd_cerrado_anterior["TIPO_CUENTA"] != "4. COSTO SUPERVISIÓN"))]

print("DIMENSIONES DESPUÉS DE TRATAMIENTO DEL DATAFRAME df_ptd_cerrado_anterior2 : ", df_ptd_cerrado_anterior2.shape)

DIMENSIONES ANTES DE TRATAMIENTO DEL DATAFRAME: df_ptd_cerrado_anterior :  (340, 8)
DIMENSIONES DESPUÉS DE TRATAMIENTO DEL DATAFRAME df_ptd_cerrado_anterior2 :  (337, 8)

In [1021]:
# TESTING VISUAL 2


print(df_ptd_cerrado_anterior2[df_ptd_cerrado_anterior2["CODIGO_PROYECTO"] == "1. TOTAL"]["TOTAL YTD"].sum())
print(df_ptd_cerrado_anterior2[df_ptd_cerrado_anterior2["CODIGO_PROYECTO"] == "1. TOTAL"]["TOTAL LB OLD"].sum())
print(df_ptd_cerrado_anterior2[df_ptd_cerrado_anterior2["CODIGO_PROYECTO"] == "1. TOTAL"]["TOTAL"].sum())

df_ptd_cerrado_anterior2[df_ptd_cerrado_anterior2["CODIGO_PROYECTO"] == "1. TOTAL"]

-17923405
-51949755.0
-69873160.0

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL YTD,TOTAL LB OLD,TOTAL
336,1. TOTAL,4. COSTO SUPERVISIÓN,0,1. TOTAL,1. TOTAL,-17923405,-51949755.00,-69873160.00

In [1022]:
# Calcular la suma de los valores totales para cada tipo de cuenta

print("DIMENSIONES ANTES DE TRATAMIENTO DEL DATAFRAME: df_ptd_cerrado_anterior2 : ", df_ptd_cerrado_anterior2.shape)

df_total = df_ptd_cerrado_anterior2.groupby('TIPO_CUENTA')['TOTAL'].sum().reset_index()
df_total['CODIGO_PROYECTO'] = '1. TOTAL'

# Agregar las filas adicionales al DataFrame
df_ptd_cerrado_anterior2 = pd.concat([df_ptd_cerrado_anterior2, df_total], ignore_index=True)

# Modificar las columnas "NOMBRE_OBRA" y "NOMBRE_CLIENTE" para "1. TOTAL"
df_ptd_cerrado_anterior2.loc[df_ptd_cerrado_anterior2['CODIGO_PROYECTO'] == '1. TOTAL', ['NOMBRE_OBRA', 'NOMBRE_CLIENTE']] = '1. TOTAL'

print("DIMENSIONES DESPUÉS DE TRATAMIENTO DEL DATAFRAME df_ptd_cerrado_anterior2 : ", df_ptd_cerrado_anterior2.shape)

df_ptd_cerrado_anterior2.sample(5)

DIMENSIONES ANTES DE TRATAMIENTO DEL DATAFRAME: df_ptd_cerrado_anterior2 :  (337, 8)
DIMENSIONES DESPUÉS DE TRATAMIENTO DEL DATAFRAME df_ptd_cerrado_anterior2 :  (341, 8)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL YTD,TOTAL LB OLD,TOTAL
270,P-1681,2. COSTO MATERIALES,0.00,CD ROSEN (CCTV PROVISORIO),COLCHONES ROSEN SAIC,0.00,-2962572.00,-2962572.00
240,P-1664,3. COSTO MANO DE OBRA,0.00,MK II PCI,COMERCIAL K SPA.,0.00,0.00,0.00
182,P-1611,4. COSTO SUPERVISIÓN,0.00,EDIFICIO PLAZA EGAÑA,EBCO S.A.,0.00,0.00,0.00
30,P-1669,3. COSTO MANO DE OBRA,0.00,DEPARTAMENTAL,EMP. CONSTRUCTORA INGENIEROS S.A.,-156861.00,-3156860.00,-3313721.00
178,P-1603,3. COSTO MANO DE OBRA,0.00,FARELLONES,EMPRESA CONSTRUCTORA DLP S.A.,0.00,0.00,0.00

In [1023]:
# TESTING VISUAL 1

print(df_ptd_cerrado_anterior2[df_ptd_cerrado_anterior2["CODIGO_PROYECTO"] == "1. TOTAL"]["TOTAL"].sum())
df_ptd_cerrado_anterior2[df_ptd_cerrado_anterior2["CODIGO_PROYECTO"] == "1. TOTAL"].head(5)

1423926747.0

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL YTD,TOTAL LB OLD,TOTAL
336,1. TOTAL,4. COSTO SUPERVISIÓN,0.00,1. TOTAL,1. TOTAL,-17923405.00,-51949755.00,-69873160.00
337,1. TOTAL,1. INGRESO,NaN,1. TOTAL,1. TOTAL,NaN,NaN,4042394062.00
338,1. TOTAL,2. COSTO MATERIALES,NaN,1. TOTAL,1. TOTAL,NaN,NaN,-1516685549.00
339,1. TOTAL,3. COSTO MANO DE OBRA,NaN,1. TOTAL,1. TOTAL,NaN,NaN,-962035446.00
340,1. TOTAL,4. COSTO SUPERVISIÓN,NaN,1. TOTAL,1. TOTAL,NaN,NaN,-69873160.00

In [1024]:
# Se eliminan COSTO SUPERVISION INCORRECTO

df_ptd_cerrado_anterior2 = df_ptd_cerrado_anterior2[~((df_ptd_cerrado_anterior2['CODIGO_PROYECTO'] == '1. TOTAL') & (df_ptd_cerrado_anterior2['TIPO_CUENTA'] == '4. COSTO SUPERVISIÓN') & (df_ptd_cerrado_anterior2['TOTAL_LB'].isna()))]
 
# TESTING VISUAL 2

print(df_ptd_cerrado_anterior2[df_ptd_cerrado_anterior2["CODIGO_PROYECTO"] == "1. TOTAL"]["TOTAL"].sum())
df_ptd_cerrado_anterior2[df_ptd_cerrado_anterior2["CODIGO_PROYECTO"] == "P-1704"].head(5)

1493799907.0

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL YTD,TOTAL LB OLD,TOTAL
106,P-1704,3. COSTO MANO DE OBRA,0.00,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,-44701591.00,-87942380.00,-132643971.00
107,P-1704,2. COSTO MATERIALES,0.00,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,-58121771.00,-125594139.00,-183715910.00
108,P-1704,1. INGRESO,0.00,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,141716199.00,465655611.00,607371810.00
302,P-1704,4. COSTO SUPERVISIÓN,0.00,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,0.00,0.00,0.00

#### 4.8.4 - AGREGACIÓN COLUMNA MARGEN

In [1025]:
#CREACIÓN DE MARGENES

df_ptd_cerrado_anterior3 = df_ptd_cerrado_anterior2.copy()


# Esta línea de código es para evitar ver el error.
with np.errstate(divide='ignore', invalid='ignore'):

    df_margen = df_ptd_cerrado_anterior3.groupby(['CODIGO_PROYECTO']).apply(lambda x: pd.Series({
        'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA', '4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
    }))

df_margen = pd.DataFrame(df_margen.to_records())
df_margen['MARGEN'] = df_margen['MARGEN'].fillna(0).replace(-np.inf, 0)
df_margen.replace([np.inf, -np.inf, np.nan], 0, inplace=True)


# mostrar el DataFrame resultante
df_margen.sample(10)


print("DIMENSIONES ANTES   DE CAMBIOS DATAFRAME: df_ptd_cerrado_anterior3 : ", df_ptd_cerrado_anterior3.shape)

df_ptd_cerrado_anterior3 = pd.merge(df_ptd_cerrado_anterior3, df_margen, on=['CODIGO_PROYECTO'], how='left')

print("DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_ptd_cerrado_anterior3 : ", df_ptd_cerrado_anterior3.shape)
df_ptd_cerrado_anterior3.sample(5)

DIMENSIONES ANTES   DE CAMBIOS DATAFRAME: df_ptd_cerrado_anterior3 :  (340, 8)
DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_ptd_cerrado_anterior3 :  (340, 9)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL YTD,TOTAL LB OLD,TOTAL,MARGEN
91,P-1697,1. INGRESO,0.00,ESTOCOLMO,CONSTRUCTORA FORTALEZA S.A,37817699.00,35778806.00,73596505.00,0.44
266,P-1677,4. COSTO SUPERVISIÓN,0.00,GALVARINO GALLARDO,MOLLER Y PEREZ - COTAPOS CONSTRUCCIONES INDUST...,0.00,0.00,0.00,0.35
281,P-1686,4. COSTO SUPERVISIÓN,0.00,MACUL ICALMA,EMPRESA CONSTRUCTORA INGEVEC S.A.,0.00,0.00,0.00,0.23
130,P-1714,3. COSTO MANO DE OBRA,0.00,DEPARTAMENTAL II,CONSTRUCTORA FUERZA SUR DOS SPA,-8052049.00,-8044526.00,-16096575.00,-0.02
205,P-1642,3. COSTO MANO DE OBRA,0.00,CORINTO,EMP. CONSTRUCTORA INGENIEROS S.A.,0.00,0.00,0.00,0.57

In [1026]:
# TESTING VISUAL 1

print(df_ptd_cerrado_anterior3[df_ptd_cerrado_anterior3["CODIGO_PROYECTO"] == "1. TOTAL"]["TOTAL"].sum())
df_ptd_cerrado_anterior3[df_ptd_cerrado_anterior3["CODIGO_PROYECTO"] == "1. TOTAL"].head(5)

1493799907.0

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL YTD,TOTAL LB OLD,TOTAL,MARGEN
336,1. TOTAL,4. COSTO SUPERVISIÓN,0.00,1. TOTAL,1. TOTAL,-17923405.00,-51949755.00,-69873160.00,0.37
337,1. TOTAL,1. INGRESO,NaN,1. TOTAL,1. TOTAL,NaN,NaN,4042394062.00,0.37
338,1. TOTAL,2. COSTO MATERIALES,NaN,1. TOTAL,1. TOTAL,NaN,NaN,-1516685549.00,0.37
339,1. TOTAL,3. COSTO MANO DE OBRA,NaN,1. TOTAL,1. TOTAL,NaN,NaN,-962035446.00,0.37

In [1027]:
# TESTING VISUAL 2

print(df_ptd_cerrado_anterior3[df_ptd_cerrado_anterior3["CODIGO_PROYECTO"] == "P-1727"]["TOTAL"].sum())
df_ptd_cerrado_anterior3[df_ptd_cerrado_anterior3["CODIGO_PROYECTO"] == "P-1704"].head(5)

2536455.0

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL YTD,TOTAL LB OLD,TOTAL,MARGEN
106,P-1704,3. COSTO MANO DE OBRA,0.00,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,-44701591.00,-87942380.00,-132643971.00,0.48
107,P-1704,2. COSTO MATERIALES,0.00,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,-58121771.00,-125594139.00,-183715910.00,0.48
108,P-1704,1. INGRESO,0.00,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,141716199.00,465655611.00,607371810.00,0.48
302,P-1704,4. COSTO SUPERVISIÓN,0.00,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,0.00,0.00,0.00,0.48

In [1028]:
df_ptd_cerrado_anterior3.to_csv('archivos_respaldo/df_ptd_cerrado_anterior3.csv', index = False)

### 4.9 - MERGE PTD + MES EN CURSO (PROYECTADO)
Cruce entre df_ptd_cerrado3 + mes_en_curso_proy5

NOTA IMPORTANTE:
Ambos dataframes vienen depurados de los MERGES anteriores y no es necesario trabajar con el df_libro_mayor5_base2, por lo tanto solo se realiza concatenación y se crean las filas 1. TOTAL y el MARGEN.

#### 4.9.1 - EXPLORACIÓN Y PREPARACIÓN DE DATAFRAMES

In [1029]:
# TRATAMIENTO DATAFRAME df_ptd_cerrado3_1

# Se realiza una copia del dataframe 
df_ptd_cerrado3_1 = df_ptd_cerrado3.copy()

# Se Seleccionan columnas utiles:

df_ptd_cerrado3_1 = df_ptd_cerrado3_1[["CODIGO_PROYECTO", "TIPO_CUENTA", "NOMBRE_OBRA", "NOMBRE_CLIENTE", "TOTAL"]]

print("DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME  : df_ptd_cerrado3   : ", df_ptd_cerrado3.shape)
print("DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: df_ptd_cerrado3_1 : ", df_ptd_cerrado3_1.shape)

# Se renombra campo "TOTAL"
df_ptd_cerrado3_1 = df_ptd_cerrado3_1.rename(columns={"TOTAL": "TOTAL PTD"})

df_ptd_cerrado3_1.sample(5)

DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME  : df_ptd_cerrado3   :  (340, 9)
DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: df_ptd_cerrado3_1 :  (340, 5)

,CODIGO_PROYECTO,TIPO_CUENTA,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL PTD
338,1. TOTAL,2. COSTO MATERIALES,1. TOTAL,1. TOTAL,-1686220937.00
168,P-1557,1. INGRESO,ROSARIO ROSALES,EBCO S.A.,0.00
185,P-1612,4. COSTO SUPERVISIÓN,BARRIO PARQUE SANTIAGO 7,CONSTRUCTORA ALTURAS DEL SUR S.A,0.00
87,P-1696,2. COSTO MATERIALES,SANTA VICTORIA - TERRACORP,CONSTRUCTORA TERRACORP S.A.,-30852143.00
117,P-1707,1. INGRESO,LAS TRANQUERAS,CONSTRUCTORA SANTOLAYA LTDA.,37150440.00

In [1030]:
# TRATAMIENTO DATAFRAME df_ptd_cerrado3_1

# Se realiza una copia del dataframe 
mes_en_curso_proy5_1 = mes_en_curso_proy5.copy()

# Se Seleccionan columnas utiles:

mes_en_curso_proy5_1 = mes_en_curso_proy5_1[["CODIGO_PROYECTO", "TIPO_CUENTA", "TOTAL"]]

print("DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME  : mes_en_curso_proy5  : ", mes_en_curso_proy5.shape)
print("DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: mes_en_curso_proy5_1 : ", mes_en_curso_proy5_1.shape)

# Se renombra campo "TOTAL"
mes_en_curso_proy5_1 = mes_en_curso_proy5_1.rename(columns={"TOTAL": "TOTAL MEC PROY"})

mes_en_curso_proy5_1.sample(5)

DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME  : mes_en_curso_proy5  :  (340, 7)
DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: mes_en_curso_proy5_1 :  (340, 3)

    CODIGO_PROYECTO           TIPO_CUENTA  TOTAL MEC PROY
195          P-1636            1. INGRESO            0.00
191          P-1626  4. COSTO SUPERVISIÓN            0.00
141          P-1718   2. COSTO MATERIALES     -6000000.00
91           P-1697            1. INGRESO      5000000.00
163          P-1727   2. COSTO MATERIALES    -10000000.00

#### 4.9.2 - MERGE DE DATAFRAMES

In [1031]:
# Se hace merge manteniendo como base df_ptd_cerrado3_1 que viene del total de proyectos existentes en el libro mayor 2023

print("DIMENSIONES ANTES DE CAMBIOS DATAFRAME: df_ptd_cerrado3_1 : ", df_ptd_cerrado3_1.shape)

df_ptd_cerrado_y_proyectado = pd.merge(df_ptd_cerrado3_1, mes_en_curso_proy5_1, on=['CODIGO_PROYECTO','TIPO_CUENTA'], how='left')

print("DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_ptd_cerrado_y_proyectado : ", df_ptd_cerrado_y_proyectado.shape)

df_ptd_cerrado_y_proyectado.sample(5)

DIMENSIONES ANTES DE CAMBIOS DATAFRAME: df_ptd_cerrado3_1 :  (340, 5)
DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_ptd_cerrado_y_proyectado :  (340, 6)

,CODIGO_PROYECTO,TIPO_CUENTA,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL PTD,TOTAL MEC PROY
13,P-1643,2. COSTO MATERIALES,CHORRILLOS M4,CONSTRUCTORA SUKSA S.A.,-433653.00,0.00
0,P-1557,3. COSTO MANO DE OBRA,ROSARIO ROSALES,EBCO S.A.,-1247014.00,-301065.00
116,P-1707,2. COSTO MATERIALES,LAS TRANQUERAS,CONSTRUCTORA SANTOLAYA LTDA.,-15982352.00,-3000000.00
8,P-1632,2. COSTO MATERIALES,CHORRILLOS CLOROX,CONSTRUCTORA SUKSA S.A.,312558.00,0.00
166,P-1728,2. COSTO MATERIALES,NaN,NaN,-1822779.00,0.00

In [1032]:
# Se estandarizan columnas de Totales y se agrega columna TOTAL 

# Reemplazar NaN por cero en las columnas "TOTAL YTD" y "TOTAL LB OLD"
df_ptd_cerrado_y_proyectado["TOTAL PTD"] = df_ptd_cerrado_y_proyectado["TOTAL PTD"].fillna(0)
df_ptd_cerrado_y_proyectado["TOTAL MEC PROY"] = df_ptd_cerrado_y_proyectado["TOTAL MEC PROY"].fillna(0)

# Crear la nueva columna "TOTAL" que suma "TOTAL YTD" y "TOTAL LB OLD"
df_ptd_cerrado_y_proyectado["TOTAL"] = df_ptd_cerrado_y_proyectado["TOTAL PTD"] + df_ptd_cerrado_y_proyectado["TOTAL MEC PROY"]
df_ptd_cerrado_y_proyectado.sample(5)

,CODIGO_PROYECTO,TIPO_CUENTA,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL PTD,TOTAL MEC PROY,TOTAL
67,P-1688,1. INGRESO,SUIZA,MOLLER Y PEREZ - COTAPOS CONSTRUCCIONES INDUST...,45817042.00,0.00,45817042.00
164,P-1727,1. INGRESO,NaN,NaN,28570952.00,29520000.00,58090952.00
177,P-1603,1. INGRESO,FARELLONES,EMPRESA CONSTRUCTORA DLP S.A.,0.00,0.00,0.00
130,P-1714,3. COSTO MANO DE OBRA,DEPARTAMENTAL II,CONSTRUCTORA FUERZA SUR DOS SPA,-16302352.00,-205777.00,-16508129.00
282,P-1687,4. COSTO SUPERVISIÓN,ROJAS MAGALLANES,E.MOLINA MOREL CONSTRUCTORA S.A.,0.00,0.00,0.00

In [1033]:
# TESTING VISUAL 1

print(df_ptd_cerrado_y_proyectado[df_ptd_cerrado_y_proyectado["CODIGO_PROYECTO"] == "1. TOTAL"]["TOTAL"].sum())
df_ptd_cerrado_y_proyectado[df_ptd_cerrado_y_proyectado["CODIGO_PROYECTO"] == "1. TOTAL"].head(5)

1792805657.882083

,CODIGO_PROYECTO,TIPO_CUENTA,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL PTD,TOTAL MEC PROY,TOTAL
336,1. TOTAL,4. COSTO SUPERVISIÓN,1. TOTAL,1. TOTAL,-74516421.00,-4643261.00,-79159682.00
337,1. TOTAL,1. INGRESO,1. TOTAL,1. TOTAL,4503192575.00,420312383.88,4923504958.88
338,1. TOTAL,2. COSTO MATERIALES,1. TOTAL,1. TOTAL,-1686220937.00,-174535806.00,-1860756743.00
339,1. TOTAL,3. COSTO MANO DE OBRA,1. TOTAL,1. TOTAL,-1076409161.00,-114373715.00,-1190782876.00

In [1034]:
# TESTING VISUAL 2

print(df_ptd_cerrado_y_proyectado[df_ptd_cerrado_y_proyectado["CODIGO_PROYECTO"] == "P-1727"]["TOTAL"].sum())
df_ptd_cerrado_y_proyectado[df_ptd_cerrado_y_proyectado["CODIGO_PROYECTO"] == "P-1727"].head(5)

22810427.0

,CODIGO_PROYECTO,TIPO_CUENTA,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL PTD,TOTAL MEC PROY,TOTAL
162,P-1727,3. COSTO MANO DE OBRA,NaN,NaN,-8169893.00,-3455213.00,-11625106.00
163,P-1727,2. COSTO MATERIALES,NaN,NaN,-13655419.00,-10000000.00,-23655419.00
164,P-1727,1. INGRESO,NaN,NaN,28570952.00,29520000.00,58090952.00
330,P-1727,4. COSTO SUPERVISIÓN,NaN,NaN,0.00,0.00,0.00

#### 4.9.3 - AGREGACIÓN COLUMNA MARGEN

In [1035]:
#CREACIÓN DE MARGENES

df_ptd_cerrado_y_proyectado2 = df_ptd_cerrado_y_proyectado.copy()

# Esta línea de código es para evitar ver el error.
with np.errstate(divide='ignore', invalid='ignore'):

    df_margen = df_ptd_cerrado_y_proyectado2.groupby(['CODIGO_PROYECTO']).apply(lambda x: pd.Series({
        'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA', '4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
    }))

df_margen = pd.DataFrame(df_margen.to_records())
df_margen['MARGEN'] = df_margen['MARGEN'].fillna(0).replace(-np.inf, 0)
df_margen.replace([np.inf, -np.inf, np.nan], 0, inplace=True)


# mostrar el DataFrame resultante
df_margen.sample(10)


print("DIMENSIONES ANTES   DE CAMBIOS DATAFRAME: df_ptd_cerrado_y_proyectado2 : ", df_ptd_cerrado_y_proyectado2.shape)

df_ptd_cerrado_y_proyectado2 = pd.merge(df_ptd_cerrado_y_proyectado2, df_margen, on=['CODIGO_PROYECTO'], how='left')

print("DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_ptd_cerrado_y_proyectado2 : ", df_ptd_cerrado_y_proyectado2.shape)
df_ptd_cerrado_y_proyectado2.sample(10)

DIMENSIONES ANTES   DE CAMBIOS DATAFRAME: df_ptd_cerrado_y_proyectado2 :  (340, 7)
DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_ptd_cerrado_y_proyectado2 :  (340, 8)

,CODIGO_PROYECTO,TIPO_CUENTA,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL PTD,TOTAL MEC PROY,TOTAL,MARGEN
86,P-1696,3. COSTO MANO DE OBRA,SANTA VICTORIA - TERRACORP,CONSTRUCTORA TERRACORP S.A.,-35108873.00,-310358.00,-35419231.00,0.12
179,P-1603,4. COSTO SUPERVISIÓN,FARELLONES,EMPRESA CONSTRUCTORA DLP S.A.,0.00,0.00,0.00,0.00
142,P-1718,1. INGRESO,PATIO COMIDAS,EBCO S.A.,123171387.00,24886069.78,148057456.78,0.54
34,P-1672,2. COSTO MATERIALES,STA CLARA (CCDD-TELECOM),CONSTRUCTORA UPC S.A.,-46171517.00,0.00,-46171517.00,0.31
266,P-1677,4. COSTO SUPERVISIÓN,GALVARINO GALLARDO,MOLLER Y PEREZ - COTAPOS CONSTRUCCIONES INDUST...,0.00,0.00,0.00,0.35
261,P-1674,4. COSTO SUPERVISIÓN,OFICINAS BEIERSDORF CHORRILLOS,CONSTRUCTORA SUKSA S.A.,0.00,0.00,0.00,0.63
177,P-1603,1. INGRESO,FARELLONES,EMPRESA CONSTRUCTORA DLP S.A.,0.00,0.00,0.00,0.00
237,P-1663,3. COSTO MANO DE OBRA,OFICINAS EQUIFAX,CONSTRUCTORA VRK INGENIERIA LIMITADA,0.00,0.00,0.00,0.00
123,P-1709,1. INGRESO,CENTRO COMERCIAL PASEO SAN PEDRO,EBCO S.A.,83985973.00,0.00,83985973.00,0.43
305,P-1707,4. COSTO SUPERVISIÓN,LAS TRANQUERAS,CONSTRUCTORA SANTOLAYA LTDA.,0.00,0.00,0.00,0.22

In [1036]:
# TESTING VISUAL 1

print(df_ptd_cerrado_y_proyectado2[df_ptd_cerrado_y_proyectado2["CODIGO_PROYECTO"] == "1. TOTAL"]["TOTAL"].sum())
df_ptd_cerrado_y_proyectado2[df_ptd_cerrado_y_proyectado2["CODIGO_PROYECTO"] == "1. TOTAL"].head(5)

1792805657.882083

,CODIGO_PROYECTO,TIPO_CUENTA,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL PTD,TOTAL MEC PROY,TOTAL,MARGEN
336,1. TOTAL,4. COSTO SUPERVISIÓN,1. TOTAL,1. TOTAL,-74516421.00,-4643261.00,-79159682.00,0.36
337,1. TOTAL,1. INGRESO,1. TOTAL,1. TOTAL,4503192575.00,420312383.88,4923504958.88,0.36
338,1. TOTAL,2. COSTO MATERIALES,1. TOTAL,1. TOTAL,-1686220937.00,-174535806.00,-1860756743.00,0.36
339,1. TOTAL,3. COSTO MANO DE OBRA,1. TOTAL,1. TOTAL,-1076409161.00,-114373715.00,-1190782876.00,0.36

In [1037]:
# TESTING VISUAL 2

print(df_ptd_cerrado_y_proyectado2[df_ptd_cerrado_y_proyectado2["CODIGO_PROYECTO"] == "P-1727"]["TOTAL"].sum())
df_ptd_cerrado_y_proyectado2[df_ptd_cerrado_y_proyectado2["CODIGO_PROYECTO"] == "P-1727"].head(5)

22810427.0

,CODIGO_PROYECTO,TIPO_CUENTA,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL PTD,TOTAL MEC PROY,TOTAL,MARGEN
162,P-1727,3. COSTO MANO DE OBRA,NaN,NaN,-8169893.00,-3455213.00,-11625106.00,0.39
163,P-1727,2. COSTO MATERIALES,NaN,NaN,-13655419.00,-10000000.00,-23655419.00,0.39
164,P-1727,1. INGRESO,NaN,NaN,28570952.00,29520000.00,58090952.00,0.39
330,P-1727,4. COSTO SUPERVISIÓN,NaN,NaN,0.00,0.00,0.00,0.39

In [1038]:
df_ptd_cerrado_y_proyectado2.to_csv('archivos_respaldo/df_ptd_cerrado_y_proyectado2.csv', index = False)

### 4.10 - MERGE PTD + MES EN CURSO (PROYECTADO) (PERSPECTIVA MES ANTERIOR)
Cruce entre df_ptd_cerrado_anterior3 + mes_en_curso_proy_2M_5

NOTA IMPORTANTE:
Ambos dataframes vienen depurados de los MERGES anteriores y no es necesario trabajar con el df_libro_mayor5_base2, por lo tanto solo se realiza concatenación y se crean las filas 1. TOTAL y el MARGEN.

#### 4.10.1 - EXPLORACIÓN Y PREPARACIÓN DE DATAFRAMES

In [1048]:
# TRATAMIENTO DATAFRAME df_ptd_cerrado3_1

# Se realiza una copia del dataframe 
df_ptd_cerrado_anterior3_1 = df_ptd_cerrado_anterior3.copy()

# Se Seleccionan columnas utiles:

df_ptd_cerrado_anterior3_1 = df_ptd_cerrado_anterior3_1[["CODIGO_PROYECTO", "TIPO_CUENTA", "NOMBRE_OBRA", "NOMBRE_CLIENTE", "TOTAL"]]

print("DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME  : df_ptd_cerrado_anterior3   : ", df_ptd_cerrado_anterior3.shape)
print("DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: df_ptd_cerrado_anterior3_1 : ", df_ptd_cerrado_anterior3_1.shape)

# Se renombra campo "TOTAL"
df_ptd_cerrado_anterior3_1 = df_ptd_cerrado_anterior3_1.rename(columns={"TOTAL": "TOTAL PTD"})

df_ptd_cerrado_anterior3_1.sample(5)

DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME  : df_ptd_cerrado_anterior3   :  (340, 9)
DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: df_ptd_cerrado_anterior3_1 :  (340, 5)

,CODIGO_PROYECTO,TIPO_CUENTA,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL PTD
70,P-1690,2. COSTO MATERIALES,ONGOLMO - HOME CONDOMINIO,CANTAUCO CONSTRUCCION LTDA.,-22074402.00
129,P-1713,1. INGRESO,RESERVA SAN FRANCISCO,EMPRESA NACIONAL DE CONSTRUCCIÓN LAS VERTIENTE...,4823540.00
277,P-1684,4. COSTO SUPERVISIÓN,EDIFICIO GOYCOLEA,EBCO S.A.,0.00
81,P-1694,2. COSTO MATERIALES,ECO HUEMUL,CONSTRUCTORA ICF SPA,-18556968.00
55,P-1684,3. COSTO MANO DE OBRA,EDIFICIO GOYCOLEA,EBCO S.A.,-10022964.00

In [1049]:
# TRATAMIENTO DATAFRAME mes en curso proyectado

# Se realiza una copia del dataframe 
mes_en_curso_proy_2M_5_1 = mes_en_curso_proy_2M_5.copy()

# Se Seleccionan columnas utiles:

mes_en_curso_proy_2M_5_1 = mes_en_curso_proy_2M_5_1[["CODIGO_PROYECTO", "TIPO_CUENTA", "TOTAL"]]

print("DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME  : mes_en_curso_proy_2M_5   : ", mes_en_curso_proy_2M_5.shape)
print("DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: mes_en_curso_proy_2M_5_1 : ", mes_en_curso_proy_2M_5_1.shape)

# Se renombra campo "TOTAL"
mes_en_curso_proy_2M_5_1 = mes_en_curso_proy_2M_5_1.rename(columns={"TOTAL": "TOTAL MEC PROY"})

mes_en_curso_proy_2M_5_1.sample(5)

DIMENSIONES ANTES DE TRANSFORMACIÓN DATAFRAME  : mes_en_curso_proy_2M_5   :  (340, 7)
DIMENSIONES DESPUÉS DE TRANSFORMACIÓN DATAFRAME: mes_en_curso_proy_2M_5_1 :  (340, 3)

    CODIGO_PROYECTO            TIPO_CUENTA  TOTAL MEC PROY
207          P-1643             1. INGRESO            0.00
1            P-1591  3. COSTO MANO DE OBRA     -2483998.00
265          P-1676   4. COSTO SUPERVISIÓN            0.00
183          P-1612             1. INGRESO            0.00
82           P-1694             1. INGRESO     17000065.00

#### 4.10.2 - MERGE DE DATAFRAMES

In [1050]:
# Se hace merge manteniendo como base df_ptd_cerrado3_1 que viene del total de proyectos existentes en el libro mayor 2023

print("DIMENSIONES ANTES DE CAMBIOS DATAFRAME: df_ptd_cerrado_anterior3_1 : ", df_ptd_cerrado_anterior3_1.shape)

df_ptd_cerrado_y_proyectado_ant = pd.merge(df_ptd_cerrado_anterior3_1, mes_en_curso_proy_2M_5_1, on=['CODIGO_PROYECTO','TIPO_CUENTA'], how='left')

print("DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_ptd_cerrado_y_proyectado_ant : ", df_ptd_cerrado_y_proyectado_ant.shape)

df_ptd_cerrado_y_proyectado_ant.sample(5)

DIMENSIONES ANTES DE CAMBIOS DATAFRAME: df_ptd_cerrado_anterior3_1 :  (340, 5)
DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_ptd_cerrado_y_proyectado_ant :  (340, 6)

,CODIGO_PROYECTO,TIPO_CUENTA,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL PTD,TOTAL MEC PROY
152,P-1723,1. INGRESO,VILLA PANAMERICANA LOTE C,CONSTRUCTORA MENA Y OVALLE S.A.,18134971.00,68515939.00
297,P-1698,4. COSTO SUPERVISIÓN,CD ANDES,EBCO S.A.,0.00,0.00
108,P-1704,1. INGRESO,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,607371810.00,68606659.28
70,P-1690,2. COSTO MATERIALES,ONGOLMO - HOME CONDOMINIO,CANTAUCO CONSTRUCCION LTDA.,-22074402.00,-1500000.00
55,P-1684,3. COSTO MANO DE OBRA,EDIFICIO GOYCOLEA,EBCO S.A.,-10022964.00,-400643.00

In [1051]:
# Se estandarizan columnas de Totales y se agrega columna TOTAL 

# Reemplazar NaN por cero en las columnas "TOTAL YTD" y "TOTAL LB OLD"
df_ptd_cerrado_y_proyectado_ant["TOTAL PTD"] = df_ptd_cerrado_y_proyectado_ant["TOTAL PTD"].fillna(0)
df_ptd_cerrado_y_proyectado_ant["TOTAL MEC PROY"] = df_ptd_cerrado_y_proyectado_ant["TOTAL MEC PROY"].fillna(0)

# Crear la nueva columna "TOTAL" que suma "TOTAL YTD" y "TOTAL LB OLD"
df_ptd_cerrado_y_proyectado_ant["TOTAL"] = df_ptd_cerrado_y_proyectado_ant["TOTAL PTD"] + df_ptd_cerrado_y_proyectado_ant["TOTAL MEC PROY"]
df_ptd_cerrado_y_proyectado_ant.sample(5)

,CODIGO_PROYECTO,TIPO_CUENTA,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL PTD,TOTAL MEC PROY,TOTAL
318,P-1719,3. COSTO MANO DE OBRA,CD METALPAR,EBCO S.A.,0.00,0.00,0.00
162,P-1727,3. COSTO MANO DE OBRA,NaN,NaN,-4714680.00,-3205300.00,-7919980.00
4,P-1611,2. COSTO MATERIALES,EDIFICIO PLAZA EGAÑA,EBCO S.A.,602825.00,0.00,602825.00
73,P-1691,2. COSTO MATERIALES,ROSARIO ROSALES,CONSTRUCTORA E INMOBILIARIA PRADOVERDE LTDA.,-17523461.00,0.00,-17523461.00
15,P-1645,2. COSTO MATERIALES,LOS TRES ANTONIOS,SOCIEDAD CONSTRUCTORA ECHAVARRI HERMANOS LIMITADA,-8425359.00,0.00,-8425359.00

In [1052]:
# TESTING VISUAL 1

print(df_ptd_cerrado_y_proyectado_ant[df_ptd_cerrado_y_proyectado_ant["CODIGO_PROYECTO"] == "1. TOTAL"]["TOTAL"].sum())
df_ptd_cerrado_y_proyectado_ant[df_ptd_cerrado_y_proyectado_ant["CODIGO_PROYECTO"] == "1. TOTAL"].head(5)

1620339891.221817

,CODIGO_PROYECTO,TIPO_CUENTA,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL PTD,TOTAL MEC PROY,TOTAL
336,1. TOTAL,4. COSTO SUPERVISIÓN,1. TOTAL,1. TOTAL,-69873160.00,-5096121.00,-74969281.00
337,1. TOTAL,1. INGRESO,1. TOTAL,1. TOTAL,4042394062.00,455821573.22,4498215635.22
338,1. TOTAL,2. COSTO MATERIALES,1. TOTAL,1. TOTAL,-1516685549.00,-212300000.00,-1728985549.00
339,1. TOTAL,3. COSTO MANO DE OBRA,1. TOTAL,1. TOTAL,-962035446.00,-111885468.00,-1073920914.00

In [1053]:
# TESTING VISUAL 2

print(df_ptd_cerrado_y_proyectado_ant[df_ptd_cerrado_y_proyectado_ant["CODIGO_PROYECTO"] == "P-1727"]["TOTAL"].sum())
df_ptd_cerrado_y_proyectado_ant[df_ptd_cerrado_y_proyectado_ant["CODIGO_PROYECTO"] == "P-1727"].head(5)

7086615.0

,CODIGO_PROYECTO,TIPO_CUENTA,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL PTD,TOTAL MEC PROY,TOTAL
162,P-1727,3. COSTO MANO DE OBRA,NaN,NaN,-4714680.00,-3205300.00,-7919980.00
163,P-1727,2. COSTO MATERIALES,NaN,NaN,-3753865.00,-9500000.00,-13253865.00
164,P-1727,1. INGRESO,NaN,NaN,11005000.00,17255460.00,28260460.00
330,P-1727,4. COSTO SUPERVISIÓN,NaN,NaN,0.00,0.00,0.00

#### 4.10.3 - AGREGACIÓN COLUMNA MARGEN

In [1054]:
#CREACIÓN DE MARGENES

df_ptd_cerrado_y_proyectado_ant2 = df_ptd_cerrado_y_proyectado_ant.copy()

# Esta línea de código es para evitar ver el error.
with np.errstate(divide='ignore', invalid='ignore'):

    df_margen = df_ptd_cerrado_y_proyectado_ant2.groupby(['CODIGO_PROYECTO']).apply(lambda x: pd.Series({
        'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA', '4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
    }))

df_margen = pd.DataFrame(df_margen.to_records())
df_margen['MARGEN'] = df_margen['MARGEN'].fillna(0).replace(-np.inf, 0)
df_margen.replace([np.inf, -np.inf, np.nan], 0, inplace=True)


# mostrar el DataFrame resultante
df_margen.sample(10)


print("DIMENSIONES ANTES   DE CAMBIOS DATAFRAME: df_ptd_cerrado_y_proyectado_ant2 : ", df_ptd_cerrado_y_proyectado_ant2.shape)

df_ptd_cerrado_y_proyectado_ant2 = pd.merge(df_ptd_cerrado_y_proyectado_ant2, df_margen, on=['CODIGO_PROYECTO'], how='left')

print("DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_ptd_cerrado_y_proyectado_ant2 : ", df_ptd_cerrado_y_proyectado_ant2.shape)
df_ptd_cerrado_y_proyectado_ant2.sample(10)

DIMENSIONES ANTES   DE CAMBIOS DATAFRAME: df_ptd_cerrado_y_proyectado_ant2 :  (340, 7)
DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_ptd_cerrado_y_proyectado_ant2 :  (340, 8)

,CODIGO_PROYECTO,TIPO_CUENTA,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL PTD,TOTAL MEC PROY,TOTAL,MARGEN
33,P-1670,1. INGRESO,MK II SEGURIDAD Y REDES,COMERCIAL K SPA.,164021639.00,0.00,164021639.00,0.65
102,P-1701,1. INGRESO,EDIFICIO ZENTENO,CONSTRUCTORA GREVIA SPA.,79529092.00,0.00,79529092.00,0.26
317,P-1719,2. COSTO MATERIALES,CD METALPAR,EBCO S.A.,0.00,0.00,0.00,1.00
315,P-1717,4. COSTO SUPERVISIÓN,ECO QUILÍN I,CONSTRUCTORA ICF SPA,0.00,0.00,0.00,0.00
90,P-1697,2. COSTO MATERIALES,ESTOCOLMO,CONSTRUCTORA FORTALEZA S.A,-25685194.00,-2500000.00,-28185194.00,0.47
255,P-1672,4. COSTO SUPERVISIÓN,STA CLARA (CCDD-TELECOM),CONSTRUCTORA UPC S.A.,0.00,0.00,0.00,0.32
230,P-1660,1. INGRESO,CORONEL ALVARADO,LARRAIN PRIETO RISOPATRON S.A.,26532592.00,0.00,26532592.00,0.31
293,P-1695,4. COSTO SUPERVISIÓN,EDIFICIO ESTORIL,EMPRESA CONSTRUCTORA BRAVO E IZQUIERDO,0.00,0.00,0.00,0.07
100,P-1701,3. COSTO MANO DE OBRA,EDIFICIO ZENTENO,CONSTRUCTORA GREVIA SPA.,-25556198.00,0.00,-25556198.00,0.26
201,P-1641,1. INGRESO,INACAP TEMUCO,DESARROLLOS CONSTRUCTIVOS AXIS SOCIEDAD ANONIMA,0.00,0.00,0.00,0.00

In [1055]:
# TESTING VISUAL 1

print(df_ptd_cerrado_y_proyectado_ant2[df_ptd_cerrado_y_proyectado_ant2["CODIGO_PROYECTO"] == "1. TOTAL"]["TOTAL"].sum())
df_ptd_cerrado_y_proyectado_ant2[df_ptd_cerrado_y_proyectado_ant2["CODIGO_PROYECTO"] == "1. TOTAL"].head(5)

1620339891.221817

,CODIGO_PROYECTO,TIPO_CUENTA,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL PTD,TOTAL MEC PROY,TOTAL,MARGEN
336,1. TOTAL,4. COSTO SUPERVISIÓN,1. TOTAL,1. TOTAL,-69873160.00,-5096121.00,-74969281.00,0.36
337,1. TOTAL,1. INGRESO,1. TOTAL,1. TOTAL,4042394062.00,455821573.22,4498215635.22,0.36
338,1. TOTAL,2. COSTO MATERIALES,1. TOTAL,1. TOTAL,-1516685549.00,-212300000.00,-1728985549.00,0.36
339,1. TOTAL,3. COSTO MANO DE OBRA,1. TOTAL,1. TOTAL,-962035446.00,-111885468.00,-1073920914.00,0.36

In [1056]:
# TESTING VISUAL 2

print(df_ptd_cerrado_y_proyectado_ant[df_ptd_cerrado_y_proyectado_ant["CODIGO_PROYECTO"] == "P-1704"]["TOTAL"].sum())
df_ptd_cerrado_y_proyectado_ant[df_ptd_cerrado_y_proyectado_ant["CODIGO_PROYECTO"] == "P-1704"].head(5)

321376053.27884996

,CODIGO_PROYECTO,TIPO_CUENTA,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL PTD,TOTAL MEC PROY,TOTAL
106,P-1704,3. COSTO MANO DE OBRA,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,-132643971.00,-14242535.00,-146886506.00
107,P-1704,2. COSTO MATERIALES,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,-183715910.00,-24000000.00,-207715910.00
108,P-1704,1. INGRESO,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,607371810.00,68606659.28,675978469.28
302,P-1704,4. COSTO SUPERVISIÓN,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,0.00,0.00,0.00

In [1057]:
df_ptd_cerrado_y_proyectado_ant.to_csv('archivos_respaldo/df_ptd_cerrado_y_proyectado_ant.csv', index = False)

### 4.11 MERGE PRESUPUESTO
Se realiza mergen entre los datos que provienen de la planilla de presupuesto y tabla de presupuestos.

#### 4.11.1 CREACIÓN Y TRATAMIENTO INICIAL DE DATAFRAMES A CONCANTENAR.

In [1058]:
print("DIMENSIONES DATAFRAME *df_tabla_presupuesto3* :", df_tabla_presupuesto3.shape)
df_tabla_presupuesto4 = df_tabla_presupuesto3.copy()
print("DIMENSIONES DATAFRAME *df_presupuesto2* :", df_presupuesto2.shape)
df_presupuesto3 = df_presupuesto2.copy()

DIMENSIONES DATAFRAME *df_tabla_presupuesto3* : (388, 5)
DIMENSIONES DATAFRAME *df_presupuesto2* : (70, 4)

In [1059]:
df_tabla_presupuesto4 = df_tabla_presupuesto4[['CODIGO_PROYECTO', 'TIPO_COSTO', 'TOTAL', 'ORIGEN']]
df_tabla_presupuesto4.rename(columns={'TIPO_COSTO': 'TIPO_CUENTA'}, inplace=True)

df_tabla_presupuesto4.sample(10)

    CODIGO_PROYECTO            TIPO_CUENTA         TOTAL             ORIGEN
306          P-1706    2. COSTO MATERIALES  -39538656.00  TABLA_PRESUPUESTO
216          P-1674    2. COSTO MATERIALES  -12233776.00  TABLA_PRESUPUESTO
90           P-1632    2. COSTO MATERIALES -219387084.00  TABLA_PRESUPUESTO
116          P-1640   4. COSTO SUPERVISIÓN    -361130.00  TABLA_PRESUPUESTO
331          P-1714  3. COSTO MANO DE OBRA   -7835147.00  TABLA_PRESUPUESTO
19           P-1608  3. COSTO MANO DE OBRA   -3592950.00  TABLA_PRESUPUESTO
133          P-1646  3. COSTO MANO DE OBRA   -5672932.00  TABLA_PRESUPUESTO
349          P-1722    2. COSTO MATERIALES -124836610.00  TABLA_PRESUPUESTO
344          P-1718   4. COSTO SUPERVISIÓN          0.00  TABLA_PRESUPUESTO
18           P-1608    2. COSTO MATERIALES  -19600682.00  TABLA_PRESUPUESTO

In [1060]:
df_presupuesto3.rename(columns={'VALOR': 'TOTAL'}, inplace=True)
df_presupuesto3.sample(10)

   CODIGO_PROYECTO        TOTAL TIPO_CUENTA                ORIGEN
16          P-1672 134443080.00  1. INGRESO  PLANILLA PRESUPUESTO
24          P-1680 206761360.91  1. INGRESO  PLANILLA PRESUPUESTO
42          P-1698  57807633.83  1. INGRESO  PLANILLA PRESUPUESTO
19          P-1675  17376021.17  1. INGRESO  PLANILLA PRESUPUESTO
50          P-1706 104786220.54  1. INGRESO  PLANILLA PRESUPUESTO
46          P-1702         0.00  1. INGRESO  PLANILLA PRESUPUESTO
12          P-1668  37160752.60  1. INGRESO  PLANILLA PRESUPUESTO
40          P-1696  75985768.29  1. INGRESO  PLANILLA PRESUPUESTO
41          P-1697  97580171.14  1. INGRESO  PLANILLA PRESUPUESTO
21          P-1677  83882285.07  1. INGRESO  PLANILLA PRESUPUESTO

#### 4.11.2 SE CONCATENA LOS DATAFRAMES

In [1061]:
# Imprimir las dimensiones de los DataFrames
print("Dimensiones de df_tabla_presupuesto4:", df_tabla_presupuesto4.shape)
print("Dimensiones de df_presupuesto3:", df_presupuesto3.shape)

# Concatenar los DataFrames
df_presupuesto_final = pd.concat([df_tabla_presupuesto4, df_presupuesto3], ignore_index=True)
print("Dimensiones de df_presupuesto_final:", df_presupuesto_final.shape)

df_presupuesto_final.sample(10)

Dimensiones de df_tabla_presupuesto4: (388, 4)
Dimensiones de df_presupuesto3: (70, 4)
Dimensiones de df_presupuesto_final: (458, 4)

    CODIGO_PROYECTO            TIPO_CUENTA        TOTAL                ORIGEN
209          P-1671   4. COSTO SUPERVISIÓN  -3984060.00     TABLA_PRESUPUESTO
52           P-1619  3. COSTO MANO DE OBRA  -2290260.00     TABLA_PRESUPUESTO
0            P-1602    2. COSTO MATERIALES  -8959798.00     TABLA_PRESUPUESTO
416          P-1685             1. INGRESO 153894009.96  PLANILLA PRESUPUESTO
49           P-1618  3. COSTO MANO DE OBRA  -3428421.00     TABLA_PRESUPUESTO
190          P-1665  3. COSTO MANO DE OBRA -22328816.00     TABLA_PRESUPUESTO
137          P-1647   4. COSTO SUPERVISIÓN   -307920.00     TABLA_PRESUPUESTO
409          P-1678             1. INGRESO  14497350.00  PLANILLA PRESUPUESTO
325          P-1712  3. COSTO MANO DE OBRA -30109897.00     TABLA_PRESUPUESTO
34           P-1613  3. COSTO MANO DE OBRA  -6731462.00     TABLA_PRESUPUESTO

#### 4.11.3 SE REALIZA MERGE CON CODIGOS DE PROYECTO

In [1062]:
# Se hace merge con los codigos de proyecto.

print("Dimensiones de df_libro_mayor5_base2", df_libro_mayor5_base2.shape)

df_presupuesto_final2 = pd.merge(df_libro_mayor5_base2, df_presupuesto_final, on=['CODIGO_PROYECTO','TIPO_CUENTA'], how='left')

print("Dimensiones de df_presupuesto_final2", df_presupuesto_final2.shape)
df_presupuesto_final2.sample(10)

Dimensiones de df_libro_mayor5_base2 (340, 5)
Dimensiones de df_presupuesto_final2 (340, 7)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL,ORIGEN
339,1. TOTAL,3. COSTO MANO DE OBRA,0,1. TOTAL,1. TOTAL,NaN,NaN
83,P-1695,3. COSTO MANO DE OBRA,0,EDIFICIO ESTORIL,EMPRESA CONSTRUCTORA BRAVO E IZQUIERDO,-19577383.00,TABLA_PRESUPUESTO
130,P-1714,3. COSTO MANO DE OBRA,0,DEPARTAMENTAL II,CONSTRUCTORA FUERZA SUR DOS SPA,-7835147.00,TABLA_PRESUPUESTO
89,P-1697,3. COSTO MANO DE OBRA,0,ESTOCOLMO,CONSTRUCTORA FORTALEZA S.A,0.00,TABLA_PRESUPUESTO
242,P-1666,1. INGRESO,0,CD AXIONLONG,EBCO S.A.,NaN,NaN
213,P-1645,3. COSTO MANO DE OBRA,0,LOS TRES ANTONIOS,SOCIEDAD CONSTRUCTORA ECHAVARRI HERMANOS LIMITADA,-2547080.00,TABLA_PRESUPUESTO
307,P-1709,4. COSTO SUPERVISIÓN,0,CENTRO COMERCIAL PASEO SAN PEDRO,EBCO S.A.,-1433251.00,TABLA_PRESUPUESTO
296,P-1698,3. COSTO MANO DE OBRA,0,CD ANDES,EBCO S.A.,-6815995.00,TABLA_PRESUPUESTO
313,P-1717,1. INGRESO,0,ECO QUILÍN I,CONSTRUCTORA ICF SPA,170727176.42,PLANILLA PRESUPUESTO
247,P-1668,1. INGRESO,0,QUILLAYES PLAZA,E.MOLINA MOREL CONSTRUCTORA S.A.,37160752.60,PLANILLA PRESUPUESTO

#### 4.11.4 SE AGREGAN FILAS DE "1.TOTAL"

In [1063]:
# Calcular la suma de los valores totales para cada tipo de cuenta


df_total = df_presupuesto_final2.groupby('TIPO_CUENTA')['TOTAL'].sum().reset_index()
df_total['CODIGO_PROYECTO'] = '1. TOTAL'

# Agregar las filas adicionales al DataFrame
df_presupuesto_final2 = pd.concat([df_presupuesto_final2, df_total], ignore_index=True)

df_presupuesto_final2.sample(10)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL,ORIGEN
89,P-1697,3. COSTO MANO DE OBRA,0.00,ESTOCOLMO,CONSTRUCTORA FORTALEZA S.A,0.00,TABLA_PRESUPUESTO
83,P-1695,3. COSTO MANO DE OBRA,0.00,EDIFICIO ESTORIL,EMPRESA CONSTRUCTORA BRAVO E IZQUIERDO,-19577383.00,TABLA_PRESUPUESTO
194,P-1632,4. COSTO SUPERVISIÓN,0.00,CHORRILLOS CLOROX,CONSTRUCTORA SUKSA S.A.,-7735858.00,TABLA_PRESUPUESTO
118,P-1708,3. COSTO MANO DE OBRA,0.00,ECO ESPAÑA,CONSTRUCTORA ICF SPA,-42796967.00,TABLA_PRESUPUESTO
190,P-1626,3. COSTO MANO DE OBRA,0.00,CLINICA BIO BIO,CONSTRUCTORA LYD S.A.,-40286795.00,TABLA_PRESUPUESTO
274,P-1683,1. INGRESO,0.00,CD BP-A05,EBCO S.A.,57098333.68,PLANILLA PRESUPUESTO
276,P-1683,4. COSTO SUPERVISIÓN,0.00,CD BP-A05,EBCO S.A.,-1865714.00,TABLA_PRESUPUESTO
185,P-1612,4. COSTO SUPERVISIÓN,0.00,BARRIO PARQUE SANTIAGO 7,CONSTRUCTORA ALTURAS DEL SUR S.A,-2259746.00,TABLA_PRESUPUESTO
53,P-1682,1. INGRESO,0.00,PLAZA CEPPI,EMP. CONSTRUCTORA INGENIEROS S.A.,77511681.77,PLANILLA PRESUPUESTO
125,P-1712,2. COSTO MATERIALES,0.00,CENTRO COMERCIAL VIÑA OUTLET PARK,EBCO S.A.,-104292394.00,TABLA_PRESUPUESTO

In [1064]:
# Modificar las columnas "NOMBRE_OBRA" y "NOMBRE_CLIENTE" para "1. TOTAL"
df_presupuesto_final2.loc[df_presupuesto_final2['CODIGO_PROYECTO'] == '1. TOTAL', ['NOMBRE_OBRA', 'NOMBRE_CLIENTE']] = '1. TOTAL'

df_presupuesto_final2.sample(10)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL,ORIGEN
239,P-1664,1. INGRESO,0.00,MK II PCI,COMERCIAL K SPA.,NaN,NaN
0,P-1557,3. COSTO MANO DE OBRA,0.00,ROSARIO ROSALES,EBCO S.A.,NaN,NaN
332,P-1728,4. COSTO SUPERVISIÓN,0.00,NaN,NaN,NaN,NaN
305,P-1707,4. COSTO SUPERVISIÓN,0.00,LAS TRANQUERAS,CONSTRUCTORA SANTOLAYA LTDA.,-3909676.00,TABLA_PRESUPUESTO
37,P-1674,2. COSTO MATERIALES,0.00,OFICINAS BEIERSDORF CHORRILLOS,CONSTRUCTORA SUKSA S.A.,-12233776.00,TABLA_PRESUPUESTO
190,P-1626,3. COSTO MANO DE OBRA,0.00,CLINICA BIO BIO,CONSTRUCTORA LYD S.A.,-40286795.00,TABLA_PRESUPUESTO
23,P-1661,2. COSTO MATERIALES,0.00,SAN VICENTE DE PAUL,DANACORP S.A,-15916097.00,TABLA_PRESUPUESTO
4,P-1611,2. COSTO MATERIALES,0.00,EDIFICIO PLAZA EGAÑA,EBCO S.A.,-24208141.00,TABLA_PRESUPUESTO
276,P-1683,4. COSTO SUPERVISIÓN,0.00,CD BP-A05,EBCO S.A.,-1865714.00,TABLA_PRESUPUESTO
230,P-1660,1. INGRESO,0.00,CORONEL ALVARADO,LARRAIN PRIETO RISOPATRON S.A.,39366390.00,PLANILLA PRESUPUESTO

#### 4.11.5 AGREGACIÓN COLUMNA MARGEN

In [1065]:
#CREACIÓN DE MARGENES

df_presupuesto_final3 = df_presupuesto_final2.copy()

# Esta línea de código es para evitar ver el error.
with np.errstate(divide='ignore', invalid='ignore'):

    df_margen = df_presupuesto_final3.groupby(['CODIGO_PROYECTO']).apply(lambda x: pd.Series({
        'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA', '4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
    }))

df_margen = pd.DataFrame(df_margen.to_records())
df_margen['MARGEN'] = df_margen['MARGEN'].fillna(0).replace(-np.inf, 0)
df_margen.replace([np.inf, -np.inf, np.nan], 0, inplace=True)


# mostrar el DataFrame resultante
df_margen.sample(10)


print("DIMENSIONES ANTES   DE CAMBIOS DATAFRAME: df_presupuesto_final3 : ", df_presupuesto_final3.shape)

df_presupuesto_final4 = pd.merge(df_presupuesto_final3, df_margen, on=['CODIGO_PROYECTO'], how='left')

print("DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_presupuesto_final4 : ", df_presupuesto_final4.shape)
df_presupuesto_final4.sample(10)

DIMENSIONES ANTES   DE CAMBIOS DATAFRAME: df_presupuesto_final3 :  (344, 7)
DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_presupuesto_final4 :  (344, 8)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL,ORIGEN,MARGEN
262,P-1675,3. COSTO MANO DE OBRA,0.00,PALENA II,CONSTRUCTORA MYA SPA.,-2481400.00,TABLA_PRESUPUESTO,0.41
323,P-1722,2. COSTO MATERIALES,0.00,ECO CERRILLOS,CONSTRUCTORA ICF SPA,-124836610.00,TABLA_PRESUPUESTO,0.56
159,P-1726,3. COSTO MANO DE OBRA,0.00,NaN,NaN,0.00,TABLA_PRESUPUESTO,0.59
114,P-1706,1. INGRESO,0.00,CALIFORNIA,CONSTRUCTORA E INVERSIONES VITAL SPA.,104786220.54,PLANILLA PRESUPUESTO,0.39
253,P-1670,4. COSTO SUPERVISIÓN,0.00,MK II SEGURIDAD Y REDES,COMERCIAL K SPA.,-3716166.00,TABLA_PRESUPUESTO,0.52
304,P-1706,4. COSTO SUPERVISIÓN,0.00,CALIFORNIA,CONSTRUCTORA E INVERSIONES VITAL SPA.,-4824811.00,TABLA_PRESUPUESTO,0.39
77,P-1692,1. INGRESO,0.00,JOSÉ PEREZ COTAPOS,EBCO S.A.,91720000.00,PLANILLA PRESUPUESTO,0.31
340,1. TOTAL,1. INGRESO,NaN,1. TOTAL,1. TOTAL,7808050447.84,NaN,0.26
164,P-1727,1. INGRESO,0.00,NaN,NaN,166727122.73,PLANILLA PRESUPUESTO,0.44
342,1. TOTAL,3. COSTO MANO DE OBRA,NaN,1. TOTAL,1. TOTAL,-1139100986.00,NaN,0.26

In [1066]:
# TESTING VISUAL 1

print(df_presupuesto_final4[df_presupuesto_final4["CODIGO_PROYECTO"] == "1. TOTAL"]["TOTAL"].sum())
df_presupuesto_final4 = df_presupuesto_final4[~((df_presupuesto_final4['CODIGO_PROYECTO'] == '1. TOTAL') & df_presupuesto_final4['TOTAL'].isna())]
df_presupuesto_final4[df_presupuesto_final4["CODIGO_PROYECTO"] == "1. TOTAL"]

2050798485.5402288

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL,ORIGEN,MARGEN
340,1. TOTAL,1. INGRESO,NaN,1. TOTAL,1. TOTAL,7808050447.84,NaN,0.26
341,1. TOTAL,2. COSTO MATERIALES,NaN,1. TOTAL,1. TOTAL,-4375432891.30,NaN,0.26
342,1. TOTAL,3. COSTO MANO DE OBRA,NaN,1. TOTAL,1. TOTAL,-1139100986.00,NaN,0.26
343,1. TOTAL,4. COSTO SUPERVISIÓN,NaN,1. TOTAL,1. TOTAL,-242718085.00,NaN,0.26

In [1067]:
# TESTING VISUAL 2

print(df_presupuesto_final4[df_presupuesto_final4["CODIGO_PROYECTO"] == "P-1704"]["TOTAL"].sum())
df_presupuesto_final4 = df_presupuesto_final4[(df_presupuesto_final4['CODIGO_PROYECTO'] != '1. TOTAL') | (df_presupuesto_final4['ORIGEN'] != 'AGREGACIÓN TIPO_CUENTA VALOR O')]
df_presupuesto_final4[df_presupuesto_final4["CODIGO_PROYECTO"] == "P-1704"]

483525857.8694887

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL,ORIGEN,MARGEN
106,P-1704,3. COSTO MANO DE OBRA,0.00,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,-156095149.00,TABLA_PRESUPUESTO,0.46
107,P-1704,2. COSTO MATERIALES,0.00,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,-387816472.00,TABLA_PRESUPUESTO,0.46
108,P-1704,1. INGRESO,0.00,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,1058718831.87,PLANILLA PRESUPUESTO,0.46
302,P-1704,4. COSTO SUPERVISIÓN,0.00,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,-31281353.00,TABLA_PRESUPUESTO,0.46

In [1068]:
df_presupuesto_final4.to_csv('archivos_respaldo/df_presupuesto_final4.csv', index = False)

### 4.12 MERGE PENDIENTE (PRESUPUESTO -PDT CERRADO)

#### 4.12.1 EXPLORACIÓN Y PREPARACIÓN DE DATAFRAMES

In [1069]:
# Exploración de dataframe base "df_libro_mayor5_base2"

print("DIMENSIONES ANTES DE CAMBIOS DATAFRAME  : df_libro_mayor5_base2 : ", df_libro_mayor5_base2.shape)
df_libro_mayor5_base2.sample(5)

DIMENSIONES ANTES DE CAMBIOS DATAFRAME  : df_libro_mayor5_base2 :  (340, 5)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE
338,1. TOTAL,2. COSTO MATERIALES,0,1. TOTAL,1. TOTAL
86,P-1696,3. COSTO MANO DE OBRA,0,SANTA VICTORIA - TERRACORP,CONSTRUCTORA TERRACORP S.A.
70,P-1690,2. COSTO MATERIALES,0,ONGOLMO - HOME CONDOMINIO,CANTAUCO CONSTRUCCION LTDA.
126,P-1712,1. INGRESO,0,CENTRO COMERCIAL VIÑA OUTLET PARK,EBCO S.A.
199,P-1639,3. COSTO MANO DE OBRA,0,LYON 2546,MOLLER Y PEREZ - COTAPOS CONSTRUCCIONES INDUST...

In [1070]:
# Exploración y tratamiento de dataframe de presupuesto "df_presupuesto_final4"

print("DIMENSIONES ANTES DE CAMBIOS DATAFRAME  : df_presupuesto_final4 : ", df_presupuesto_final4.shape)

df_presupuesto_final4_1 = df_presupuesto_final4.copy()

df_presupuesto_final4_1 = df_presupuesto_final4_1.pivot_table(values="TOTAL", index=['CODIGO_PROYECTO', 'TIPO_CUENTA'], aggfunc='sum')
df_presupuesto_final4_1 = pd.DataFrame(df_presupuesto_final4_1.to_records())

df_presupuesto_final4_1.rename(columns={'TOTAL': 'TOTAL_PREP'}, inplace=True)

print("DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME  : df_presupuesto_final4_1 : ", df_presupuesto_final4_1.shape)

df_presupuesto_final4_1.sample(10)

DIMENSIONES ANTES DE CAMBIOS DATAFRAME  : df_presupuesto_final4 :  (340, 8)
DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME  : df_presupuesto_final4_1 :  (340, 3)

    CODIGO_PROYECTO            TIPO_CUENTA   TOTAL_PREP
55           P-1642   4. COSTO SUPERVISIÓN   -724994.00
90           P-1660  3. COSTO MANO DE OBRA  -5998123.00
131          P-1673   4. COSTO SUPERVISIÓN   -779013.00
227          P-1698   4. COSTO SUPERVISIÓN  -1552353.00
38           P-1632  3. COSTO MANO DE OBRA -43457804.00
199          P-1691   4. COSTO SUPERVISIÓN  -2099697.00
135          P-1674   4. COSTO SUPERVISIÓN   -736437.00
52           P-1642             1. INGRESO         0.00
81           P-1656    2. COSTO MATERIALES -12184301.00
311          P-1722   4. COSTO SUPERVISIÓN         0.00

In [1071]:
# Exploración y tratamiento de dataframe de presupuesto "df_ptd_cerrado3"

# Se Crea una copia del dataframe df_ptd_cerrado3 para trabajarlo 

print("DIMENSIONES ANTES DE CAMBIOS DATAFRAME  : df_ptd_cerrado3 : ", df_ptd_cerrado3.shape)

df_ptd_cerrado3_1= df_ptd_cerrado3.drop(["NOMBRE_OBRA","NOMBRE_CLIENTE","TOTAL_LB","TOTAL YTD","TOTAL LB OLD","MARGEN"], axis=1)

df_ptd_cerrado3_2 = df_ptd_cerrado3_1.pivot_table(values="TOTAL", index=['CODIGO_PROYECTO', 'TIPO_CUENTA'], aggfunc='sum')
df_ptd_cerrado3_2 = pd.DataFrame(df_ptd_cerrado3_2.to_records())

print("DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_ptd_cerrado3_1 : ", df_ptd_cerrado3_1.shape)
df_ptd_cerrado3_2.rename(columns={'TOTAL': 'TOTAL_PDT'}, inplace=True)

print("DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME  : df_ptd_cerrado3_2 : ", df_ptd_cerrado3_2.shape)

df_ptd_cerrado3_2.sample(10)

DIMENSIONES ANTES DE CAMBIOS DATAFRAME  : df_ptd_cerrado3 :  (340, 9)
DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_ptd_cerrado3_1 :  (340, 3)
DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME  : df_ptd_cerrado3_2 :  (340, 3)

    CODIGO_PROYECTO            TIPO_CUENTA    TOTAL_PDT
152          P-1680             1. INGRESO 188764235.00
277          P-1714    2. COSTO MATERIALES -37590396.00
319          P-1724   4. COSTO SUPERVISIÓN         0.00
132          P-1674             1. INGRESO  23646019.00
163          P-1682   4. COSTO SUPERVISIÓN         0.00
284          P-1716             1. INGRESO 125927056.00
260          P-1708             1. INGRESO    392191.00
270          P-1712  3. COSTO MANO DE OBRA -32290414.00
79           P-1653   4. COSTO SUPERVISIÓN         0.00
167          P-1683   4. COSTO SUPERVISIÓN         0.00

#### 4.12.2 MERGE ENTRE DATAFRAMES

In [1072]:
# MERGE df_libro_mayor5_2 y df_presupuesto_final5_2

print("DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_libro_mayor5_base2      : ", df_libro_mayor5_base2.shape)
print("DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_presupuesto_final4_1    : ", df_presupuesto_final4_1.shape)
print("DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_ptd_cerrado3_2          : ", df_ptd_cerrado3_2.shape)

df_pendiente = df_libro_mayor5_base2.merge(df_presupuesto_final4_1, on=['CODIGO_PROYECTO','TIPO_CUENTA'], how='left')

print("DIMENSIONES DESPUÉS De CAMBIOS DATAFRAME: df_pendiente               : ", df_pendiente.shape)

df_pendiente.sample(5)

DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_libro_mayor5_base2      :  (340, 5)
DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_presupuesto_final4_1    :  (340, 3)
DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_ptd_cerrado3_2          :  (340, 3)
DIMENSIONES DESPUÉS De CAMBIOS DATAFRAME: df_pendiente               :  (340, 6)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL_PREP
33,P-1670,1. INGRESO,0,MK II SEGURIDAD Y REDES,COMERCIAL K SPA.,202553946.00
313,P-1717,1. INGRESO,0,ECO QUILÍN I,CONSTRUCTORA ICF SPA,170727176.42
330,P-1727,4. COSTO SUPERVISIÓN,0,NaN,NaN,0.00
286,P-1689,4. COSTO SUPERVISIÓN,0,CASINO BUENAVENTURA,EBCO S.A.,-491478.00
278,P-1685,1. INGRESO,0,MAPA EDIFICIOS NO OPERACIONALES,CLARO VICUÑA VALENZUELA S.A.,153894009.96

In [1073]:
# MERGE df_pendiente y df_ptd_cerrado3_2

print("DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_pendiente               : ", df_pendiente.shape)
print("DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_ptd_cerrado3_2          : ", df_ptd_cerrado3_2.shape)

df_pendiente2 = df_pendiente.merge(df_ptd_cerrado3_2, on=['CODIGO_PROYECTO','TIPO_CUENTA'], how='left')

print("DIMENSIONES DESPUÉS De CAMBIOS DATAFRAME: df_pendiente2              : ", df_pendiente2.shape)
df_pendiente2.sample(5)

DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_pendiente               :  (340, 6)
DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_ptd_cerrado3_2          :  (340, 3)
DIMENSIONES DESPUÉS De CAMBIOS DATAFRAME: df_pendiente2              :  (340, 7)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL_PREP,TOTAL_PDT
323,P-1722,2. COSTO MATERIALES,0,ECO CERRILLOS,CONSTRUCTORA ICF SPA,-124836610.00,0.00
265,P-1676,4. COSTO SUPERVISIÓN,0,LO CAMPINO,EBCO S.A.,-8951416.00,0.00
10,P-1639,2. COSTO MATERIALES,0,LYON 2546,MOLLER Y PEREZ - COTAPOS CONSTRUCCIONES INDUST...,-18254050.00,-11381381.00
273,P-1682,4. COSTO SUPERVISIÓN,0,PLAZA CEPPI,EMP. CONSTRUCTORA INGENIEROS S.A.,0.00,0.00
22,P-1660,2. COSTO MATERIALES,0,CORONEL ALVARADO,LARRAIN PRIETO RISOPATRON S.A.,-13492166.00,-12054286.00

In [1074]:
# TESTING VISUAL 1
 
df_pendiente2[df_pendiente2["CODIGO_PROYECTO"]=="P-1643"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL_PREP,TOTAL_PDT
13,P-1643,2. COSTO MATERIALES,0,CHORRILLOS M4,CONSTRUCTORA SUKSA S.A.,-49797008.30,-433653.00
207,P-1643,1. INGRESO,0,CHORRILLOS M4,CONSTRUCTORA SUKSA S.A.,0.00,0.00
208,P-1643,3. COSTO MANO DE OBRA,0,CHORRILLOS M4,CONSTRUCTORA SUKSA S.A.,0.00,0.00
209,P-1643,4. COSTO SUPERVISIÓN,0,CHORRILLOS M4,CONSTRUCTORA SUKSA S.A.,0.00,0.00

In [1075]:
# TESTING VISUAL 2
 
df_pendiente2[df_pendiente2["CODIGO_PROYECTO"]=="1. TOTAL"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL_PREP,TOTAL_PDT
336,1. TOTAL,4. COSTO SUPERVISIÓN,0,1. TOTAL,1. TOTAL,-242718085.00,-74516421.00
337,1. TOTAL,1. INGRESO,0,1. TOTAL,1. TOTAL,7808050447.84,4503192575.00
338,1. TOTAL,2. COSTO MATERIALES,0,1. TOTAL,1. TOTAL,-4375432891.30,-1686220937.00
339,1. TOTAL,3. COSTO MANO DE OBRA,0,1. TOTAL,1. TOTAL,-1139100986.00,-1076409161.00

#### 4.12.3 CALCULO DE COLUMNA TOTAL

El objetivo de este Dataframe es lograr identificar la diferencia entre el el presupuesto y el PDT Cerrado.

In [1076]:
# Modificar los valores negativos a positivos
df_pendiente2['TOTAL_PREP2'] = np.where(df_pendiente2['TOTAL_PREP'] < 0, df_pendiente2['TOTAL_PREP'] * -1, df_pendiente2['TOTAL_PREP'])

df_pendiente2['TOTAL_PDT2'] = np.where(df_pendiente2['TOTAL_PDT'] < 0, df_pendiente2['TOTAL_PDT'] * -1, df_pendiente2['TOTAL_PDT'])

# Calcular la columna "TOTAL" con los valores positivos
df_pendiente2['TOTAL_1'] = df_pendiente2['TOTAL_PREP2'] - df_pendiente2['TOTAL_PDT2']

df_pendiente2.sample(5)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL_PREP,TOTAL_PDT,TOTAL_PREP2,TOTAL_PDT2,TOTAL_1
1,P-1591,3. COSTO MANO DE OBRA,0,EDIFICIO ESTORIL,EBCO S.A.,0.00,-4593960.00,0.00,4593960.00,-4593960.00
46,P-1679,2. COSTO MATERIALES,0,JUAN SABAJ,CONSTRUCTORA GREVIA,-61846896.00,-96622.00,61846896.00,96622.00,61750274.00
132,P-1714,1. INGRESO,0,DEPARTAMENTAL II,CONSTRUCTORA FUERZA SUR DOS SPA,61454685.57,54932807.00,61454685.57,54932807.00,6521878.57
61,P-1686,1. INGRESO,0,MACUL ICALMA,EMPRESA CONSTRUCTORA INGEVEC S.A.,105081270.13,99626406.00,105081270.13,99626406.00,5454864.13
25,P-1664,2. COSTO MATERIALES,0,MK II PCI,COMERCIAL K SPA.,-72301755.00,-50055425.00,72301755.00,50055425.00,22246330.00

In [1077]:
# TESTING VISUAL 1
 
df_pendiente2[df_pendiente2["CODIGO_PROYECTO"]=="P-1704"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL_PREP,TOTAL_PDT,TOTAL_PREP2,TOTAL_PDT2,TOTAL_1
106,P-1704,3. COSTO MANO DE OBRA,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,-156095149.00,-145534854.00,156095149.00,145534854.00,10560295.00
107,P-1704,2. COSTO MATERIALES,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,-387816472.00,-197683461.00,387816472.00,197683461.00,190133011.00
108,P-1704,1. INGRESO,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,1058718831.87,686431807.00,1058718831.87,686431807.00,372287024.87
302,P-1704,4. COSTO SUPERVISIÓN,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,-31281353.00,0.00,31281353.00,0.00,31281353.00

In [1078]:
# Se realiza estandarización de columna TOTAL considerando que los Tipos de cuenta de Costos deben estar en valor negativo.

# Crear nueva columna 'TOTAL' con el valor de 'TOTAL_PREV'
df_pendiente2['TOTAL'] = df_pendiente2['TOTAL_1']

# Aplicar condiciones para cambiar el valor a negativo
mask = (df_pendiente2['TIPO_CUENTA'].isin(['2. COSTO MATERIALES', '3. COSTO MANO DE OBRA', '4. COSTO SUPERVISIÓN'])) & (df_pendiente2['TOTAL_1'] != 0)
df_pendiente2.loc[mask, 'TOTAL'] *= -1

# Mantener el valor de 'TOTAL_PREV' como negativo si ya es negativo
df_pendiente2.loc[df_pendiente2['TOTAL_1'] < 0, 'TOTAL'] *= -1

df_pendiente2.sample(10)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL_PREP,TOTAL_PDT,TOTAL_PREP2,TOTAL_PDT2,TOTAL_1,TOTAL
185,P-1612,4. COSTO SUPERVISIÓN,0,BARRIO PARQUE SANTIAGO 7,CONSTRUCTORA ALTURAS DEL SUR S.A,-2259746.00,0.00,2259746.00,0.00,2259746.00,-2259746.00
311,P-1715,4. COSTO SUPERVISIÓN,0,CD LO ECHEVERS,QUEZADA Y BOETSCH,-7424606.00,0.00,7424606.00,0.00,7424606.00,-7424606.00
71,P-1690,1. INGRESO,0,ONGOLMO - HOME CONDOMINIO,CANTAUCO CONSTRUCCION LTDA.,64872885.78,52317842.00,64872885.78,52317842.00,12555043.78,12555043.78
222,P-1653,3. COSTO MANO DE OBRA,0,EDUARDO DE LA BARRA,CONSTRUCTORA E INVERSIONES VITAL SPA.,-3230898.00,0.00,3230898.00,0.00,3230898.00,-3230898.00
265,P-1676,4. COSTO SUPERVISIÓN,0,LO CAMPINO,EBCO S.A.,-8951416.00,0.00,8951416.00,0.00,8951416.00,-8951416.00
329,P-1726,4. COSTO SUPERVISIÓN,0,NaN,NaN,0.00,0.00,0.00,0.00,0.00,0.00
298,P-1699,4. COSTO SUPERVISIÓN,0,VILLA PANAMERICANA LOTE B,EMPRESA CONSTRUCTORA DLP S.A.,0.00,0.00,0.00,0.00,0.00,0.00
136,P-1716,3. COSTO MANO DE OBRA,0,CD ASTARA,ASTARA LOGÍSTICA CHILE SPA.,0.00,-26321855.00,0.00,26321855.00,-26321855.00,-26321855.00
82,P-1694,1. INGRESO,0,ECO HUEMUL,CONSTRUCTORA ICF SPA,189774065.87,63875206.00,189774065.87,63875206.00,125898859.87,125898859.87
257,P-1673,3. COSTO MANO DE OBRA,0,INACAP TEMUCO - ETAPA A,UNIVERSIDAD TECNOLOGICA DE CHILE INACAP,-4410983.00,0.00,4410983.00,0.00,4410983.00,-4410983.00

In [1079]:
df_pendiente3 = df_pendiente2.copy()

# Esta línea de código es para evitar ver el error.
with np.errstate(divide='ignore', invalid='ignore'):

    df_margen = df_pendiente3.groupby(['CODIGO_PROYECTO']).apply(lambda x: pd.Series({
        'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA', '4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
    }))

df_margen = pd.DataFrame(df_margen.to_records())
df_margen['MARGEN'] = df_margen['MARGEN'].fillna(0).replace(-np.inf, 0)
df_margen.replace([np.inf, -np.inf, np.nan], 0, inplace=True)


# mostrar el DataFrame resultante
df_margen.sample(10)


print("DIMENSIONES ANTES   DE CAMBIOS DATAFRAME: df_pendiente3 : ", df_pendiente3.shape)

df_pendiente3 = pd.merge(df_pendiente3, df_margen, on=['CODIGO_PROYECTO'], how='left')

print("DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_pendiente3 : ", df_pendiente3.shape)
df_pendiente3.sample(5)

DIMENSIONES ANTES   DE CAMBIOS DATAFRAME: df_pendiente3 :  (340, 11)
DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_pendiente3 :  (340, 12)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL_PREP,TOTAL_PDT,TOTAL_PREP2,TOTAL_PDT2,TOTAL_1,TOTAL,MARGEN
90,P-1697,2. COSTO MATERIALES,0,ESTOCOLMO,CONSTRUCTORA FORTALEZA S.A,-43150692.00,-28478810.00,43150692.00,28478810.00,14671882.00,-14671882.00,-3.43
294,P-1696,4. COSTO SUPERVISIÓN,0,SANTA VICTORIA - TERRACORP,CONSTRUCTORA TERRACORP S.A.,0.00,0.00,0.00,0.00,0.00,0.00,-74.71
83,P-1695,3. COSTO MANO DE OBRA,0,EDIFICIO ESTORIL,EMPRESA CONSTRUCTORA BRAVO E IZQUIERDO,-19577383.00,-13163688.00,19577383.00,13163688.00,6413695.00,-6413695.00,0.48
315,P-1717,4. COSTO SUPERVISIÓN,0,ECO QUILÍN I,CONSTRUCTORA ICF SPA,0.00,0.00,0.00,0.00,0.00,0.00,0.59
159,P-1726,3. COSTO MANO DE OBRA,0,NaN,NaN,0.00,-8656540.00,0.00,8656540.00,-8656540.00,-8656540.00,0.44

In [1080]:
# TESTING VISUAL 1
 
df_pendiente3[df_pendiente3["CODIGO_PROYECTO"]=="P-1727"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL_PREP,TOTAL_PDT,TOTAL_PREP2,TOTAL_PDT2,TOTAL_1,TOTAL,MARGEN
162,P-1727,3. COSTO MANO DE OBRA,0,NaN,NaN,0.00,-8169893.00,0.00,8169893.00,-8169893.00,-8169893.00,0.37
163,P-1727,2. COSTO MATERIALES,0,NaN,NaN,-92610838.00,-13655419.00,92610838.00,13655419.00,78955419.00,-78955419.00,0.37
164,P-1727,1. INGRESO,0,NaN,NaN,166727122.73,28570952.00,166727122.73,28570952.00,138156170.73,138156170.73,0.37
330,P-1727,4. COSTO SUPERVISIÓN,0,NaN,NaN,0.00,0.00,0.00,0.00,0.00,0.00,0.37

In [1081]:
# TESTING VISUAL 2
 
df_pendiente3[df_pendiente3["CODIGO_PROYECTO"]=="1. TOTAL"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL_PREP,TOTAL_PDT,TOTAL_PREP2,TOTAL_PDT2,TOTAL_1,TOTAL,MARGEN
336,1. TOTAL,4. COSTO SUPERVISIÓN,0,1. TOTAL,1. TOTAL,-242718085.00,-74516421.00,242718085.00,74516421.00,168201664.00,-168201664.00,0.12
337,1. TOTAL,1. INGRESO,0,1. TOTAL,1. TOTAL,7808050447.84,4503192575.00,7808050447.84,4503192575.00,3304857872.84,3304857872.84,0.12
338,1. TOTAL,2. COSTO MATERIALES,0,1. TOTAL,1. TOTAL,-4375432891.30,-1686220937.00,4375432891.30,1686220937.00,2689211954.30,-2689211954.30,0.12
339,1. TOTAL,3. COSTO MANO DE OBRA,0,1. TOTAL,1. TOTAL,-1139100986.00,-1076409161.00,1139100986.00,1076409161.00,62691825.00,-62691825.00,0.12

In [1082]:
df_pendiente3.to_csv('archivos_respaldo/df_pendiente3.csv', index = False)

### 4.13 MERGE PENDIENTE (PRESUPUESTO -PDT CERRADO) (PERSPECTIVA MES ANTERIOR)

#### 4.13.1 EXPLORACIÓN Y PREPARACIÓN DE DATAFRAMES

In [1083]:
# Exploración de dataframe base "df_libro_mayor5_base2"

print("DIMENSIONES ANTES DE CAMBIOS DATAFRAME  : df_libro_mayor5_base2 : ", df_libro_mayor5_base2.shape)
df_libro_mayor5_base2.sample(5)

DIMENSIONES ANTES DE CAMBIOS DATAFRAME  : df_libro_mayor5_base2 :  (340, 5)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE
121,P-1709,3. COSTO MANO DE OBRA,0,CENTRO COMERCIAL PASEO SAN PEDRO,EBCO S.A.
115,P-1707,3. COSTO MANO DE OBRA,0,LAS TRANQUERAS,CONSTRUCTORA SANTOLAYA LTDA.
192,P-1632,1. INGRESO,0,CHORRILLOS CLOROX,CONSTRUCTORA SUKSA S.A.
293,P-1695,4. COSTO SUPERVISIÓN,0,EDIFICIO ESTORIL,EMPRESA CONSTRUCTORA BRAVO E IZQUIERDO
130,P-1714,3. COSTO MANO DE OBRA,0,DEPARTAMENTAL II,CONSTRUCTORA FUERZA SUR DOS SPA

In [1084]:
# Exploración y tratamiento de dataframe de presupuesto "df_presupuesto_final4"

print("DIMENSIONES ANTES DE CAMBIOS DATAFRAME  : df_presupuesto_final4 : ", df_presupuesto_final4.shape)

df_presupuesto_final4_1_1 = df_presupuesto_final4.copy()

df_presupuesto_final4_1_1 = df_presupuesto_final4_1_1.pivot_table(values="TOTAL", index=['CODIGO_PROYECTO', 'TIPO_CUENTA'], aggfunc='sum')
df_presupuesto_final4_1_1 = pd.DataFrame(df_presupuesto_final4_1_1.to_records())

df_presupuesto_final4_1_1.rename(columns={'TOTAL': 'TOTAL_PREP'}, inplace=True)

print("DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME  : df_presupuesto_final4_1_1 : ", df_presupuesto_final4_1_1.shape)

df_presupuesto_final4_1_1.sample(10)

DIMENSIONES ANTES DE CAMBIOS DATAFRAME  : df_presupuesto_final4 :  (340, 8)
DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME  : df_presupuesto_final4_1_1 :  (340, 3)

    CODIGO_PROYECTO            TIPO_CUENTA   TOTAL_PREP
41           P-1636    2. COSTO MATERIALES -11381553.00
26           P-1612  3. COSTO MANO DE OBRA -11192188.00
39           P-1632   4. COSTO SUPERVISIÓN  -7735858.00
227          P-1698   4. COSTO SUPERVISIÓN  -1552353.00
149          P-1679    2. COSTO MATERIALES -61846896.00
228          P-1699             1. INGRESO 406744605.61
301          P-1720    2. COSTO MATERIALES -21939079.00
210          P-1694  3. COSTO MANO DE OBRA         0.00
339          P-1729   4. COSTO SUPERVISIÓN  -6254611.00
142          P-1676  3. COSTO MANO DE OBRA -41959762.00

In [1085]:
# Exploración y tratamiento de dataframe de presupuesto "df_ptd_cerrado3"

# Se Crea una copia del dataframe df_ptd_cerrado3 para trabajarlo 

print("DIMENSIONES ANTES DE CAMBIOS DATAFRAME  : df_ptd_cerrado_anterior3 : ", df_ptd_cerrado_anterior3.shape)

df_ptd_cerrado3_1_1 = df_ptd_cerrado_anterior3.drop(["NOMBRE_OBRA","NOMBRE_CLIENTE","TOTAL_LB","TOTAL YTD","TOTAL LB OLD","MARGEN"], axis=1)

df_ptd_cerrado3_1_2 = df_ptd_cerrado3_1_1.pivot_table(values="TOTAL", index=['CODIGO_PROYECTO', 'TIPO_CUENTA'], aggfunc='sum')
df_ptd_cerrado3_1_2 = pd.DataFrame(df_ptd_cerrado3_1_2.to_records())

print("DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_ptd_cerrado3_1_2 : ", df_ptd_cerrado3_1_2.shape)
df_ptd_cerrado3_1_2.rename(columns={'TOTAL': 'TOTAL_PDT'}, inplace=True)

print("DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME  : df_ptd_cerrado3_1_2 : ", df_ptd_cerrado3_1_2.shape)

df_ptd_cerrado3_1_2.sample(10)

DIMENSIONES ANTES DE CAMBIOS DATAFRAME  : df_ptd_cerrado_anterior3 :  (340, 9)
DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_ptd_cerrado3_1_2 :  (340, 3)
DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME  : df_ptd_cerrado3_1_2 :  (340, 3)

    CODIGO_PROYECTO            TIPO_CUENTA    TOTAL_PDT
116          P-1669             1. INGRESO  19895589.00
176          P-1686             1. INGRESO  87818466.00
195          P-1690   4. COSTO SUPERVISIÓN         0.00
14           P-1592  3. COSTO MANO DE OBRA         0.00
124          P-1672             1. INGRESO 134527241.00
283          P-1715   4. COSTO SUPERVISIÓN         0.00
101          P-1664    2. COSTO MATERIALES -50055425.00
270          P-1712  3. COSTO MANO DE OBRA -26854367.00
90           P-1660  3. COSTO MANO DE OBRA  -6132285.00
49           P-1641    2. COSTO MATERIALES  -1038770.00

#### 4.13.2 MERGE ENTRE DATAFRAMES

In [1086]:
# MERGE df_libro_mayor5_2 y df_presupuesto_final5_2

print("DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_libro_mayor5_base2      : ", df_libro_mayor5_base2.shape)
print("DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_presupuesto_final4_1_1  : ", df_presupuesto_final4_1_1.shape)
print("DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_ptd_cerrado3_1_2        : ", df_ptd_cerrado3_1_2.shape)

df_pendiente_2 = df_libro_mayor5_base2.merge(df_presupuesto_final4_1_1, on=['CODIGO_PROYECTO','TIPO_CUENTA'], how='left')

print("DIMENSIONES DESPUÉS De CAMBIOS DATAFRAME: df_pendiente_2             : ", df_pendiente_2.shape)

df_pendiente_2.sample(5)

DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_libro_mayor5_base2      :  (340, 5)
DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_presupuesto_final4_1_1  :  (340, 3)
DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_ptd_cerrado3_1_2        :  (340, 3)
DIMENSIONES DESPUÉS De CAMBIOS DATAFRAME: df_pendiente_2             :  (340, 6)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL_PREP
10,P-1639,2. COSTO MATERIALES,0,LYON 2546,MOLLER Y PEREZ - COTAPOS CONSTRUCCIONES INDUST...,-18254050.00
142,P-1718,1. INGRESO,0,PATIO COMIDAS,EBCO S.A.,184688657.35
150,P-1723,3. COSTO MANO DE OBRA,0,VILLA PANAMERICANA LOTE C,CONSTRUCTORA MENA Y OVALLE S.A.,0.00
93,P-1698,1. INGRESO,0,CD ANDES,EBCO S.A.,57807633.83
291,P-1693,4. COSTO SUPERVISIÓN,0,VOLTA V0800,ECOBIO SPA,-2506554.00

In [1087]:
# MERGE df_pendiente y df_ptd_cerrado3_2

print("DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_pendiente_2             : ", df_pendiente_2.shape)
print("DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_ptd_cerrado3_1_2        : ", df_ptd_cerrado3_1_2.shape)

df_pendiente_2 = df_pendiente_2.merge(df_ptd_cerrado3_1_2, on=['CODIGO_PROYECTO','TIPO_CUENTA'], how='left')

print("DIMENSIONES DESPUÉS De CAMBIOS DATAFRAME: df_pendiente_2              : ", df_pendiente_2.shape)
df_pendiente_2.sample(5)

DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_pendiente_2             :  (340, 6)
DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_ptd_cerrado3_1_2        :  (340, 3)
DIMENSIONES DESPUÉS De CAMBIOS DATAFRAME: df_pendiente_2              :  (340, 7)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL_PREP,TOTAL_PDT
107,P-1704,2. COSTO MATERIALES,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,-387816472.00,-183715910.00
187,P-1620,3. COSTO MANO DE OBRA,0,"OF APOQUINDO- HABILITACIONES, INTEGRACION Y AD...",CONSTRUCTORA INARCO S.A.,-2386955.00,0.00
262,P-1675,3. COSTO MANO DE OBRA,0,PALENA II,CONSTRUCTORA MYA SPA.,-2481400.00,-4557877.00
329,P-1726,4. COSTO SUPERVISIÓN,0,NaN,NaN,0.00,0.00
305,P-1707,4. COSTO SUPERVISIÓN,0,LAS TRANQUERAS,CONSTRUCTORA SANTOLAYA LTDA.,-3909676.00,0.00

In [1088]:
# TESTING VISUAL 1
 
df_pendiente_2[df_pendiente_2["CODIGO_PROYECTO"]=="P-1643"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL_PREP,TOTAL_PDT
13,P-1643,2. COSTO MATERIALES,0,CHORRILLOS M4,CONSTRUCTORA SUKSA S.A.,-49797008.30,-102685.00
207,P-1643,1. INGRESO,0,CHORRILLOS M4,CONSTRUCTORA SUKSA S.A.,0.00,0.00
208,P-1643,3. COSTO MANO DE OBRA,0,CHORRILLOS M4,CONSTRUCTORA SUKSA S.A.,0.00,0.00
209,P-1643,4. COSTO SUPERVISIÓN,0,CHORRILLOS M4,CONSTRUCTORA SUKSA S.A.,0.00,0.00

#### 4.13.3 CALCULO DE COLUMNA TOTAL

El objetivo de este Dataframe es lograr identificar la diferencia entre el el presupuesto y el PDT Cerrado.

In [1089]:
# Modificar los valores negativos a positivos
df_pendiente_2['TOTAL_PREP2'] = np.where(df_pendiente_2['TOTAL_PREP'] < 0, df_pendiente_2['TOTAL_PREP'] * -1, df_pendiente_2['TOTAL_PREP'])

df_pendiente_2['TOTAL_PDT2'] = np.where(df_pendiente_2['TOTAL_PDT'] < 0, df_pendiente_2['TOTAL_PDT'] * -1, df_pendiente_2['TOTAL_PDT'])

# Calcular la columna "TOTAL" con los valores positivos
df_pendiente_2['TOTAL_1'] = df_pendiente_2['TOTAL_PREP2'] - df_pendiente_2['TOTAL_PDT2']

df_pendiente_2.sample(5)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL_PREP,TOTAL_PDT,TOTAL_PREP2,TOTAL_PDT2,TOTAL_1
11,P-1641,2. COSTO MATERIALES,0,INACAP TEMUCO,DESARROLLOS CONSTRUCTIVOS AXIS SOCIEDAD ANONIMA,-30498737.00,-1038770.00,30498737.00,1038770.00,29459967.00
113,P-1706,2. COSTO MATERIALES,0,CALIFORNIA,CONSTRUCTORA E INVERSIONES VITAL SPA.,-39538656.00,-7879330.00,39538656.00,7879330.00,31659326.00
276,P-1683,4. COSTO SUPERVISIÓN,0,CD BP-A05,EBCO S.A.,-1865714.00,0.00,1865714.00,0.00,1865714.00
9,P-1636,2. COSTO MATERIALES,0,SANTO DOMINGO 1410,DANACORP S.A,-11381553.00,-455187.00,11381553.00,455187.00,10926366.00
263,P-1675,4. COSTO SUPERVISIÓN,0,PALENA II,CONSTRUCTORA MYA SPA.,-466503.00,0.00,466503.00,0.00,466503.00

In [1090]:
# TESTING VISUAL 1
 
df_pendiente_2[df_pendiente_2["CODIGO_PROYECTO"]=="P-1704"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL_PREP,TOTAL_PDT,TOTAL_PREP2,TOTAL_PDT2,TOTAL_1
106,P-1704,3. COSTO MANO DE OBRA,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,-156095149.00,-132643971.00,156095149.00,132643971.00,23451178.00
107,P-1704,2. COSTO MATERIALES,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,-387816472.00,-183715910.00,387816472.00,183715910.00,204100562.00
108,P-1704,1. INGRESO,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,1058718831.87,607371810.00,1058718831.87,607371810.00,451347021.87
302,P-1704,4. COSTO SUPERVISIÓN,0,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,-31281353.00,0.00,31281353.00,0.00,31281353.00

In [1091]:
# Se realiza estandarización de columna TOTAL considerando que los Tipos de cuenta de Costos deben estar en valor negativo.

# Crear nueva columna 'TOTAL' con el valor de 'TOTAL_PREV'
df_pendiente_2['TOTAL'] = df_pendiente_2['TOTAL_1']

# Aplicar condiciones para cambiar el valor a negativo
mask = (df_pendiente_2['TIPO_CUENTA'].isin(['2. COSTO MATERIALES', '3. COSTO MANO DE OBRA', '4. COSTO SUPERVISIÓN'])) & (df_pendiente_2['TOTAL_1'] != 0)
df_pendiente_2.loc[mask, 'TOTAL'] *= -1

# Mantener el valor de 'TOTAL_PREV' como negativo si ya es negativo
df_pendiente_2.loc[df_pendiente_2['TOTAL_1'] < 0, 'TOTAL'] *= -1

df_pendiente_2.sample(10)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL_PREP,TOTAL_PDT,TOTAL_PREP2,TOTAL_PDT2,TOTAL_1,TOTAL
307,P-1709,4. COSTO SUPERVISIÓN,0,CENTRO COMERCIAL PASEO SAN PEDRO,EBCO S.A.,-1433251.00,0.00,1433251.00,0.00,1433251.00,-1433251.00
33,P-1670,1. INGRESO,0,MK II SEGURIDAD Y REDES,COMERCIAL K SPA.,202553946.00,164021639.00,202553946.00,164021639.00,38532307.00,38532307.00
202,P-1641,3. COSTO MANO DE OBRA,0,INACAP TEMUCO,DESARROLLOS CONSTRUCTIVOS AXIS SOCIEDAD ANONIMA,-3473560.00,0.00,3473560.00,0.00,3473560.00,-3473560.00
192,P-1632,1. INGRESO,0,CHORRILLOS CLOROX,CONSTRUCTORA SUKSA S.A.,138107706.03,0.00,138107706.03,0.00,138107706.03,138107706.03
210,P-1644,1. INGRESO,0,MIRADOR DE SAN CRISTOBAL,EBCO S.A.,0.00,16864978.00,0.00,16864978.00,-16864978.00,16864978.00
72,P-1691,3. COSTO MANO DE OBRA,0,ROSARIO ROSALES,CONSTRUCTORA E INMOBILIARIA PRADOVERDE LTDA.,-8420659.00,-17223414.00,8420659.00,17223414.00,-8802755.00,-8802755.00
189,P-1626,1. INGRESO,0,CLINICA BIO BIO,CONSTRUCTORA LYD S.A.,0.00,75533.00,0.00,75533.00,-75533.00,75533.00
129,P-1713,1. INGRESO,0,RESERVA SAN FRANCISCO,EMPRESA NACIONAL DE CONSTRUCCIÓN LAS VERTIENTE...,123509706.24,4823540.00,123509706.24,4823540.00,118686166.24,118686166.24
48,P-1680,2. COSTO MATERIALES,0,NUEVA UNO,CONSTRUCTORA TECSA S.A.,-67931016.00,-64787828.00,67931016.00,64787828.00,3143188.00,-3143188.00
78,P-1693,3. COSTO MANO DE OBRA,0,VOLTA V0800,ECOBIO SPA,-11371251.00,-25236917.00,11371251.00,25236917.00,-13865666.00,-13865666.00

In [1092]:
df_pendiente_3 = df_pendiente_2.copy()

# Esta línea de código es para evitar ver el error.
with np.errstate(divide='ignore', invalid='ignore'):

    df_margen = df_pendiente_3.groupby(['CODIGO_PROYECTO']).apply(lambda x: pd.Series({
        'MARGEN': x.loc[x['TIPO_CUENTA'].isin(['1. INGRESO','2. COSTO MATERIALES', '3. COSTO MANO DE OBRA', '4. COSTO SUPERVISIÓN']), 'TOTAL'].sum() / x.loc[x['TIPO_CUENTA'] == '1. INGRESO', 'TOTAL'].sum()
    }))

df_margen = pd.DataFrame(df_margen.to_records())
df_margen['MARGEN'] = df_margen['MARGEN'].fillna(0).replace(-np.inf, 0)
df_margen.replace([np.inf, -np.inf, np.nan], 0, inplace=True)


# mostrar el DataFrame resultante
df_margen.sample(10)


print("DIMENSIONES ANTES   DE CAMBIOS DATAFRAME: df_pendiente_3 : ", df_pendiente_3.shape)

df_pendiente_3 = pd.merge(df_pendiente_3, df_margen, on=['CODIGO_PROYECTO'], how='left')

print("DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_pendiente_3 : ", df_pendiente_3.shape)
df_pendiente_3.sample(5)

DIMENSIONES ANTES   DE CAMBIOS DATAFRAME: df_pendiente_3 :  (340, 11)
DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_pendiente_3 :  (340, 12)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL_PREP,TOTAL_PDT,TOTAL_PREP2,TOTAL_PDT2,TOTAL_1,TOTAL,MARGEN
191,P-1626,4. COSTO SUPERVISIÓN,0,CLINICA BIO BIO,CONSTRUCTORA LYD S.A.,-8577318.00,0.00,8577318.00,0.00,8577318.00,-8577318.00,-2870.43
1,P-1591,3. COSTO MANO DE OBRA,0,EDIFICIO ESTORIL,EBCO S.A.,0.00,-2483998.00,0.00,2483998.00,-2483998.00,-2483998.00,0.00
27,P-1667,3. COSTO MANO DE OBRA,0,ECO PLACILLA,CONSTRUCTORA ICF SPA,-16552739.00,-37223140.00,16552739.00,37223140.00,-20670401.00,-20670401.00,-31.85
22,P-1660,2. COSTO MATERIALES,0,CORONEL ALVARADO,LARRAIN PRIETO RISOPATRON S.A.,-13492166.00,-12060331.00,13492166.00,12060331.00,1431835.00,-1431835.00,0.76
120,P-1708,1. INGRESO,0,ECO ESPAÑA,CONSTRUCTORA ICF SPA,213452539.86,0.00,213452539.86,0.00,213452539.86,213452539.86,0.37

In [1093]:
# TESTING VISUAL 1
 
df_pendiente_3[df_pendiente_3["CODIGO_PROYECTO"]=="P-1727"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL_PREP,TOTAL_PDT,TOTAL_PREP2,TOTAL_PDT2,TOTAL_1,TOTAL,MARGEN
162,P-1727,3. COSTO MANO DE OBRA,0,NaN,NaN,0.00,-4714680.00,0.00,4714680.00,-4714680.00,-4714680.00,0.40
163,P-1727,2. COSTO MATERIALES,0,NaN,NaN,-92610838.00,-3753865.00,92610838.00,3753865.00,88856973.00,-88856973.00,0.40
164,P-1727,1. INGRESO,0,NaN,NaN,166727122.73,11005000.00,166727122.73,11005000.00,155722122.73,155722122.73,0.40
330,P-1727,4. COSTO SUPERVISIÓN,0,NaN,NaN,0.00,0.00,0.00,0.00,0.00,0.00,0.40

In [1094]:
# TESTING VISUAL 2
 
df_pendiente_3[df_pendiente_3["CODIGO_PROYECTO"]=="1. TOTAL"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL_PREP,TOTAL_PDT,TOTAL_PREP2,TOTAL_PDT2,TOTAL_1,TOTAL,MARGEN
336,1. TOTAL,4. COSTO SUPERVISIÓN,0,1. TOTAL,1. TOTAL,-242718085.00,-69873160.00,242718085.00,69873160.00,172844925.00,-172844925.00,0.15
337,1. TOTAL,1. INGRESO,0,1. TOTAL,1. TOTAL,7808050447.84,4042394062.00,7808050447.84,4042394062.00,3765656385.84,3765656385.84,0.15
338,1. TOTAL,2. COSTO MATERIALES,0,1. TOTAL,1. TOTAL,-4375432891.30,-1516685549.00,4375432891.30,1516685549.00,2858747342.30,-2858747342.30,0.15
339,1. TOTAL,3. COSTO MANO DE OBRA,0,1. TOTAL,1. TOTAL,-1139100986.00,-962035446.00,1139100986.00,962035446.00,177065540.00,-177065540.00,0.15

In [1095]:
df_pendiente_3.to_csv('archivos_respaldo/df_pendiente_3.csv', index = False)

### 4.14 MERGE PDT CERRADO VS PRESUPUESTO

#### 4.14.1 EXPLORACIÓN Y PREPARACIÓN DE DATAFRAMES

In [1097]:
# Exploración de dataframe df_pdt_cerrado

print("DIMENSIONES ANTES DE CAMBIOS DATAFRAME: df_ptd_cerrado3 : ", df_ptd_cerrado3.shape)

df_ptd_cerrado3_2 = df_ptd_cerrado3.copy()

df_ptd_cerrado3_2.rename(columns={'TOTAL': 'TOTAL_PDT'}, inplace=True)
df_ptd_cerrado3_2.sample(5)

DIMENSIONES ANTES DE CAMBIOS DATAFRAME: df_ptd_cerrado3 :  (340, 9)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL YTD,TOTAL LB OLD,TOTAL_PDT,MARGEN
167,P-1729,2. COSTO MATERIALES,0.00,NaN,NaN,0.00,0.00,0.00,0.00
165,P-1728,3. COSTO MANO DE OBRA,0.00,NaN,NaN,-630869.00,0.00,-630869.00,0.00
111,P-1705,1. INGRESO,0.00,LOS CLARINES,CONSTRUCTORA INARCO S.A.,30287816.00,1.00,30287817.00,0.05
308,P-1712,4. COSTO SUPERVISIÓN,0.00,CENTRO COMERCIAL VIÑA OUTLET PARK,EBCO S.A.,0.00,0.00,0.00,0.53
156,P-1725,3. COSTO MANO DE OBRA,0.00,LO CAÑAS,CONSTRUCTORA BRISAS DE BATUCO,-5242316.00,0.00,-5242316.00,0.28

In [1100]:
# Exploración de dataframe presupuesto
df_presupuesto_final4.sample(10)

df_presupuesto_final4_1 = df_presupuesto_final4.copy()
df_presupuesto_final4_1.rename(columns={'TOTAL': 'TOTAL_PREP'}, inplace=True)

print("DIMENSIONES ANTES DE CAMBIOS DATAFRAME: df_presupuesto_final4 : ", df_presupuesto_final4.shape)

df_presupuesto_final4_2 = pd.pivot_table(df_presupuesto_final4_1, values=['TOTAL_PREP'], index=['CODIGO_PROYECTO','TIPO_CUENTA'], aggfunc='sum', fill_value=0)
df_presupuesto_final4_2 = pd.DataFrame(df_presupuesto_final4_2.to_records())

print("DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_presupuesto_final4_2 : ", df_presupuesto_final4_2.shape)

df_presupuesto_final4_2.sample(5)

DIMENSIONES ANTES DE CAMBIOS DATAFRAME: df_presupuesto_final4 :  (340, 8)
DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_presupuesto_final4_2 :  (340, 3)

    CODIGO_PROYECTO            TIPO_CUENTA    TOTAL_PREP
89           P-1660    2. COSTO MATERIALES  -13492166.00
153          P-1680    2. COSTO MATERIALES  -67931016.00
174          P-1685  3. COSTO MANO DE OBRA  -15860365.00
37           P-1632    2. COSTO MATERIALES -219387084.00
223          P-1697   4. COSTO SUPERVISIÓN          0.00

#### 4.14.2 MERGE ENTRE DATAFRAMES

In [1104]:
print("DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_ptd_cerrado3_2                  : ", df_ptd_cerrado3_2.shape)
print("DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_presupuesto_final4_2            : ", df_presupuesto_final4_2.shape)

df_pdt_vs_prep = df_ptd_cerrado3_2.merge(df_presupuesto_final4_2, on=['CODIGO_PROYECTO','TIPO_CUENTA'], how='left')

print("DIMENSIONES DESPUÉS De CAMBIOS DATAFRAME: df_pdt_vs_prep           : ", df_pdt_vs_prep.shape)

df_pdt_vs_prep.sample(5)

DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_ptd_cerrado3_2                  :  (340, 9)
DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_presupuesto_final4_2            :  (340, 3)
DIMENSIONES DESPUÉS De CAMBIOS DATAFRAME: df_pdt_vs_prep           :  (340, 10)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL YTD,TOTAL LB OLD,TOTAL_PDT,MARGEN,TOTAL_PREP
172,P-1591,2. COSTO MATERIALES,0.00,EDIFICIO ESTORIL,EBCO S.A.,0.00,0.00,0.00,0.00,0.00
315,P-1717,4. COSTO SUPERVISIÓN,0.00,ECO QUILÍN I,CONSTRUCTORA ICF SPA,0.00,0.00,0.00,0.00,0.00
123,P-1709,1. INGRESO,0.00,CENTRO COMERCIAL PASEO SAN PEDRO,EBCO S.A.,76827615.00,7158358.00,83985973.00,0.44,105853124.47
81,P-1694,2. COSTO MATERIALES,0.00,ECO HUEMUL,CONSTRUCTORA ICF SPA,-22032871.00,-4165442.00,-26198313.00,0.23,-57440940.00
137,P-1716,2. COSTO MATERIALES,0.00,CD ASTARA,ASTARA LOGÍSTICA CHILE SPA.,-26152479.00,-4855555.00,-31008034.00,0.54,-56794940.00

#### 4.14.3 CREACIÓN DE COLUMNA % DE AVANCE

In [1105]:
df_pdt_vs_prep['% AVANCE'] = df_pdt_vs_prep['TOTAL_PDT'] / df_pdt_vs_prep['TOTAL_PREP']

# Reemplazar NaN por cero
df_pdt_vs_prep['% AVANCE'] = df_pdt_vs_prep['% AVANCE'].fillna(0)

# Reemplazar -inf por cero
df_pdt_vs_prep['% AVANCE'].replace(-np.inf, 0, inplace=True)

# Reemplazar inf por cero
df_pdt_vs_prep['% AVANCE'] = df_pdt_vs_prep['% AVANCE'].replace(np.inf, 0)

df_pdt_vs_prep.head(10)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL YTD,TOTAL LB OLD,TOTAL_PDT,MARGEN,TOTAL_PREP,% AVANCE
0,P-1557,3. COSTO MANO DE OBRA,0.00,ROSARIO ROSALES,EBCO S.A.,-1247014.00,0.00,-1247014.00,0.00,0.00,0.00
1,P-1591,3. COSTO MANO DE OBRA,0.00,EDIFICIO ESTORIL,EBCO S.A.,-4593960.00,0.00,-4593960.00,0.00,0.00,0.00
2,P-1592,2. COSTO MATERIALES,0.00,NUEVA COSTANERA 3300,EBCO S.A.,41716.00,856004.00,897720.00,1.05,0.00,0.00
3,P-1603,2. COSTO MATERIALES,0.00,FARELLONES,EMPRESA CONSTRUCTORA DLP S.A.,-30000.00,0.00,-30000.00,0.00,-13744197.00,0.00
4,P-1611,2. COSTO MATERIALES,0.00,EDIFICIO PLAZA EGAÑA,EBCO S.A.,6648.00,596177.00,602825.00,1.14,-24208141.00,-0.02
5,P-1612,2. COSTO MATERIALES,0.00,BARRIO PARQUE SANTIAGO 7,CONSTRUCTORA ALTURAS DEL SUR S.A,30258.00,280644.00,310902.00,0.00,-30609079.00,-0.01
6,P-1620,2. COSTO MATERIALES,0.00,"OF APOQUINDO- HABILITACIONES, INTEGRACION Y AD...",CONSTRUCTORA INARCO S.A.,-16400.00,0.00,-16400.00,0.00,-11746595.00,0.00
7,P-1626,2. COSTO MATERIALES,0.00,CLINICA BIO BIO,CONSTRUCTORA LYD S.A.,3460.00,678564.00,682024.00,10.03,-168705405.50,-0.00
8,P-1632,2. COSTO MATERIALES,0.00,CHORRILLOS CLOROX,CONSTRUCTORA SUKSA S.A.,75965.00,236593.00,312558.00,0.00,-219387084.00,-0.00
9,P-1636,2. COSTO MATERIALES,0.00,SANTO DOMINGO 1410,DANACORP S.A,0.00,-455187.00,-455187.00,0.77,-11381553.00,0.04

In [1106]:
# TESTING VISUAL 1
 
df_pdt_vs_prep[df_pdt_vs_prep["CODIGO_PROYECTO"]=="P-1727"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL YTD,TOTAL LB OLD,TOTAL_PDT,MARGEN,TOTAL_PREP,% AVANCE
162,P-1727,3. COSTO MANO DE OBRA,0.00,NaN,NaN,-8169893.00,0.00,-8169893.00,0.24,0.00,0.00
163,P-1727,2. COSTO MATERIALES,0.00,NaN,NaN,-13655419.00,0.00,-13655419.00,0.24,-92610838.00,0.15
164,P-1727,1. INGRESO,0.00,NaN,NaN,28570952.00,0.00,28570952.00,0.24,166727122.73,0.17
330,P-1727,4. COSTO SUPERVISIÓN,0.00,NaN,NaN,0.00,0.00,0.00,0.24,0.00,0.00

In [1107]:
# TESTING VISUAL 2
 
df_pdt_vs_prep[df_pdt_vs_prep["CODIGO_PROYECTO"]=="1. TOTAL"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL YTD,TOTAL LB OLD,TOTAL_PDT,MARGEN,TOTAL_PREP,% AVANCE
336,1. TOTAL,4. COSTO SUPERVISIÓN,0.00,1. TOTAL,1. TOTAL,-22566666.00,-51949755.00,-74516421.00,0.37,-242718085.00,0.31
337,1. TOTAL,1. INGRESO,NaN,1. TOTAL,1. TOTAL,NaN,NaN,4503192575.00,0.37,7808050447.84,0.58
338,1. TOTAL,2. COSTO MATERIALES,NaN,1. TOTAL,1. TOTAL,NaN,NaN,-1686220937.00,0.37,-4375432891.30,0.39
339,1. TOTAL,3. COSTO MANO DE OBRA,NaN,1. TOTAL,1. TOTAL,NaN,NaN,-1076409161.00,0.37,-1139100986.00,0.94

In [1108]:
df_pdt_vs_prep.to_csv('archivos_respaldo/df_pdt_vs_prep.csv', index = False)

### 4.15 MERGE PDT CERRADO VS PRESUPUESTO (PERSPECTIVA MES ANTERIOR)

#### 4.15.1 EXPLORACIÓN Y PREPARACIÓN DE DATAFRAMES

In [1153]:
# Exploración de dataframe df_pdt_cerrado

print("DIMENSIONES ANTES DE CAMBIOS DATAFRAME: df_ptd_cerrado3 : ", df_ptd_cerrado3.shape)

df_ptd_cerrado3_2_2 = df_ptd_cerrado_anterior3.copy()

df_ptd_cerrado3_2_2.rename(columns={'TOTAL': 'TOTAL_PDT'}, inplace=True)
df_ptd_cerrado3_2_2.sample(5)

DIMENSIONES ANTES DE CAMBIOS DATAFRAME: df_ptd_cerrado3 :  (340, 9)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL YTD,TOTAL LB OLD,TOTAL_PDT,MARGEN
246,P-1667,4. COSTO SUPERVISIÓN,0.00,ECO PLACILLA,CONSTRUCTORA ICF SPA,0.00,0.00,0.00,0.02
73,P-1691,2. COSTO MATERIALES,0.00,ROSARIO ROSALES,CONSTRUCTORA E INMOBILIARIA PRADOVERDE LTDA.,-1198536.00,-16324925.00,-17523461.00,0.16
211,P-1644,3. COSTO MANO DE OBRA,0.00,MIRADOR DE SAN CRISTOBAL,EBCO S.A.,0.00,-341190.00,-341190.00,0.71
289,P-1692,4. COSTO SUPERVISIÓN,0.00,JOSÉ PEREZ COTAPOS,EBCO S.A.,0.00,0.00,0.00,0.04
105,P-1703,1. INGRESO,0.00,SANTA VICTORIA DANACORP,DANACORP S.A,35296641.00,16694630.00,51991271.00,0.31

In [1154]:
# Exploración presupuesto, creado en el punto anterior y que se reutiliza en éste.

df_presupuesto_final4_2.sample(5)

    CODIGO_PROYECTO            TIPO_CUENTA  TOTAL_PDT_PREP
18           P-1603  3. COSTO MANO DE OBRA     -4345810.00
137          P-1675    2. COSTO MATERIALES     -7361719.00
142          P-1676  3. COSTO MANO DE OBRA    -41959762.00
310          P-1722  3. COSTO MANO DE OBRA            0.00
238          P-1701  3. COSTO MANO DE OBRA    -28379446.00

#### 4.15.2 MERGE ENTRE DATAFRAMES

In [1155]:
print("DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_ptd_cerrado3_2_                 : ", df_ptd_cerrado3_2_2.shape)
print("DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_presupuesto_final4_2            : ", df_presupuesto_final4_2.shape)

df_pdt_vs_prep_2 = df_ptd_cerrado3_2_2.merge(df_presupuesto_final4_2, on=['CODIGO_PROYECTO','TIPO_CUENTA'], how='left')

print("DIMENSIONES DESPUÉS De CAMBIOS DATAFRAME: df_pdt_vs_prep_2           : ", df_pdt_vs_prep_2.shape)

df_pdt_vs_prep_2.sample(5)

DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_ptd_cerrado3_2_                 :  (340, 9)
DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_presupuesto_final4_2            :  (340, 3)
DIMENSIONES DESPUÉS De CAMBIOS DATAFRAME: df_pdt_vs_prep_2           :  (340, 10)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL YTD,TOTAL LB OLD,TOTAL_PDT,MARGEN,TOTAL_PDT_PREP
267,P-1679,1. INGRESO,0.00,JUAN SABAJ,CONSTRUCTORA GREVIA,0.00,0.00,0.00,0.00,169118040.00
257,P-1673,3. COSTO MANO DE OBRA,0.00,INACAP TEMUCO - ETAPA A,UNIVERSIDAD TECNOLOGICA DE CHILE INACAP,0.00,0.00,0.00,0.56,-4410983.00
179,P-1603,4. COSTO SUPERVISIÓN,0.00,FARELLONES,EMPRESA CONSTRUCTORA DLP S.A.,0.00,0.00,0.00,0.00,-869162.00
327,P-1724,4. COSTO SUPERVISIÓN,0.00,NaN,NaN,0.00,0.00,0.00,0.72,0.00
337,1. TOTAL,1. INGRESO,NaN,1. TOTAL,1. TOTAL,NaN,NaN,4042394062.00,0.37,7808050447.84

#### 4.15.3 CREACIÓN DE COLUMNA % DE AVANCE

In [1156]:
df_pdt_vs_prep_2['% AVANCE'] = df_pdt_vs_prep_2['TOTAL_PDT'] / df_pdt_vs_prep_2['TOTAL_PDT_PREP']

# Reemplazar NaN por cero
df_pdt_vs_prep_2['% AVANCE'] = df_pdt_vs_prep_2['% AVANCE'].fillna(0)

# Reemplazar -inf por cero
df_pdt_vs_prep_2['% AVANCE'].replace(-np.inf, 0, inplace=True)

# Reemplazar inf por cero
df_pdt_vs_prep_2['% AVANCE'] = df_pdt_vs_prep_2['% AVANCE'].replace(np.inf, 0)

df_pdt_vs_prep_2.head(10)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL YTD,TOTAL LB OLD,TOTAL_PDT,MARGEN,TOTAL_PDT_PREP,% AVANCE
0,P-1557,3. COSTO MANO DE OBRA,0.00,ROSARIO ROSALES,EBCO S.A.,-945949.00,0.00,-945949.00,0.00,0.00,0.00
1,P-1591,3. COSTO MANO DE OBRA,0.00,EDIFICIO ESTORIL,EBCO S.A.,-2483998.00,0.00,-2483998.00,0.00,0.00,0.00
2,P-1592,2. COSTO MATERIALES,0.00,NUEVA COSTANERA 3300,EBCO S.A.,-9821.00,856004.00,846183.00,1.05,0.00,0.00
3,P-1603,2. COSTO MATERIALES,0.00,FARELLONES,EMPRESA CONSTRUCTORA DLP S.A.,-30000.00,0.00,-30000.00,0.00,-13744197.00,0.00
4,P-1611,2. COSTO MATERIALES,0.00,EDIFICIO PLAZA EGAÑA,EBCO S.A.,6648.00,596177.00,602825.00,1.14,-24208141.00,-0.02
5,P-1612,2. COSTO MATERIALES,0.00,BARRIO PARQUE SANTIAGO 7,CONSTRUCTORA ALTURAS DEL SUR S.A,30258.00,280644.00,310902.00,0.00,-30609079.00,-0.01
6,P-1620,2. COSTO MATERIALES,0.00,"OF APOQUINDO- HABILITACIONES, INTEGRACION Y AD...",CONSTRUCTORA INARCO S.A.,-16400.00,0.00,-16400.00,0.00,-11746595.00,0.00
7,P-1626,2. COSTO MATERIALES,0.00,CLINICA BIO BIO,CONSTRUCTORA LYD S.A.,3460.00,678564.00,682024.00,10.03,-168705405.50,-0.00
8,P-1632,2. COSTO MATERIALES,0.00,CHORRILLOS CLOROX,CONSTRUCTORA SUKSA S.A.,0.00,236593.00,236593.00,0.00,-219387084.00,-0.00
9,P-1636,2. COSTO MATERIALES,0.00,SANTO DOMINGO 1410,DANACORP S.A,0.00,-455187.00,-455187.00,0.77,-11381553.00,0.04

In [1157]:
# TESTING VISUAL 1
 
df_pdt_vs_prep_2[df_pdt_vs_prep_2["CODIGO_PROYECTO"]=="P-1727"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL YTD,TOTAL LB OLD,TOTAL_PDT,MARGEN,TOTAL_PDT_PREP,% AVANCE
162,P-1727,3. COSTO MANO DE OBRA,0.00,NaN,NaN,-4714680.00,0.00,-4714680.00,0.23,0.00,0.00
163,P-1727,2. COSTO MATERIALES,0.00,NaN,NaN,-3753865.00,0.00,-3753865.00,0.23,-92610838.00,0.04
164,P-1727,1. INGRESO,0.00,NaN,NaN,11005000.00,0.00,11005000.00,0.23,166727122.73,0.07
330,P-1727,4. COSTO SUPERVISIÓN,0.00,NaN,NaN,0.00,0.00,0.00,0.23,0.00,0.00

In [1158]:
# TESTING VISUAL 2
 
df_pdt_vs_prep_2[df_pdt_vs_prep_2["CODIGO_PROYECTO"]=="P-1704"]

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL YTD,TOTAL LB OLD,TOTAL_PDT,MARGEN,TOTAL_PDT_PREP,% AVANCE
106,P-1704,3. COSTO MANO DE OBRA,0.00,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,-44701591.00,-87942380.00,-132643971.00,0.48,-156095149.00,0.85
107,P-1704,2. COSTO MATERIALES,0.00,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,-58121771.00,-125594139.00,-183715910.00,0.48,-387816472.00,0.47
108,P-1704,1. INGRESO,0.00,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,141716199.00,465655611.00,607371810.00,0.48,1058718831.87,0.57
302,P-1704,4. COSTO SUPERVISIÓN,0.00,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,0.00,0.00,0.00,0.48,-31281353.00,-0.00

In [1159]:
df_pdt_vs_prep_2.to_csv('archivos_respaldo/df_pdt_vs_prep_2.csv', index = False)

### 4.16 MERGE PTD CERRADO + PROYECTADO VS PRESUPUESTO

#### 4.16.1 EXPLORACIÓN Y PREPARACIÓN DE DATAFRAMES

In [1160]:
# Exploración de dataframe df_ptd_cerrado_y_proyectado2

print("DIMENSIONES ANTES DE CAMBIOS DATAFRAME: df_ptd_cerrado_y_proyectado2 : ", df_ptd_cerrado_y_proyectado2.shape)

df_ptd_cerrado_y_proyectado2_2 = df_ptd_cerrado_y_proyectado2.copy()

df_ptd_cerrado_y_proyectado2_2.rename(columns={'TOTAL': 'TOTAL_PDT'}, inplace=True)
df_ptd_cerrado_y_proyectado2_2.sample(5)

DIMENSIONES ANTES DE CAMBIOS DATAFRAME: df_ptd_cerrado_y_proyectado2 :  (340, 8)

,CODIGO_PROYECTO,TIPO_CUENTA,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL PTD,TOTAL MEC PROY,TOTAL_PDT,MARGEN
83,P-1695,3. COSTO MANO DE OBRA,EDIFICIO ESTORIL,EMPRESA CONSTRUCTORA BRAVO E IZQUIERDO,-13163688.00,0.00,-13163688.00,0.13
230,P-1660,1. INGRESO,CORONEL ALVARADO,LARRAIN PRIETO RISOPATRON S.A.,26532592.00,0.00,26532592.00,0.31
82,P-1694,1. INGRESO,ECO HUEMUL,CONSTRUCTORA ICF SPA,63875206.00,18216000.00,82091206.00,0.24
76,P-1692,2. COSTO MATERIALES,JOSÉ PEREZ COTAPOS,EBCO S.A.,-42748303.00,-500000.00,-43248303.00,-0.03
247,P-1668,1. INGRESO,QUILLAYES PLAZA,E.MOLINA MOREL CONSTRUCTORA S.A.,34896288.00,0.00,34896288.00,0.37

In [1161]:
# Exploración de dataframe presupuesto

df_presupuesto_final4_2 = df_presupuesto_final4.copy()
df_presupuesto_final4_2.rename(columns={'TOTAL': 'TOTAL_PDT_PREP'}, inplace=True)

print("DIMENSIONES ANTES DE CAMBIOS DATAFRAME: df_presupuesto_final4_2 : ", df_presupuesto_final4_2.shape)

df_presupuesto_final4_2 = pd.pivot_table(df_presupuesto_final4_2, values=['TOTAL_PDT_PREP'], index=['CODIGO_PROYECTO','TIPO_CUENTA'], aggfunc='sum', fill_value=0)
df_presupuesto_final4_2 = pd.DataFrame(df_presupuesto_final4_2.to_records())

print("DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_presupuesto_final4_2 : ", df_presupuesto_final4_2.shape)

df_presupuesto_final4_2.sample(5)

DIMENSIONES ANTES DE CAMBIOS DATAFRAME: df_presupuesto_final4_2 :  (340, 8)
DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_presupuesto_final4_2 :  (340, 3)

    CODIGO_PROYECTO           TIPO_CUENTA  TOTAL_PDT_PREP
76           P-1653            1. INGRESO            0.00
165          P-1683   2. COSTO MATERIALES    -29098536.60
253          P-1706   2. COSTO MATERIALES    -39538656.00
307          P-1721  4. COSTO SUPERVISIÓN            0.00
19           P-1603  4. COSTO SUPERVISIÓN      -869162.00

#### 4.16.2 MERGE ENTRE DATAFRAMES

In [1162]:
print("DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_ptd_cerrado_y_proyectado2_2 : ", df_ptd_cerrado_y_proyectado2_2.shape)
print("DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_presupuesto_final4_2        : ", df_presupuesto_final4_2.shape)

df_pdt_proy_vs_prep = df_ptd_cerrado_y_proyectado2_2.merge(df_presupuesto_final4_2, on=['CODIGO_PROYECTO','TIPO_CUENTA'], how='left')

print("DIMENSIONES DESPUÉS De CAMBIOS DATAFRAME: df_pdt_proy_vs_prep           : ", df_pdt_proy_vs_prep.shape)

df_pdt_proy_vs_prep.sample(5)

DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_ptd_cerrado_y_proyectado2_2 :  (340, 8)
DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_presupuesto_final4_2        :  (340, 3)
DIMENSIONES DESPUÉS De CAMBIOS DATAFRAME: df_pdt_proy_vs_prep           :  (340, 9)

,CODIGO_PROYECTO,TIPO_CUENTA,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL PTD,TOTAL MEC PROY,TOTAL_PDT,MARGEN,TOTAL_PDT_PREP
64,P-1687,1. INGRESO,ROJAS MAGALLANES,E.MOLINA MOREL CONSTRUCTORA S.A.,24909105.00,0.00,24909105.00,0.31,25285885.04
248,P-1668,3. COSTO MANO DE OBRA,QUILLAYES PLAZA,E.MOLINA MOREL CONSTRUCTORA S.A.,-7927098.00,0.00,-7927098.00,0.37,-6246409.00
212,P-1644,4. COSTO SUPERVISIÓN,MIRADOR DE SAN CRISTOBAL,EBCO S.A.,0.00,0.00,0.00,0.71,-3683960.00
51,P-1682,3. COSTO MANO DE OBRA,PLAZA CEPPI,EMP. CONSTRUCTORA INGENIEROS S.A.,-21010033.00,-423674.00,-21433707.00,0.37,0.00
147,P-1721,2. COSTO MATERIALES,STRIP CENTER LUIS PASTEUR,INMOBILIARIA LUIS PASTEUR S.A.,-21492393.00,-2700000.00,-24192393.00,0.21,-26959401.00

#### 4.16.3 CREACIÓN DE COLUMNA % DE AVANCE

In [1163]:
df_pdt_proy_vs_prep['% AVANCE'] = df_pdt_proy_vs_prep['TOTAL_PDT'] / df_pdt_proy_vs_prep['TOTAL_PDT_PREP']

# Reemplazar NaN por cero
df_pdt_proy_vs_prep['% AVANCE'] = df_pdt_proy_vs_prep['% AVANCE'].fillna(0)

# Reemplazar -inf por cero
df_pdt_proy_vs_prep['% AVANCE'].replace(-np.inf, 0, inplace=True)

# Reemplazar inf por cero
df_pdt_proy_vs_prep['% AVANCE'] = df_pdt_proy_vs_prep['% AVANCE'].replace(np.inf, 0)

df_pdt_proy_vs_prep.head(10)

,CODIGO_PROYECTO,TIPO_CUENTA,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL PTD,TOTAL MEC PROY,TOTAL_PDT,MARGEN,TOTAL_PDT_PREP,% AVANCE
0,P-1557,3. COSTO MANO DE OBRA,ROSARIO ROSALES,EBCO S.A.,-1247014.00,-301065.00,-1548079.00,0.00,0.00,0.00
1,P-1591,3. COSTO MANO DE OBRA,EDIFICIO ESTORIL,EBCO S.A.,-4593960.00,-2109962.00,-6703922.00,0.00,0.00,0.00
2,P-1592,2. COSTO MATERIALES,NUEVA COSTANERA 3300,EBCO S.A.,897720.00,0.00,897720.00,1.05,0.00,0.00
3,P-1603,2. COSTO MATERIALES,FARELLONES,EMPRESA CONSTRUCTORA DLP S.A.,-30000.00,0.00,-30000.00,0.00,-13744197.00,0.00
4,P-1611,2. COSTO MATERIALES,EDIFICIO PLAZA EGAÑA,EBCO S.A.,602825.00,0.00,602825.00,1.14,-24208141.00,-0.02
5,P-1612,2. COSTO MATERIALES,BARRIO PARQUE SANTIAGO 7,CONSTRUCTORA ALTURAS DEL SUR S.A,310902.00,0.00,310902.00,0.00,-30609079.00,-0.01
6,P-1620,2. COSTO MATERIALES,"OF APOQUINDO- HABILITACIONES, INTEGRACION Y AD...",CONSTRUCTORA INARCO S.A.,-16400.00,0.00,-16400.00,0.00,-11746595.00,0.00
7,P-1626,2. COSTO MATERIALES,CLINICA BIO BIO,CONSTRUCTORA LYD S.A.,682024.00,0.00,682024.00,10.03,-168705405.50,-0.00
8,P-1632,2. COSTO MATERIALES,CHORRILLOS CLOROX,CONSTRUCTORA SUKSA S.A.,312558.00,0.00,312558.00,0.00,-219387084.00,-0.00
9,P-1636,2. COSTO MATERIALES,SANTO DOMINGO 1410,DANACORP S.A,-455187.00,0.00,-455187.00,0.77,-11381553.00,0.04

In [1164]:
# TESTING VISUAL 1
 
df_pdt_proy_vs_prep[df_pdt_proy_vs_prep["CODIGO_PROYECTO"]=="P-1704"]

,CODIGO_PROYECTO,TIPO_CUENTA,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL PTD,TOTAL MEC PROY,TOTAL_PDT,MARGEN,TOTAL_PDT_PREP,% AVANCE
106,P-1704,3. COSTO MANO DE OBRA,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,-145534854.00,-12890883.00,-158425737.00,0.49,-156095149.00,1.01
107,P-1704,2. COSTO MATERIALES,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,-197683461.00,-27000000.00,-224683461.00,0.49,-387816472.00,0.58
108,P-1704,1. INGRESO,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,686431807.00,64764000.00,751195807.00,0.49,1058718831.87,0.71
302,P-1704,4. COSTO SUPERVISIÓN,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,0.00,0.00,0.00,0.49,-31281353.00,-0.00

In [1165]:
# TESTING VISUAL 2
 
df_pdt_proy_vs_prep[df_pdt_proy_vs_prep["CODIGO_PROYECTO"]=="P-1704"]

,CODIGO_PROYECTO,TIPO_CUENTA,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL PTD,TOTAL MEC PROY,TOTAL_PDT,MARGEN,TOTAL_PDT_PREP,% AVANCE
106,P-1704,3. COSTO MANO DE OBRA,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,-145534854.00,-12890883.00,-158425737.00,0.49,-156095149.00,1.01
107,P-1704,2. COSTO MATERIALES,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,-197683461.00,-27000000.00,-224683461.00,0.49,-387816472.00,0.58
108,P-1704,1. INGRESO,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,686431807.00,64764000.00,751195807.00,0.49,1058718831.87,0.71
302,P-1704,4. COSTO SUPERVISIÓN,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,0.00,0.00,0.00,0.49,-31281353.00,-0.00

In [1166]:
df_pdt_proy_vs_prep.to_csv('archivos_respaldo/df_pdt_proy_vs_prep.csv', index = False)

### 4.17 MERGE PTD CERRADO + PROYECTADO VS PRESUPUESTO (PERSPECTIVA MES ANTERIOR)

#### 4.17.1 EXPLORACIÓN Y PREPARACIÓN DE DATAFRAMES

In [1167]:
# Exploración de dataframe df_ptd_cerrado_y_proyectado_ant2

print("DIMENSIONES ANTES DE CAMBIOS DATAFRAME: df_ptd_cerrado_y_proyectado_ant2 : ", df_ptd_cerrado_y_proyectado_ant2.shape)

df_ptd_cerrado_y_proyectado_ant2_2 = df_ptd_cerrado_y_proyectado_ant2.copy()

df_ptd_cerrado_y_proyectado_ant2_2.rename(columns={'TOTAL': 'TOTAL_PDT'}, inplace=True)
df_ptd_cerrado_y_proyectado_ant2_2.sample(5)

DIMENSIONES ANTES DE CAMBIOS DATAFRAME: df_ptd_cerrado_y_proyectado_ant2 :  (340, 8)

,CODIGO_PROYECTO,TIPO_CUENTA,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL PTD,TOTAL MEC PROY,TOTAL_PDT,MARGEN
73,P-1691,2. COSTO MATERIALES,ROSARIO ROSALES,CONSTRUCTORA E INMOBILIARIA PRADOVERDE LTDA.,-17523461.00,0.00,-17523461.00,0.16
334,P-1729,3. COSTO MANO DE OBRA,NaN,NaN,0.00,0.00,0.00,0.00
158,P-1725,1. INGRESO,LO CAÑAS,CONSTRUCTORA BRISAS DE BATUCO,8921780.00,19181571.00,28103351.00,0.47
249,P-1668,4. COSTO SUPERVISIÓN,QUILLAYES PLAZA,E.MOLINA MOREL CONSTRUCTORA S.A.,0.00,0.00,0.00,0.37
258,P-1673,4. COSTO SUPERVISIÓN,INACAP TEMUCO - ETAPA A,UNIVERSIDAD TECNOLOGICA DE CHILE INACAP,0.00,0.00,0.00,0.56

In [1168]:
# Exploración de dataframe presupuesto

df_presupuesto_final4_2_1 = df_presupuesto_final4.copy()
df_presupuesto_final4_2_1.rename(columns={'TOTAL': 'TOTAL_PDT_PREP'}, inplace=True)

print("DIMENSIONES ANTES DE CAMBIOS DATAFRAME: df_presupuesto_final4_2 : ", df_presupuesto_final4_2.shape)

df_presupuesto_final4_2_1 = pd.pivot_table(df_presupuesto_final4_2_1, values=['TOTAL_PDT_PREP'], index=['CODIGO_PROYECTO','TIPO_CUENTA'], aggfunc='sum', fill_value=0)
df_presupuesto_final4_2_1 = pd.DataFrame(df_presupuesto_final4_2_1.to_records())

print("DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_presupuesto_final4_2_1 : ", df_presupuesto_final4_2_1.shape)

df_presupuesto_final4_2_1.sample(5)

DIMENSIONES ANTES DE CAMBIOS DATAFRAME: df_presupuesto_final4_2 :  (340, 3)
DIMENSIONES DESPUÉS DE CAMBIOS DATAFRAME: df_presupuesto_final4_2_1 :  (340, 3)

    CODIGO_PROYECTO            TIPO_CUENTA  TOTAL_PDT_PREP
13           P-1592    2. COSTO MATERIALES            0.00
102          P-1664  3. COSTO MANO DE OBRA      -343022.00
2          1. TOTAL  3. COSTO MANO DE OBRA  -1139100986.00
279          P-1714   4. COSTO SUPERVISIÓN     -1549618.00
232          P-1700             1. INGRESO    149471447.02

#### 4.17.2 MERGE ENTRE DATAFRAMES

In [1169]:
print("DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_ptd_cerrado_y_proyectado_ant2_2 : ", df_ptd_cerrado_y_proyectado_ant2_2.shape)
print("DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_presupuesto_final4_2_1          : ", df_presupuesto_final4_2_1.shape)

df_pdt_proy_vs_prep_2 = df_ptd_cerrado_y_proyectado_ant2_2.merge(df_presupuesto_final4_2_1, on=['CODIGO_PROYECTO','TIPO_CUENTA'], how='left')

print("DIMENSIONES DESPUÉS De CAMBIOS DATAFRAME: df_pdt_proy_vs_prep_2           : ", df_pdt_proy_vs_prep_2.shape)

df_pdt_proy_vs_prep_2.sample(5)

DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_ptd_cerrado_y_proyectado_ant2_2 :  (340, 8)
DIMENSIONES ANTERIOR A CAMBIOS DATAFRAME: df_presupuesto_final4_2_1          :  (340, 3)
DIMENSIONES DESPUÉS De CAMBIOS DATAFRAME: df_pdt_proy_vs_prep_2           :  (340, 9)

,CODIGO_PROYECTO,TIPO_CUENTA,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL PTD,TOTAL MEC PROY,TOTAL_PDT,MARGEN,TOTAL_PDT_PREP
57,P-1684,1. INGRESO,EDIFICIO GOYCOLEA,EBCO S.A.,24891169.00,3335671.64,28226840.64,0.38,164431253.35
271,P-1681,3. COSTO MANO DE OBRA,CD ROSEN (CCTV PROVISORIO),COLCHONES ROSEN SAIC,-337550.00,0.00,-337550.00,0.71,-2136024.00
124,P-1712,3. COSTO MANO DE OBRA,CENTRO COMERCIAL VIÑA OUTLET PARK,EBCO S.A.,-26854367.00,-2791400.00,-29645767.00,0.53,-30109897.00
1,P-1591,3. COSTO MANO DE OBRA,EDIFICIO ESTORIL,EBCO S.A.,-2483998.00,-2483998.00,-4967996.00,0.00,0.00
7,P-1626,2. COSTO MATERIALES,CLINICA BIO BIO,CONSTRUCTORA LYD S.A.,682024.00,0.00,682024.00,10.03,-168705405.50

#### 4.17.3 CREACIÓN DE COLUMNA % DE AVANCE

In [1170]:
df_pdt_proy_vs_prep_2['% AVANCE'] = df_pdt_proy_vs_prep_2['TOTAL_PDT'] / df_pdt_proy_vs_prep_2['TOTAL_PDT_PREP']

# Reemplazar NaN por cero
df_pdt_proy_vs_prep_2['% AVANCE'] = df_pdt_proy_vs_prep_2['% AVANCE'].fillna(0)

# Reemplazar -inf por cero
df_pdt_proy_vs_prep_2['% AVANCE'].replace(-np.inf, 0, inplace=True)

# Reemplazar inf por cero
df_pdt_proy_vs_prep_2['% AVANCE'] = df_pdt_proy_vs_prep_2['% AVANCE'].replace(np.inf, 0)

df_pdt_proy_vs_prep_2.head(10)

,CODIGO_PROYECTO,TIPO_CUENTA,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL PTD,TOTAL MEC PROY,TOTAL_PDT,MARGEN,TOTAL_PDT_PREP,% AVANCE
0,P-1557,3. COSTO MANO DE OBRA,ROSARIO ROSALES,EBCO S.A.,-945949.00,-945949.00,-1891898.00,0.00,0.00,0.00
1,P-1591,3. COSTO MANO DE OBRA,EDIFICIO ESTORIL,EBCO S.A.,-2483998.00,-2483998.00,-4967996.00,0.00,0.00,0.00
2,P-1592,2. COSTO MATERIALES,NUEVA COSTANERA 3300,EBCO S.A.,846183.00,0.00,846183.00,1.05,0.00,0.00
3,P-1603,2. COSTO MATERIALES,FARELLONES,EMPRESA CONSTRUCTORA DLP S.A.,-30000.00,0.00,-30000.00,0.00,-13744197.00,0.00
4,P-1611,2. COSTO MATERIALES,EDIFICIO PLAZA EGAÑA,EBCO S.A.,602825.00,0.00,602825.00,1.14,-24208141.00,-0.02
5,P-1612,2. COSTO MATERIALES,BARRIO PARQUE SANTIAGO 7,CONSTRUCTORA ALTURAS DEL SUR S.A,310902.00,0.00,310902.00,0.00,-30609079.00,-0.01
6,P-1620,2. COSTO MATERIALES,"OF APOQUINDO- HABILITACIONES, INTEGRACION Y AD...",CONSTRUCTORA INARCO S.A.,-16400.00,0.00,-16400.00,0.00,-11746595.00,0.00
7,P-1626,2. COSTO MATERIALES,CLINICA BIO BIO,CONSTRUCTORA LYD S.A.,682024.00,0.00,682024.00,10.03,-168705405.50,-0.00
8,P-1632,2. COSTO MATERIALES,CHORRILLOS CLOROX,CONSTRUCTORA SUKSA S.A.,236593.00,0.00,236593.00,0.00,-219387084.00,-0.00
9,P-1636,2. COSTO MATERIALES,SANTO DOMINGO 1410,DANACORP S.A,-455187.00,0.00,-455187.00,0.77,-11381553.00,0.04

In [1171]:
# TESTING VISUAL 1
 
df_pdt_proy_vs_prep_2[df_pdt_proy_vs_prep_2["CODIGO_PROYECTO"]=="P-1704"]

,CODIGO_PROYECTO,TIPO_CUENTA,NOMBRE_OBRA,NOMBRE_CLIENTE,TOTAL PTD,TOTAL MEC PROY,TOTAL_PDT,MARGEN,TOTAL_PDT_PREP,% AVANCE
106,P-1704,3. COSTO MANO DE OBRA,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,-132643971.00,-14242535.00,-146886506.00,0.48,-156095149.00,0.94
107,P-1704,2. COSTO MATERIALES,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,-183715910.00,-24000000.00,-207715910.00,0.48,-387816472.00,0.54
108,P-1704,1. INGRESO,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,607371810.00,68606659.28,675978469.28,0.48,1058718831.87,0.64
302,P-1704,4. COSTO SUPERVISIÓN,CD MERCADO LIBRE MEZZANINA,EBCO S.A.,0.00,0.00,0.00,0.48,-31281353.00,-0.00

In [1172]:
df_pdt_proy_vs_prep_2.to_csv('archivos_respaldo/df_pdt_proy_vs_prep_2.csv', index = False)

## 5. - EXPORTACIÓN DE ARCHIVOS

In [1173]:
# Conexión a google drive

scope = ['https://spreadsheets.google.com/feeds',
         'https://www.googleapis.com/auth/drive']

# Credenciales de GOOGLE API, en archivo .json
credentials = ServiceAccountCredentials.from_json_keyfile_name('keen-extension-358919-9214486a06be.json', scope) # Your json file here

gc = gspread.authorize(credentials)

## SIEMPRE DAR ACCESO A ESTE USUARIO: test-321@keen-extension-358919.iam.gserviceaccount.com

### 5.1 EXPORTACIÓN LIBRO MAYOR PARA CUADRO FINANCIERO DE PROYECTOS

In [1174]:
# write to dataframe
# open a google sheet
gs = gc.open_by_key('1COX0_p3dTPNLZMwoh__0uQdOYfP_AA1mw7lfKx4SMMQ')

# select a work sheet from its name
worksheet1 = gs.worksheet('Hoja 1')
worksheet1.clear()
set_with_dataframe(worksheet=worksheet1, dataframe=df_libro_mayor6, include_index=False,
include_column_header=True, resize=True)

### 5.2 EXPORTACIÓN LIBRO MAYOR YTD HASTA MES CERRADO
Dataframe: df_ytd_cerrado3

In [1175]:
# write to dataframe
# open a google sheet
gs = gc.open_by_key('1_53Vj0j4xnqsWDdHDdetp3JmoUHRjLlvsUyi7tQXCY4')

# select a work sheet from its name
worksheet1 = gs.worksheet('vista_actual')
worksheet1.clear()
set_with_dataframe(worksheet=worksheet1, dataframe= df_ytd_cerrado3, include_index=False,
include_column_header=True, resize=True)

### 5.2.1 EXPORTACIÓN LIBRO MAYOR YTD HASTA MES CERRADO (MES ANTERIOR) PERSPECTIVA MES ANTERIOR
Dataframe: df_ytd_cerrado_2M_3

In [1176]:
gs = gc.open_by_key('1_53Vj0j4xnqsWDdHDdetp3JmoUHRjLlvsUyi7tQXCY4')

# select a work sheet from its name
worksheet1 = gs.worksheet('vista_anterior')
worksheet1.clear()
set_with_dataframe(worksheet=worksheet1, dataframe= df_ytd_cerrado_2M_3, include_index=False,
include_column_header=True, resize=True)

### 5.3 EXPORTACIÓN MES EN CURSO PROYECTADO
Dataframe: mes_en_curso2

In [1177]:
# write to dataframe
# open a google sheet
gs = gc.open_by_key('1xyeMVO6VL0yBCX6aZRcFxNKPH5yum2o2gF_HM2NSLIs')

# select a work sheet from its name
worksheet1 = gs.worksheet('vista_actual')
worksheet1.clear()
set_with_dataframe(worksheet=worksheet1, dataframe= mes_en_curso_proy5, include_index=False,
include_column_header=True, resize=True)

### 5.3.1 EXPORTACIÓN MES EN CURSO PROYECTADO (MES ANTERIOR) PERSPECTIVA MES ANTERIOR
Dataframe: mes_en_curso_2M

In [1178]:
# write to dataframe
# open a google sheet
gs = gc.open_by_key('1xyeMVO6VL0yBCX6aZRcFxNKPH5yum2o2gF_HM2NSLIs')

# select a work sheet from its name
worksheet1 = gs.worksheet('vista_anterior')
worksheet1.clear()
set_with_dataframe(worksheet=worksheet1, dataframe= mes_en_curso_proy_2M_5, include_index=False,
include_column_header=True, resize=True)

### 5.4 EXPORTACIÓN MES EN CURSO

In [1179]:
# write to dataframe
# open a google sheet
gs = gc.open_by_key('1k4Yf_ycqV1TjqPcS0eDGyUU_oKu9JVzYUHw9shUBGTM')

# select a work sheet from its name
worksheet1 = gs.worksheet('vista_actual')
worksheet1.clear()
set_with_dataframe(worksheet=worksheet1, dataframe= mes_en_curso_real5, include_index=False,
include_column_header=True, resize=True)

### 5.4.1 EXPORTACIÓN MES EN CURSO PERSPECTIVA MES ANTERIOR

In [1180]:
# write to dataframe
# open a google sheet
gs = gc.open_by_key('1k4Yf_ycqV1TjqPcS0eDGyUU_oKu9JVzYUHw9shUBGTM')

# select a work sheet from its name
worksheet1 = gs.worksheet('vista_anterior')
worksheet1.clear()
set_with_dataframe(worksheet=worksheet1, dataframe= mes_en_curso_real_2M_5, include_index=False,
include_column_header=True, resize=True)

### 5.5 EXPORTACIÓN YTD PROYECTADO

In [1181]:
# write to dataframe
# open a google sheet
gs = gc.open_by_key('1_39cxdPhNrDcz2WJ-t3oLQRpgQPhWwFsopAGzcmxuuk')

# select a work sheet from its name
worksheet1 = gs.worksheet('vista_actual')
worksheet1.clear()
set_with_dataframe(worksheet=worksheet1, dataframe= df_ytd_proyectado2, include_index=False,
include_column_header=True, resize=True)

### 5.5.1 EXPORTACIÓN YTD PROYECTADO PERSPECTIVA MES ANTERIOR

In [1182]:
# write to dataframe
# open a google sheet
gs = gc.open_by_key('1_39cxdPhNrDcz2WJ-t3oLQRpgQPhWwFsopAGzcmxuuk')

# select a work sheet from its name
worksheet1 = gs.worksheet('vista_anterior')
worksheet1.clear()
set_with_dataframe(worksheet=worksheet1, dataframe= df_ytd_proyectado_2M_2, include_index=False,
include_column_header=True, resize=True)

### 5.6 EXPORTACIÓN PTD CERRADO

In [1183]:
# write to dataframe
# open a google sheet
gs = gc.open_by_key('1bMRHlz-oMTZ7ccBXbEvjQ3es7mBcWxZqpVrPBXGAVjc')

# select a work sheet from its name
worksheet1 = gs.worksheet('vista_actual')
worksheet1.clear()
set_with_dataframe(worksheet=worksheet1, dataframe= df_ptd_cerrado3, include_index=False,
include_column_header=True, resize=True)

### 5.6.1 EXPORTACIÓN PTD CERRADO (PERSPECTIVA MES ANTERIOR)

In [1184]:
# write to dataframe
# open a google sheet
gs = gc.open_by_key('1bMRHlz-oMTZ7ccBXbEvjQ3es7mBcWxZqpVrPBXGAVjc')

# select a work sheet from its name
worksheet1 = gs.worksheet('vista_anterior')
worksheet1.clear()
set_with_dataframe(worksheet=worksheet1, dataframe= df_ptd_cerrado_anterior3, include_index=False,
include_column_header=True, resize=True)

### 5.7 EXPORTACIÓN PTD CERRADO + PROYECTADO

In [1185]:
# write to dataframe
# open a google sheet
gs = gc.open_by_key('14dw0WLmoa8gDJLcOkDJor17BCy7pozNQK7L1bSvJQqs')

# select a work sheet from its name
worksheet1 = gs.worksheet('vista_actual')
worksheet1.clear()
set_with_dataframe(worksheet=worksheet1, dataframe= df_ptd_cerrado_y_proyectado2, include_index=False,
include_column_header=True, resize=True)

### 5.7.1 EXPORTACIÓN PTD CERRADO + PROYECTADO (PERSPECTIVA MES ANTERIOR)

In [1186]:
# write to dataframe
# open a google sheet
gs = gc.open_by_key('14dw0WLmoa8gDJLcOkDJor17BCy7pozNQK7L1bSvJQqs')

# select a work sheet from its name
worksheet1 = gs.worksheet('vista_anterior')
worksheet1.clear()
set_with_dataframe(worksheet=worksheet1, dataframe= df_ptd_cerrado_y_proyectado_ant2, include_index=False,
include_column_header=True, resize=True)

### 5.8 EXPORTACIÓN PRESUPUESTO

In [1187]:
# write to dataframe
# open a google sheet
gs = gc.open_by_key('1yTtFi7x0rc_FU6xb-FrdQGKndttaf0dg3ENDyOO52eM')

# select a work sheet from its name
worksheet1 = gs.worksheet('vista_actual')
worksheet1.clear()
set_with_dataframe(worksheet=worksheet1, dataframe= df_presupuesto_final4, include_index=False,
include_column_header=True, resize=True)

### 5.9 EXPORTACIÓN PENDIENTE

In [1188]:
# write to dataframe
# open a google sheet
gs = gc.open_by_key('1qLDVshnNP-whjDaMYi1N4QSeeD6AK4EVSQtQx6Y438o')

# select a work sheet from its name
worksheet1 = gs.worksheet('vista_actual')
worksheet1.clear()
set_with_dataframe(worksheet=worksheet1, dataframe= df_pendiente3, include_index=False,
include_column_header=True, resize=True)

### 5.10 EXPORTACIÓN PENDIENTE (PERSPECTIVA MES ANTERIOR)

In [1189]:
# write to dataframe
# open a google sheet
gs = gc.open_by_key('1qLDVshnNP-whjDaMYi1N4QSeeD6AK4EVSQtQx6Y438o')

# select a work sheet from its name
worksheet1 = gs.worksheet('vista_anterior')
worksheet1.clear()
set_with_dataframe(worksheet=worksheet1, dataframe= df_pendiente_3, include_index=False,
include_column_header=True, resize=True)

### 5.11 EXPORTACIÓN PTD Cerrado vs Presupuesto

In [1190]:
# write to dataframe
# open a google sheet
gs = gc.open_by_key('1ZsZGZ5uzyEK7rOqHXER0MYjKbrbiLK9cdeYlXk4t8oE')

# select a work sheet from its name
worksheet1 = gs.worksheet('vista_actual')
worksheet1.clear()
set_with_dataframe(worksheet=worksheet1, dataframe= df_pdt_vs_prep, include_index=False,
include_column_header=True, resize=True)

### 5.12 EXPORTACIÓN PTD Cerrado vs Presupuesto (PERSPECTIVA MES ANTERIOR)

In [1191]:
# write to dataframe
# open a google sheet
gs = gc.open_by_key('1ZsZGZ5uzyEK7rOqHXER0MYjKbrbiLK9cdeYlXk4t8oE')

# select a work sheet from its name
worksheet1 = gs.worksheet('vista_anterior')
worksheet1.clear()
set_with_dataframe(worksheet=worksheet1, dataframe= df_pdt_vs_prep_2, include_index=False,
include_column_header=True, resize=True)

### 5.13 EXPORTACIÓN  PTD Cerrado + Proyectado vs Presupuesto

In [1198]:
# write to dataframe
# open a google sheet
gs = gc.open_by_key('1yqyEJ4mkcaS_kI7rrNZ8reRxqFhWdbhBtvDcSeWxkPo')

# select a work sheet from its name
worksheet1 = gs.worksheet('vista_actual')
worksheet1.clear()
set_with_dataframe(worksheet=worksheet1, dataframe= df_pdt_proy_vs_prep, include_index=False,
include_column_header=True, resize=True)

### 5.13 EXPORTACIÓN  PTD Cerrado + Proyectado vs Presupuesto (PERSPECTIVA ANTERIOR)

In [1197]:
# write to dataframe
# open a google sheet
gs = gc.open_by_key('1yqyEJ4mkcaS_kI7rrNZ8reRxqFhWdbhBtvDcSeWxkPo')

# select a work sheet from its name
worksheet1 = gs.worksheet('vista_anterior')
worksheet1.clear()
set_with_dataframe(worksheet=worksheet1, dataframe= df_pdt_proy_vs_prep_2, include_index=False,
include_column_header=True, resize=True)