# **PROYECTO SCHUTZ EN PYTHON PARA CREACIÓN DE DASHBOARD 2 - PARTE 1**

## 1.- IMPORTACIÓN DE LIBRERÍAS PARA EL PROYECTO

In [47]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from io import StringIO
from itertools import zip_longest
import io
import requests
from io import BytesIO
import pandas as pd
import chardet
import re
from oauth2client.service_account import ServiceAccountCredentials
import gspread
from gspread_dataframe import set_with_dataframe
from urllib.request import FancyURLopener
from urllib.request import urlopen
import urllib.request
import xml.etree.ElementTree as ET
import numpy as np
import datetime
import ssl
import warnings
from datetime import datetime, timedelta

In [48]:
pd.options.display.max_rows = None
pd.options.display.float_format = '{:.2f}'.format

warnings.filterwarnings("ignore", category=FutureWarning, message="Inferring datetime64.*")

## 2.- LECTURA DE DATAFRAMES

### 2.1 LECTURA "EMPLEADOS"

In [49]:
url = 'http://asp.maximise.cl/query.ashx?alias=gsea&user=excel_bd&password=excel_bd&filename=Gestion%5C%5CListo%20de%20Empleados%20Clasificados.txt'

# Descargar el archivo XML desde la URL
with urllib.request.urlopen(url) as response:
    xml_data = response.read()

# Parsear el archivo XML
root = ET.fromstring(xml_data)

# Crear una lista de diccionarios con los datos
data = []
for child in root:
    row = {}
    for subchild in child:
        row[subchild.tag] = subchild.text
    data.append(row)

# Convertir la lista de diccionarios en un dataframe de Pandas
df_empleados = pd.DataFrame(data)

# Imprimir el dataframe
df_empleados.to_csv('archivos_respaldo_dash2/df_empleados.csv', index = False)
df_empleados.sample(5)

,IDEMPLEADO,RUT,Nombre,apellidopaterno,apellidomaterno,idtipoempleado
443,17176723,17176723-7,Cristian Ariel,Gallegos,Ramirez,GE
479,17486739,17486739-9,Christian Vasilyk,Robles,Vergara,GE
364,16411615,16411615-8,Natan Manuel,Galaz,Espinoza,GE
277,15446645,15446645-2,Javier Alejandro,Bravo,Videla,EX
349,16247031,16247031-0,Carlos Bibiano,Huilipan,Aliante,SX

### 2.2 LECTURA "MAESTRO DE PRODUCTOS"

In [50]:
import urllib.request

url = 'https://asp.maximise.cl/query.ashx?alias=gsea&user=excel_bd&password=excel_bd&filename=Gestion\Maestro%20de%20Productos.txt'

# Disable SSL certificate verification (not recommended for production)
with urllib.request.urlopen(url, context=ssl._create_unverified_context()) as response:
    xml_data = response.read()

# Parsear el archivo XML
root = ET.fromstring(xml_data)

# Crear una lista de diccionarios con los datos
data = []
for child in root:
    row = {}
    for subchild in child:
        row[subchild.tag] = subchild.text
    data.append(row)

# Convertir la lista de diccionarios en un dataframe de Pandas
df_productos = pd.DataFrame(data)

# Imprimir el dataframe
df_productos.to_csv('archivos_respaldo_dash2/df_productos.csv', index = False)
df_productos.sample(5)

,Part_Number,Descripcion,Categoria,Familia,Costo_Promedio,Ultimo_x0020_Costo,Fecha_Ultima_Compra
767,H21582645,"Tronzadora Disco 14""",H21,58,124706,129411.76,2019-06-12T00:00:00-04:00
2894,T14372465,Bandeja canaleta tipo legrand 105x50 2.0 M,T14,37,8205,8600,2023-04-21T00:00:00-03:00
791,H21583128,Silla Plegable Auditorium 2.0 negro m+design,H21,58,0,NaN,NaN
2455,S10260129,Unidad Control Acceso Dahua ASI1201A Stand Alo...,S10,26,44913,44913,2023-03-24T00:00:00-03:00
2181,P08210871,"Valvula Compuerta 2"" OS&Y flange",P08,21,128656,128656,2023-05-09T00:00:00-03:00

### 2.3 LECTURA "LIBRO MAYOR BASE"

In [51]:
archivo_csv = 'archivos_respaldo/df_libro_mayor5_base2.csv'  # Reemplaza 'ruta_del_archivo.csv' con la ubicación real de tu archivo CSV
# Leer el archivo CSV y crear un DataFrame
df_libro_mayor_base = pd.read_csv(archivo_csv)
print("DIMENSIONES DE df_libro_mayor_base:", df_libro_mayor_base.shape)
df_libro_mayor_base.sample(10)

DIMENSIONES DE df_libro_mayor_base: (340, 5)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE
175,P-1592,1. INGRESO,0,NUEVA COSTANERA 3300,EBCO S.A.
142,P-1718,2. COSTO MATERIALES,0,PATIO COMIDAS,EBCO S.A.
157,P-1725,3. COSTO MANO DE OBRA,0,LO CAÑAS,CONSTRUCTORA BRISAS DE BATUCO
281,P-1685,4. COSTO SUPERVISIÓN,0,MAPA EDIFICIOS NO OPERACIONALES,CLARO VICUÑA VALENZUELA S.A.
264,P-1675,4. COSTO SUPERVISIÓN,0,PALENA II,CONSTRUCTORA MYA SPA.
111,P-1705,1. INGRESO,0,LOS CLARINES,CONSTRUCTORA INARCO S.A.
3,P-1603,2. COSTO MATERIALES,0,FARELLONES,EMPRESA CONSTRUCTORA DLP S.A.
296,P-1697,4. COSTO SUPERVISIÓN,0,ESTOCOLMO,CONSTRUCTORA FORTALEZA S.A
76,P-1692,2. COSTO MATERIALES,0,JOSÉ PEREZ COTAPOS,EBCO S.A.
55,P-1684,3. COSTO MANO DE OBRA,0,EDIFICIO GOYCOLEA,EBCO S.A.

### 2.4 LECTURA "LIBRO MAYOR"

In [52]:
# Se lee archivo que viene del tratamiento de datos del notebook Proy_Shutz_Dash1_v4, el cual ya clasifia el tipo de cuenta.

archivo_csv = 'archivos_respaldo/df_libro_mayor2.csv'  # Reemplaza 'ruta_del_archivo.csv' con la ubicación real de tu archivo CSV
# Leer el archivo CSV y crear un DataFrame
df_libro_mayor2 = pd.read_csv(archivo_csv)
print("DIMENSIONES DE df_libro_mayor:", df_libro_mayor2.shape)
df_libro_mayor2.sample(5)

DIMENSIONES DE df_libro_mayor: (24899, 18)

,Unnamed: 0,Codigo_proyecto,Cta_Contable,Año,Mes,Fecha,Tipo_Comp,Num_Comp,Glosa,Primer_Analisis,Referencia,Debito,Credito,Num_Referencia,Debito_2,Credito_2,TOTAL,Tipo_cuenta
19314,2714.00,P-1688,4101010-000,2023,3,2023-03-07T00:00:00-03:00,CIN,172,Electrodo Soldadura 6011 3/32,P-1688,I15410264,5546,0,49739,5546,0,-5546,COSTO MATERIALES
8996,696.00,P-1695,3401002-000,2023,3,2023-03-31T00:00:00-03:00,AJC,1640,Ajuste por anticipos y retenciones,P-1695,84102200-9,0,915472,6,0,915472,915472,INGRESO
17745,1145.00,P-1660,4101010-000,2023,1,2023-01-10T00:00:00-03:00,CIN,227,Detector de temperatura 4H sin cert,P-1660,P07140240,0,9057,48851,0,9057,9057,COSTO MATERIALES
4760,4760.00,P-1680,4101010-000,2023,4,2023-04-27T00:00:00-03:00,CIN,1313,Cable UTP CAT5E unifilar interior Trimer,P-1680,T14380059,95160,0,50765,95160,0,-95160,COSTO MATERIALES
18164,1564.00,P-1676,4101010-000,2023,1,2023-01-24T00:00:00-03:00,CIN,892,Baliza Destellante 24/220v ST,P-1676,S12342568,15920,0,49094,15920,0,-15920,COSTO MATERIALES

# AGREGAR LECTURAS!!!

## 3.- TRATAMIENTO DE DATAFRAMES

### 3.1- TRATAMIENTO 1 - EMPLEADOS

In [33]:
# Función para categorizar la columna 'idtipoempleado'

def categorizar_pl(idtipoempleado):
    if idtipoempleado =="GC" or idtipoempleado == "SC" or idtipoempleado == "TC":
        return 'CCDD'
    elif idtipoempleado =="GP" or idtipoempleado == "SP" or idtipoempleado == "TP":
        return 'PIPING'
    else:
        return 'OTRA'

# Crear la nueva columna 'idtipoempleado' aplicando la función
df_empleados['PL'] = df_empleados['idtipoempleado'].apply(categorizar_pl)

# Convertir las columnas a mayúsculas
df_empleados.columns = df_empleados.columns.str.upper()

# Convertir todo el contenido a mayúsculas
df_empleados = df_empleados.apply(lambda x: x.str.upper() if x.dtype == "object" else x)


df_empleados.sample(5)

,IDEMPLEADO,RUT,NOMBRE,APELLIDOPATERNO,APELLIDOMATERNO,IDTIPOEMPLEADO,PL
95,11489308,11489308-0,ELIAS MAURICIO,DE LA FUENTE,BUSTOS,CD,OTRA
333,16074854,16074854-0,JAIME ESTEBAN,GARRIDO,ROJAS,EX,OTRA
304,15668477,15668477-5,RICARDO ALFREDO,DURAN,PEÑA,GE,OTRA
429,17071261,17071261-7,VICTOR ANDRES,RIVAS,CASTRO,GE,OTRA
58,10183518,10.183.518-9,SERGIO MANUEL,NOVOA,VEGA,EX,OTRA

In [34]:
# Visualización del dataframe formato PIVOT:
df_empleados_piv = pd.pivot_table(df_empleados, values=['IDEMPLEADO'], index=['PL'], aggfunc= 'count', fill_value=0)
df_empleados_piv

        IDEMPLEADO
PL
OTRA           896
PIPING           3

### 3.2- TRATAMIENTO 2 - MAESTRO DE PRODUCTOS

In [59]:
# Función para categorizar la columna 'PRACTICA'

def categorizar_pl(referencia):
    if referencia.startswith("C02") or referencia.startswith("C03") or referencia.startswith("C05") or referencia.startswith("C06") or referencia.startswith("C08"):
        return 'TELECOMUNICACIONES'
    elif referencia.startswith("C04") or referencia.startswith("C07") or referencia.startswith("C05") or referencia.startswith("I16") or referencia.startswith("O1950") or referencia.startswith("P07") or referencia.startswith("S09") or referencia.startswith("S10") or referencia.startswith("S10") or referencia.startswith("S11") or referencia.startswith("S12") or referencia.startswith("S13") or referencia.startswith("T14"):
        return 'CCDD'
    elif referencia.startswith("I15") or referencia.startswith("O1951") or referencia.startswith("C05") or referencia.startswith("C06") or referencia.startswith("P08"):
        return 'PIPING'
    else:
        return 'OTRA'

# Crear la nueva columna 'idtipoempleado' aplicando la función
df_productos['PRACTICA'] = df_productos['Part_Number'].apply(categorizar_pl)

# Convertir las columnas a mayúsculas
df_productos.columns = df_productos.columns.str.upper()

# Convertir todo el contenido a mayúsculas
df_productos = df_productos.apply(lambda x: x.str.upper() if x.dtype == "object" else x)

df_productos.sample(10)

df_productos.sample(5)

,PART_NUMBER,DESCRIPCION,CATEGORIA,FAMILIA,COSTO_PROMEDIO,ULTIMO_X0020_COSTO,FECHA_ULTIMA_COMPRA,PRACTICA
1024,I15412690,"PERNO HEX 3/8"" X 2"" HILO CORRIDO",I15,41,332,332,2022-10-25T00:00:00-03:00,PIPING
254,C04082390,UNIDAD CENTRAL MDS 1 ACC C/MEMORIA FERMAX F2405,C04,08,71815,98.31834,2021-07-05T00:00:00-04:00,CCDD
1234,I17450195,LOCTITE 312 ADHESIVO ESTRUCTURAL,I17,45,29950,29950,2022-12-15T00:00:00-03:00,OTRA
824,H21611062,PANTALON VARON TALLA 50 BLUE JEANS DOBLE COSTURA,H21,61,6990,7147,2023-05-16T00:00:00-04:00,OTRA
921,I15410529,"PERNO ANCLAJE 5/16"" X 2 3/4""",I15,41,193,193.28,2022-10-27T00:00:00-03:00,PIPING

### 3.3- TRATAMIENTO 3 - LIBRO MAYOR BASE

In [60]:
df_libro_mayor_base.sample(5)

,CODIGO_PROYECTO,TIPO_CUENTA,TOTAL_LB,NOMBRE_OBRA,NOMBRE_CLIENTE
214,P-1645,3. COSTO MANO DE OBRA,0,LOS TRES ANTONIOS,SOCIEDAD CONSTRUCTORA ECHAVARRI HERMANOS LIMITADA
53,P-1682,1. INGRESO,0,PLAZA CEPPI,EMP. CONSTRUCTORA INGENIEROS S.A.
284,P-1688,4. COSTO SUPERVISIÓN,0,SUIZA,MOLLER Y PEREZ - COTAPOS CONSTRUCCIONES INDUST...
63,P-1687,2. COSTO MATERIALES,0,ROJAS MAGALLANES,E.MOLINA MOREL CONSTRUCTORA S.A.
126,P-1712,1. INGRESO,0,CENTRO COMERCIAL VIÑA OUTLET PARK,EBCO S.A.

### 3.4- TRATAMIENTO 2 - LIBRO MAYOR

In [61]:
# Convertir las columnas a mayúsculas
df_libro_mayor2.columns = df_libro_mayor2.columns.str.upper()

# Convertir todo el contenido a mayúsculas
df_libro_mayor2 = df_libro_mayor2.apply(lambda x: x.str.upper() if x.dtype == "object" else x)

df_libro_mayor2.sample(5)

,UNNAMED: 0,CODIGO_PROYECTO,CTA_CONTABLE,AÑO,MES,FECHA,TIPO_COMP,NUM_COMP,GLOSA,PRIMER_ANALISIS,REFERENCIA,DEBITO,CREDITO,NUM_REFERENCIA,DEBITO_2,CREDITO_2,TOTAL,TIPO_CUENTA
11351,3051.00,P-1723,4101010-000,2023,3,2023-03-14T00:00:00-03:00,CIN,435,ROSETA FTTH PLANA C/GUIA SC/APC,P-1723,C08712545,106980,0,49860,106980,0,-106980,COSTO MATERIALES
1,1.00,P-1677,3101030-000,2023,1,2023-01-01T00:00:00-03:00,AJC,174,VENTAS DE PROYECTO,P-1677,P-1677,6464848,0,NaN,6464848,0,-6464848,INGRESO
8459,159.00,P-1697,3101030-000,2023,2,2023-02-24T00:00:00-03:00,CVT,667,EP 18000-31-9 OBRA ESTOCOLMO,P-1697,96897350-9,0,10061741,13473,0,10061741,10061741,INGRESO
24421,7821.00,P-OFICINA,4150002-000,2023,5,2023-05-31T00:00:00-04:00,AJC,1844,REMUNERACIONES DIRECTAS PROYECTO,P-OFICINA,19319985,41895,0,NaN,41895,0,-41895,COSTO MANO DE OBRA
13622,5322.00,P-1707,4101010-000,2023,5,2023-05-10T00:00:00-03:00,CIN,499,DERIVADOR TAP 4 SAL 24DB 5-2400 INTERIOR,P-1707,C08713524,19388,0,51022,19388,0,-19388,COSTO MATERIALES

#### 3.4.1 - MERGE LIBRO MAYOR <---- MAESTRO DE PRODUCTOS

#### Se realiza merge con maestro de productos para distinguir el tipo de costo de materiales

In [71]:
print("-----------------------------------------------------------------")
print("3.4.1 - MERGE LIBRO MAYOR <---- MAESTRO DE PRODUCTOS")
print("-----------------------------------------------------------------")
print("DIMENSIONES ANTES DE MERGE DATAFRAME  : df_libro_mayor2    : ", df_libro_mayor2.shape)

df_libro_mayor2_1 = pd.merge(df_libro_mayor2, df_productos, left_on='REFERENCIA', right_on='PART_NUMBER', how='left')

print("DIMENSIONES DESPUÉS DE MERGE DATAFRAME : df_libro_mayor2_1 : ", df_libro_mayor2_1.shape)

-----------------------------------------------------------------
3.4.1 - MERGE LIBRO MAYOR <---- MAESTRO DE PRODUCTOS
-----------------------------------------------------------------
DIMENSIONES ANTES DE MERGE DATAFRAME  : df_libro_mayor2    :  (24899, 18)
DIMENSIONES DESPUÉS DE MERGE DATAFRAME : df_libro_mayor2_1 :  (24899, 26)

In [64]:

df_libro_mayor2_1.sample(10)

,UNNAMED: 0,CODIGO_PROYECTO,CTA_CONTABLE,AÑO,MES,FECHA,TIPO_COMP,NUM_COMP,GLOSA,PRIMER_ANALISIS,...,TOTAL,TIPO_CUENTA,PART_NUMBER,DESCRIPCION,CATEGORIA,FAMILIA,COSTO_PROMEDIO,ULTIMO_X0020_COSTO,FECHA_ULTIMA_COMPRA,PRACTICA
20353,3753.00,P-1680,4101010-000,2023,4,2023-04-05T00:00:00-03:00,CIN,153,DVR 32CH DAHUA XVR4232AN-X PENTAHIBRIDO,P-1680,...,-195299,COSTO MATERIALES,S09232508,DVR 32CH DAHUA XVR4232AN-X PENTAHIBRIDO 16 CH ...,S09,23,195299,195299,2023-03-24T00:00:00-03:00,CCDD
6717,6717.00,P-1707,4101010-000,2023,6,2023-06-15T00:00:00-04:00,CIN,691,CABLE HDMI 3.0 M,P-1707,...,-3580,COSTO MATERIALES,S09240227,CABLE HDMI 3.0 M,S09,24,3580,3659,2023-04-18T00:00:00-03:00,CCDD
3161,3161.00,P-1692,4101010-000,2023,3,2023-03-16T00:00:00-03:00,CIN,614,DETECTOR DE HUMO FOTOELECTRICO 4H SIN CE,P-1692,...,-27200,COSTO MATERIALES,P07140137,DETECTOR DE HUMO FOTOELECTRICO 4H SIN CERT,P07,14,6230,6210,2023-05-19T00:00:00-04:00,CCDD
11871,3571.00,P-1648,4101010-000,2023,4,2023-04-04T00:00:00-03:00,CIN,53,"CODO 90° 8"" RANURADO UL A-536",P-1648,...,23702,COSTO MATERIALES,P08201006,"CODO 90° 8"" RANURADO UL A-536",P08,20,26260,26260,2023-05-08T00:00:00-03:00,PIPING
17371,771.00,P-1712,4101010-000,2023,1,2023-01-01T00:00:00-03:00,AJC,361,COSTOS DE PROYECTOS,P-1712,...,-1690,COSTO MATERIALES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9590,1290.00,P-1688,4101010-000,2023,1,2023-01-18T00:00:00-03:00,CIN,627,CINTA AISLADORA 3M TEMFLEX 1500,P-1688,...,-1970,COSTO MATERIALES,I16430107,CINTA AISLADORA 3M TEMFLEX 1500,I16,43,607,622.34,2023-06-14T00:00:00-04:00,CCDD
484,484.00,P-1705,3101030-000,2023,5,2023-05-05T00:00:00-03:00,CVT,123,EP 3 OBRA HABITACIONAL LOS CLARINES,P-1705,...,15142717,INGRESO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9331,1031.00,P-1716,4101010-000,2023,1,2023-01-09T00:00:00-03:00,CIN,182,"UNION COPLA 20MM EMT (1/2"")",P-1716,...,-28600,COSTO MATERIALES,T14370131,"UNION COPLA 20MM EMT (1/2"")",T14,37,307,378,2023-06-12T00:00:00-04:00,CCDD
3997,3997.00,P-1726,4101010-000,2023,4,2023-04-13T00:00:00-03:00,CIN,442,PLANCHA FE LISA 600X600X5MM (PLACA),P-1726,...,-44072,COSTO MATERIALES,I15412707,PLANCHA FE LISA 600X600X3MM (PLACA),I15,41,22036,22036,2023-04-05T00:00:00-03:00,PIPING
1380,1380.00,P-1699,4101010-000,2023,1,2023-01-19T00:00:00-03:00,CIN,746,"TORNILLO FRAMER 7 X 7/16"" NEGRO",P-1699,...,-800,COSTO MATERIALES,I17440300,"TORNILLO FRAMER 7 X 7/16"" NEGRO",I17,44,8,8.4,2023-06-19T00:00:00-04:00,OTRA

## AQUI VOY